#modal-save-app{
	max-width: 355px;
	margin: 10px auto;
@media screen and (min-width: $screen-md){
		max-width: 460px;
	}
	.modal-header .close {
	   margin-top: -5px;
		margin-right: -10px;
	}
	.modal-content-appsave{
		padding-left: 24px !important;
		padding-right: 24px !important;
		padding-bottom: 8px !important;
		padding-top: 13px !important;
	}
	#modal-header-appsave {
		border-bottom: none;
		padding-bottom: 0;
	}
	.modal-header > p{	
		font-size: 14px;
		font-weight: bold;
		padding-top: 10px;
	}
	.modal-body > p{	
		font-size: 14px;
		line-height: 18px;
	}
	#moda-body-appsave{
	margin-bottom: 20px;
    margin-top: 15px;
	}
	.btn-appsave{
		margin-top: 18px;
		margin-bottom: -2px;
		
		#btn-app-save{
			     padding: 6px 30px;
		}
	}
	
}