.signature-offline-modal {
	.modal-dialog {
		@media (max-width: $screen-md) {
		    margin: 30px auto;
		}
		max-width: 415px !important;
		width: 415 !important;
		@media (min-width: $screen-md) {
			max-width: 850px !important;
			width: 850px !important;
		}
		.modal-content {
			padding: 15px 0 25px 0;
			@media (min-width: $screen-md) {
				padding: 15px 30px;
			}	
			h4 {
				margin-bottom: 15px;
			}
			.close {
				position: absolute;
			    right: 20px;
			    top: 23px;
			}
			.pdf {
				iframe {
					width: 100% !important;;
					height: 386px !important;
					@media (min-width: $screen-md) {
						height: 300px;
					}
				}	
			}
			.review-btn {
				margin-top: 25px;
			    font-size: 18px;
			    padding: 5px 40px;
			    @media (min-width: $screen-md) {
				    font-size: 24px;
				    padding: 6px 40px;
				}    
			    &.disabled-gray-btn {
			    	background: #9ba5a7;
    				border-bottom: 3px solid #676f70;
			    }
			}
		}

	}
}