#login-overlay-modal {
	.modal-dialog {
		
		
		.modal-content {
			border-radius: 0;
			font-family: Calibri;
			
			.modal-header {
				.close {
					font-weight: normal;
					font-size: 25px;
					margin-top: -6px;					
					margin-right: 10px;					
				}
				
				h5 {
					font-size: 18px;
					text-align: center;
					margin: 0;
				}
			}
			
			.modal-body {
				padding: 0;
				
				.body-content-left,
				.body-content-right {
					width: 100%;
				}
				
				.body-content-left {
					background-color: #16ab95;
					
					p {
						color: #fff;	
						padding-left: 27px;
						padding-right: 27px;
						text-align: center;
						
						&.left-header {
							font-size: 18px;
							font-weight: 600;
							line-height: 20px;
							padding-top: 16px;
						}
						
						&.desc {
							font-size: 14px;
							line-height: 18px;
							padding-top: 2px;
							margin-bottom: 3px;
						}
						
						@media only screen and (min-width: $screen-md) {
							&.left-header { padding-top: 23px; }
							&.desc {
								padding-top: 6px;
								margin-bottom: 12px;
							}
						}
					}
					
					img { width: 100%; }
					
					@media only screen and (min-width: $screen-md) {
						margin-left: 15px;
						width: 279px;
						
						p {
							padding-left: 32px;
							padding-right: 53px;
							text-align: left;
						}
					}
				}
				
				.body-content-right {
					padding: 16px 30px 0 30px;
					position: relative;
					
					.close {
						position: absolute;
						right: 28px;
						top: 15px;
						opacity: .5;
					}
					
					.right-header {
						color: #ff8200;
						font-size: 18px;
						font-weight: 600;
						margin-bottom: 13px;
					}
					
					form {
						input { 
							background: none !important;
							border-color: #ebebeb;
							border-radius: 0px;
							box-shadow: none;
							color: #9ba5a7;
							font-size: 14px;
							height: 44px;
							margin-bottom: 8px;
							width: 100%;
							
							@media only screen and (min-width: $screen-md) {
								height: 34px;
								width: 237px;
							}
						}
						
						.btn-wrapper {
							margin-top: 19px;
						
							button {
								font-size: 18px;
								padding: 9px 62px;
							}
							
							.forgot-password-link {
								color: #ff8200;
								font-size: 14px;
								font-style: italic;
								padding-left: 7px;
								
								&:hover { text-decoration: underline; }

								@media only screen and (max-width: 320px) {
									display: block;
									padding-top: 7px;
								}
							}
							
							@media only screen and (min-width: $screen-md) {
								button {
									padding-left: 39px;
									padding-right: 39px;
								}
								
								span { font-size: 12px; }
							}
						}
					}
					
					.info {
						color: #616768;						
						font-size: 12px;
						line-height: 14px;
						margin-top: 17px;
						margin-bottom: 29px;
					}
					
					.register-link-wrapper {
						padding-top: 11px;
						padding-bottom: 8px;
						padding-left: 30px;
						background-color: #ebebeb;
						font-size: 14px;
						margin-left: -30px;
						margin-right: -30px;
						
						.register-link {
							color: #ff8200;
							font-weight: bold;
							
							&:hover { text-decoration: underline; }
						}
					}
					
					@media only screen and (min-width: $screen-md) {
						padding: 34px 70px 0 38px;
						width: 428px;
						
						.register-link-wrapper {
							font-size: 12px;
							padding-left: 38px;
							margin-left: -38px;
							margin-right: -69px;
						}
						
						.info { margin-bottom: 35px; }
					}
				}
				
				@media only screen and (min-width: $screen-md) {
					margin-right: -15px;
					margin-left: -15px;
					
					.body-content-left,
					.body-content-right {
						float: left;
					}
				}
			}
		}		
		
		
			margin: 30px auto;
			max-width: 415px;
		
		
		@media only screen and (min-width: $screen-md) {
			margin: 230px auto;
			width: 708px;
			max-width: 708px;
		}
		
		
	}
}

#__lpform_username_icon,
#__lpform_password_icon  { 
	display: none;
}