#review-fna-modal, .common-welcome-modal {
	.modal-dialog {
		max-width: 354px;
		@media (max-width: $screen-sm) {
			margin: 230px auto;
		}	
		@media (min-width: $screen-md) {
			max-width: 488px;
		}	
		.modal-content {
			padding: 28px 18px;
			font-size: 14px;
			@media (min-width: $screen-md) {
				padding: 28px;
			}	
		
			.close {
				margin-top: -15px;
    			font-size: 25px;
    			@media (min-width: $screen-md) {
    				margin-right: -8px;
    			}
			}
			.welcome-msg {
				font-size: 14px;
				font-family: 'Calibri';
			}
			.description-msg {
				padding-top: 7px;
				line-height: 18px;
			}
			#review-fna-btn {
				margin-top: 18px;
			}
		}
	}		
}