#sales-illustration-page {
	#sales-illustration-content {
		padding: 23px 30px 15px 23px;
		@media (min-width: $screen-md) {
			padding: 26px 30px 0 30px;
			margin-bottom: 0;
		}
		.heading-title, #info-note {
			margin-bottom: 0;
			margin-top: 0;
			@media (max-width: $screen-md) {
				margin-left: 15px
			}
			
			span a {
				float: right;
			    font-size: 14px;
			    font-family: Calibri;
			    margin-right: 15px;
			    cursor: pointer;
				
				&:hover { text-decoration: underline; }
				
			    @media (min-width: $screen-md) {
			    	margin-right: 0;
			    }
			    &:hover {
			    	text-decoration: underline;
			    }
			}
		}
		.heading-title {
			@media (min-width: $screen-md) {
				margin-bottom: 15px;
			}
		}
		#info-note {
			font-size: 12px;
		    color: #9ba5a7;
		    line-height: 16px;
		    margin-bottom: 8px;
    		.asterisk {
    			color: #ff8200;
    			margin-right: 2px;
    		}
		}
		.left-side-form {
			margin-top: 15px;
			@media (min-width: $screen-md) {
				padding-left: 0;
				padding-right: 5px;
				margin-top: 0;
			}
		}
		.right-side-form {
			@media (min-width: $screen-md) {
				padding-right: 0;
				padding-left: 5px;
			}
		}
		#sales-input {
			margin-top: 15px;
			@media (min-width: $screen-md) {
				margin-top: 46px;
				padding-bottom: 47px;
			}
			.left-side-form {
				margin-top: 0;
			}
			.heading-title {
				@media (min-width: $screen-md) {
					margin-bottom: 0;
				}
			}
		}
		#review-note {
			@media (max-width: $screen-md) {
				padding: 23px 15px 0 15px;
			}
		    font-size: 14px;
		    line-height: 18px;
		    font-weight: bold;
		    @media (min-width: $screen-md) {
		    	margin-bottom: 15px;
		    }
		    a {
				color: #ff8200;
				&:hover { text-decoration: underline; }
		    }
		}
	}
	#pdf-holder {
		@media (min-width: $screen-md) {
			margin-bottom: 30px;
			padding-right: 15px;
		}
		#pdf {
			iframe {
				height: 360px;
				width: 100%;
				@media (min-width: $screen-md) {
					height: 450px;
				}
			}	
		}
		#print-docu {
		    vertical-align: middle;
		    font-size: 14px;
		    padding-top: 25px;
		    #print-icon {
		    	margin-right: 8px;
		    }
		    a {
		    	text-decoration: underline;
		    }
		}
		#accept-btn {
			margin-top: 30px;
	    	margin-bottom: 30px;
	    	padding: 6px 55px;
	    	@media (min-width: $screen-md) {
	    		margin-top: 25px;
	    		font-size: 24px;
	    		padding: 6px 90px;
	    		margin-bottom: 0;
	    	}
		}
	}		
}