<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>25% off data roaming SIM from FWD | 富衛附送您數據儲值卡75折優惠</title>
  
</head>
<body style="font-family: Calibri,sans-serif, Arial!important; line-height: 22px; font-size: 15px; background-color: #f2f2f2;" bgcolor="#f2f2f2">
    <div>
        <center>
            <table id="content-container" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; width: 600px; background-color: #FFFFFF; margin: auto; border: 0;" bgcolor="#FFF">
                <tr>
                    <td id="content-header" style="padding: 18px 18px 9px;">
                        <img align="none" src="https://i.fwd.com.hk/resources/images/savie-fwd-logo.jpg" style="text-decoration: none;">
                    </td>
                </tr>
                <tr>
                    <td id="content-body" style="padding: 18px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; font-family: Calibri, sans-serif !important;">
                            <tbody>
                                <tr>
                                    <td style="padding: 10px 0;">Dear Valued Customer,</td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px 0;">Thank you for purchasing FWD TravelCare Insurance Plan through our online platform. Under our promotion campaign, you can now enjoy 25% off "csl 8-day APAC Data Roaming Prepaid SIM Card ($238)" during the promotion period*, please bring along this email and redeem at any csl shop, 1O1O Center or HKT shop. Offer subject to <a href="https://i.fwd.com.hk/resources/IFWD_CSL_Promotion.pdf" target="_blank">Terms and Conditions</a>. Click <a href="http://i.fwd.com.hk/en/offers" target="_blank">here</a> for offer details.</td>
                                </tr>
                                <tr style="font-family: 'Microsoft JhengHei', Calibri, sans-serif !important;">
                                    <td style="padding: 20px 0 30px 0;">多謝您經網上購買富衛旅遊保險。於推廣優惠期*內，您可攜同此電郵到csl 專門店, 1O1O Center及或HKT專門店購買「csl 8 天亞太漫遊數據儲值卡($238)」，即享 75 折優惠。優惠受<a href="https://i.fwd.com.hk/resources/IFWD_CSL_Promotion.pdf" target="_blank">條款及細則</a>約束。優惠詳情請<a href="http://i.fwd.com.hk/tc/offers" target="_blank">按此</a>。</td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom: 40px; padding: 15px; border: 1px solid #000000;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                            <tr>
                                                <td style="font-weight: bold; width: 200px; padding: 5px 0;"><sup>*</sup>Promotion Period:</td>
                                                <td style="padding: 5px 0;">From now to 30 April 2017</td>
                                            </tr>
                                            <tr>
                                                <td style="font-family: 'Microsoft JhengHei', Calibri, sans-serif !important; font-weight: bold; width: 200px; padding: 5px 0;"><sup>*</sup>優惠期:</td>
                                                <td style="padding: 5px 0;">即日至2017年4月30日</td>
                                            </tr>
                                        </table>
                                    </td>
<td style="padding: 10px 0;">
                                </td>
</tr>
                                <tr>
                                    <td style="padding: 10px 0;">
                                        <p style="margin-bottom: 20px;">
                                            Have a nice trip!<br><span style="font-family: 'Microsoft JhengHei', Calibri, sans-serif !important; margin-bottom: 20px;">祝閣下旅途愉快！</span>
                                        </p>
                                        <p style="margin-bottom: 20px;">
                                            Yours sincerely,<br><span style="font-family: 'Microsoft JhengHei', Calibri, sans-serif !important; margin-bottom: 20px;">此致</span>
                                        </p>
                                        <p style="margin-bottom: 20px;">Fanny</p>
                                        <p style="margin-bottom: 20px;">
                                            FWD General Insurance Company Limited<br><span style="font-family: 'Microsoft JhengHei', Calibri, sans-serif !important;">富衛保險有限公司謹啟</span>
                                        </p>
                                        <p>
                                            <a href="http://www.fwd.com.hk" target="_blank" style="text-decoration: underline; color: #ff8c00;">www.fwd.com.hk</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:18px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:dotted;border-top-color:#999999;border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding: 10px 15px;">                                    
                                        <p style="margin-bottom: 20px; font-size: 14px;">
                                            <span>For enquiry, please contact our FWD 24 hours Customer Service Hotline at <span style="color: #ff8c00;">(852) 3123 3123</span> or via email at <a href="mailto:iService.hk@fwd.com" target="_blank" style="text-decoration: underline; color: blue;">iService.hk@fwd.com</a></span>
                                            <br><br>
                                            <span style="margin-bottom: 10px; font-family: 'Microsoft JhengHei', Calibri, sans-serif !important;">如有任何查詢，請致電富衛24小時客戶服務熱線 <span style="font-family: Calibri, sans-serif !important; color: #ff8c00;">(852) 3123 3123</span> 或電郵至<a href="mailto:iService.hk@fwd.com" target="_blank" style="font-family: Calibri, sans-serif !important; text-decoration: underline; color: blue;">iService.hk@fwd.com</a></span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:18px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:dotted;border-top-color:#999999;border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding: 10px 15px;">                                    
                                        <p style="margin-bottom: 20px; font-size: 14px;">
                                            <span>Remarks: In case of discrepancies between the English and Chinese versions, English version shall prevail.</span>
                                            <br><br>
                                            <span style="margin-bottom: 10px; font-family: 'Microsoft JhengHei', Calibri, sans-serif !important;">備註：中英文本如有歧異，概以英文本為準。</span>
                                            <br><br>
                                            <span>You need Adobe Acrobat Reader to view / print the pdf file, the Reader can be downloaded for free at <a href="http://www.adobe.com/products/acrobat/readstep.html" target="_blank" style="text-decoration: underline; color: blue;">http://www.adobe.com/products/acrobat/readstep.html</a></span>
                                            <br><br>
                                            <span style="margin-bottom: 10px; font-family: 'Microsoft JhengHei', Calibri, sans-serif !important;">附載文件適用於 Acrobat 7.0 版本軟體瀏覧。請於此網站 <a href="http://www.adobe.com/products/acrobat/readstep.html" target="_blank" style="font-family: Calibri, sans-serif !important; text-decoration: underline; color: blue;">http://www.adobe.com/products/acrobat/readstep.html</a> 免費下載 Adobe Reader 以瀏覧 / 列印此 pdf 文件。</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 10px 15px;">                                    
                                        <p style="margin-bottom: 20px; font-size: 14px; color: #606060;">
                                            <span>Note: This is an automatically generated email, please do not reply.</span>
                                            <br>
                                            <span style="font-family: 'Microsoft JhengHei', Calibri, sans-serif !important;">備註：此乃電腦發出之電子郵件，請不要回覆。</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:18px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:dotted;border-top-color:#999999;border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                            </p>
<p style="font-family: 'Microsoft JhengHei', Calibri, sans-serif !important; margin-bottom: 20px;">
                                                富衛保險有限公司
                                                <br>
                                                <a href="http://www.fwd.com.hk" target="_blank" style="text-decoration: underline; color: #ff8c00;">www.fwd.com.hk</a>
                                            </p>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </div>
</body>
    

    

</html>
