/* 22Aug2016 - header notification bar */

header .top-bar .header-notification-box, .navbar.navbar-default.navbar-fixed-top.hidden-lg.hidden-md.pad-none .header-notification-box {
    margin-bottom: 0;
    background-color: #f1f1f1;
    display: block;
    color: #575757 !important;
    font-size: 16px;
    line-height: 1.5;
}

.header-notification-box.header-notification-box--desktop, .header-notification-box.header-notification-box--mobile {
    border-radius: 0;
    padding-right: 35px;
    padding: 15px;
    border: 1px solid transparent;
    text-decoration: none;
}

.header-notification-box.header-notification-box--desktop:hover, .header-notification-box.header-notification-box--mobile:hover {
    text-decoration: none;
}

.close {
    position: relative;
    z-index: 1000;
}
