/********* Oversea landing page **********/
#middle.banner-overlay-wrapper{
	background: none;
}

.oversea-middle{
	bottom: 15%;
}

.oversea-middle .product-download-wrapper{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 8px;
}

.product-download-wrapper .product_landing_download_button{
	font-size: 18px;
	display:inline-block;
	margin: 0;
}
h4.product_landing_download_button.divider{
	border-right: 3px solid #ffffff;
	padding-right: 15px;
	margin-right: 15px;
}
.product-download-wrapper .product_landing_download_button a{
	color:#ffffff;
	font-weight: bold;
	text-decoration: none;
}
.product-download-wrapper .product_landing_download_button a:hover{
	color: #9fb1b2;
}
.banner-message-wrapper{
	background: #505759;
    background: rgba(0, 0, 0, 0.6);
}

.banner-message{
	text-align:center;
	color: #ffffff;
	font-size: 18px;
	padding:12.5px 0 10px 0;
}

.ups-message-wrapper{
	padding: 20px 30px 0 30px;
}

#frmOverSeaGetQuote{
	margin-bottom: 16px;
}
.oversea-sponsor-header{
	text-align:center;
	color:#f6871e;
	margin: 0 0 60px 0;
}
.sponsor-wrapper img,.sponsor-wrapper p{
	display:inline-block;
}
li.sponsor-wrapper+li.sponsor-wrapper{
	padding-left: 80px !important;
}
.sponsor-wrapper p{
	max-width: 55%;
}
.sponsor-wrapper img{
	vertical-align: top;
}
.other-benefits ul.oversea-bullets.bullets{
	list-style:none;
}
@media screen and (max-width: 991px) {
	.ups-message-wrapper{
		padding: 0;
		font-size: 14px;
	}
	.landing-feature-image{
		margin-top: 5px;
	}
	#oversea_feature .landing-feature-title{
		margin-top: 0 !important;
	}
	.landing-feature-text-wrapper{
		text-align: left;
	}
	.landing-feature-item-wrapper{
		margin-bottom: 35px;
	}
	.product-download-wrapper  .product_landing_download_button{
		width: auto;
		font-weight: bold;
	}
	#frmOverSeaGetQuote .btn{
		width: 120px;
		height: 30px !important;
		font-size: 16px;
		padding: 0 !important;
	}
}
/********* Oversea confirmation page **********/
.oversea-summary-mainhead{
	font-weight: bold;
	font-size: 36px;
    color: #f68a1d !important;
	text-align: center;
}
@media screen and (max-width: 991px) {
	.summary-group-divider{
		border-bottom: 1px solid #b7c3cd;
		margin-bottom: 25px !important;		
	}
	.oversea-summary-subhead{
		font-size: 30px;
		color: #373a36;
		text-align: center;
	}
	.oversea-summary-detail-wrapper.container{
		width: 100%;
	}
	.oversea-summary-mainhead{
		display:none;
	}	
}
.oversea-promotion-wrapper{
	background-color: #f1f3f5;
	padding: 0 10% 60px !important;
}
.oversea-promotion-wrapper .summary-header{
	line-height: 1;
	color: #f6871e !important;
	font-size: 34px;
	margin: 55px 0 33px 0;
}
.summary-image-wrapper{
	padding: 10px 0 0 0;
}
.summary-text-wrapper{
	font-size: 18px;
	color: #373a36;
	line-height: 1.5;
	padding: 0 0 0 4.333%;
}
.summary-text-wrapper strong{
	font-size: 24px;
	font-weight: bold;
}
.oversea-promotion-wrapper .summary-text-wrapper a.get-btn{
	margin-top: 10px;
	font-size: 24px;
	line-height: 1;
	padding: 13px 40px !important;
}
.confimration-msg-wrapper{
	margin-bottom: 40px;
}
.oversea-link{
	background-color: #F1F3F5;
}
.email-addr-confirm{
	color: #f6871e;
	font-weight: bold;
}
.oversea-policy-no{
	padding-bottom: 10px;
}
.confimration-msg-wrapper .summary-header{
	color: #f6871e !important;
}
@media screen and (min-width: 992px){
	.oversea-mob-display{
		display:none;
	}
	.oversea-desk-display{
		display:block;
	}
	.summary-image-wrapper{
		width: 297px;
	}
	.summary-text-wrapper{
		max-width: 63%;
	}
}
@media screen and (max-width: 991px){
	.oversea-mob-display{
		display:block;
		margin: 0 auto;
	}
	.oversea-desk-display{
		display:none;
	}
	.summary-promotion-wrapper{
		margin-bottom: 20px;
	}
	.oversea-promotion-wrapper,.summary-text-wrapper{
		text-align: center;
	}
	.summary-text-wrapper{
		text-align: center;
		padding-left: 0;
		float: none;
		margin: 0 auto;
	}
	.oversea-promotion-wrapper .summary-text-wrapper a.get-btn{
		width: 100%;
	}
	.summary-border{
		border: 1px solid #b7c3cd;
		padding: 20px;
	}
	.confimration-msg-wrapper .summary-header{
		font-size: 30px;
		text-align: center;
	}
}
/********* Oversea plan-detail page **********/
.district-btn-grp{
	margin-top: 10px;
}
.floor-block-grp{
	display: block;
	height: 50px;
	padding: 6px 12px;
	vertical-align: middle;
	background-color: #F5F5F5;
	background-image: none;
	border: 1px solid #F5F5F5;
	line-height: 31.5px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.floor-block-pad-right-none{
	padding-right: 0;
}
/********** Oversea plan-selection page *********/
.plan-coverage-box-l{
	width:67%;
	display:inline-block;
}
.plan-coverage-box-r{
	width:32%;
	display:inline-block;
	text-align:right;

}
@media (min-width: 768px){
	.pad-left-des{
    width:49%;
    }
	.pad-right-des{
    width:49%;
	}
	.plan-display-mobile-only{
		display:none !important;
	}
	.modal-dialog{width:520px}

}

@media (max-width: 767px){
	.pad-left-des{
	width:49%;
	}
	.pad-right-des{
    width:49%;
	}
	.planDetails{
		margin-top:20px!important;
	}
	.planDetails .sub-link{
		text-align:center;
	}
	.plan-box-active h3{
		color:#fff
	}
	.oversea_productbox_title{
		background-color:#fff!important;
		height:80px;
	}
	.oversea_productbox_subtitle{
		background-color:#fff!important;
		border:#fff solid 1px!important;
		height:40px!important;
	}
	.plan-box-s,.plan-box-l{
		margin:0!important;
		padding:0!important;
		text-align:center;
		height:80px;
	}
	.plan-box-l{
		width:100% !important;
	}
	.plan-box-s{
		width:100% !important;
	}
	.plan-coverage-box-l{
		margin-top:10px;
	}
	.plan-coverage-box-r{
		margin-bottom:10px;
	}
	.plan-box-l {
		margin:20px 0 0 0!important;
	}
	.plan-box-s {
		background-color:#fff;
		line-height:24px;
	}
	.plan-box-s h2,.plan-box-l h2{
		font-size:18px;
		line-height:18px !important;
		font-weight:900 !important;
        margin: 0 0 0 0 !important;
	}
	.plan-box-s h3,.plan-box-l h3{
		font-size:14px;
		font-weight:100 !important;
		margin: 16px 0 0 0 !important;
	}
	
	.h2-3-choose{
		text-align:center;
	}
	.plan-display-desktop-only{
		display:none !important;
	}
	.plan-flow-l-mobile-only{
		float:left;
	}
	.plan-flow-r-mobile-only{
		float:right;
	}
.plan-coverage-box-l,.plan-coverage-box-r{
	width:100%;
	line-height:24px;
	text-align:center;
}.plan-coverage-box-r{
	font-size:18px;
	font-weight:bold;
}
	.modal-dialog{margin:100px auto}

}
.plan-mobile-nopad{
	padding:10px!important;
	margin:0!important;
}
.plan-mobile-nopad h2{
	margin-top: 30px;
}
.h4-4 a{
	text-decoration:none;
}
.modal-header{border-bottom:none;}
.modal-body{padding:0 20px;}
.modal-footer{border-top:none;}
.oversea_productbox_title{
	background-color:#f5f5f5;
	border: 1px solid #f5f5f5;
	box-sizing: border-box;
}
.oversea_productbox_subtitle{
	background-color:#f5f5f5;
	border: none;
}
.oversea_productbox_subtitle h2{
	font-weight:normal;
}
#region0,#region1{
	margin:0 auto;
}
.region-box-inactive{
    background-color: #fff;
    border: #f68a1d solid 1px !important;
    box-sizing: border-box;
}
.region-box-active{
    background-color: #f68a1d;
    border: #f68a1d solid 1px !important;
    box-sizing: border-box;
}
.region-active{
	background-color:#f68a1d;
	color:#fff;
    font-size:18px;
}

.region-box-btn {
    font-size:18px;
    text-align: center;
	border:#f68a1d solid 1px;
	color:#f68a1d;
	line-height: 60px;
}
.region-box-btn:hover , .region-box-active{
    text-align: center;
    background-color:#f68a1d;
    color:#fff;
}
.region-box-hidden{
	display:none;
}
.region-box-show{
	display:block;
}
.region-active{
    text-align: center;
    background-color:#f68a1d!important;
    color:#fff!important;
}
.region-active:hover{
    text-align: center;
    background-color:#fff!important;
    color:#f68a1d!important;
}
.region-asia-title{
    color:#f68a1d
}
.planDetails{
	    border: 1px solid #ccc;
		display:block;
		padding:1em;
		margin-top: 1em;
}
.plan-box-l, .plan-box-s{
    display:inline-block;
    font-size:24px !important;
    margin-bottom:1%;
    line-height:80px;
    float: left;
}
.plan-box-l{
    width:50%;
    text-align:left;
}
.plan-box-s{
    width:23%;
    margin-left:2%;
}
.plan-box-l h2, .plan-box-s h2{
	font-size:18px !important;
    text-align:center;
    margin:auto;
    line-height:72px;
    font-size:16px!important;
}
.plan-box-l h2{
    font-weight: 900;
    text-align:left;
    margin: 0 0.5em;
}
.plan-box-s h2{
}
.plan-box-s h3{
    font-size:14px !important;
    text-align:center;
}
.plan-box-active{
	background-color:#f68a1d;
    color:#fff !important;
}

.plan-box-title h2{
}
.region-box-btn {
    font-size:18px;
    text-align: center;
	border:#f68a1d solid 1px;
	color:#f68a1d;
}
.region-box-btn:hover , .region-box-active{
    text-align: center;
    background-color:#f68a1d;
    color:#fff;
}
.region-box-hidden{
	display:none;
}
.region-box-show{
	display:block;
}
.region-active{
    text-align: center;
    background-color:#f68a1d!important;
    color:#fff!important;
}
.region-active:hover{
    text-align: center;
    background-color:#fff!important;
    color:#f68a1d!important;
}
.region-asia-title{
    color:#f68a1d
}
.planDetails{
	    border: 1px solid #ccc;
		display:block;
		padding:1em;
}

.plan-box-active{
	background-color:#f68a1d;
    color:#fff !important;
}

.plan-box-active h3{
    color:#fff;
}
.mCustomScrollBox{
	height:none !important;
}
@media (max-width: 767px){
    .oversea-insurance-quote-plan-wraper{
        display:inline-block;
        width:100%;
    }
    .oversea-insurance-quote-plan-wraper:last-element{
        float:right;
    }
    .plan-box-l{
    }
    .plan-box-s{
        width:49% !important;
    }
    .plan-flow-r-mobile-only{
    float:right;
    }
}
.oversea_productbox{
    position:relative;
    border: 1px solid #f68a1d;
    color: #f68a1d;
}
.oversea_productbox.travelproductbox{
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
.bmg_custom_placeholder.floor-block-grp{
    color: #ccc;
    font-size: 24px;	
}
.clear-float{
    clear: both;
}
.oversea-landing-feature-image{
    margin-top: 50px;
}
.oversea-landing-feature-image .img-responsive{
    display: inline-block;
}
.single-line.landing-feature-title{
    line-height: 33px !important;
    height: auto !important;
}
.get-btn.oversea-cta{
	padding: 15px 40px !important;
}
.cta-btn.btn-primary,.cta-btn.btn-primary:focus{
    background-color:#fdb714;
    border: 1px solid #fdb714;
}
.cta-btn.btn-primary:hover{
    color:#f68a1d;
    background-color:#fff;
}
.section-title.big-title{
    color:#f6871e;
}