/* ET Shared */
.hide,
.hide-element {
	display: none !important;
}

.fwd-et-wrapper select,
.et-payment .page-content .page-content-item .selectDiv select {
	color: #ccc;
}


.fwd-et-wrapper .et-next-btn-div{
	/* Next button */
	padding-top: 10px;
	padding-bottom: 40px;
}

.fwd-et-wrapper .et-calcu{
	/* Calculate button */
	padding-bottom: 0px;
}

.fwd-et-wrapper .et-panel-accordion li{
	/* Accordion Copy*/
	margin-bottom: 15px;
}

.et-panel-accordion .panel-collapse .accordion-copy{
	margin-bottom: 20px;
}

.et-remarks-wrapper{
	padding: 35px 30px;
}

/* ET landing tagline */
.fwd-et-wrapper .banner-widget .tagline-holder{
	position: absolute;
	top: auto;
	bottom: 130px;
}

.fwd-et-wrapper .banner-widget .tagline-holder img{
	padding: 0 5%;
	margin: 0 auto;
}

@media (min-width: 768px){
	.fwd-et-wrapper .banner-widget .tagline-holder img {
		width: 100%;
	}
}

@media ( min-width : 992px) {
	.fwd-et-wrapper .banner-widget .tagline-holder{
		top: 28%;
	}

	.fwd-et-wrapper .banner-widget .tagline-holder img{
		width: 100%;
		padding: 0;
		margin: 0;
	}
}

/* ET landing H1 */
.fwd-et-wrapper .wow{
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
}

/* ET landing USP */
.fwd-et-wrapper #landing-three-column{
	padding-top: 0;
}

/* ET landing Benefits */
.et-benefit-item .hidden-content {
	position: absolute;
	top: 0px;
	z-index: 99;
	background-color: #F2F3F5;
	opacity: 0.9;
	display: none;
	min-height: 180px;
}

.et-benefit-item .hidden-content .hidden-content-title {
	font-weight: bold;
}

.et-benefit-item .hidden-content .hidden-content-p {
	font-size: 14px;
}

#benefitsPopup {
	top: 50px;
}

@media ( min-width : 992px) {
	.et-benefit-item:hover .hidden-content {
		display: block;
	}
}

/* ET get promo code */
.fwd-et-wrapper .modal.fade .modal-dialog .modal-content{
	padding: 0;
}

.fwd-et-wrapper .modal.fade{
	font-size: 16px;
}

.fwd-et-wrapper .modal.fade p{
	margin-bottom: 20px;
}

.fwd-et-wrapper button.next,
.fwd-et-wrapper a.next {
	    margin: 20px 0;
}

@media (max-width: 991px){
	.login-form {
	    padding: 15px;
	}
}

/* Tooltips */

.et-tooltip-wrapper span.et-info-tooltip{
	background: url("../images/et-sprite.png") no-repeat center center;
    background-position: -523px -41px;
    width: 18px;
    height: 18px;
    border: 0;
    display: block;

    position: absolute;
	top: 0;
	left: 0;
}

.et-tooltip-wrapper span{
	position: relative;
}

.et-tooltip-wrapper button{
	border: none;
	background-color: transparent;
}

.fwd-et-wrapper .container-fluid.fwd-container .et-plan-option .et-minimal.et-insured-amount-tooltip,
.fwd-et-wrapper .container-fluid.fwd-container .et-plan-option .et-minimal.et-promo-code-tooltip{
	position: absolute;
	top: 7px;
	left: 10px;
}

.fwd-et-wrapper .container-fluid.fwd-container .et-plan-option span{
	position: relative;
}

.fwd-et-wrapper .container-fluid.fwd-container .et-plan-option h3.et-promo-code-txt img{
	margin-top: 0;
	margin-left: 35px;
}

body.chin .fwd-et-wrapper .container-fluid.fwd-container .et-plan-option .et-minimal.et-insured-amount-tooltip,
body.chin .fwd-et-wrapper .container-fluid.fwd-container .et-plan-option .et-minimal.et-promo-code-tooltip{
	position: absolute;
	top: 7px;
	left: 10px;
}

@media ( min-width : 992px) {
	.fwd-et-wrapper .container-fluid.fwd-container .et-plan-option .et-minimal.et-insured-amount-tooltip,
	.fwd-et-wrapper .container-fluid.fwd-container .et-plan-option .et-minimal.et-promo-code-tooltip{
		position: absolute;
		top: 7px;
		left: 10px;
	}

	body.chin .fwd-et-wrapper .container-fluid.fwd-container .et-plan-option .et-minimal.et-insured-amount-tooltip,
	body.chin .fwd-et-wrapper .container-fluid.fwd-container .et-plan-option .et-minimal.et-promo-code-tooltip{
		position: absolute;
		top: 7px;
		left: 10px;
	}
}


/* Diseasea List */
#et-medi-question-2 .et-disease-list ul {
	/* Disease unordered list*/
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 35px;
}

@media ( min-width : 992px) {
	#et-medi-question-2 .et-disease-list ul {
		/* Disease unordered list*/
	    padding-top: 20px;
    	padding-bottom: 20px;
	}
}


/* Declarations */
.fwd-et-wrapper .policy-replacement-remarks{
	padding-top: 10px;
	padding-bottom: 40px;
    font-size: 14px;
    line-height: 16px;
}

/* Document Upload */
.fwd-et-wrapper .document-upload .info.hkid {
  left: 120px;
}

.fwd-et-wrapper .document-upload .info.passport {
  left: 200px;
}

.fwd-et-wrapper .document-upload .info.addr {
  left: 175px;
}

.fwd-et-wrapper .document-upload .elite-home-btn {
	text-align: center;
}

.chin .fwd-et-wrapper .document-upload .info.hkid {
  left: 135px;
}

.chin .fwd-et-wrapper .document-upload .info.passport {
  left: 60px;
}

.chin .fwd-et-wrapper .document-upload .info.addr {
  left: 110px;
}

@media (min-width: 992px) {
  .fwd-et-wrapper .document-upload .info {
    top: 35px;
  }
}

/* ET Summary */
.summary-body-item .info{
	word-break: break-all;
}


/* ET mask */
.modal-backdrop.in{
	opacity: 0.5;
    filter: alpha(opacity=50);
}

/* ET Customer Service Form */
#cannot-apply-modal .modal-body form p.notice{
	margin-top: 20px;
	margin-bottom: 0;
}

#et-cust-serv-form .btn {
    border: solid 1px #ff8200;
    background: #ff8200;
    color: white;
    font-size: 24px; 
}

#cannot-apply-modal .modal-header button{
	top: -10px;
}

/* */