/* ET landing Benefits */
.et-benefit-item .hidden-content {
	position: absolute;
	top: 0px;
	z-index: 99;
	background-color: #F2F3F5;
	opacity: 0.9;
	display: none;
	min-height: 180px;
}

.et-benefit-item .hidden-content .hidden-content-title {
	font-weight: bold;
}

.et-benefit-item .hidden-content .hidden-content-p {
	font-size: 14px;
}

#benefitsPopup {
	top: 50px;
}

@media ( min-width : 992px) {
	.et-benefit-item:hover .hidden-content {
		display: block;
	}
}

/* */