        .quick-quote{
		.ready-content h3{
            padding-top: 0;
        }
				 .addOn-content{
		 height: 200px;
		 }
		 .motor-select-plan .collapse-addon{
		 min-height: 103px;
		 }

		}
		    body.chin{
			.quick-quote{
					 .motor-select-plan .collapse-addon{
		 min-height: 63px;
		 }
						 .addOn-content{
		 height: 140px;
		 }
		 }
		 }