.partnership.ifwd-container {
  .partner-headline-wrapper {
    text-align: center;
    .headline-title, .form-title {
      text-align: center;
    }
  }

  .becomePartnerForm {
    .col-sm-12.col-md-6.left {
      padding-right: 0;
    }
    .success-msg {
      text-align: center;
    }
    .applyPartner {
      margin-left: 0;
    }
  }
}
