
.breadcrumb{
	font-size: 18px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 25px;
	padding: 0;
}

.breadcrumb__list{

	padding: 0;
	margin: 3px 0;
	color: $light-gray;

	&--none{
		list-style-type: none;
	}
}

.breadcrumb__item{

	font-size: 16px;
	font-weight: 600;
	padding-right: 5px;
	display: inline-block;
	

	&--active{
		color: #ff8200;
	}

	&--last{
		display: block;
		line-height: 2;
		font-size: 32px;
	}
}

.breadcrumb__divider{

	font-size: 14px;
	font-weight: 600;
	padding: 0 14px;
	display: inline-block;

	position: relative;

	&--active{
		color: #ff8200;
	}

	&--last{
		color: #9fb1b2;
	}
	
	& .fa {
		//position: absolute;
		//top: -8px;
	}
}
