.faq-answer__table, .faq-answer__table__cell {
  border: 1px solid #000;
  border-collapse: collapse;
}

.faq-answer__table {
  margin-top: 20px;
  text-align: center;
}

.faq-answer__table__cell {
  padding: 10px;
}

.faq-answer__orderList {
  padding-top: 20px;
}

.faq-answer__orderList__listItem {
  float: left;
  width: 33.3%;
  font-size: 16px;
}

.faq_container_mob .faq_title {
    border-left: 2px solid #fff;
}
.faq_answer__list--circle{
	list-style-type: circle;
}
.faq_answer__list--no-Style{
	list-style-type: none;
	padding-left: 0;
}
.faq_answer__list--lo-roman{
	list-style-type: lower-roman;	
}
.faq_answer__list--pad-left20{
	padding-left: 20px;
}
.faq-answer,.faq_answer{
	*{
		font-size: 16px;
	}
}