// .ifwd-container--flight-form {
//     padding: 2px 20px;
// }

.content-disclaimer {
    margin: 30px auto;
    line-height: 15px;
    font-size: 14px;
    width: 80%;
    a {
        color: #ff8200;
    }
}
