//.fwd-savie-wrapper {

    .go-top {
        position: absolute;
        right: 0;
        text-decoration: none;
        color: white;
        background-color: #ff8200;
        font-size: 12px;
        padding: 21px 16px 22px;
        display: none;
        margin: 0;
    }

    .go-top:hover {
        opacity: .8;
        color: white;
        text-decoration: none;
    }

    .go-top-default {
        bottom: 0;
        position: fixed;
    }

    .body-rel {
        position: relative;
    }
//}