body.chin {
	font-family: "Microsoft JhengHei", Calibri, sans-serif !important;
	
	.fwd-savie-wrapper {
		h1, h2, h3, h4, h5 {
			font-family: "Microsoft JhengHei", Calibri, sans-serif !important;
			font-weight: bold;
		}
		
		p, 
		a, 
		li,
		span:not(.icon):not(.glyphicon){
			font-family: "Microsoft JhengHei", Calibri, sans-serif !important;
		}
		
		// footer
		footer .menu-footer .footer-hotline-max-width .footer-orange-menu li a {
			font-weight: bold;
		}
		
		footer .fwd-full-container.footer-tm .footer-max-width .footer-copyright {
			font-family: "Microsoft JhengHei","foco_regular";
		}
		
		// email submitted styles
		.teaser-confirmation {
			h3,
			p {
				line-height: normal;
			}
			
			a.back-at-home {
				font-weight: bold;
			}
		}
		
		// interest-gathering styles
		.sign-up-teaser {
			.pull-left.text{
				line-height: normal;
			}
			
			p.sign-up-header {
				font-weight: bold;
			}
		}
		
		.teaser-confirmation .wa_btn,
		.teaser-confirmation .btn-fwd-fb {
			width: 230px;
		}
	}
}