body {
	font-size: 18px;
	font-family: 'Calibri', Arial;
	position: relative;
   
   // Override bootstrap modal generated padding-right property 
   &.modal-open { 
      //padding-right: 0 !important; 
      footer {
         margin-right: -17px;
      }
   }
}

//.fwd-savie-wrapper {
	h1, 
	h2, 
	h3, 
	h4, 
	h5 {
		font-family: 'Calibri-Bold', Arial;
	}

	h2 {
		font-size: 36px;
	}

	a, 
	a:focus, 
	a:hover,
	.btn:focus,
	.btn:active,
	.btn:hover,
	.btn:active:focus {
		outline: 0;
		text-decoration: none;
		box-shadow: none;
	}

	a[href^=tel]{
		color:inherit;
		text-decoration:none;
	}

	.btn {
		border-radius: 0;
	}

	input {
		border-radius: 0;
		
		&:focus {
			outline: 0;
		}
	}

	.btn-orange, .btn-white, .btn-full {
		color: #fff;
		background: #ff8200;
		font-size: 24px;
		font-family: 'Calibri-Bold';
		padding: 7px 40px;
	}	
	
	.btn-white{
		background-color: #fff;
		color: #ff8200;
		border: 1px solid #ff8200;
	}

	.btn-orange:focus, .btn-orange:hover, .btn-white:focus, .btn-white:hover {
		background: #fff;
		color: #ff8200;
		border: 1px solid #ff8200;
		@include transition_fwd(background .10s ease-in);
	}

	.btn-white:focus, .btn-white:hover {
		color: #fff;
		background-color: #ff8200;
	}

	.btn-full {
		width: 100%;
		height: 50px;
		padding: 0;
		
		&:hover,
		&:focus {
			outline: 0;
			color: #fff;
		}
	}

	.fwd-container.container-fluid {
		max-width: 1200px;	
		@media (min-width: $screen-md) {
			padding-right: 30px;
		}
	}

	.fwd-full-container.container-fluid {
		padding-left: 0;
		padding-right: 0;
		
		.fwd-container-limit {
			max-width: 1200px;
			padding: 0 15px;
			margin: 0 auto;
			@media (min-width: $screen-md) {
				padding: 0 30px 0 15px;
			}
		}
	}

	.sticky-button,
	.fwd-action .sticky-button.btn-buy-now {
		position: fixed;
		bottom: 0;
		width: 100%;
		line-height: 36px;
		font-size: 36px;
		height: 50px;
	}

	.modal {
		background: rgba(6, 29, 42, 0.8);
		
		button.close:hover,
		button.close:focus,
		button.close:active {
			outline: 0;
		}
	}

	.modal-backdrop {
		background-color: #061d2a;
		&.in {
			opacity: 0.8;
		}
	}

	.chinese {
		font-family: 'Microsoft Yahei','微软雅黑体', 'STXihei', '华文細黑', Arial, Helvetica, sans-serif;
	}

	.mini-calculator{
		width: 100%;
		overflow: auto;
	}
	
	
	.hideSpan{
		visibility: hidden;
	}
	
	
	.chineseBtn{
		font-family: 'sans-serif' !important;
	}
	
	.et-broken-line{
      background: transparent url('../images/dashed-divider.png');
      height: 1px;
	}
//}

.fwd-savie-wrapper {
   height: auto !important;
}

.hide-element {
   display: none;
}

label {
   font-weight: normal;
}

::-webkit-input-placeholder {
	color: #C4C3C3 !important;
}

:-moz-placeholder { /* Firefox 18- */
	color: #C4C3C3 !important;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #C4C3C3 !important;
}

:-ms-input-placeholder {
	color: #C4C3C3 !important;
}

// Use to override the CSS styles of the client's
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-fluid, .container-fluid {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
}