.et-document-upload {
	@media (min-width: $screen-md) {

		.clearfix.document-upload-rd-btn {
			max-width: 735px;
			#et-upload-now {
				width: 35%;
            margin-left: 7px;
			}
			#et-upload-later {
				width: 35%;
				margin-left: 12%;
			}
		}
		
		.upload-buttons {
		    padding: 0 7.5px;
		}

		.col-xs-12.col-md-4 {
			padding-left: 7.5px;
			padding-right: 7.5px;
		}

		.page-content {
			background-color: #fff;
		    margin-top: 30px;
		    margin-left: 0;
		    margin-right: 0;
		    border: 1px solid #b7c3cd;
		    padding: 30px 90px;
		}
	}
	.notice {
	    font-family: 'Calibri';
	    font-size: 18px;
	    line-height: 21px;
	    margin-top: 18px;
	    @media (min-width: $screen-md) {
	    	margin-top: 36px;
	    }
		.asterisk {
			color: #ff8200;
		}
	}

	.submit-btn {
		padding-top: 0;
	}
    
    .et-doc-up-submit {
        margin-top: 15px;
        background-color: #ff8200;
        border-color: #ff8200;
        
        @media (min-width: $screen-md) {
            margin-top: 75px;
        }
        
        &:hover {
            color: white;
            
            @media (min-width: $screen-md) {
				background-color: #ff8200;
			}
        }
        
        &:focus {
            color: white;
            background-color: #ff8200;
        }
    }
    
    .help-block {
        margin-top: 5px;
    }
}

.fwd-savie-wrapper {
    button.et-doc-up-submit {    
        &:focus {
            color: white;
            background-color: #ff8200;
        }
    }
}

.et-document-upload-later {
    
    .page-content {
        padding-bottom: 50px;
    }
}