
//.fwd-savie-wrapper {
	.email-row {	
		border: 1px solid #b7c3cd;
		font-family: 'Calibri-Bold', Arial;
		margin-left: 15px;
		margin-right: 15px;
		padding-top: 13px;
		padding-bottom: 15px;
		padding-left: 8px;
		padding-right: 12px;
		color: #020202;
		margin-top: 30px;
	
		@media (min-width: $screen-md) {
			margin-left: 0px;
			margin-right: 0px;
			padding-left: 15px;
			padding-bottom: 0px;
			padding-top: 13px;
			margin-top: 0;
		}
	
		.email-me {		
			margin-bottom: 12px;
			padding-right: 0px;
			padding-left: 8px;
			@media (min-width: $screen-md) {
				padding-right: 18px;
			}
			img {
				float: left;
				padding-right: 15px;
				padding-left: 10px;
				@media (min-width: $screen-md) {
					padding-right: 22px;
					padding-left: 2px;
					width: 117px;
					padding-bottom: 2px;
				}
			}
	
			h5 {
				font-size: 22.19px;
				margin-top: 18px;
				margin-left: 105px;			
				@media (min-width: $screen-md) {
					font-size: 30px;
					padding-right: 40px;
					margin-top: 10px;
				}
			}
		}
	
		.email-input {
			::-webkit-input-placeholder {
			color: #b8b9ba;
				@media (min-width: $screen-md) {				
					color: #747474;
				}
			}
			padding-left: 12px;
			@media (min-width: $screen-md) {
				padding-left: 52px;
				padding-right: 15px;
			}
	
			.email-text {
				width: 100%;
				font-family: 'Calibri';
				font-size: 16.64px;
				border-left: none;
				border-right: none;
				border-top: none;
				border-bottom-width: 3px;
				border-bottom-color: #373a36;
				position: relative;
				padding-bottom: 12px;
				padding-left: 7px;
				padding-top: 12px;
				@media (min-width: $screen-md) {
					width: 90%;
					font-size: 18px;
					padding-left: 9px;
					padding-bottom: 13px;
				}
			}	
	
			.email-btn {
				background-color: #373a36;
				color: #fff;		
				font-size: 22.19px;	
				border: none;
				margin-top: 8px;
				right: 15px;
				padding: 7px 18px;
				@media screen and (min-width:0\0) {
					top: -7px;
				}
	
				&:focus {
					outline: 0;
				}
	
				@media (min-width: $screen-md) {
					font-size: 24px;
					position: absolute;
					margin-top: 0;
					top: 5px;
					padding: 7px 56px;
					right: 27px;
				}				
	
				@media (min-width: $screen-xs) {
					position: absolute;
					top: 5px;
					margin-top: 0;
				}	

				span {
					font-size: 16px;
					padding-left: 5px;
					@media (min-width: $screen-md) {
						font-size: 18px;
					}
				}		
			}
	
			p {
				font-family: 'Calibri';
				text-align: left;
				font-size: 12px;
				margin-bottom: 0;
				margin-top: 10px;
				line-height: 14px;
				padding-left: 25px;
				@media (min-width: $screen-md-min) {
					line-height: 19px;
					margin-top: 10px;
					padding-left: 58px;
				}
	
				a {
					color: #f68a1d;
					border-bottom: solid 1px #f68a1d;
				}
	
				a:hover {
					color: #9fb1b2;			
					border-bottom: solid 1px #9fb1b2;
				}
			}	
	
			input[type=checkbox] {
				display: none;
			}			
	
			label {
				cursor: pointer;
				position: relative;
				width: 15px;
				height: 15px;
				left: 1px;
				top: 62px;
				background: #fff;
				border: 1px solid #ff8200;
				float: left;
				clear: both;
	
				@media (min-width: $screen-xs) {
					top: 8px;
				}
	
				@media (min-width: $screen-md) {
					top: 64px;			
					left: 33px;
				}
	
				&:after {
					opacity: -0.8;
					content: '';
					position: absolute;
					width: 9px;
					height: 5px;
					background: transparent;
					top: 3px;
					left: 2px;
					border: 2px solid #ff8200;
					border-top: none;
					border-right: none;
	
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
	
				&:hover::after {
					opacity: 0.5;
				}
			}
	
			input[type=checkbox]:checked + label:after {
				opacity: 1;
			}	
	
		}
	}
//}