// Fonts Declaration

@font-face {
  font-family: 'foco_regular';
  src: url('../fonts/Foco-Regular_gdi.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Foco-Regular_gdi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Foco-Regular_gdi.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Foco-Regular_gdi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Foco-Regular_gdi.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'foco_bold';
  src: url('../fonts/Foco-Bold_gdi.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Foco-Bold_gdi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Foco-Bold_gdi.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Foco-Bold_gdi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Foco-Bold_gdi.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri_gdi.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Calibri_gdi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Calibri_gdi.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Calibri_gdi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Calibri_gdi.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Calibri-Bold';
  src: url('../fonts/Calibri-Bold_gdi.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Calibri-Bold_gdi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Calibri-Bold_gdi.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Calibri-Bold_gdi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Calibri-Bold_gdi.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Calibri-Light';
  src: url('../fonts/Calibri-Light_gdi.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Calibri-Light_gdi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Calibri-Light_gdi.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Calibri-Light_gdi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Calibri-Light_gdi.svg#svgFontName') format('svg'); /* Legacy iOS */
}

//font-face {
//  font-family: 'Calibri-symbols';
//  src: url('../fonts/Calibri.eot'); /* IE9 Compat Modes */
//  src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//       url('../fonts/Calibri.woff') format('woff'), /* Pretty Modern Browsers */
//       url('../fonts/Calibri.ttf')  format('truetype'), /* Safari, Android, iOS */
//       url('../fonts/Calibri.svg#svgFontName') format('svg'); /* Legacy iOS */
//}

//@font-face {
//  font-family: 'Calibri-Bold';
//  src: url('../fonts/Calibri-Bold.eot'); /* IE9 Compat Modes */
//  src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//       url('../fonts/Calibri-Bold.woff') format('woff'), /* Pretty Modern Browsers */
//       url('../fonts/Calibri-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
//       url('../fonts/Calibri-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
//}