// Next Sales Widget

//.fwd-savie-wrapper{
	.next-sales-block {
		background: #ff8200;
		@media (min-width: $screen-md) {
			background: #fff;
			padding-top: 25px;
			padding-bottom: 60px;
		}
		
		.explanation-content {
			color: #838282;
			
			h4 {
				font-size: 18px;
				font-family: 'Calibri';
				margin: 0 0 5px 0;
			}
			
			ul {
				padding-left: 25px;
				
				li {
					color: #ff8200;
					font-size: 15px;
					line-height: 18px;
				}
				
				p {
					color: #838282;
					font-size: 12px;
					margin: 0;
				}
			}
		}
		
		.box .contents {
			border: 0;
			padding: 0;
			max-width: none;
			
			@media (min-width: $screen-md) {
				padding: 8px 30px 30px 30px;
				border: 1px solid #b7c3cd;
			}
		}
		
		.next-btn {
			font-family: 'Calibri-Bold';
			font-size: 24px;
			text-align: center;
			width: 100%;
			padding: 7px;
			@media (min-width: $screen-md) {
				text-transform: uppercase;
				padding: 13px 12px 12px 12px;
			}
			
			&:hover,
			&:focus {
				color: #fff;
				background: #ff8200;
				@media (min-width: $screen-md) {
					background: #fff;
					color: #ff8200;
					border: 1px solid #ff8200;
					@include transition_fwd(background .10s ease-in);
				}
			}
		}
	}
//}

.email-sales-illustration {
	background: #ffd100;
	text-align: center;
	@media (min-width: $screen-md) {
		text-align: left;
	}
	
	h2 {
		color: #020202;
	}
}