//.fwd-savie-wrapper{

	.fwd-hr  {
		border-top: solid 2px #CED2D3;
		margin: 0;
	}
	
	.overall-disclaimer {
		padding-top: 35px;
		padding-bottom: 35px;	
		@media (min-width: $screen-md-min) {
			padding-top: 53px;
			padding-bottom: 53px;
		}
	
		p {
			font-family: "Calibri";
			font-size: 14px;
			margin-bottom: 11px;
			line-height: 14px;
			@media (min-width: $screen-md-min) {
				margin-bottom: 0;
				line-height: 19px;
			}
	
			a {
				color: #f68a1d;
				text-decoration: underline;
			}
	
			a:hover {
				color: #9fb1b2;			
			}
		}		
	}
	
	.fwd-overall {	
		padding: 28px 30px 60px;
		@media (min-width: $screen-md-min) {
			height: 252px;
		}
	
		&.fwd-thank-you {
			padding-bottom: 53px;
			@media (min-width: $screen-md-min) {
				height: 177px;
			}
		}
	
		h2 {
			font-size: 36px;
			color: #373a36;
			font-family: "Calibri";
		}
	
		h3 {
			font-size: 14px;
			color: #9ba5a7;
			font-family: "Calibri";
			margin-top: 0;
			padding-bottom: 25px;		
			@media(min-width: $screen-md-min) {
				font-size: 18px;
			}
		}
	
		.overall-btn {
			font-size: 24px;
			color: #ff8200;
			border: solid 1px #ff8200;
			background-color: #fff;
			padding: 8px 0;
			width: 148px;
			&:active,
			&:hover,
			&:focus {
				color: #fff;
				background-color: #ff8200;
				@include transition_fwd(background .10s ease-in);
			}		
		}
	}
//}