/*
 * Sales Illustration Page
 */
 
.page-sales-illustration {
	border-top: 1px solid #ff8200;
	@media (min-width: $screen-md) {
		border-top: 1px solid #bbb;
	}
	
	.sales-head {
		h1 {
			font-family: 'Calibri';
			font-weight: bold;
			font-size: 36px;
			color: rgb(246,135,31);
			padding: 13px 0 20px;
			clear: both;
			
			@media (min-width: $screen-md-min){
				font-size: 36px;
				padding: 2px 0 55px;
				display: block;
			}
		}
	}

}

#illustration-filters {
	position: relative;
	background: #b6c2cc;

	.btn.btn-orange.calculate{
		&:hover,
		&:focus,
		&:active{
			color: #fff;
			background-color: #ff8200;
			@media(min-width: $screen-md){
				color: #ff8200;
				background-color: #fff;
			}
		}
	}
	
	.btn-tooltip-clear{
		border: none;
		background-color: transparent;
	}
	
	.tooltip-inner{
		background-color: #ff8200;
	}
	
	.tooltip.right .tooltip-arrow{
		border-right-color: #ff8200;
	}
	
	
	.info-tip{
		background: url("../images/sprite-icons.png") no-repeat center center;
		background-position: -570px -19px;
		width: 13px;
		height: 13px;
		border: 0;
		margin-left: 12px;
		position: absolute;
		bottom: 6px;
	}
	
	span{
		&.error-msg-promo{
			font-family: 'Calibri';
			color: #e4002b;
			font-size: 14px;
			display: block;
			margin-top: 3px;
		}
		
		&.error-msg-dob{
			font-family: 'Calibri';
			color: #e4002b;
			font-size: 14px;
			position: absolute;
			line-height: 11px;
		    margin-top: 8px;
		}
		
		
	}
		
	form {
		padding: 0;
		@media (min-width: $screen-md-min){
			padding: 0 20px;
			height: 261px;
			background-color: #061d29;
		}
	}

	.money {
		display: none;
		@media (min-width: $screen-md-min){
			display: block;
			position: absolute;
			top: -40px;
			padding-left: 35px;
			z-index: 5;
		}
	}

	#triangle {
		display: none;

		@media (min-width: $screen-md-min){
			display: block;
			width: 0;
			height: 0;
			border-bottom: 22px solid #95a3a7;
			border-left: 23px solid transparent;
			margin-left: -43px;
			position: relative;
			margin-top: -22px;
		}
	}


	#investment-amount {
		background: rgb(6,29,41);
		padding: 18px 30px 15px;
		overflow: visible;
		
		.i {
			display: none;
		}

		@media (min-width: $screen-md-min){
			padding: 80px 40px 57px;
			margin-top: -22px;
			max-width: 700px;
			width: 60%;
			margin-left: -12px;				
			height: 261px;
			float: left;
			position: relative;
			.i {
				display: inline-block;
				padding-left: 10px;
			}
		}

		h3 {
			color: white;
			font-family: 'foco_bold';
			font-size: 24px;
			text-align: left;
			margin: 0 0 5px;
			position: relative;

			&.saving {
				padding-left: 3px;
				@media (min-width: $screen-md-min){
					padding-left: 0;
				}
			}
		}
		


		.total {
			margin-top: 7px;
		}

		#hkd {
			color: white;
			font-family: 'foco_regular';
			font-size: 24px;
			margin: 3px 5px 0;

			span {
				font-family: 'Calibri';
				font-weight: normal;
			}
		}

		#left, #right {
			color: white;
			text-align: center;
			font-family: 'foco_regular';
			font-size: 12px;
			p {
				margin: 0;
				line-height: 15px;
				font-size: 15px;
			}
		}

		#promo {
			font-size: 24px;
			color: white;
			margin-bottom: 0;
			margin-top: 33px;
			clear: both;
			padding-left: 3px;
			position: relative;
			@media (min-width: $screen-md-min){
				margin: 0 0 5px;
				padding-left: 0;
			}
		}

		#add {
			margin-right: 10px;
		}

		#crediting-rate {
			font-family: 'foco_bold';
			font-size: 18px;
			color: #cd6e08;
			margin-top: 17px;
			margin-bottom: 1px;
			clear: both;
			@media (min-width: $screen-md-min){
				font-size: 24px;
				margin-top: 136px;
			}
		}
		

		@media (min-width: $screen-md-min){
			#desktop-left {
				max-width: 325px;
				width: 45%;
				float: left;
				margin-right: 5%;
			}

			#desktop-right {
				width: 45%;
				margin-left: 5%;
				float: left;

				.promo-code {
					display: none;
					@media (min-width: $screen-md-min){
						display: block;
						position: absolute;
						top: -15px;
						padding-left: 8px;
					}
				}
			}
		}
	}

	.promocode {
		height: 40px;
		border:	none; 
		padding: 0;
		color: #000;
		font-family: 'Calibri';
		font-size: 17.92px;
		padding-left: 20px;
		margin-top: 5px;
		width: 100%;
		border-radius:0;

		@media (min-width: $screen-md-min){
			margin-left: 0;
			max-width: 250px;
			margin-top: 2px;
			position: relative;
		}
	}

	#information {
		background: #b6c2cc;
		padding: 0 30px;

		
		.i {
			display: none;
		}

		@media (min-width: $screen-md-min){
			padding-left: 0;
			position: relative;
			padding-right: 0;
			padding-top: 0;
			margin-top: -40px;
			background: transparent;
			max-width: none;
			float: left;
			width: 20%;
			.i {
				display: inline-block;
				padding-left: 10px;
			}
		}

		#pictures {
			display: none;
			@media (min-width: $screen-md-min){
				margin-bottom: 15px;
				display:block;

				img {
					vertical-align: bottom;
				}
			}
		}

		h2 {
			color: white;
			margin: 0;
			font-size: 23.9px;
			text-align: left;
			padding: 18px 0 0 0;
			font-family: 'foco_bold';
			position: relative;
			
			.info-tip {
				bottom: 10px;
			}

			@media (min-width: $screen-md-min){
				padding: 5px 0 4px 0;
			}
		}
	}
	
	#birthday {
		@media (min-width: $screen-md-min){
			position:relative;
		}
		
		#mobile-date {
			width: 100%;
			height: 46px;
			border: 0;
			padding: 5px 16px;
			font-size: 24px;
			background: #ffffff;
			-webkit-appearance: none;
			-moz-appearance: none;
		}
	}

	#birthday > div {
		display: inline-block;
		margin-top: 2px;
		width: 100%;
		position: relative;

		.date {
			height: 40px;
			background-image: url(../images/calendar.png);
			background-repeat: no-repeat;
			border: none;
			padding: 0;
			color: #000;
			font-family: 'Calibri';
			font-size: 17.92px;
			padding-left: 60px;
			width: 100%;
			border-radius:0;
		}

		.add-on {
			width: auto;
			background-color: transparent;
			border: none;
			border-radius: 0;
			color: #f79737;
			position: absolute;
			right: 10px;
			top: 9px;

			@media (min-width: $screen-md-min){
				right: 0;
			}
		}			
	}
	
	.apply {
		padding: 0 30px 20px;
		@media (min-width: $screen-md-min){
			width: 20%;
			float: left;
			padding: 0 0 0 3.5%;
			padding-top: 93px;
			
			.btn.btn-orange.calculate{
				padding: 0 10px 0 40px;
				
				.icon.icon-chevron-thin-right{
					padding-left: 30px;
				}
			}
			
			.next {
				width: 100%;
				margin-top: 94px;					
			}
		}

		span {
			font-size: 20px;
			padding-left: 5px;
		}
		
		.next {
			max-width: none;
		}
	}
	
	.tooltip {
		width: 200px;
	}
}



/*
* Investment Data Contents
* by: RM Nepomocino
*/

.fwd-full-container.container-fluid.investment{
	.fwd-container-limit.investment-summary-and-table{
		padding: 0;
		
		@media(min-width: $screen-md-min){
			padding: 0 15px;
		}
	}

}



.collapse.in{
	display: inline-block;
}


.fwd-container-limit.padding-to-zero{
	padding: 0 !important;
}

.fwd-full-container.container-fluid.made-your-decision-section {
	background-color: #ffd100;
	padding: 10px 15px 10px 20px;	
	
	@media(min-width: $screen-md-min) {
		padding: 25px 15px 20px 30px;
	}	
	
	.left-width {		
		padding-right: 20px;
		width: 40%;
		max-width: 164px;
		
		@media(min-width: $screen-md-min) {
			max-width: 200px;
		}
	
		
		.img-padding-left {
			padding-left: 0;
			
			@media(min-width: $screen-md-min) {
				padding-left: 10px;
			}
		}	
	}
	
	.right-width {
		width: 58%;
		
		@media(min-width: $screen-sm-min) {
			width: 60%;
		}
		
		@media(min-width: $screen-md-min) {
			padding-left: 45px;
			width: 73%;
		}
	}
	
	.explanation-image-padding{
		padding: 0;
		@media(min-width: $screen-md-min){
			padding-left: 18px;
		}
	}
	
	
	.button-padding {
		padding-top: 0;
		@media(min-width: $screen-md-min) {
			padding-top: 25px;
			padding-left: 40px;
			padding-right: 0px;
		}

		span {
			font-size: 20px;
			padding-left: 5px;
			@media(min-width: $screen-md-min) {
				font-size: 24px;
			}
		}
	}
	
	
	.text-padding {
		padding-top: 0;
		padding-right: 0;
		
		@media(min-width: $screen-md-min) {
			padding-top: 10px;
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	.btn.btn-orange.btn-explanation {
		font-size: 30px;
		width: 100%;
		max-width: 172px;
		height: 61px;
		
		
		@media(min-width: $screen-md-min) {
			width: 100%;
			height: 80px;
			font-size: 36px;
		}
	}
	
	h6 {
		font-size: 30px;
		color: #061d2a;
		font-family: 'Calibri-Bold';
		margin: 0;
		line-height: 30px;
		
		@media(min-width: $screen-md-min) {
			font-size: 41px;
		}
	}
	
	p {
		&.started {
			color: #061d2a;
			font-size: 18px;
			line-height: 18px;
			padding-top: 7px;
			padding-bottom: 7px;
			width: 95%;
			@media(min-width: $screen-md-min){
				font-size: 30px;
				line-height: 30px;
				width: 100%;
				padding-top: 15px;
			}
		}
	}
}


.fwd-container.container-fluid.reset-padding {
	padding: 0;
	
	@media(min-width: $screen-md-min) {
		padding: 0 15px 15px;
	}
}

.explanation-button {
	display: block;
	
	@media(min-width: $screen-md-min) {
		display: none;
	}
}

.btn-gray {
	color: #fff;
	background-color: #b0bdbd;
	font-weight: bold;
	font-size: 24px;
	width: 100%;
	
	&:hover,
	&:focus {
		color: #fff;
	}
}



.explanation-block {
	margin-top: 30px;
		
	@media(min-width: $screen-md-min) {
		margin-top: 35px;
	}
}


ul {
	&.explanation-list {
		color: #ff8200;
		font-size: 13px;
		margin-top: 10px;
		padding-right: 22px;
		
		@media(min-width: $screen-md-min) {
			margin-top: 0;
			padding-left: 22px;
			padding-top: 5px;
			padding-right: 0;
		}
	}
	
	li {
	
		&.explanation-li {
			padding-bottom: 1px;
		}
		
		p {
			&.expl-txt {
				color: #838282;
				margin: 0;
			}
			
		}
		
	}
}

span {
	&.explanation {
		display: none;
		color: #838282;
		@media(min-width: $screen-md-min) {
			display: block;
		}
	}
}

.fwd-container.proceed-block {
	color: #ff8200;
	
	button.next {
		max-width: 300px;
		margin: 10px auto 38px auto;
	}
}

.fwd-savie-wrapper {
	#thankYouModal {
		.modal-dialog {
			width: 90%;
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 35%;
			
			@media(min-width: $screen-md-min){
				margin-top: 105px;
			}
			
			.modal-content {
				padding: 0;
				
				img {
					width: 100%;
				}
				
				button {
					display: block;
					margin: 20px auto;
					width: 90%;
					@media(min-width: $screen-md-min) {
						width: 45%;
					}
				}
			}
		}
	}
}