/*
* Payment Widget
*/


//.fwd-savie-wrapper{
	.fwd-payment {
		padding: 40px 15px;
		@media(min-width: $screen-md-min) {
			padding: 80px 0;
		}
		
		input[type=checkbox],
		input[type=radio] {
			display: none;
		}	
	
		.btn-group.bootstrap-select {
			width: 100%;
		}
	
		.padding-none {
			padding-left: 0;
			padding-right: 0;
	
			.form-control-static {
				padding-top: 0;
			}
		}
	
		.payment-h2 {
			color: #ff8200;
			padding-bottom: 5px;
			@media(min-width: $screen-md-min) {
				text-align: left;
				padding-bottom: 0;
			}
		}
	
		#payment-content {
			@media(min-width: $screen-md-min) {
				clear:both;
			}
		}
	
		form {
			margin-top: 0;
			@media(min-width: $screen-md-min) {
				margin-top: 25px;
			}
	
			.pay-later, .pay-online {
				margin-bottom: 10px;
				position: relative;
				width: 100%;
				height: 50px;
			
				@media(min-width: $screen-md-min){
					width: 39%;
					height: 20px;
					top: 9px;
				}

				.more-details {
					font-family: 'Calibri';
					color: white;
					font-size: 18px;
					@media(min-width: $screen-md-min){
						color: #9ba5a7;
						font-size: 14px;
					}
				}				
				
				span{
					&.pay-la, &.pay-ol {
						display: block;
						color: white;
						font-family: 'Calibri';
						position: absolute;
						font-size: 18px;
						width: 100%;
						text-align: center;
						margin-top: 11px;
						line-height: 18px;
						padding: 0 5px;
						@media(min-width: $screen-md-min){
							font-family: 'Calibri-Bold';
							margin-left: 30px;
							color: #1b2e3a;
							margin-top: 0;
							width: auto;
							
						}	
						
					}
					
				}
				
				label{
					text-align: center;
					position: absolute;
					top: 0;
					border-radius: 50%;
					cursor: pointer;
					border-radius: 0;
					width: 100%;
					height: 100%;
					border: solid 1px $orange-color;
					background-color: #fff;
					color: #ff8200;
					font-family: 'Calibri';
					font-weight: normal;
					padding-top: 15px;
					line-height: 18px;
					
					@media(min-width: $screen-md-min){
						width: 20px;
						height: 20px;
						border: solid 1px $gray-color;
						background-color: transparent;
						border-radius: 50%;
						padding: 0;
						color: transparent;
						top: -1px;
					}
					
					&:after{
						position: absolute;
						opacity: 0;
						width: 99.96%;
						height: 99%;
						background-color: $orange-color;
						border-radius: 0;
						content: '';
						color: #fff;
						top: 0;
						left: 0;
						font-family: 'Calibri';
						font-weight: normal;
						padding-top: 10px;
						
						@media(min-width: $screen-md-min){
							content: '';
							width: 14px;
							height: 14px;
							background-color: $orange-color;
							top: 2px;
							left: 2px;
							border-radius: 50%;
							padding: 0;
							color: transparent;
							
						}
					}
					
					&:hover::after {
						@media(min-width: $screen-md-min){
							opacity: 0.5;
						}
						
					}
				
				}
				
				input[type=radio] {
					display: none;
					&:checked + label:after {
						opacity: 1;
					}    
					
					&:checked + span {
						color: #000;
					}    
				}
			}	
	
			.desktop-left {
				float: none;			
				@media(min-width: $screen-md-min) {
					float: left;
					margin-bottom: 50px;
				}
			}
	
			.leftside-pad {
				@media(min-width: $screen-md-min) {
					padding-left: 0;
				}
			}
	
			.right-pad {
				padding-right: 95px;
				font-family: "Calibri-Bold";
	
				span {
					font-size: 14px;
					font-family: "Calibri";
					color: #9ba5a7;
				}
			}
	
			.form-group {
				color: #061d2a;
	
				.payment-link {
					color: #f68a1d;
					font-family: "Calibri-Bold";
				}
	
				#account-no {
					font-size: 18px;
				}
	
				.right-side {
					padding-right: 8px;
				}
	
				.left-side {
					padding-left: 8px;
				}
	
				.margintop {
					margin-bottom: -4px;
					margin-top: 4px;
					@media(min-width: $screen-md-min) {
						margin-top: 0;
					}
				}
			}
	
			.policy-group {
				padding-top: 21px;
				padding-bottom: 21px;
				color: #3c4b54;
				font-size: 14px;
				@media(min-width: $screen-md-min) {
					padding-top: 19px;
					padding-bottom: 35px;
					clear:both;
				}
	
				label {
					cursor: pointer;
					position: relative;
					width: 15px;
					height: 15px;
					left: 1px;
					top: 8px;
					background: #fff;
					border: 1px solid #ff8200;
	
					&:after {
						opacity: -0.8;
						content: '';
						position: absolute;
						width: 9px;
						height: 5px;
						background: transparent;
						top: 3px;
						left: 2px;
						border: 2px solid #ff8200;
						border-top: none;
						border-right: none;
	
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
	
					&:hover::after {
						opacity: 0.5;
					}
				}
	
				input[type=checkbox]:checked + label:after {
					opacity: 1;
				}
	
				span {
					margin-left: -11px;
				}
	
				.policy-p {
					margin-top: -20px;
					margin-left: 28px;
				}
			}
	
			.payment-row {
				margin-top: 9px;
				@media(min-width: $screen-md-min) {
					margin-top: 0;
				}
	
				.paddingbottom {
					padding-bottom: 10px;
				}
	
				.name-top {
					padding-top: 8px;
				}
	
				.margin-link {
					margin-top: -14px;
					margin-bottom: 3px;
					@media(min-width: $screen-md-min) {
						margin-top: 0;
						margin-bottom: 0;
					}
				}		
	
				.form-group {
					margin-bottom: 0;
	
					&.topside-pad {
						margin-top: 10px;
						@media(min-width: $screen-md-min) {
							padding-top: 20px;
							margin-top: 0;
						}
					}
	
					&.topside-bank {
						margin-top: 10px;
						@media(min-width: $screen-md-min) {
							padding-top: 14px;
							margin-top: 0;
						}
					}
	
					&.margintop-pad {
						@media(min-width: $screen-md-min) {
							margin-top: 11px;
						}				
					}				
				}
			}		
	
			.btn-proceed {
				font-size: 24px;
				font-family: "Calibri-Bold";
				color: #ff8200;
				border: solid 1px #ff8200;
				background-color: #fff;
				padding: 12px 0;
				margin: 5px 0;
				width: 100%;
				&:active,
				&:hover,
				&:focus {
					color: #fff;
					background-color: #ff8200;
					@include transition_fwd(background .10s ease-in);
				}
	
				@media(min-width: $screen-md-min) {
					padding: 8px 0;
					width: 50%;
				}		
			}		
		}	
	}
//}