/*
* Personal Info Widget
* by: RMN
*/

$orange-color: #ff8200;
$gray-color: #9ba5a7;


//.fwd-savie-wrapper{
	
	.personal-info-widget.page-application{
		padding: 53px 15px 40px 0;
		
		@media(min-width: $screen-md-min){
			padding: 53px 0;
		}
	}
	
	.personal-info-widget{
		font-family: 'Calibri-Bold';
		font-size: 18px;
		
		.row.margin{
			margin-left: 0;
			
			@media(min-width: $screen-md-min){
				margin-right: 0;
			}
		}
		
		.form-horizontal .form-group{
			margin: 0;
		}
		
		.has-error .help-block{
			color: #e4002b;
			font-family: 'Calibri';
		}
		
		.form-control.gray-textbox.residential{
			margin-bottom: 10px;
		}
		
		.form-control.date-textbox{
			background-image: url(../images/calendar.png);
			background-repeat: no-repeat;
			padding-left: 50px;
			border-radius: 0;
			border: 0;
			box-shadow: inset 0 1px 1px rgba(0,0,0,0);
			color: #9ba5a7;
			background-color: #f1f3f5;
			margin-top: 5px;
			margin-bottom: 5px;
			background-position-y: -3px;
			font-family: 'Calibri';
			font-size: 18px;
			
			@media(min-width: $screen-md-min){
				margin-bottom: 10px;
				margin-top: 0;
			}
		}
		
		.input-append.date{
			span{
				.add-on{
					display: none;
				}
			}
		}
		
		
		
		.btn-group.bootstrap-select{
			width: 100%;
			margin-top: 5px;
			margin-bottom: 5px;
			
			@media(min-width: $screen-md-min){
				margin-bottom: 10px;
				margin-top: 0;
			}
		}
		
		.col-sm-12.col-md-6.left{
			@media(min-width: $screen-md-min){
				padding-left: 0;
				padding-right: 7px;
			}
		}
		
		.col-sm-12.col-md-6.right{
			@media(min-width: $screen-md-min){
				padding-left: 7px;
				padding-right: 0;
			}
		}
		
		
		h2{
			margin: 0;
			color: $orange-color;
			text-align: center;
			padding-bottom: 20px;
			position: relative;
			
			@media(min-width: $screen-md-min){
				text-align: left;
				padding-bottom: 30px;
				position: relative;
			}
			span{
				&.info-tooltip{
					background: url("../images/sprite-icons.png") no-repeat center center;
					background-position: -344px -13px;
					width: 27px;
					height: 24px;
					position: absolute;
					top: 1px;
					left: 0px;
				}
			}
			
			button{
				&.tooltip-button{
					width: 27px;
					height: 24px;
					border: 0;
					position: relative;
					top: 2px;
					background-color: transparent;
					
					&:hover,
					&:focus{
						outline: 0;
					}
				}
			}
			
			.tooltip-inner{
				background-color: #ff8200;
				font-size: 14px;
				font-family: 'Calibri';
				max-width: 100%;
				height: 46px;
				display: table-cell;
				vertical-align: middle;
				padding-left: 18px;
				padding-right: 18px;
				border-radius: 10px;
			}
			
			.tooltip.right .tooltip-arrow{
				top: 38% !important;
				border: 0;
				background: url("../images/sprite-icons.png") no-repeat center center;
				width: 11px;
				height: 20px;
				display: inline-block;
				position: absolute;
				margin-left: -5px;
				background-position: -160px -15px;
			}
			
		}
		
	
		
		
		.next-btn{
			padding-left: 15px;
			text-align: center;
			@media(min-width: $screen-md-min){
				text-align: center;
				padding-left: 0;
			}
		}
		
		.btn.next.pi{
			margin-top: -5px;
			@media(min-width: $screen-md-min){
				margin-top: 70px;
			}
         
         &.et-medic-next {
            
            @media(min-width: $screen-md-min){
               margin-top: 20px;
            }
         }
		}
		
		.btn.next.pi.correspondence{
			@media(min-width: $screen-md-min){
				margin-top: 28px;
			}
		}
		
		
		.btn.btn-next{
			font-size: 24px;
			color: #fff;
			background-color: $orange-color;
			width: 100%;
			border: solid 1px $orange-color;
			height: 55px;
			@media(min-width: $screen-md-min){
				width: 500px;
	
			}
			
			
			&:hover,
			&:focus{
				color:  $orange-color;
				background-color: #fff;
				box-shadow: inset 0 3px 5px rgba(0,0,0,0);
			}
			
			&.active{
				color:  $orange-color;
				background-color: #fff;
				box-shadow: inset 0 3px 5px rgba(0,0,0,0);
				
			}
		}
		
		.btn.gender-btn{
			font-family: 'Calibri';
			background-color: $orange-color;
			font-size: 18px;
			color: #fff;
			border: solid 1px $orange-color;
			width: 105px;
			height: 38px;
			
			@media(min-width: $screen-md-min){
				margin: 0;
				color: #9ba5a7;
				background-color: transparent;
				border: 0;
				text-align: left;
				padding-right: 10px;
				width: 72px;
			}
			
			&.active{
				background-color: #fff;
				color: $orange-color;
				box-shadow: inset 0 3px 5px rgba(0,0,0,0);
				
				@media(min-width: $screen-md-min){
					color: #9ba5a7;
				}
			}
			
			&.left{
				margin-right: 18px;
			}
			
			&:hover,
			&:focus{
				background-color: #fff;
				color: $orange-color;
				
				@media(min-width: $screen-md-min){
					color: #9ba5a7;
				}
			}
		}
		
		.gender-section{
			margin-bottom: 7px;
			margin-top: 0;
			position: relative;
			
			@media(min-width: $screen-md-min){
				margin-top: 0;
				margin-bottom: 20px;
				top: 10px;
			}
			.pull-left.female,
			.pull-left.male{
				width: 123px;
				margin-right: 18px;
			}
			
			.pull-left.male{
				@media(min-width: $screen-md-min){
					margin: 0;
					width: 90px;
				}
			}
			
			
			
			input[type="radio"]{
				display: none;
			}
			
			.descriptions{
				display: none;
				font-family: 'Calibri';
				
				@media(min-width: $screen-md-min){
					display: block;
					
				}
				
				&.male{
					@media(min-width: $screen-md-min){
						position: absolute;
						top: -2px;
						left: 27px;
					}
				}
				
				&.female{
					@media(min-width: $screen-md-min){
						position: absolute;
						top: -2px;
						left: 120px;
					}
					
				}
			}
	
					
			label {			
				&.pi-male-radio, &.pi-female-radio {
					position:relative;   
					cursor:pointer;
					width: 100%;
					border: solid 1px $orange-color;
					text-align: center;
					color: $orange-color;
					font-family: 'Calibri';
					font-weight: normal;
					height: 40px;
					
					
					&:hover{
						background-color: $orange-color;
						color: #fff;
						@include transition_fwd(background .10s ease-in);
						
						@media(min-width: $screen-md-min){
							background-color: transparent;
						}
					}
					
					@media(min-width: $screen-md-min){
						width: 20px;
						height: 20px;
						border: solid 1px #9ba5a7;
						border-radius: 50%;
					}
					
					&:after{
						content: '';
					
						@media(min-width: $screen-md-min){
							background-color: $orange-color;
							opacity: 0;
							width: 16px;
							height: 16px;
							position: absolute;
							bordeR: solid 1px #fff;
							border-radius: 50%;
							left: 1px;
							top: 1px;
						}
					}
					
					
					&:hover::after {
						opacity: 0.5;
						@include transition_fwd(background .10s ease-in);
					}
					
					:checked + span.pi-male-text {
						background: $orange-color;
						display: table;
						color: #fff;
						width: 101%;
						@include transition_fwd(background .10s ease-in);
						height: 100%;
				
						
						@media(min-width: $screen-md-min){
							background-color: $orange-color;
							width: 16px;
							height: 16px;
							position: absolute;
							bordeR: solid 1px #fff;
							border-radius: 50%;
							left: 1px;
							top: 1px;
							
							
						}
					
					}
					
					
					.pi-male-text, .pi-female-text {
						display: table;
						margin: 0 auto;
						
						span{
							&.text{
								display: block;
								padding-top: 6px;
								height: 40px;
								text-align: center;
								padding-top: 0;
								line-height: 15px;
								display: table-cell;
								vertical-align: middle;
								
								@media(min-width: $screen-md-min){
									display: none;
								}
							}
						}
					}
			
				}				
			label [type="radio"] {
				display:none;
			}
			
		}
	
		
		}
		
		
		
		.pull-left.prefix{
			width: 23%;
			margin-right: 12px;
		}
		
		.pull-left.suffix{
			width: 72%;
			
			@media(min-width: $screen-md-min){
				width: 73%;
			}
		}
		
		.pull-left.left{
			margin-right: 12px;
			
			&.eight-digit-num{
				width: 70%;
			}
		}
		
		.left-desktop{
			float: none;
			
			@media(min-width: $screen-md-min){
				float: left;
			}
			
			&.description{
				@media(min-width: $screen-md-min){
					width: 34%;
					padding-right: 52px;
				}
				
			}
			
			&.right-description{
				@media(min-width: $screen-md-min){
					width: 34%;
					padding-right: 32px;
				}
			}
			
			&.text-box{
				@media(min-width: $screen-md-min){
					width: 66%;
				}
				
				span{
					&.warning-note{
						color: #162a35;
						font-size: 14px;
						font-family: 'Calibri';
						padding-top: 15px;
					}
					&.orange{
						color: #ff8200;
					}
				}
			}
			
			&.check-box{
				width: 100%;
			}
			
			
		}
		
		
		.checkbox-section{
			margin-top: 10px;
			margin-bottom: 40px;
			
			@media(min-width: $screen-md-min){
				padding-left: 34%;
			}
			.pull-left.left-checkbox{
				width: 28px;
				position: relative;
				margin: 0;
				height: 18px;
				top: 72px;
				label {
					width: 16px;
					height: 16px;
					cursor: pointer;
					position: absolute;
					left: 0;
					bottom: 65px;
					border: solid 1px $orange-color;
						&:after {
							content: '';
							width: 9px;
							height: 5px;
							position: absolute;
							top: 3px;
							left: 2px;
							border: 2px solid $orange-color;
							border-top: none;
							border-right: none;
							background: transparent;
							opacity: 0;
							transform: rotate(-45deg);
							-moz-transform:rotate(-45deg);  
							-webkit-transform:rotate(-45deg);  
							-o-transform:rotate(-45deg);  
							-ms-transform:rotate(-45deg);  
						}
					&:hover::after {
						opacity: 0.5;
					}
				}
				
				input[type=checkbox] {
					visibility: hidden;
					&:checked + label:after {
						opacity: 1;
					}    
				}
			}
			
			.pull-left.right-checkbox{
				width: 85%;
				line-height: 18px;
				
				span{
					&.checkbox-text{
						color: #061d2a;
						font-family: 'Calibri';
					}
				}
			}
			
			
			
		}
	
		label {
			font-weight: normal;
		}
      
      &.et-medical-declaration-wrapper {
         padding-top: 0;
         padding-left: 5px;
         
         @media (min-width: $screen-md-min) {
            padding-left: 0;
         }
         
         h2 {
            @media (min-width: $screen-md-min) {
               padding-top: 20px;
               text-align: left;
            }
         }
         
         .et-medical-next-brn {
            padding-left: 0;
         }
         
         .row.margin{
            @media(min-width: $screen-md-min){
               margin-right: -15px;
               margin-left: -15px;
            }
         }
      }
      
      &.et-application-page {
         padding-top: 30px;
         padding-left: 5px;
         
         .left,
         .right {
            padding-left: 0;
         }
         
         .et-correspondence-address {
            margin-top: -40px; 
            margin-bottom: 20px;
         }
         
         .next-btn {
            padding: 0;
         }
         
         .checkbox-section {
            
            @media (min-width: $screen-md-min) {
               margin-bottom: 25px;
            }
         }
         
         .selectDiv {
            overflow: hidden;
            
            select {
               width: 110%;
               margin-bottom: 0;
            }
         }
         
         .pull-left.suffix{
            
            input {
               @media(min-width: $screen-md-min){
                  width: 101%;
               }
            }
         }
         
         .left-desktop.text-box + small.help-block {
            margin-bottom: 10px;
            
            @media (min-width: $screen-md-min) {
               margin-left: 34%;
            }
         }
      }
	}
//}

.et-medial-col {
   padding-left: 0;
   
   @media (min-width: $screen-md-min) {
      padding-left: 15px;
   }
}


.et-app-info-tooltip {
   
   @media (min-width: $screen-md-min) {
      margin-left: 15px !important;
   }
   
   .tooltip-inner{
      background-color: #ff8200;
      font-size: 14px;
      font-family: 'Calibri';
      max-width: 100%;
      display: table-cell;
      vertical-align: middle;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 18px;
      padding-right: 18px;
      border-radius: 10px;
   }
   
   .tooltip-arrow {
      top: 40% !important;
      border: 0;
      width: 11px;
      height: 20px;
      display: inline-block;
      position: absolute;
      margin-left: -5px;
      
      @media (max-width: $screen-md-max) {
         right: -5px !important;
      }
   }
   
   &.right {
      
      .tooltip-arrow {
         background: url("../images/sprite-icons.png") no-repeat center center;
         background-position: -160px -15px;
      }
   }
   
   &.left {
      .tooltip-arrow {
         background: url("../images/elite-terms/et-right-arrow-icon.png") no-repeat center center;
      }
   }
   
   &.top {
      .tooltip-arrow {
         background: url("../images/elite-terms/et-bottom-arrow-icon.png") no-repeat center center;
         width: 20px;
         top: 83% !important;
         
         @media (min-width: 399px) {
            top: 77% !important;
         }
         
         @media (min-width: 400px) {
            left: 48.5% !important;
         }
      }
   }
}