// Note: et = namespace for elite terms

//.fwd-savie-wrapper{
	.three-column-widget.O2O-landing{
		background-color: #fff;
	}
	.three-column-widget {
		background-color: #f1f3f5;
		padding-left: 30px;
		padding-right: 30px;
		color: #061d2a;
		@media (min-width: $screen-md) {
			padding-left: 15px;
			padding-right: 15px;
		}
	
		.three-row {
			padding-bottom: 30px;
		}
		
		.row {
			@media (min-width: $screen-md) {
				margin-left: -8px;
				margin-right: -8px;
			}
	
			&.row-top {
				margin-top: 22px;
				@media (min-width: $screen-md) {
					margin-top: 0;
				}
			}
		}
	
		.fwd-col  {		
			@media (min-width: $screen-md) {
				padding-left: 8px;
				padding-right: 8px;
			}
	
			.col-content {
				background-color: #fff;
				height: 438px;
				//max-width: 354px;
				margin: 0 auto 10px auto;
				padding: 0 10px;
				@media (min-width: $screen-md) {
					height: 452px;
					max-width: 379px;
					/* padding: 0 39px; */
					padding: 0 16px;
				}
				
				.pull-left.mobile-image{
					width: 30%;
					@media(min-width: $screen-sm-min) {
						width: 20%;
					}
				}
				
				.right{
					float: left;
					width: 70%;
					padding-left: 20px;
					@media(min-width: $screen-sm-min){
						width: 70%;
					}
					
					@media(min-width: $screen-md-min){
						float: none;
						width: 100%;
					}
				}
            
            .et-desc-col {
               float: none; 
               width: 70%;

               @media (min-width: $screen-xs + 120){
                  width: auto;
               }
               
               @media (min-width: $screen-md) {
                  padding-left: 0;
               }
            }
            
				h2 {
					font-size: 24px;
					margin-bottom: 0;
					margin-top: 0;
					color: #373a36;
					line-height: 31px;
					padding-top: 15px;
					text-align: left;
					padding-left: 0;
					
					

					&.out-life {
						padding-top: 0;
					}
					
					
					@media(min-width: $screen-md-min){
						text-align: center;
						font-size: 36px;
						padding-top: 36px;
					}
				}	
	
				h3 {
					margin-top: 0px;
					color: #ff8200;
					font-size: 18px;
					text-align: left;
	
					@media (min-width: $screen-md) {
						margin-bottom: 15px;
						font-size: 30px;
						text-align: center;
					}
					
				}	
	
				img {				
					//padding-top: 12px;
					padding-top: 36px;
					padding-bottom: 26px;
					@media (min-width: $screen-md) {
						padding-top: 0;
						/* padding-bottom: 23px; */
						padding-bottom: 20px;
					}
				}
	
				p {
					line-height: 23px;
					padding-right: 0;
					margin: 0;
					padding-bottom: 10px;
					font-size: 14px;
					text-align: left;
	
					span {
						@media (min-width: $screen-md) {
							font-weight: bold;
						}
					}
					
					@media (min-width: $screen-md) {
						font-size: 18px;
						text-align: center;
					}
				}
				
				p.info-asterisk {
					font-size: 14px;
					line-height: 14px;
					padding-bottom: 15px;
					margin: 0;
					color: #ff8200;
				}
            
            .et-get-qoute {
               
               img {
                  padding: 0;
               }
            }
			}
			
			.et-bordered-col-content {
            display: table;
            width: 100%;
            padding: 30px 20px;
            border: 1px solid #b7c3cd;
            position: relative;
            
            @media (min-width: $screen-md) {
               padding: 35px 25px;
            }
         }
         
         .et-img-col,
         .et-desc-col {
            display: table-cell;
         }
         
         .et-img-col {
            width: 120px;
            vertical-align: middle; 
            
            img {
               padding: 0;
            }
            
            @media (min-width: $screen-md-min) {//$screen-xs + 120){
               width: auto;
            }
         }
         
         .et-desc-col {
            vertical-align: top;
            
            h2,
            p {
               padding: 0;
            }
            
            h2 {
               
               @media (min-width: $screen-md) {
                  padding-left: 15px;
                  padding-right: 15px;
                  min-height: 110px;
                  line-height: 35px;
               }
               
            }
            
            p {
               margin-top: 20px;
               font-size: 15px;
               
               @media (min-width: $screen-md) {
                  margin-top: 0;
                  font-size: 18px;
               }
               
               &.et-qoute-space { 
                  padding-right: 30px;
                  
                  @media (min-width: $screen-md) {
                     padding-right: 0;
                  }
               }

            }
            
            img {
               padding-top: 15px;
            }
         }
         
			.col-content-teaser {
				background-color: #fff;
				height: 438px;
				//max-width: 354px;
				margin: 0 auto 10px auto;
				padding: 0 29px;
				@media (min-width: $screen-md) {
					height: 452px;
					max-width: 379px;
					/* padding: 0 39px; */
					padding: 0 16px;
				}
		
				h2 {
					font-size: 36px;
					margin-bottom: 0;
					margin-top: 0;
					color: #373a36;
					line-height: 31px;
					padding-top: 36px;

					&.out-life {
						padding-top: 0;
					} 
				}	
	
				h3 {
					margin-top: 0px;
					color: #ff8200;
					font-size: 30px;
	
					@media (min-width: $screen-md) {
						margin-bottom: 15px;
					}
				}	
	
				img {				
					padding-top: 12px;
					padding-bottom: 26px;
					@media (min-width: $screen-md) {
						padding-top: 0;
						/* padding-bottom: 23px; */
						padding-bottom: 20px;
					}
				}
	
				p {
					line-height: 23px;
					padding-right: 0;
					margin: 0;
					padding-bottom: 10px;
	
					span {
						@media (min-width: $screen-md) {
							font-weight: bold;
						}
					}
				}
				
				p.info-asterisk {
					font-size: 14px;
					line-height: 14px;
					padding-bottom: 15px;
					margin: 0;
					color: #ff8200;
				}
			}
		}
	
		hr {
			width: 40px;
			border-top: 2px solid #fde0c3;		
			margin-top: -6px;
			margin-bottom: 35px;
			@media (min-width: $screen-md) {
				width: 115px;
				border-top: 1px solid #f6871f;		
				margin-top: 20px;
				margin-bottom: 40px;
			}
		}
	
		h1 {
			color: #f6871d;
			font-size: 36px;
			font-family: foco_regular;
			font-weight: bold;
			span:after {
					content: 'Step';
				}
			@media (min-width: $screen-md) {
				span:after {
					content: 'step';
				}
				font-family: 'Calibri-Bold', Arial;
			}
		}
		
		h2, h3 {
			color: #061d2a;
		}
		
		h2 {
			padding: 0 13px;
			font-size: 36px;
			margin-bottom: 0;
			margin-top: 15px;
		}
	
      .et-ups-title {
         padding: 0;
         padding-top: 30px;
         text-align: center;
         color: #ff8000;
         margin-top: 0px;
         margin-bottom: 25px;
         
         @media (min-width: $screen-md) {
            padding-top: 0;
         }
      }
      
		.text-left {
			padding: 0 0 20px;
		}
	
		h3 {
			margin-top: 9px;
		}
	
		.t-extend {
			letter-spacing: -5px;
		}
	
		.i-connect {
			top: -7px;
			font-size: 85%;
			letter-spacing: -6px;
		}
	
		h4 {
			margin-top: 20px;	 	
			width: 100%;
			left: 0;
			
			@media (min-width: $screen-md) {
				position: absolute;
				bottom: 13px;
			}
		}
	
		h5 {
			font-size: 23px;
			line-height: 23px;
			color: #061d2a;
			margin-bottom: inherit;
		}
		
		p {
			//color: #414141;
			line-height: 22px;
			margin:0 0 15px;
		}
		
		a, a:focus {
			color: #f6871f;
			font-family: 'Calibri-Bold', Arial;
			font-size: 24px;
		}
	
		a:hover {
			color: #9fb1b2;
		}
	
		a, a:focus, a:hover {
			.a-new {
				font-size: 24px;
			}
		}
		
		img {
			padding-top: 5px;
			padding-bottom: 11px;
		}
		
		.content {
			border: 1px solid #b7c3cd;
			padding: 10px 30px;
			margin-bottom: 19px;
			height: 396px;
			max-width: 340px;
			margin-left: auto;
			margin-right: auto;
		}
	
		.content-next-step {
			padding: 10px 25px;
			height: auto;
			max-width: 379px;
			position: relative;
			
			@media (min-width: $screen-md) {
				height: 362px;
			}
		}
      
      .et-btn-download-item {
         font-size: 18px;
         
         &:focus {
            font-size: 18px;
         }
      }
	}
	
   .et-three-columns-wrapper,
   .et-three-column-widget {
      background-color: #fff;
   }
   
   .et-three-column-widget {
      padding-left: 20px;
      padding-bottom: 25px;
   }
   
	#landing-three-column {
		.fwd-col .col-content {
			//min-height: 438px;
			height: auto;
			@media (min-width: $screen-md) {
				//height: 550px;
			}
         
         //&.et-bordered-col-content {
         //   height: auto;
         //   min-height: 420px;
         //}
		}
		
      .et-usp-section {
            
         @media (min-width: $screen-md) {
            display: table;
            width: 100%;
         }
         
         .fwd-col {
            
            @media (min-width: $screen-md) {
               float: none; 
               margin: 0;
               display: table-cell;
               vertical-align: top;
               border: 1px solid #b7c3cd;
            }
         }
         
         .et-bordered-col-content {
            
            @media (min-width: $screen-md) {
               padding-bottom: 50px;
               border: 0;
               margin-bottom: 0;
            }
         }
      }
      
      .et-usp-gutter {
         width: 15px;
      }
      
		h1 {
			@media (min-width: $screen-md) {
				margin: 0;
			}
		}
	}
//}