/**** color define ****/
@brand-primary: #f68b1f;
@red: #fe0000;

@white: #ffffff;
@gray-white: #fdfdfd;
@gray-light: #f1f1f1;
@gray-shadow: #e0e0e0;
@gray-placeholder: #cfcfcf;
@primary-gray: #acacac;
@gray-middle: #939393;
@gray-base: #575757;
@gray-dark: #222222;
@gray-black: #161616;
@black: #000000;

@blue: #12afc0;
@green: #00cba9;