.highres{
    .btn{
        width: 200px;
        &.copy{
            width: 320px;
        }
    }
    header{
        .container{
            .top-nav{
                .logo-wrap{
                    padding-left: 10px;
                    text-align: left;
                }
            }
        }
    }
    .hero{
        height: 200px;
        .text-wrap{
            padding-left: 60%;
            text-align: left;
            p{
                font-size: @13px_18px;
                padding: 0;
            }
        }
        .shadow{
            .hidden;
        }
    }    
    .main{
        .content-box{ 
            padding: 30px 60px;
        }
    }
    footer{
        .container{
            width: 95%;
            display: table;
            padding: 0 20px 0 10px;
        }
        .copyright-links{
            font-size: @16px_18px;
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            p{
                padding: 0;
                font-size: @12px_18px !important;
            }
            ul{
                li:first-of-type{
                    a{
                        padding-left: 0;
                    }
                }
            }
        }
        .corp-links{
            display: table-cell;
            vertical-align: middle;  
            text-align: right;
        } 
        .full-width-container{
            .hidden;
        }
    }
    .small{
        .error-message{
            font-size: @16px_18px;            
        } 
    }
    &.t1{
        .content-box{               
            width: 60%;
        }
        .intro{
            width: 80%;
            background-color: @white;
            padding: 30px 60px;            
            text-align: left;
            h2{
                margin-bottom: 0;
            }
            p{
                font-size: @14px_18px;
            }
        }
    }
    &.t2{
        p{
            padding: 5px 0;
        }
        .discount-wrap{
            margin-top: 40px;
            .discount-headline{
            }
            .discount-all{  
                padding: 30px 0;
                display: table;
                .discount{
                    display: table-cell;
                    vertical-align: top;
                    width: 32%;
                    background-color: @white;
                    padding-bottom: 50px;
                    
                    .icon{
                        .sp-icon_tick_gray_highres;
                    }
                    input[type="radio"]:checked{        
                        &  + label{
                            .icon{
                                .sp-icon_tick_highres;                            
                            }
                        }
                    } 
                    .input-wrap{
                        text-align: center;
                        position: absolute;
                        bottom: 30px;
                        width: 100%;
                    }                
                    .image-wrap{
                        padding: 0;
                        height: 55px;
                    }
                    .content-box{
                        position: relative;
                        padding: 30px;
                        font-size: @14px_18px;
                        text-align: center;   
                        
                    }
                    .more, .shadow{
                        .hidden;
                    }
                    .title{
                        color: @brand-primary;
                        font-size: @20px_18px;
                    }
                }
                .col-space{
                    width: 1%;
                    max-width: 10px;
                    display: table-cell;
                }
            }
            .btn.next{
                margin: 10px 0 30px;
            }
        }
    }
    &.t3{
        form{
            ul{
                li{
                    margin: 0;
                    padding: 5px 0 0 0;
                    input{
                        height: 60px;
                    }
                    .icon{
                        top: 20px;
                    }
                    .error-message{
                        opacity: 0;
                        -webkit-opacity: 0;
                        height: 35px;
                        display: block;
                    }
                    .placeholder{
                        top: 25px;
                    }
                    &.error{
                        .error-message{
                            opacity: 1;
                            -webkit-opacity: 1;
                        }
                    }
                    &.expand{
                        .placeholder{                        
                            top: 10px;                       
                        }
                    }
                }            
            }
        }
        .gray-box{
            ul{
                padding: 30px 20px 0px 20px;
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
            }
        }
    }
}