@11px_18px: 0.6111111111111112em;		//(11em / 18);
@12px_18px: 0.6666666666666666em;		//(12em / 18);
@13px_18px: 0.7222222222222222em;		//(12em / 18);
@14px_18px: 0.7777777777777778em;		//(14em / 18);
@15px_18px: 0.8333333333333334em;		//(15em / 18);
@16px_18px: 0.8888888888888888em;		//(16em / 18);
@18px_18px: 1em;		                //(18em / 18);
@20px_18px: 1.1111111111111112em;		//(20em / 18);
@22px_18px: 1.2222222222222223em;		//(22em / 18);
@24px_18px: 1.3333333333333333em;		//(24em / 18);
@26px_18px: 1.4444444444444444em;		//(26em / 18);
@28px_18px: 1.75em;		                //(28em / 18);
@30px_18px: 1.6666666666666667em;		//(30em / 18);
@36px_18px: 2em;		                //(36em / 18);
@40px_18px: 2.2222222222222223em;		//(40em / 18);
@46px_18px: 2.5555555555555554em;		//(46em / 18);

@font-face{
    font-family: "focoblack";
    src: url(../fonts/CircularPro-Black.otf) format('opentype'), 
         url(../fonts/CircularPro-Black.ttf) format('truetype'),
         url('../fonts/CircularPro-Black.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}
@font-face{
    font-family: "focobold";
    src: url(../fonts/CircularPro-Bold.otf) format('opentype'), 
         url(../fonts/CircularPro-Bold.ttf) format('truetype'),
         url('../fonts/CircularPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: "focoregular";
    src: url(../fonts/CircularPro-Book.otf) format('opentype'),
         url(../fonts/CircularPro-Book.ttf) format('truetype'),
         url(../fonts/CircularPro-Book.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'fwdIconfont';
	src:url('../fonts/fwdIconfont.eot?coatm8');
	src:url('../fonts/fwdIconfont.eot?coatm8#iefix') format('embedded-opentype'),
		url('../fonts/fwdIconfont.ttf?coatm8') format('truetype'),
		url('../fonts/fwdIconfont.woff?coatm8') format('woff'),
		url('../fonts/fwdIconfont.svg?coatm8#fwdIconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    color: @gray-base;
    &.highres{
        font: 400 1.125em/1.3em focoregular,"Microsoft JhengHei","Apple LiSong",Sans-Serif !important;
        p{
            font-size: @16px_18px;
            line-height: 1.6em !important;
        }
        .small{
            font-size: @14px_18px;
            line-height: @26px_18px;
        }
    }
    &.mobile{
        font: 400 1.125em/1.3em focoregular,"Microsoft JhengHei","Apple LiSong",Sans-Serif !important;
        .small{
            font-size: @12px_18px;
            line-height: @26px_18px;
        }
    }
    
    h1{
        font-size: @36px_18px;
        font-family: focobold,"Microsoft JhengHei","Apple LiSong",Sans-Serif;
        line-height: 1;
    } 
    h2{
        font-size: @28px_18px;
        line-height: 1;
        margin-bottom: 10px;
    }
    h3{
        font-size: @20px_18px;
        line-height: 1;
    }
    
    input{
        font-family: focoregular,"Microsoft JhengHei","Apple LiSong",Sans-Serif;
    }
    #wifi-voucher{
        font-family: focobold,"Microsoft JhengHei","Apple LiSong",Sans-Serif;
        font-size: @46px_18px;
    }
    .btn.copy, .discount .title{
        font-family: focobold,"Microsoft JhengHei","Apple LiSong",Sans-Serif;
    }
}