.sp {
    background-image: url(../../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

//Please generate the spritesheet in vertical
.sp-icon_dot {
    width: 6px;
    height: 6px;
    background-position: -5px -5px;
}

.sp-icon_error {
    width: 28px;
    height: 28px;
    background-position: -5px -21px;
}

.sp-icon_tick {
    width: 28px;
    height: 28px;
    background-position: -5px -59px;
}

.sp-icon_tick_gray {
    width: 28px;
    height: 28px;
    background-position: -5px -97px;
}

.sp-icon_tick_gray_highres {
    width: 39px;
    height: 39px;
    background-position: -5px -135px;
}

.sp-icon_tick_highres {
    width: 40px;
    height: 40px;
    background-position: -5px -184px;
}

.sp-icon_wifi_error {
    width: 103px;
    height: 103px;
    background-position: -5px -234px;
}
