// Footer Widget

$footer-height: 50px;
$footer-bgcolor: #020202;
$footer-font: 'foco_regular';

$footer-menu-bgcolor: #222222;
$footer-menu-height: 102px;
$footer-menu-link-font: 'foco_bold';
$footer-orange:  #df7f1e;

$footer-height-dsktop: 36px;

.fwd-savie-wrapper footer {
	background: #020202;
	@media(min-width: $screen-md-min) {
		background: transparent;
	}
	
	.fwd-full-container.footer-tm {
		background-color: $footer-bgcolor;
		font-size:  13px;
		color: #fff;
		font-family: 'Calibri';
		padding: 0 15px;

		@media(min-width: $screen-md-min) {
			height: 44px;
			padding: 10px 0 0 0;
			font-family: $footer-font;
			font-size:  14px;
		}
		
		.footer-max-width {
			padding: 0 5px;
			@media(min-width: $screen-md-min) {
				padding: 0 30px 0 15px;
			}
			
			.footer-copyright {
				padding-bottom: 32px;
				float: left;
				clear: both;
				@media(min-width: $screen-md-min) {
					padding-bottom: 0;
					padding-top: 3px;
					margin-left: 0;
					float: right;
					clear: none;
				}
			}
			
			.footer-trade {				
				float: left;
				
				.footer-list {
					padding-left: 0;
					padding-right: 15px;
					margin-bottom: 12px;
					cursor: default;
					@media(min-width: $screen-md-min) {
						margin-bottom: 0;
					}
				
					li {
						display: inline;	
						font-family: 'Calibri';
						font-size: 16px;
						line-height: 22px;
						color: $footer-orange;

						@media(min-width: $screen-md-min) {
							font-family: 'foco_regular';
							font-size: 14px;
							color: #fff;
						}

						a {
							display: inline;
							padding: 0;
							color: $footer-orange;
							@media(min-width: $screen-md-min) {
								line-height: 0px;
							}
							
							&:focus,
							&:active {
								color:  $footer-orange;
								background:  transparent;
							}

							@media(min-width: $screen-md-min) {
								color: #fff;								
								&:focus,
								&:active,
								&:hover{
									background-color: transparent;
									color: #fff;
									text-decoration: none;
								}

								&:hover {
									color: #9fb1b2;
								}
							}	
							
						}

						&.rst-padding {
							padding: 0;							
							color: #fff;
							@media(min-width: $screen-md-min) {								
								font-family: foco_regular;
								font-size: 16px;
								color: #333333;
							}
						}
					}
				}
			}		
		}	
	}
	.menu-footer {
		padding: 0 0 0 20px;	
		background-color: $footer-bgcolor;
		@media(min-width: $screen-md-min) {
			background-color: $footer-menu-bgcolor;
			padding: 0;	
		}				

		.footer-hotline-max-width {
			@media(min-width: $screen-md-min) {
				max-width: 1046px;
				padding: 0;
			}
		
			.footer-orange-menu {
				padding: 18px 5px 0 5px;
				
				@media(min-width: $screen-md-min) {
					padding: 52px 0 31px;
				}
				
				ul {
					cursor: default;
				}
				
				li {
					display: inline;					
					font-size: 16px;					
					color: #ff8200;
					padding-right: 0px;
					padding-left: 0px;
					font-family: 'Calibri';
					@media(min-width: $screen-md-min) {
						display: block;
						float: left;
						padding-right: 11px;
						padding-left: 11px;
						font-family: $footer-menu-link-font;
						font-size: 24px;
						line-height: 26px;
						color: $footer-orange;
					}
					
					a {
						display: inline;
						padding: 0;
						color: #ff8200;
						@media(min-width: $screen-md-min) {
							color: $footer-orange;
							display: block;							
						}
						
						&:focus,
						&:active,
						&:hover {
							color: #ff8200;
							background:  transparent;
							@media(min-width: $screen-md-min) {
								color:  $footer-orange;								
							}
						}						
					}

					@media(min-width: $screen-md-min) {
						a:hover {
							color:#9fb1b2;
							background: transparent;
						}
					}
					
					&.fwd-home {
						@media(min-width: $screen-md-min) {
							padding-left: 0;
						}
					}
					
					&.blog {
						border-right: 0;
					}
					
					&.reset-padding {						
						padding: 0;
						color: #fff;
						@media(min-width: $screen-md-min) {
							color: $footer-orange;
						}
					}

					&.faq {
						@media only screen and (min-width: 992px) and (max-width: 1020px) {	
							padding-left: 0;
						}
					}	
				}

				span {
					display: none;
					@media only screen and (min-width: 992px) and (max-width: 1020px) {
						display: block;
					}
				}
			}
			
			.footer-menu-right {
				padding-left: 5px;	
				float: left;
				clear: both;
				font-family: 'Calibri', sans-serif;
				@media(min-width: $screen-md-min) {
					font-family: 'Calibri-Bold', sans-serif;
					padding-left: 0;	
					float: right;
					clear: none;
				}

				.footer-hotline {
					display: none;
					@media(min-width: $screen-md-min) {
						padding: 42px 51px 19px 0;
						display: block;	
					}

					li {
						display: inline-block;
						

						a {
							display: block;
							padding: 0;

							&:hover,
							&:focus {
								outline: 0;
								background: transparent;
							}
						}
					}

					.circle {
						background: white;
						height: 50px;
						width: 50px;
						border-radius: 50%;
						text-align: center;
						font-size: 28px;
						color: #041c28;
						margin-left: 15px;

						.fa {
							display: table-cell;
							width: 50px;
							height: 50px;
							vertical-align: middle;
						}
					}	

					.circle:hover {
						background: #f6871e;
						color: white;
					}
				}
				
				.hotline-info-number {
					display: -webkit-inline-box;
					display: inline-flex;
					padding: 9px 0 10px 0;
					@media(min-width: $screen-md-min) {
						padding-top: 26px;
						padding-bottom: 21px;
						display: block;
					}
					
					.hotline-info, .hotline-number {
						font-size: 16px;
						color: #fff;
						padding-right: 5px;
						@media(min-width: $screen-md-min) {
							font-size: 18px;
							padding-right: 0;
							padding-bottom: 2px;
						}
					}
					
					.hotline-number {
						@media(min-width: $screen-md-min) {
							font-size: 36px;
							color: $footer-orange;
						}
					}			
				}				
			}		
		}
	}
}