//.fwd-savie-wrapper {
	.fwd-action {
		color: #fff;
		position: relative;
		padding-bottom: 100px;
	
		.fwd-action-one {
			width: 100%;
			
			@media(min-width: $screen-md-min) {
				width: 49.5%;
				float: left;
			}
		}
	
		.fwd-action-two {
			width: 100%;
			overflow: hidden;
			
			@media(min-width: $screen-md-min) {
				width: 50.5%;
				float: left;
				overflow: inherit;
			}
			
			.action-one,
			.action-two {
				width: 50%;
				float: left;
				text-align: center;
				padding: 20px;
				padding-bottom: 9999px;
				margin-bottom: -9999px;
				border: 0;
				
				&:hover,
				&:focus,
				&:active {
					border: 0;
					outline: 0;
				}
	
				@media(min-width: $screen-md-min) {
					width: 100%;
					float: none;
					height: 149px;
					text-align: left;
					padding: 0 15px 0 40px;
					margin-bottom: 0;
				}
				
				img {
					margin: 0 auto;
					width: 80px;
					margin-bottom: 15px;
					
					@media(min-width: $screen-md-min) {
						margin: 0;
						float: left;
						width: 100px;
					}
				}
				
				.action-text {
					@media(min-width: $screen-md-min) {
						margin-left: 132px;
					}
					
					h2 {
						font-size: 30px;
						line-height: 31px;
						@media(min-width: $screen-md-min) {
							font-size: 36px;
							line-height: 39.5999984741211px;
						}
					}
					
					p {
						font-size: 18px;
						line-height: 18px;
						margin-top: 8px;
						margin-bottom: 13px;
						@media(min-width: $screen-md-min) {
							font-size: 24px;
							line-height: 25px;
							max-width: 330px;
						}
					}
				}
			}
		}
	
		h2 {
			margin: 0;
		}
		
		.talk-to-experts.action-one {
			background: #5f6f75;
			@media(min-width: $screen-md-min) {
				background: #9ba5a7;
				
				.action-text {
					h2 {
						margin-top: 13px;
					}
					
					p {
						margin-top: 5px;
					}
				}
			}
		}
		
		.download-brochure.action-two {
			background: #516168;
			@media(min-width: $screen-md-min) {
				background: #505759;
				padding-top: 12px;
			}
			
			.action-text {
				h2 {
					@media(min-width: $screen-md-min) {
						margin-top: -1px;
					}
				}
				
				p {
					line-height: 21px;
					margin-top: 16px;
					@media(min-width: $screen-md-min) {
						line-height: 25px;
						margin-top: 10px;
					}
				}
			}
		}
		
		.btn-buy-now {
			height: 100px;
			font-size: 48px;
			position: absolute;
			bottom: 0;
			left: 0;
			
			a,
			a:hover,
			a:focus {
				color: #fff;
				outline: 0;
			}
		}
	}
	
	#fwd-carousel {
		.carousel-control {
			background: transparent;
			filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
			width: 50px;
			height: 50px;
			background-color: #414440;
			opacity: 1;
			bottom: 0;
			top: auto;
			
			@media(min-width: $screen-md-min) {
				width: 60px;
				height: 60px;
			}
			
			.icon {
				display: table-cell;
				vertical-align: middle;
				height: 50px;
				width: 50px;
				font-size: 29px;
				@media(min-width: $screen-md-min) {
					width: 60px;
					height: 60px;
				}
			}
			
			&.right {
				left: 50%;
				right: auto;
				
				@media(min-width: $screen-md-min) {
					right: 0;
					left: auto;
				}
			}
			
			&.left {
				right: 50%;
				left: auto;
				
				@media(min-width: $screen-md-min) {
					right: 60px;
				}
			}
			
			&.disabled {
				opacity: 0.5;
			}
		}
		
		.carousel-indicators {
			display: none;
		}
		
		.carousel-inner .item,
		.carousel-inner .item.next {
			background: url(../images/power-save-sample.png) no-repeat center center;
			height: 298px;
			width: 100%;
			background-size: cover;
			
			& > div {
				text-align: center;
				width: 100%;
				height: 298px;
				display: table;
				@media(min-width: $screen-md-min) {
					text-align: left;
					display: block;
					position: absolute;
					bottom: 0;
					height: auto;
					width: auto;
					right: 155px;
				}
				
				& > div {
					display: table-cell;
					vertical-align: middle;
					text-shadow: 0 1px 2px rgba(0,0,0,0.6);
					@media(min-width: $screen-md-min) {
						display: block;
						margin-left: 15px;
					}
				}
			}
			
			h2 {
				font-size: 30px;
				@media(min-width: $screen-md-min) {
					font-size: 36px;
				}
			}
			
			p {
				@media(min-width: $screen-md-min) {
					font-size: 24px;
					font-family: 'Calibri-Bold';
					line-height: 24px;
				}
			}
		}
	}
//}