//.fwd-savie-wrapper{
	.other-benefits-teaser.O2O-landing{
		background-color: #fff;
	}
	.other-benefits-teaser{
		background-color: #f1f3f5;
		}
		#other-benefits {	
			margin-left: 15px;
			margin-right: 15px;
			background-color: #fff;
			padding: 34px 32px 0 32px;
			padding: 0 10px;
			@media (min-width: $screen-md-min) {	
				width: 100%;
				max-width: none;
				margin-top: 5px;
				padding-top: 0px;
				height: 380px;
				margin-left: 0;
				padding: 34px 32px 0 32px;
			}
	
			@media (min-width: $screen-lg-min) {
				height: 340px;
			}
		
			.left-clear {
				clear: both;
			}
			
			.pull-left.mobile-image{
					width: 30%;
					@media(min-width: 768px) {
						width: 20%;
				}
				
			}
			
			.right{
				float: left;
				width: 70%;
				padding-left: 20px;
				
				@media(min-width: $screen-md-min){
					float: none;
					width: 100%;
					padding-left: 0;
				}
			}
		
			img {
				padding-top: 38px;
				padding-bottom: 26px;		
				@media (min-width: $screen-md-min) {
					padding-right: 40px;
					margin-top: -33px;
				}
			}
		
			h2 {
				color: #373a36;
				font-size: 24px;
				font-weight: bold;
				margin-top: 0px;
				margin-bottom: 12px;	
				padding-top: 20px;
				text-align: left;
				margin-left: -10px;
				@media (min-width: $screen-md-min) {	
					padding-top: 33px;
					margin-bottom: 26px;
					text-align: left;
					margin-left: -15px;
					font-size: 36px;
				}
			}
		
			ul {
				padding: 0 0 14px 4px;
				margin: 0px;
				list-style-image: url(../images/bullet.png);
				font-size: 18px;
				
				a{
					&.read-more{
						cursor: pointer;
						font-size: 14px;
						color: #ff8200;
						border-bottom: solid 1px #ff8200;
					}
				}
				li  {
					color: #373a36;
					padding-bottom: 13px;
					@media (min-width: $screen-md-min) {
						padding-bottom: 7px;
					}
					p {
						margin: 0px 0px -2px;
						line-height: 18px;
						font-size: 14px;
						@media (min-width: $screen-md-min) {
							font-size: 18px;
							line-height: 24px;
						}
					}
				}
			}
		
			.item {
				background: white;    
				text-align: center;
		
			}
			.carousel {
				margin-top: 30px;
			}
		
			.carousel-control.left, .carousel-control.right {
				background-repeat: no-repeat;
				background-position: 0px center; 
				opacity: 1;
			}
		
			.carousel-control.right {
				background-image: url(../images/carousel/right-nav.png);
				background-position: right;
				margin-right: 15px;
				
			}
		
			.carousel-control.right:active,
			.carousel-control.right:hover,
			.carousel-control.right:focus {
				background-image: url(../images/carousel/right-nav-hover.png);
				
			}
		
			.carousel-control.left {
				background-image: url(../images/carousel/left-nav.png);
				margin-left: 15px;
			}
		
			.carousel-control.left:active,
			.carousel-control.left:focus,
			.carousel-control.left:hover {
				background-image: url(../images/carousel/left-nav-hover.png);
				
			}
		
			.carousel-control {
				height: 50px;
			}	
		}
	

//}

@media (min-width: $screen-md-min) {	
	#myCarousel {
		display: none;
	}
}

.disclaimer-policy {
	padding-top: 17px;
	padding-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
	@media (min-width: $screen-md-min) {
		padding: 35px 0;
		width: 100%;
		max-width: none;
		margin-left: 0;
	}
	
	p {
		font-size: 12px;
		margin-bottom: 11px;
		line-height: 14px;
		@media (min-width: $screen-md-min) {
			font-size: 14px;
			margin-bottom: 0;
			line-height: 19px;
		}
		a{
			color: #f68a1d;
			text-decoration: underline;
		}
		a:hover {
			color: #9fb1b2;			
		}
	}
}

.stick {
	bottom: 0px;
	position: fixed;
	z-index: 1030;
	left: 0px;
	right: 0px;
}

#flux {
	overflow: auto;
	background-color: #f1f3f5;
}