// Our Blog Widget


//.fwd-savie-wrapper{
	.blog-widget.container-fluid {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 8px;
		position: relative;
		
		@media (min-width: $screen-md) {
			padding-bottom: 43px;
			padding-right: 15px;
		}
	}
	.blog-widget {
		.read-blog-mobile {
			background: #ff8200;
			padding: 8px 0;
			position: absolute;
			width: 100%;
			a{
				font-size: 24px;
				font-family: 'Calibri-Bold';
				color: #fff;
			}
			
		}
		.read-blog-desktop {
			.row {
				@media (min-width: $screen-md) {
					padding: 0 0 27px;
				}
			}
			
			img {
				padding: 0;
				border-top: 5px solid #f6871f;
				width: 100%;
			}
			
			h2 {
				color: #ff8200;
				padding-bottom: 44px;
				margin-top: 30px;
				
				@media (min-width: $screen-md) {
					margin-top: 20px;
					padding-bottom: 56px;
				}
			}
			
			h3 {
				color: #f6871f;
				padding-left: 2px;
			}
			
			.fwd-col {
				max-width: 384px;
				margin: 0 auto;
				float: none;
				
				@media (min-width: $screen-md) {
					margin: 0;
					max-width: none;
					float: left;
				}
			}
			
			span.glyphicon-play {
				font-size: 13px;
			}
			
			p {
				font-size: 14px;
				line-height: 23px;
				color: #020202;
				
			}
		}
	
		/* Sticky Buy Now button */
		#sticker {
			background: #ff8200;
			padding: 10px 0;
			a{
				font-size: 24px;
				font-family: 'Calibri-Bold';
				color: #fff;
			}
		}
	
		.stick {
			position:fixed;
			bottom:0px;
		}
	
		.not-stick {
			position: absolute;
			width: 100%;
		}
	}
//}