/*
 * Landing Page
 */

$bg-mobile: url('../../assets/images/mini-mobile.png') 0 center;


//.fwd-savie-wrapper{
	.banner-widget .breadcrumbs .breadcrumbs-landing {
		position: absolute;
		margin-top: 9px;
		
		a {
			color: #fff;
		}
	}
	
	#landing-calculator {	
		img.img-responsive {
			width: 100%;
		}
	
		.mini-mobile {
			background: $bg-mobile;
			background-size: cover;
			height: 250px;
		}
	}
	
	#landing-three-column {
		padding-top: 0;
		
		@media(min-width: $screen-md-min) {
			padding-top: 63px;
		}
		
		
	}
	
	#landing-page-blog {
		padding-top: 0;
	
		@media(min-width: $screen-md-min) {
			padding-top: 40px;
		}
	
		img:hover {
			opacity: .8;
			@include transition_fwd(opacity .25s ease-in);
		}
	}
//}