// Product Info Widget


//.fwd-savie-wrapper{
	#product-highlights-desktop {
		display: none;
	}
	
	#motto {
		
		font-size: 36px;
		font-family: 'foco_bold';
		color: rgb(246,135,31);	
		background: white;
		padding: 18px 26px;
		@media (min-width: $screen-md-min) {
			padding: 20px 26px 35px 26px;
		}
	
	
		h2 {
			margin: 10px 0;
	
			@media (min-width: $screen-md-min) {
	
				padding: 0px 26%;
				font-family: 'Calibri-Bold';
				font-size: 36px;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
	
	#picture {
		padding: 0;	
	
		#basketball-desktop {
			display: none;
		}
	
		#basketball-mobile {
			width: 100%;
		}
	
		img {
			margin: 0 auto;
		}
	
		@media (min-width: $screen-md-min) {
	
			margin: 0 auto;
			padding: 0 15px;
	
			#basketball-desktop {
				display: block;
			}
	
			#basketball-mobile {
				display: none;
			}
	
			img {
	
				margin: 0;
				float: left;
				margin-right: 37px;
			}
		}
	}
	
	#message {
		padding: 0 30px;
	
		@media (min-width: $screen-md-min) {
			padding: 0 30px 0 15px;
		}
		
		h2 {
			font-size: 30px;
			font-family: 'foco_bold';
			color: black;
			margin-top: 35px;
			line-height: 1.19999997;
			text-align: left;
	
			@media (min-width: $screen-md-min) {
				margin-top: -6px;
				font-family: 'Calibri';
				font-weight:bold;
				padding: 0 8%;
			}
		}
	
		#letter {
			width: 70px;
			background-color: rgb(246,139,31);
			font-family: 'foco_bold';
			font-size: 41.4px;
			color: white;
			padding: 6px 0;
			margin-top: 10px;
			float: left;
			margin-right: 10px;
	
			@media (min-width: $screen-md-min) {
				font-family: 'Calibri';
				font-size: 30px;
				width: 50px;
				padding: 4px 0;
				margin-top: 2px;
			}
	
			
		}
	
		p {
			font-family: 'foco_regular';
			font-size: 18px;
			margin-top: 19px;
			text-align: left;
			line-height: 23px;
			color: black;
	
			@media (min-width: $screen-md-min) {
				font-family: 'Calibri';
				font-size: 16px;
				margin-top: -4px;
			}
		}
	
	
	}
	
	#questions {
		@media (min-width: $screen-md-min) {
			text-align: left;
		}
	
		img {
			margin-top: -20px;
		}
	
		.right {		
			display: inline-block;
			font-family: 'Calibri';
			color: black;
			margin-top: 9px;
	
			h3 {
				font-size: 24px;	
				font-weight: bold;
				margin-left: 15px;
	
			}
	
			p {
				font-size: 18px;
				margin-top: -10px;
				margin-left: 18px;
	
				i {
					color: #f68b1f;
					margin-left: 3px;
					margin-top: 0;
					font-size: 13px;
				}
			}
		}
	
	}
	
	
	#product-highlights {
		padding: 0 30px 0 25px;
	
		@media (min-width: $screen-md-min) {
			display: none;
		}
	
		background: rgb(246,246,246);
		margin-top: 48px;
		padding-top: 13px;
		padding-bottom: 30px;
		h2 {
			font-size: 30px;
			font-family: 'Calibri';
			font-weight: bold;
			color: black;
			padding-bottom: 10px;
		}
	
		ul {		
			padding: 0px;
			margin: 0px;
			list-style-type: none;
			font-size: 18px;
			color: black;
	
			li {			
				background-image: url(../images/bullet.png);
				background-repeat: no-repeat;
				background-position: 0 7px; 
				padding-left: 18px;
				margin-top: 18px;
				
			}
		}
	}
	
	
	#get-covered {
		@media (min-width: $screen-md-min) {
			display: none;
		}
	
	
		h3 {
			font-size: 26.9px;
			font-family: 'Calibri';
			color: white;
			font-weight: bold;
			padding: 11px 0;
			background: rgb(246,138,29);
			width: 63%;
			text-align: center;
			margin: 0;
			float: left;
		}
	
		.right {
			width: 37%;
			float: right;
			display: inline;
			height: 50px;
	
			#fb, #twitter, #gplus {
				width: 33.33%;
				display: inline;
				padding-top: 13px;
				padding-bottom: 9px;
			}
	
			#fb {
				background-color: rgb(26,78,149);
			}
	
			#twitter {
				background-color: rgb(53,170,220);
				padding-left: 7%;
			}
	
			#gplus {
				background-color: rgb(204,50,75);
				padding-left: 10%;
			}
		}
	
	
	}
	
	@media (min-width: $screen-md-min) {
		#picture .picture-desktop {
			padding-right: 37px;
			width: 66.6%;
			float: left;
			
			img#basketball-desktop {
				float: none;
				width: 100%;
			}
		}
		
		#product-highlights-desktop.desktop-info {
			display: block;
			width: 100%;
			
			> div {
				float: left;
			}
			
			#left {
				width: 25%;
				padding-top: 50px;
				background: rgb(246,139,31);
				
				h2 {
					font-size: 36px;
					color: white;
					margin-left: 15%;
					margin-top: 5px;
					margin-bottom: 127px;
 
				}
	
				img {
	
					width: 100%;
					background: white;
				}
			}
			
			.right {
				width: 75%;
				background: #f6f6f6;
				
				> div {
					float: left;
				}
				
				.col-1 {
					width: 52.5%;
					
					ul {
						padding: 0px 13%;
						margin: 0px;
						list-style-type: none;
						font-size: 18px;
						color: black;
						padding-bottom: 50px;
						padding-top: 45px;
						li {
							
							background-image: url(../images/bullet.png);
							background-repeat: no-repeat;
							background-position: 0 10px; 
							padding-left: 22px;
							margin-top: 18px;
							padding-right: 7%;
							height: 100px;
							background-size: 9px;
						}
					}
				}
				
				.col-2 {
					width: 47.5%;
					
					#right-social {
						background: #fff;
						padding-top: 11px;
						padding-bottom: 10px;
						display: block;
						width: 100%;
						margin: 0;
						
						#fb, #twitter, #gplus {
							width: 50px;
							display: inline;
							color: white;
							margin-right: -4px;
	
							a {
								color: white;
							}
						}
	
						#fb {
	
							background-color: rgb(26,78,149);
							padding: 10px 19px 11px;
						}
	
						#twitter {
	
							background-color: rgb(53,170,220);
							padding: 10px 14px 11px;
						}
	
						#gplus {
	
							background-color: rgb(204,50,75);
							padding: 10px 14px 11px;
						}
					}
					
					#right-text {
						display: block;
						width: 100%;
						margin: 0;
						
						h3 {
							padding: 45px 22%;
							margin: 0;
							background: rgb(246,139,31);
							color: white;
							font-size: 30px;
						}
	
						ul {				
							padding: 0px 13%;
							margin: 0px;
							list-style-type: none;
							font-size: 18px;
							color: black;
							margin-top: 90px;
							li {							
								background-image: url(../images/bullet.png);
								background-repeat: no-repeat;
								background-position: 0 10px; 
								padding-left: 22px;
								margin-top: 18px;
								padding-right: 7%;
								height: 100px;
								background-size: 9px;
							}
						}
					}
				}
			}
		}
	}
//}