/*
* Teaser Confirmation Page
* by: RMN
*/

$orange: #ff8200;

//.fwd-savie-wrapper{
	.teaser-confirmation-block{
		border-top: 1px solid #bbb;
	}
	
	.teaser-confirmation{
		text-align: center;
		padding: 58px 30px;
		
		@media(min-width: $screen-md-min){
			padding: 53px 30px;
		}
		
		h2{
			margin: 0;
			font-size: 30px;
			color: $orange;
			
			span{
				&.next-line{
					display: block;
				}
			}
		}
		
		h4{
			margin: 0;
			font-family: 'Calibri';
			color: #061d2a;
			padding-top: 14px;
			padding-bottom: 38px;
			
			@media(min-width: $screen-md-min){
				padding-top: 19px;
			}
			
			p{
				margin: 0;
			}
			
			span{
				&.savie-bold{
					font-family: 'Calibri-Bold';
				}
			}
		}
		
		h3{
			margin: 0;
			color: #061d2a;
			padding-top: 17px;
			padding-bottom: 15px;
			line-height: 23px;
			
			@media(min-width: $screen-md-min){
				padding-top: 12px;
			}
			
			@media(min-width: $screen-md-min){
				text-align: left;
			}
			
			p{
				margin: 0;
			}
		}
		
		
		.clearfix {
			max-width: 337px;
			margin: 0 auto;
			@media(min-width: $screen-md-min){
				padding-left: 20%;
				padding-right: 20%;
				max-width: none;
				margin: 0;
			}
			
			.left-desktop{
				@media(min-width: $screen-md-min){
					float: left;
				}
				
				&.text{
					@media(min-width: $screen-md-min){
						width: 65%;
						padding-left: 24px;
					}
				}
			}
		}
		
		p{
			margin: 0;
			
			&.act-now{
				color: #061d2a;
				padding-bottom: 25px;
				line-height: 19px;
				
				@media(min-width: $screen-md-min){
					text-align: left;					
				}
			}
		}
		
		.btn-fwd-fb {
			height: 35px;
			width: 210px;
			background-color: #38569c;
			border: none;
			color: #fff;
			display: block;
			margin: 0 auto;
			padding: 5px 15px 5px 20px;
			@media(min-width: $screen-md-min){
				display: inline-block;
				width: 200px;
			}
		}
		
		.wa_btn {
			height: 35px;
			width: 210px;
			background: #4dc247;
			color: #fff;
			display: block !important;
			margin: 0 auto;
			margin-top: 10px;
			padding-top: 5px;
			position: relative;
			padding-left: 25px;
			@media(min-width: $screen-md-min){
				display: none !important;
			}
			
			.fa-whatsapp {
				font-size: 24px;
				position: absolute;
				left: 16px;
			}
			
			.whatsapp-icon {
				font-size: 24px;
				position: absolute;
				left: 16px;
				top: 6px;
			}
		}
		
		.fa.fa-facebook.fwd-fb{
			padding-right: 10px;
		}
		
		.fwd-div-btn{
			@media(min-width: $screen-md-min){
				text-align: left;
			}
		}
		
		.btn-white.btn-confirmation{
			width: 100%;
			margin-top: 44px;
			height: 60px;
			max-width: 500px;
			
			@media(min-width: $screen-md-min){
				width: 500px;
			}
		}
		
		.back-at-home-div{
			margin-top: 57px;
			height: 60px;
			border: solid 1px #ff8200;
			cursor: pointer;
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
		}
		
		a{
			&.back-at-home{
				font-family: 'Calibri-Bold';
				font-size: 24px;
				color: #ff8200;
				height: 60px;
				display: block;
				padding-top: 18px;

				&:hover,
				&:focus,
				&:active{
					color: #fff;
					background-color: #ff8200;
				}

			}
		}
	}
//}