$orange-color: #ff8200;

.tooltip {
	.tooltip-inner {
		background-color: $orange-color;
		padding: 8px 15px;
		text-align: left;
	}
	
	&.right .tooltip-arrow {
		border-right-color: $orange-color;
	}
	
	&.left .tooltip-arrow {
		border-left-color: $orange-color;
	}
	
	&.top .tooltip-arrow {
		border-top-color: $orange-color;
	}
	
	&.bottom .tooltip-arrow {
		border-bottom-color: $orange-color;
	}
}