/* line 1, ../sass/common_screen/_joinus.scss */
.container--regform {
  padding: 0;
}
/* line 4, ../sass/common_screen/_joinus.scss */
.container--regform .row {
  margin-right: auto;
}
/* line 7, ../sass/common_screen/_joinus.scss */
.container--regform .row.padding-15 {
  padding-left: 15px;
}
/* line 10, ../sass/common_screen/_joinus.scss */
.container--regform .row.padding-15 .radio-wrapper {
  margin: 20px 0;
  padding-left: 0;
}
/* line 14, ../sass/common_screen/_joinus.scss */
.container--regform .row.padding-15 .radio-wrapper .radio-choice {
  padding-left: 0;
  width: initial;
  margin-right: 5%;
}
/* line 18, ../sass/common_screen/_joinus.scss */
.container--regform .row.padding-15 .radio-wrapper .radio-choice input {
  margin-right: 15px;
}
/* line 25, ../sass/common_screen/_joinus.scss */
.container--regform .row .joinus_form_non_member {
  display: none;
}
/* line 30, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration {
  margin-left: -15px;
}
/* line 33, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item {
  width: 100%;
  padding-top: 0;
}
/* line 39, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item.is-focused .registration__label, .container--regform .row .regform__left .registration .registration__item.is-dirty .registration__label {
  color: #ff8200;
  top: -8px;
}
/* line 45, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .registration__input {
  background-color: #f1f3f5;
  height: 45px;
  padding: 25px 15px 15px;
  border-bottom: none;
}
/* line 51, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .registration__input:hover, .container--regform .row .regform__left .registration .registration__item .registration__input:focus {
  border-bottom: 2px solid #Ff8200;
}
/* line 57, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .registration__label {
  padding-top: 5px;
  padding-left: 15px;
  font-family: 'Calibri-Bold';
  top: 6px;
}
/* line 63, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .registration__label:after {
  background: none;
}
/* line 68, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip-icon {
  position: absolute;
  top: 6px;
  right: 8px;
  display: block;
  font-size: 28px;
  color: #f68b1f;
}
/* line 77, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip {
  background-color: transparent;
  color: #000;
  opacity: 1;
}
/* line 81, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip.bottom {
  width: 200px;
}
/* line 84, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip.bottom .tooltip-arrow {
  top: -4px;
  left: 89%;
  border-left: 0;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-bottom: 0;
}
/* line 93, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip.right {
  width: 100%;
}
/* line 96, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip.right .tooltip-arrow {
  left: 1px;
  border-left: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  border-right: 0;
  border-bottom: 0;
}
/* line 104, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip .tooltip-inner {
  width: inherit;
  max-width: none;
  max-width: 235px;
  background-color: #fbfbfb;
  margin-left: 5px;
  padding: 15px;
  color: #000;
  -webkit-box-shadow: 0px 0px 4px 0px #838b8f;
  -moz-box-shadow: 0px 0px 4px 0px #838b8f;
  box-shadow: 0px 0px 4px 0px #838b8f;
  font-weight: bold;
  font-size: 13px;
}
/* line 118, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip .tooltip-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  width: 15px;
  height: 15px;
  border-left: 1px solid #e1e1e1;
  background: #fbfbfb;
  border-top: 1px solid #e1e1e1;
  border-right: 0;
  border-bottom: 0;
  border-width: 1px !important;
}
/* line 135, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__right {
  padding-left: 50px;
}
/* line 138, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__right .fwd-acc {
  margin-top: 0;
}
/* line 141, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__right .icon_wrapper {
  margin-bottom: 20px;
}
/* line 143, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__right .icon_wrapper .icon_size {
  width: 60px;
}
/* line 149, ../sass/common_screen/_joinus.scss */
.container--regform .row .declaration-content {
  padding-left: 40px;
  margin: auto;
}
/* line 155, ../sass/common_screen/_joinus.scss */
.container--regform .row .declaration-content .checkbox label .move-left {
  margin-left: -30px;
}
/* line 162, ../sass/common_screen/_joinus.scss */
.container--regform .row .act {
  text-align: center;
  margin-bottom: 30px;
}
/* line 168, ../sass/common_screen/_joinus.scss */
.container--regform .row span .help-block {
  color: red;
}

/* line 176, ../sass/common_screen/_joinus.scss */
.dw-bubble.mbsc-mobiscroll .dwl {
  color: #333;
  font-size: 18px;
  text-transform: capitalize;
}
/* line 181, ../sass/common_screen/_joinus.scss */
.dw-bubble.mbsc-mobiscroll .dwb {
  color: #f99502;
}
/* line 184, ../sass/common_screen/_joinus.scss */
.dw-bubble.mbsc-mobiscroll .dwwol {
  border-top: 1px solid #f99502;
  border-bottom: 1px solid #f99502;
}

/* line 190, ../sass/common_screen/_joinus.scss */
.container--icons {
  display: none;
}

@media screen and (max-width: 991px) {
  /* line 1, ../sass/mobile/_joinus.scss */
  .container--regform {
    margin-left: 0;
    padding-left: 30px;
  }

  /* line 5, ../sass/mobile/_joinus.scss */
  .container--icons {
    display: block;
    margin-left: 0;
    padding-left: 45px;
  }
  /* line 9, ../sass/mobile/_joinus.scss */
  .container--icons .row {
    margin-right: auto;
  }
  /* line 11, ../sass/mobile/_joinus.scss */
  .container--icons .row ul {
    padding-left: 15px;
  }
}
@media screen and (min-width: 992px) {
  /* line 3, ../sass/desktop/_joinus.scss */
  .container--regform .row .regform__left {
    border-right: solid #f6871e 2px;
  }
}

/*# sourceMappingURL=joinus.css.map */
