/* line 1, ../sass/common_screen/_joinus.scss */
.container--regform {
  padding: 0;
}
@media screen and (max-width: 992px) {
  /* line 1, ../sass/common_screen/_joinus.scss */
  .container--regform {
    width: 100%;
  }
}
/* line 6, ../sass/common_screen/_joinus.scss */
.container--regform .row {
  margin-right: auto;
  margin-right: 30px;
}
@media screen and (min-width: 992px) {
  /* line 10, ../sass/common_screen/_joinus.scss */
  .container--regform .row .regform__left .registration {
    margin-right: 30px;
  }
}
/* line 14, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item {
  width: 100%;
  padding-top: 0;
}
/* line 20, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item.is-focused .registration__label, .container--regform .row .regform__left .registration .registration__item.is-dirty .registration__label {
  color: #ff8200;
  top: -8px;
}
/* line 26, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .registration__input {
  background-color: #f1f3f5;
  height: 45px;
  padding: 25px 15px 15px;
  border-bottom: none;
}
/* line 32, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .registration__input:hover, .container--regform .row .regform__left .registration .registration__item .registration__input:focus {
  border-bottom: 2px solid #Ff8200;
}
/* line 38, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .registration__label {
  padding-top: 5px;
  padding-left: 15px;
  font-family: 'Calibri-Bold';
  top: 6px;
}
/* line 44, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .registration__label:after {
  background: none;
}
/* line 49, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip-icon {
  position: absolute;
  top: 6px;
  right: 8px;
  display: block;
  font-size: 28px;
  color: #f68b1f;
}
/* line 58, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip {
  background-color: transparent;
  color: #000;
  opacity: 1;
}
/* line 62, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip.bottom {
  width: 200px;
}
/* line 65, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip.bottom .tooltip-arrow {
  top: -5px;
  left: 89%;
}
/* line 70, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip.right {
  width: 100%;
}
/* line 73, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip .tooltip-inner {
  width: inherit;
  max-width: none;
  max-width: 235px;
  background-color: #fbfbfb;
  margin-left: 5px;
  padding: 15px;
  color: #000;
  -webkit-box-shadow: 0px 0px 4px 0px #838b8f;
  -moz-box-shadow: 0px 0px 4px 0px #838b8f;
  box-shadow: 0px 0px 4px 0px #838b8f;
  font-weight: bold;
  font-size: 13px;
}
/* line 87, ../sass/common_screen/_joinus.scss */
.container--regform .row .regform__left .registration .registration__item .tooltip .tooltip-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  width: 15px;
  height: 15px;
  border-left: 1px solid #e1e1e1;
  background: #fbfbfb;
  border-top: 1px solid #e1e1e1;
  border-right: 0;
  border-bottom: 0;
  border-width: 1px !important;
}
/* line 106, ../sass/common_screen/_joinus.scss */
.container--regform .row .declaration-content {
  padding-left: 40px;
  margin: auto;
}
/* line 111, ../sass/common_screen/_joinus.scss */
.container--regform .row .act {
  text-align: center;
  margin-bottom: 30px;
}
/* line 117, ../sass/common_screen/_joinus.scss */
.container--regform .row .act .act__btn:hover {
  outline: none;
  box-shadow: none;
  background: #fff;
  color: #f6871e;
  border: 1px solid #f6871e;
  opacity: 1;
  font-size: 30px;
}

/* line 132, ../sass/common_screen/_joinus.scss */
.dw-bubble.mbsc-mobiscroll .dwl {
  color: #333;
  font-size: 18px;
  text-transform: capitalize;
}
/* line 137, ../sass/common_screen/_joinus.scss */
.dw-bubble.mbsc-mobiscroll .dwb {
  color: #f99502;
}
/* line 140, ../sass/common_screen/_joinus.scss */
.dw-bubble.mbsc-mobiscroll .dwwol {
  border-top: 1px solid #f99502;
  border-bottom: 1px solid #f99502;
}

/* line 146, ../sass/common_screen/_joinus.scss */
.radio-wrapper {
  margin: 20px 0;
  padding-left: 0;
}
/* line 149, ../sass/common_screen/_joinus.scss */
.radio-wrapper .radio-choice {
  padding-left: 0;
  width: initial;
}
/* line 152, ../sass/common_screen/_joinus.scss */
.radio-wrapper .radio-choice input {
  margin-right: 15px;
}

/* line 157, ../sass/common_screen/_joinus.scss */
.padding-15 {
  padding-left: 15px;
}

/* line 160, ../sass/common_screen/_joinus.scss */
.joinus_form_non_member {
  display: none;
}

@media screen and (max-width: 991px) {
  /* line 1, ../sass/mobile/_joinus.scss */
  .container--regform {
    margin-left: 0;
    padding-left: 30px;
  }
}
@media screen and (min-width: 992px) {
  /* line 3, ../sass/desktop/_joinus.scss */
  .container--regform .row .regform__left {
    border-right: solid #f6871e 2px;
  }
}

/*# sourceMappingURL=joinus.css.map */
