@font-face {
  font-family: 'Calibri';
  src: url("../font/CircularPro-Book.otf");
  src: url("../font/CircularPro-Book.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Calibri-Bold';
  src: url("../font/CircularPro-Bold.otf");
  src: url("../font/CircularPro-Bold.ttf");
  font-weight: normal;
  font-style: normal; }
.get-quote-form .q1 {
  position: relative;
  z-index: 4; }
.get-quote-form .q2 {
  position: relative;
  z-index: 3; }
.get-quote-form .q3 {
  position: relative;
  z-index: 2; }
.get-quote-form .q4 {
  position: relative;
  z-index: 1; }
.get-quote-form .q5 {
  position: relative;
  z-index: 0; }
.get-quote-form .q2:hover {
  z-index: 5; }
.get-quote-form input[type="number"]::-webkit-outer-spin-button, .get-quote-form input[type="number"]::-webkit-inner-spin-button {
  display: none; }
.get-quote-form .form-group {
  padding-bottom: 30px; }
.get-quote-form a {
  text-decoration: underline; }
.get-quote-form .btn {
  text-decoration: none; }
.get-quote-form .form-control {
  display: inline;
  margin-bottom: 15px;
  background: #fff;
  border: none;
  color: #f68a1d;
  height: auto;
  font-size: inherit;
  box-shadow: none !important;
  text-align-last: center;
  line-height: 1; }
.get-quote-form [type="checkbox"] {
  float: none !important;
  display: none;
  visibility: hidden; }
.get-quote-form select.init {
  color: #ccc !important; }
.get-quote-form option {
  color: #f68a1d !important; }
.get-quote-form .checkbox {
  padding-left: 25px; }
  .get-quote-form .checkbox img {
    max-height: 12px; }
.get-quote-form .custom-checkbox {
  padding-bottom: 15px; }
.get-quote-form.get-quote-form .get-quote-field .form-control {
  vertical-align: bottom;
  width: auto;
  border-bottom: solid 1px #ccc;
  text-align: center;
  padding: 0 15px;
  margin: 0 15px; }
.get-quote-form [data-toggle="tooltip"] {
  border: none;
  background: #fff !important;
  color: #9fb1b2;
  padding: 0;
  font-size: 1.2em; }
  .get-quote-form [data-toggle="tooltip"] :hover {
    color: #f68a1d; }
.get-quote-form .tooltip {
  opacity: 1;
  filter: alpha(opacity=100);
  background: transparent;
  margin: 0 !important; }
  .get-quote-form .tooltip > .tooltip-arrow {
    border-top-color: #f68a1d !important; }
  .get-quote-form .tooltip > .tooltip-inner {
    background: #f68a1d !important; }
.get-quote-form .selectize-control {
  display: inline-block;
  min-width: 250px;
  padding: 0 !important;
  margin: 0 !important;
  vertical-align: middle !important; }
  .get-quote-form .selectize-control .selectize-input {
    border: none;
    box-shadow: none;
    padding: 0;
    min-height: 0; }
    .get-quote-form .selectize-control .selectize-input:after {
      border-color: #f68a1d transparent transparent transparent !important; }
.get-quote-form .selectize-dropdown {
  top: 24px !important;
  padding: 0 !important;
  margin: 0 !important;
  border: solid 1px #ccc;
  border-radius: 0;
  border-top: 0;
  z-index: 99;
  background: #fff; }
.get-quote-form .help-block-wrap {
  position: relative;
  display: inline-block; }
.get-quote-form .help-block {
  position: absolute; }
  .get-quote-form .help-block li {
    line-height: 1.2; }
.get-quote-form button[type="submit"].disabled {
  background: #f68a1d;
  border-color: #f68a1d; }

#contactpopup {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline-color: transparent; }
  #contactpopup .thumbnail img {
    width: 90px; }
  #contactpopup .heading-h3 {
    margin-top: 30px; }
  #contactpopup p {
    color: #061d2a; }
  #contactpopup .plan-panel > div {
    padding-bottom: 0;
    margin-bottom: 0; }
  #contactpopup .ref-number {
    margin-top: 0; }
  #contactpopup .close {
    margin-right: 15px;
    line-height: 1.5;
    font-size: 150%; }
  #contactpopup #perferedDate {
    background: #f1f3f5; }
  #contactpopup #submitContactus {
    max-width: 150px; }

.contact-form {
  padding-top: 30px; }
  .contact-form .custom-checkbox {
    padding-left: 40px; }
  .contact-form .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: #ccc; }
  .contact-form .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #ff8200;
    font-size: 12px !important;
    top: 1px !important; }
  .contact-form .help-block-wrap {
    position: relative; }
  .contact-form .help-block {
    position: absolute; }
    .contact-form .help-block li {
      line-height: 1.2; }

.datepicker.dropdown-menu {
  z-index: 1151 !important; }

#content-datepicker:hover {
  cursor: default; }

/* login page || login.jsp */
#contactform-pop .col-sm-12.col-md-6.left, #contactform-pop .col-sm-12.col-md-12.left {
  padding-right: 100px; }

#contactform-pop a#forgotUserName, #contactform-pop a#link-forgotPassword {
  text-decoration: none;
  font-style: normal; }

#contactform-pop .mdl-textfield {
  width: 100% !important;
  padding: 0 !important;
  margin-bottom: 10px !important; }

#contactform-pop .form-control.gray-textbox {
  font-size: 18px;
  font-family: 'Calibri';
  color: #000;
  margin-top: 6px;
  background-color: #f1f3f5 !important;
  box-shadow: inset 0 1px 1px transparent;
  padding: 12px 15px 0 15px;
  border-radius: 0;
  border: 0 transparent; }

#contactform-pop .mdl-textfield__label {
  padding-top: 5px;
  font-size: 14px;
  left: 0;
  top: 10px;
  padding-left: 15px;
  font-family: 'Calibri-Bold'; }

#contactform-pop .mdl-textfield.is-focused label, #loginform-pop .mdl-textfield.is-dirty label {
  color: #ff8200;
  font-size: 12px;
  top: 1px; }

#contactform-pop .mdl-textfield.is-not-active label {
  color: #ff8200; }

#contactform-pop .mdl-textfield input:hover, #loginform-pop .mdl-textfield input:focus,
#contactform-pop .mdl-textfield textarea:hover, #loginform-pop .mdl-textfield textarea:focus {
  border-bottom: 2px solid #Ff8200; }

#contactform-pop .mdl-textfield__input:focus {
  transition: all 0.1s;
  background-color: #ffffff; }

#contactform-pop .mdl-textfield__input:focus, #loginform-pop .mdl-textfield__input:hover {
  outline: none;
  outline-offset: 0;
  -webkit-appearance: none;
  box-shadow: inset 0 1px 1px transparent; }

#contactform-pop .mdl-textfield label:after {
  background-color: transparent; }

#contactform-pop textarea.form-control.gray-textbox {
  height: 135px; }

#contactform-pop .next-btn {
  padding: 20px 0 40px 0;
  text-align: center; }

#contactform-pop .apply-btn {
  background: #ffa500;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 37px;
  border-radius: 4px !important;
  border-bottom: 3px solid #c56501; }

#contactform-pop #applyPartner {
  padding: 5px 90px;
  font-size: 24px;
  margin-left: -52px; }

.plan-panel {
  color: #fff;
  padding: 0; }
  .plan-panel .thumbnail {
    padding: 0;
    padding-right: 10px;
    border: none;
    background: transparent;
    margin-bottom: 0; }
  .plan-panel > div {
    margin: 15px;
    padding: 30px; }
  .plan-panel .row:first-of-type > div:first-of-type {
    padding-right: 0; }
  .plan-panel h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    color: #fff;
    padding-bottom: 15px; }
  .plan-panel .currency, .plan-panel .price {
    color: #fff; }
  .plan-panel .currency, .plan-panel small {
    font-size: small; }
  .plan-panel .currency {
    margin-bottom: 5px; }
  .plan-panel .price > small {
    margin-right: 5px; }
  .plan-panel big {
    font-size: xx-large;
    font-weight: 600; }

.plan-accordion {
  padding-bottom: 40px !important; }
  .plan-accordion .panel-default {
    background: transparent;
    border-top: none !important; }
  .plan-accordion .panel-heading {
    border-bottom: solid 2px #1f4146;
    background: transparent; }
  .plan-accordion .panel-title a {
    color: #1f4146;
    text-decoration: none;
    font-size: x-large;
    text-align: center;
    display: block;
    font-weight: 600; }
    .plan-accordion .panel-title a:after {
      font-family: FontAwesome;
      content: "\f107";
      float: right; }
  .plan-accordion .table {
    width: 100%; }
    .plan-accordion .table th, .plan-accordion .table td {
      border: solid 2px;
      border-left-width: 8px;
      padding: 15px 10px;
      vertical-align: middle; }
    .plan-accordion .table th {
      border-left-width: 8px;
      border-color: #f5f5f5; }
    .plan-accordion .table tr:nth-of-type(odd) td {
      border-color: #fff;
      background: #fff; }
    .plan-accordion .table tr:nth-of-type(even) td {
      border-color: #f5f5f5; }
    .plan-accordion .table td {
      border: none !important; }
    .plan-accordion .table tr.hidden-xs > td {
      background-color: #f5f5f5 !important; }
  .plan-accordion .panel-collapse, .plan-accordion .panel-body {
    background: transparent !important; }
  .plan-accordion .table-striped > tbody > tr:nth-child(odd) > td, .plan-accordion .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fff; }
  .plan-accordion .table tr > th:first-of-type {
    border: none !important; }

.table-responsive {
  border: none; }

.motor-landing {
  overflow: hidden; }
  .motor-landing .bottom a {
    color: #fff !important; }
  .motor-landing #testimonials {
    padding: 20px 0; }
  .motor-landing .table {
    width: 100%; }
    .motor-landing .table th, .motor-landing .table td {
      border: solid 2px;
      border-left-width: 8px;
      padding: 15px 10px;
      vertical-align: middle; }
    .motor-landing .table th {
      border-left-width: 8px;
      border-color: #f5f5f5; }
    .motor-landing .table tr:nth-of-type(odd) td {
      border-color: #fff;
      background: #fff; }
    .motor-landing .table tr:nth-of-type(even) td {
      border-color: #f5f5f5; }
  .motor-landing #compare-table-2 > div {
    padding: 0; }
  .motor-landing #compare-table-2 th, .motor-landing #compare-table-2 td {
    height: 82px; }
  .motor-landing .light-green-color {
    color: #fff;
    border-color: #97d0ce; }
  .motor-landing .yellow-color {
    color: #fff;
    border-color: #fbbf15; }
  .motor-landing .btn.yellow-color:hover {
    background: #fff !important;
    color: #fbbf15 !important; }
  .motor-landing .btn.yellow-color:active {
    background: #fff;
    color: #fbbf15; }
  .motor-landing .btn.yellow-color:visited {
    background: #fbbf15;
    color: #fff; }
  .motor-landing .btn.light-green-color:hover {
    background: #fff !important;
    color: #97d0ce !important; }
  .motor-landing .btn.light-green-color:active {
    background: #fff;
    color: #97d0ce; }
  .motor-landing .btn.light-green-color:visited {
    background: #97d0ce;
    color: #fff; }
  .motor-landing .light-green-border {
    border-bottom-color: #97d0ce !important; }
  .motor-landing .yellow-border {
    border-bottom-color: #fbbf15 !important; }
  .motor-landing .orange-border {
    border-bottom-color: #f68a1d !important; }
  .motor-landing .button-group > div {
    padding: 0 5px; }
  .motor-landing .container {
    padding-top: 40px;
    padding-bottom: 0px; }
    .motor-landing .container:first-of-type {
      padding: 0px; }
    .motor-landing .container:last-of-type {
      padding-bottom: 40px; }
  .motor-landing #compare {
    padding: 0; }
    .motor-landing #compare a {
      text-decoration: underline; }
    .motor-landing #compare .panel-body {
      padding-bottom: 0; }
  .motor-landing #compare-table {
    margin: 0; }
  .motor-landing .panel-default > .panel-heading, .motor-landing .panel {
    background-color: transparent; }
  .motor-landing .whole-banner {
    position: relative; }
    .motor-landing .whole-banner img {
      width: 100%; }
    .motor-landing .whole-banner .container {
      position: absolute;
      bottom: 0; }
      .motor-landing .whole-banner .container h1 {
        color: #fff; }
    .motor-landing .whole-banner .container.up {
      bottom: 80px; }
    .motor-landing .whole-banner .container.down {
      bottom: 0;
      width: 100% !important;
      left: 0;
      margin: 0 !important;
      padding: 0;
      background: rgba(0, 0, 0, 0.5); }
      .motor-landing .whole-banner .container.down h3 {
        color: #f68b1f;
        padding-right: 15px;
        vertical-align: middle; }
      .motor-landing .whole-banner .container.down .btn {
        margin: 15px 5px;
        width: 169px;
        white-space: pre-wrap;
        height: 58px;
        display: inline-flex;
        justify-content: center;
        flex-direction: column; }
  .motor-landing .download-section {
    padding: 30px 0; }
  .motor-landing .download-section a {
    padding: 15px; }
  .motor-landing .thumbnail {
    padding: 0;
    border: none;
    background: transparent;
    margin: 0 auto;
    max-width: 90px; }
  .motor-landing .featured .title {
    font-size: 22px;
    font-weight: 900;
    font-family: 'Calibri-Bold', Arial, sans-serif; }
  .motor-landing .featured > .row > div {
    margin-bottom: 30px; }
    .motor-landing .featured > .row > div > .row {
      border: solid 1px #ccc; }
  .motor-landing .featured.no-border > .row > div > .row {
    border: none; }
  .motor-landing .middle-carousel img {
    object-fit: cover;
    object-position: top;
    height: 100%; }
  .motor-landing .middle-carousel .carousel-right {
    background: #022c2f; }
  .motor-landing .middle-carousel .carousel-left {
    padding-right: 0; }
  .motor-landing .middle-carousel .content {
    padding: 30px 20px 40px;
    color: #fff; }
  .motor-landing .middle-carousel h3 {
    padding: 10px 0 30px;
    color: #fff; }
  .motor-landing .read-more-blog > div {
    padding-left: 5px;
    padding-right: 5px; }
    .motor-landing .read-more-blog > div :first-of-type {
      padding-left: 0; }
    .motor-landing .read-more-blog > div :last-of-type {
      padding-right: 0; }
  .motor-landing .bottom {
    background: #222; }
    .motor-landing .bottom h3 {
      color: #f68a1d; }
  .motor-landing .bdr-curve {
    padding: 5px 20px !important;
    min-width: 150px;
    max-width: 250px;
    border-radius: 3px !important; }

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #f68a1d;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.hovereffect:hover .overlay {
  opacity: 0.7;
  filter: alpha(opacity=70); }

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.hovereffect h2 {
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px; }

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  padding: 8px 30px !important;
  background-color: transparent; }

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff; }

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff; }

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.yourQuote hr {
  border-top: 1px solid #333; }
.yourQuote a[href="#yourQuote"] > h3:after {
  font-family: FontAwesome;
  content: "\f0d7";
  font-size: 20px;
  float: right;
  margin-right: 20px; }
.yourQuote .title {
  color: #fff;
  padding-right: 30px; }
.yourQuote .from {
  padding-right: 15px; }
.yourQuote #yourQuote {
  padding: 30px 0; }

.quick-quote #testimonials {
  padding: 0 15px;
  background: #f6871e; }
.quick-quote #testimonials > .row {
  background: #f6871e; }
.quick-quote .landing_h2 {
  color: #f6871e;
  line-height: 1.5; }
.quick-quote .center .landing_h2 {
  font-size: 20px !important;
  margin-bottom: 10px !important; }
.quick-quote .silver {
  border-bottom: solid 4px #12afbf !important; }
.quick-quote .gold {
  border-bottom: solid 4px #fbbf15 !important; }
.quick-quote h4 {
  color: #1f4146;
  font-weight: 600;
  margin: 15px 0 15px; }
.quick-quote form.add-on .checkbox [type="checkbox"] {
  display: none;
  visibility: hidden; }
.quick-quote form.add-on .checkbox label::before {
  font-family: FontAwesome;
  content: "\f111";
  border: none;
  background: transparent;
  font-size: 4.2em;
  color: #ccc; }
.quick-quote form.add-on .checkbox label::after {
  font-family: FontAwesome;
  content: "\f00c";
  border: none;
  background: transparent;
  font-size: 3em;
  color: #fff; }
.quick-quote form.add-on .checkbox input[type="checkbox"]:checked + label::before {
  color: #f6871e; }
.quick-quote .motor-select-plan .price {
  margin-top: 15px;
  margin-bottom: 30px; }
.quick-quote .motor-select-plan .collapse-addon {
  cursor: default; }
.quick-quote .ready-panel {
  padding: 0 !important; }
.quick-quote .ready-content {
  padding-left: 0; }
.quick-quote .ready-content h3 {
  color: #061d2a;
  font-size: 1.2em;
  padding-top: 0.5em; }
.quick-quote .ready-container {
  padding-top: 40px; }
.quick-quote .addOn-content {
  height: 145px; }

@media screen and (min-width: 1200px) {
  .quick-quote .ready-content h3 {
    padding-top: 1em; }
  .quick-quote .addOn-content {
    height: 145px; } }
@media screen and (min-width: 992px) {
  #landing-carousel .carousel-control.left {
    background: #909393 !important;
    opacity: 1 !important;
    filter: alpha(opacity=0.5 times 100) !important; }

  #landing-carousel .carousel-control.right {
    background: #484c48 !important;
    opacity: 1 !important;
    filter: alpha(opacity=0.5 times 100) !important; }

  .motor-landing .whole-banner .container {
    width: 970px;
    left: 50%;
    margin-left: -485px; }

  .motor-landing #featured > .row > div > .row {
    height: 500px; }

  body.chin .motor-landing #featured > .row > div > .row {
    height: 400px; }

  .plan-panel-content {
    height: 145px; }

  body.chin .plan-panel-content {
    height: 96px; }

  .plan-panel:first-of-type > div {
    margin-right: 0; } }
@media screen and (max-width: 991px) {
  #contactform-pop .col-sm-12.col-md-6.left {
    padding-right: 0; }

  #contactform-pop #applyPartner {
    margin-left: 0; }

  .contact-us-wrap {
    padding-left: 15px;
    padding-right: 15px; }

  .motor-landing .featured {
    margin-top: 30px; }
  .motor-landing .center .motor-ttl {
    margin-bottom: 30px !important; }
  .motor-landing .motor-landing .featured.no-border > .row > div > .row {
    padding-top: 0; }

  #hero h1 {
    font-size: 30px;
    margin-bottom: 0; }
  #hero h3 {
    font-size: 22px; }
  #hero .bdr-curve {
    min-width: 0;
    width: 147px;
    padding: 0 15px !important; }

  #landing-carousel .carousel-control {
    color: #333 !important; }
    #landing-carousel .carousel-control.right, #landing-carousel .carousel-control.left {
      background: transparent !important; }

  .motor-landing #featured > .row > div > .row {
    height: 620px; }

  body.chin .motor-landing #featured > .row > div > .row {
    height: 520px; }

  .plan-panel-content {
    height: 226px; }

  body.chin .plan-panel-content {
    height: 136px; }

  .plan-panel:first-of-type > div {
    margin-right: 0; }

  .quick-quote .ready-content h3 {
    padding-top: 0; }
  .quick-quote .addOn-content {
    height: 200px; }
  .quick-quote .motor-select-plan .collapse-addon {
    min-height: 103px; }

  body.chin .quick-quote .motor-select-plan .collapse-addon {
    min-height: 63px; }
  body.chin .quick-quote .addOn-content {
    height: 140px; } }
@media (max-width: 767px) {
  .promo-active-page .right-side-content #promo-offers-tab-contents .tab-content .referral-program-container #promo-input-holder #toBeCopied.promo-code-input {
    height: auto; } }
@media (max-width: 767px) {
  .plan-panel .row:first-of-type > div:first-of-type {
    padding-left: 0; }
  .plan-panel .thumbnail {
    padding-right: 0; }
  .plan-panel:first-of-type > div {
    margin-right: 15px; }

  .plan-panel-content {
    height: auto !important; }

  body.chin .plan-panel-content {
    height: auto !important; } }
@media (min-width: 768px) {
  .plan-accordion .table tr > td:first-of-type {
    padding-left: 30px; } }
@media (max-width: 767px) {
  .plan-accordion .table-responsive > .table > thead > tr > th, .plan-accordion .table-responsive > .table > thead > tr > td, .plan-accordion .table-responsive > .table > tbody > tr > th, .plan-accordion .table-responsive > .table > tbody > tr > td, .plan-accordion .table-responsive > .table > tfoot > tr > th, .plan-accordion .table-responsive > .table > tfoot > tr > td {
    white-space: initial;
    min-width: 200px; }
  .plan-accordion .table tr > td:first-of-type {
    padding: 0 10px; } }
@media (min-width: 768px) {
  .motor-landing .whole-banner .container.down h3 {
    display: inline-block; }
  .motor-landing .whole-banner .container {
    width: 750px;
    left: 50%;
    margin-left: -375px; }
  .motor-landing .thumbnail {
    width: 50%;
    margin: 15px auto; }
  .motor-landing .featured {
    text-align: center; }
    .motor-landing .featured > .row > div > .row {
      padding: 20px 0;
      margin: 0px; }
    .motor-landing .featured.no-border > .row > div > .row .content {
      padding: 0 30px; }
  .motor-landing .middle-carousel {
    padding-left: 15px;
    padding-right: 30px; }
    .motor-landing .middle-carousel .carousel-right, .motor-landing .middle-carousel .carousel-left {
      height: 540px; } }
@media (min-width: 1200px) {
  .motor-landing .whole-banner .container {
    width: 1170px;
    left: 50%;
    margin-left: -585px; } }
@media (max-width: 767px) {
  .motor-landing .hovereffect .overlay {
    opacity: 0.7;
    filter: alpha(opacity=70); }
    .motor-landing .hovereffect .overlay h2 {
      opacity: 1;
      filter: alpha(opacity=100);
      font-size: 1em !important;
      margin-top: 80px;
      transform: none; }
  .motor-landing .whole-banner .container.up {
    bottom: 140px;
    padding-left: 15px;
    max-width: 75%; }
  .motor-landing .whole-banner .container.up h1 {
    line-height: 1; }
  .motor-landing .whole-banner .container.down h3 {
    margin-bottom: 0;
    margin-top: 15px; }
  .motor-landing .whole-banner .page-banner {
    height: 384px;
    overflow: hidden; }
  .motor-landing .whole-banner .page-banner img {
    height: 100%;
    max-width: none;
    width: auto;
    left: 50%;
    margin-left: -381px;
    position: absolute; }
  .motor-landing .featured > .row > div > .row {
    padding: 15px 0;
    margin: 0px;
    height: auto !important; }
    .motor-landing .featured > .row > div > .row > div:first-of-type {
      margin-bottom: 30px; }
    .motor-landing .featured > .row > div > .row .title {
      padding-bottom: 15px; }
  .motor-landing .middle-carousel {
    padding-top: 30px; }
    .motor-landing .middle-carousel .carousel-left {
      padding-left: 0; }
    .motor-landing .middle-carousel .carousel-right {
      text-align: center; }
  .motor-landing .button-group .btn {
    width: 150px;
    white-space: pre-wrap;
    height: 58px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column; }
  .motor-landing .download-section > .content {
    padding-left: 15px;
    padding-right: 15px; }
  .motor-landing #compare .panel-body {
    padding: 0; }
  .motor-landing #compare-table-2 {
    font-size: 14px; }
    .motor-landing #compare-table-2 th {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px; }
    .motor-landing #compare-table-2 #compare-table tr {
      display: flex; }
    .motor-landing #compare-table-2 #compare-table td, .motor-landing #compare-table-2 #compare-table th {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; }
    .motor-landing #compare-table-2 #compare-table th, .motor-landing #compare-table-2 #compare-table td {
      padding-right: 25px; }
    .motor-landing #compare-table-2 #compare-table td {
      border-left-width: 0 !important; }
    .motor-landing #compare-table-2 #compare-table th {
      border: none; }
      .motor-landing #compare-table-2 #compare-table th .row {
        white-space: initial;
        margin: 0; }
      .motor-landing #compare-table-2 #compare-table th .row > div {
        padding: 0; } }
@media (max-width: 767px) {
  .motor-form-wrap.quick-quote {
    margin-top: 70px; }

  .yourQuote {
    display: table-header-group;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 50px;
    width: 100%; }
    .yourQuote #yourQuote {
      background: #f5f5f5;
      overflow: hidden; }
      .yourQuote #yourQuote .row {
        padding: 0 40px; }
        .yourQuote #yourQuote .row > div {
          padding: 0;
          font-size: smaller; } }
@media screen and (min-width: 768px) {
  .quick-quote .motor-select-plan .collapse {
    height: auto !important;
    display: block !important; } }
@media screen and (max-width: 767px) {
  .quick-quote .yourQuote .collapse-addon.orange-color {
    background: #032c30;
    color: #f68a1d; }
    .quick-quote .yourQuote .collapse-addon.orange-color .title {
      color: #f68a1d; }
    .quick-quote .yourQuote .collapse-addon.orange-color h3 {
      color: #f68a1d; }
  .quick-quote .motor-form-wrap {
    display: table;
    width: 100%; }
  .quick-quote .motor-select-plan {
    display: table-footer-group; }
  .quick-quote .select-plan-main {
    background: #f5f5f5; }
  .quick-quote .motor-select-plan .collapse-addon:after {
    font-family: FontAwesome;
    color: #f6871e;
    content: "\f0d7";
    font-size: 1.5em;
    right: 0.1em;
    top: 0;
    position: absolute; }
  .quick-quote .select-plan-main {
    background: #f6871e; }
  .quick-quote .ready-content h3 {
    font-size: 20px;
    padding-left: 15px; }
  .quick-quote .addOn-content {
    height: auto !important; } }
@media (max-width: 767px) {
  .breadcrumbs.motor.pad-0 {
    padding-left: 30px;
    padding-right: 30px; } }
h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Calibri-Bold', Arial, sans-serif !important;
  font-weight: 900; }

h3 {
  font-size: 24px; }

p {
  font-size: 16px; }

/*color guild*/
.blue-color {
  background: #12afbf; }

.red-color {
  background: #f85100; }

.orange-color {
  background: #f68a1d; }
  .orange-color, .orange-color h3 {
    color: #fff; }

.yellow-color {
  background: #fbbf15; }

.dark-green-color {
  background: #1f4146; }

.light-green-color {
  background: #97d0ce;
  color: #061d2a; }

.white-color {
  background: #fff; }
  .white-color, .white-color a {
    color: #061d2a; }
  .white-color h3, .white-color .price {
    color: #f68a1d; }

.bdr-curve {
  padding: 5px 2px !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  max-width: 250px; }

.center .motor-ttl {
  font-size: 20px !important;
  margin: 20px auto !important;
  margin-bottom: 0 !important;
  width: 100% !important;
  font-weight: bold !important; }

.underline {
  text-decoration: underline !important; }

/*# sourceMappingURL=motor-styles.css.map */
