/* line 1, ../sass/provie-landing-style.scss */
body {
  font-size: 16px;
  font-family: Calibri, Arial, sans-serif !important;
}

/* line 7, ../sass/provie-landing-style.scss */
body.chin, .chin .fwd-savie-wrapper h1, .fwd-savie-wrapper h2, .fwd-savie-wrapper h3, .fwd-savie-wrapper h4, .fwd-savie-wrapper h5 {
  font-family: "Microsoft JhengHei", Calibri, Arial, sans-serif !important;
}

/* line 10, ../sass/provie-landing-style.scss */
ul, menu, dir {
  -webkit-padding-start: 0;
}

/* line 14, ../sass/provie-landing-style.scss */
ul li {
  list-style: none;
}

/* line 18, ../sass/provie-landing-style.scss */
a:hover, a:focus {
  color: #fff;
}

/* line 34, ../sass/provie-landing-style.scss */
.pv_productInfo, .pv_plan, .pv_sec_calculator, .pv_sec_features, .pv_sec_extra, .pv_sec_action, .pv_compareTable, .pv_experience, .pv_fna, .pv_share {
  padding: 26px 0;
  text-align: center;
}

/* line 39, ../sass/provie-landing-style.scss */
.errorMsg {
  color: red;
}

/* line 43, ../sass/provie-landing-style.scss */
.nopadding {
  padding-left: 0;
  padding-right: 0;
}

/* line 48, ../sass/provie-landing-style.scss */
.img-responsive.center {
  margin: 0 auto;
}

/* line 52, ../sass/provie-landing-style.scss */
.txtNoWrap {
  white-space: nowrap;
}

/* line 57, ../sass/provie-landing-style.scss */
.pv_title {
  color: #333333;
  font-weight: bold;
  font-size: 2.25em;
  line-height: 1.278em;
  margin-top: 0.278em;
  margin-bottom: 0.278em;
  text-align: center;
}

/* line 66, ../sass/provie-landing-style.scss */
.pv_sub_heading {
  font-weight: bold;
  font-size: 1.125em;
  padding-bottom: 0.625em;
}

/* line 71, ../sass/provie-landing-style.scss */
.pv_remark {
  color: #999999;
}

/* line 74, ../sass/provie-landing-style.scss */
.pv_btn {
  background-color: #fbb631;
  border-radius: 5px;
  border: #fbb631 solid 1px;
  border-bottom: #ce9528 solid 2px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.167em;
  line-height: 2.381em;
  min-width: 200px;
  text-align: center;
}
/* line 85, ../sass/provie-landing-style.scss */
.pv_btn:hover {
  background-color: #ffffff;
  border: #fbb631 solid 1px;
  border-bottom: #fbb631 solid 2px;
  color: #fbb631;
}

/* line 93, ../sass/provie-landing-style.scss */
button.dropdown-toggle {
  box-shadow: none !important;
  background: transparent;
  border: none;
  border-bottom: solid 1px #999999;
  color: #c0c1c7;
}
/* line 99, ../sass/provie-landing-style.scss */
button.dropdown-toggle.isSelected {
  color: #333333;
}
/* line 102, ../sass/provie-landing-style.scss */
button.dropdown-toggle:after {
  content: " ";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* line 117, ../sass/provie-landing-style.scss */
.pv_overlay_text_wrap {
  bottom: 40%;
  color: white;
  left: 0;
  position: absolute;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 2;
}
/* line 126, ../sass/provie-landing-style.scss */
.pv_overlay_text_wrap .pv_title {
  color: white;
  font-size: 1.389em;
}

/* line 132, ../sass/provie-landing-style.scss */
.pv_productInfo {
  background-color: #041d29;
  color: #ffffff;
}
/* line 136, ../sass/provie-landing-style.scss */
.pv_productInfo .pv_desc {
  max-width: 500px;
  margin: 0 auto;
}
/* line 140, ../sass/provie-landing-style.scss */
.pv_productInfo .pv_highlight {
  color: #f59331;
  font-size: 1.250em;
  font-weight: bold;
  line-height: 1.667em;
}
/* line 146, ../sass/provie-landing-style.scss */
.pv_productInfo .pv_link {
  display: inline-block;
  margin: 0.938em 0;
  text-decoration: underline;
}
/* line 151, ../sass/provie-landing-style.scss */
.pv_productInfo .pv_product_table {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
/* line 156, ../sass/provie-landing-style.scss */
.pv_productInfo .pv_product_table td, .pv_productInfo .pv_product_table th {
  border: 1px solid #dddddd;
  line-height: 1em;
  padding: 1em 0;
}
/* line 161, ../sass/provie-landing-style.scss */
.pv_productInfo .pv_product_table .pv_table_head {
  color: #ff8200;
  font-weight: bold;
  text-align: center;
  width: 30%;
}
/* line 167, ../sass/provie-landing-style.scss */
.pv_productInfo .pv_product_table td {
  width: 14%;
}

/* line 173, ../sass/provie-landing-style.scss */
.pv_plan {
  background: url(../../images/provie/landing-bg-desktop.jpg) 50% 50%;
  background-size: cover;
  color: #ffffff;
  display: none;
}
/* line 179, ../sass/provie-landing-style.scss */
.pv_plan .pv_title {
  color: #ffffff;
}
/* line 182, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap {
  max-width: 510px;
  margin: 0 auto;
  width: 100%;
}
/* line 186, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .pv_hint {
  position: absolute;
  left: -28%;
  width: 150px;
}
/* line 190, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .pv_hint.hint1 {
  background-color: #fbb631;
  border-radius: 4px;
  color: #000000;
  font-size: 0.75em;
  line-height: 1em;
  padding: 5px;
  text-align: right;
  top: 30px;
}
/* line 200, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .pv_hint.hint2 {
  top: 71px;
}
/* line 204, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap #slider {
  border: none;
  background-color: #f8882d;
  height: 6px;
  margin: 0 auto;
  width: 90%;
}
/* line 210, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap #slider .noUi-origin.noUi-background .grayBox {
  background-color: #666666;
  height: 100%;
  position: absolute;
  right: 0;
  width: 33.3333%;
  top: 0;
  z-index: 1;
}
/* line 219, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap #slider .noUi-handle {
  border-radius: 20px;
  height: 20px;
  left: -10px;
  width: 20px;
  z-index: 2;
}
/* line 225, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap #slider .noUi-handle:before, .pv_plan .pv_plan_wrap #slider .noUi-handle:after {
  display: none;
}
/* line 229, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap #slider .noUi-background {
  background-color: #cccccc;
}
/* line 233, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .scale {
  height: 34px;
  margin: 10px 0;
  position: relative;
}
/* line 237, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .scale.scaleBottom {
  margin-top: 21px;
}
/* line 239, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .scale.scaleBottom .floatNum {
  vertical-align: bottom;
}
/* line 241, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .scale.scaleBottom .floatNum:after {
  top: -14px;
}
/* line 247, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .floatNum {
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, 0%);
}
/* line 251, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .floatNum:after {
  background-color: #cccccc;
  content: "";
  display: inline-block;
  height: 11px;
  left: 50%;
  position: absolute;
  width: 2px;
  top: 25px;
}
/* line 261, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .floatNum.num1 {
  left: 4.8%;
}
/* line 262, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .floatNum.num2 {
  left: 22.8%;
}
/* line 263, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .floatNum.num3 {
  left: 40.8%;
}
/* line 264, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .floatNum.num4 {
  left: 58.8%;
}
/* line 265, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .floatNum.num5 {
  left: 76.8%;
}
/* line 266, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .floatNum.num6 {
  left: 94.8%;
}
/* line 268, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .yearWarp {
  font-weight: bold;
  margin: -20px auto 12px auto;
  width: 90%;
  text-align: left;
}
/* line 273, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .yearWarp .year {
  background: url(../../images/provie/provie_landing_slider_line.png) 50% 50% no-repeat;
  background-size: contain;
  display: inline-block;
  padding: 0 20%;
  width: 80%;
}
/* line 281, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .money {
  border-left: 2px solid #666666;
  border-right: 2px solid #666666;
  font-weight: bold;
  margin: 0 auto;
  width: 90%;
}
/* line 287, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .money .left, .pv_plan .pv_plan_wrap .money .right {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
}
/* line 292, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .money.isOneOff .right {
  border-left: none;
}
/* line 295, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .money .right {
  border-left: 2px solid #666666;
}
/* line 299, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .accValue {
  background-color: #f8882d;
  border-radius: 2px;
  margin: 1em auto;
  padding: 1.25em 0;
  width: 90%;
}
/* line 305, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .accValue .img-responsive {
  display: inline-block;
  vertical-align: top;
}
/* line 309, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .accValue .txt {
  display: inline-block;
  text-align: left;
}
/* line 312, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .accValue .txt .amount {
  font-size: 2em;
  font-weight: bold;
}
/* line 317, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .accValue .txt4age100 {
  display: none;
}
/* line 321, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .accValue.typeAge .txt4year {
  display: none;
}
/* line 324, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .accValue.typeAge .txt4age100 {
  display: block;
}
/* line 329, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
/* line 333, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra .pv_title_extra {
  color: #fa7d18;
  font-size: 1.313em;
  font-weight: bold;
}
/* line 337, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra .pv_title_extra .imgPlus {
  display: inline-block;
  vertical-align: top;
}
/* line 342, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra .line {
  max-width: 66%;
}
/* line 345, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra .card {
  background-color: #ffffff;
  display: inline-block;
  padding: 1em 0;
  vertical-align: top;
  width: 32%;
}
/* line 351, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra .card .name {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0;
}
/* line 356, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra .card .price {
  font-size: 1.5em;
  margin-top: 1em;
}
/* line 360, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra .card.card1 {
  color: #fbb616;
}
/* line 362, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra .card.card1 .name {
  color: #fbb616;
}
/* line 364, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra .card.card2 {
  color: #12a6b7;
}
/* line 366, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra .card.card2 .name {
  color: #12a6b7;
}
/* line 368, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra .card.card3 {
  color: #f5531a;
}
/* line 370, ../sass/provie-landing-style.scss */
.pv_plan .pv_plan_wrap .extra .card.card3 .name {
  color: #f5531a;
}

/* line 380, ../sass/provie-landing-style.scss */
.pv_sec_calculator .pv_statement {
  font-size: 1.5em;
  line-height: 2.250em;
  margin: 0.625em auto;
  max-width: 500px;
}
/* line 385, ../sass/provie-landing-style.scss */
.pv_sec_calculator .pv_statement .btn-group {
  line-height: 1.188em;
}
/* line 387, ../sass/provie-landing-style.scss */
.pv_sec_calculator .pv_statement .btn-group .dropdown-menu li {
  text-align: center;
}
/* line 391, ../sass/provie-landing-style.scss */
.pv_sec_calculator .pv_statement .input_amount, .pv_sec_calculator .pv_statement .input_age {
  border: none;
  border-bottom: solid 1px #999999;
  width: 4.167em;
  text-align: center;
  padding: 0;
}
/* line 397, ../sass/provie-landing-style.scss */
.pv_sec_calculator .pv_statement .input_amount::-webkit-input-placeholder, .pv_sec_calculator .pv_statement .input_age::-webkit-input-placeholder {
  font-size: 1em !important;
}

/* line 406, ../sass/provie-landing-style.scss */
.pv_sec_features .pv_feature_box {
  padding-bottom: 1.111em;
}
/* line 408, ../sass/provie-landing-style.scss */
.pv_sec_features .pv_feature_box .pv_feature_title {
  color: #333333;
  font-size: 1.313em;
  font-weight: bold;
  margin-top: 0.474em;
  margin-bottom: 0.474em;
}
/* line 415, ../sass/provie-landing-style.scss */
.pv_sec_features .pv_feature_box .pv_feature_desc {
  color: #666666;
  font-size: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
/* line 420, ../sass/provie-landing-style.scss */
.pv_sec_features .pv_feature_box .pv_feature_desc .pv_remark {
  display: block;
  font-size: 0.875em;
}

/* line 428, ../sass/provie-landing-style.scss */
.pv_sec_extra {
  background-color: #f3f3f3;
  /* entire container, keeps perspective */
  /* flip the pane when hovered */
  /* flip speed goes here */
}
/* line 431, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_title sup {
  font-size: 8px;
  vertical-align: top;
}
/* line 432, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_title.header sup {
  top: 0.5em;
}
/* line 436, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_card {
  transition: 0.6s;
}
/* line 440, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_card .front, .pv_sec_extra .pv_extra_card .back {
  height: 325px;
  margin: 0 auto;
  width: 325px;
}
/* line 445, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_card .front {
  background-color: white;
  padding: 20px 0;
}
/* line 448, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_card .front .pv_extra_icon {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 456, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_card .front .pv_title {
  font-size: 1.167em;
}
/* line 460, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_card .back {
  color: #ffffff;
  padding: 0.833em;
}
/* line 463, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_card .back .pv_extra_desc {
  font-size: 1.125em;
}
/* line 466, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_card .back .pv_link {
  color: #fff;
  text-decoration: underline;
}
/* line 469, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_card .back .pv_link:hover {
  color: #ff8200;
}
/* line 475, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_mobile .pv_extra_point {
  display: table;
  margin: 0.883em 0;
}
/* line 478, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_mobile .pv_extra_point .pv_extra_point_icon, .pv_sec_extra .pv_extra_mobile .pv_extra_point .pv_extra_point_desc {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
/* line 483, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_mobile .pv_extra_point .pv_title {
  font-size: 1.75em;
}
/* line 487, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_remark {
  margin-top: 20px;
}
/* line 489, ../sass/provie-landing-style.scss */
.pv_sec_extra .pv_extra_remark ul li {
  list-style: none;
  text-align: left;
}
/* line 495, ../sass/provie-landing-style.scss */
.pv_sec_extra .flip-container {
  perspective: 1000;
  -webkit-perspective: 1000;
}
/* line 500, ../sass/provie-landing-style.scss */
.pv_sec_extra .flip-container:hover .flipper, .pv_sec_extra .flip-container.hover .flipper {
  transform: rotateY(180deg);
}
/* line 504, ../sass/provie-landing-style.scss */
.pv_sec_extra .flip-container, .pv_sec_extra .front, .pv_sec_extra .back {
  width: 325px;
  height: 325px;
}
/* line 510, ../sass/provie-landing-style.scss */
.pv_sec_extra .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  /* hide back of pane during swap */
  /* front pane, placed above back */
  /* back, initially hidden pane */
}
/* line 516, ../sass/provie-landing-style.scss */
.pv_sec_extra .flipper .front, .pv_sec_extra .flipper .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 526, ../sass/provie-landing-style.scss */
.pv_sec_extra .flipper .front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
/* line 533, ../sass/provie-landing-style.scss */
.pv_sec_extra .flipper .back {
  transform: rotateY(180deg);
}

/* line 538, ../sass/provie-landing-style.scss */
.pv_extra_card.card1 .back {
  background-color: #fbb616;
}

/* line 541, ../sass/provie-landing-style.scss */
.pv_extra_card.card2 .back {
  background-color: #12a6b7;
}

/* line 544, ../sass/provie-landing-style.scss */
.pv_extra_card.card3 .back {
  background-color: #f5531a;
}

/* line 548, ../sass/provie-landing-style.scss */
.pv_sec_action {
  background: url(../../images/provie/provie_landing_s5_bg.jpg) 50% 50%;
  background-size: cover;
  font-size: 24px;
  padding-bottom: 50px;
}
/* line 554, ../sass/provie-landing-style.scss */
.pv_sec_action .pv_title {
  color: #ffffff;
}
/* line 557, ../sass/provie-landing-style.scss */
.pv_sec_action .pv_btn {
  font-size: 14px;
  line-height: 22px;
  margin-top: 8px;
  padding: 4.5px 0 5.5px;
}

/* line 565, ../sass/provie-landing-style.scss */
.pv_compareTable {
  background-color: #f3f3f3;
  padding-bottom: 90px;
}
/* line 569, ../sass/provie-landing-style.scss */
.pv_compareTable .carousel-indicators {
  bottom: -50px;
}
/* line 570, ../sass/provie-landing-style.scss */
.pv_compareTable .carousel-control {
  z-index: 999;
  background-image: none;
  top: 45px;
  width: 60px;
  bottom: initial;
}
/* line 577, ../sass/provie-landing-style.scss */
.pv_compareTable .mobile table td {
  width: 35%;
}
/* line 580, ../sass/provie-landing-style.scss */
.pv_compareTable .mobile table td:nth-child(1) {
  width: 30%;
}
/* line 583, ../sass/provie-landing-style.scss */
.pv_compareTable table {
  border-collapse: separate;
  font-weight: bold;
  font-size: 0.875em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
/* line 590, ../sass/provie-landing-style.scss */
.pv_compareTable table tr {
  height: 3.214em;
}
/* line 592, ../sass/provie-landing-style.scss */
.pv_compareTable table tr:nth-child(even) {
  background: #ffffff;
}
/* line 593, ../sass/provie-landing-style.scss */
.pv_compareTable table tr:nth-child(odd) {
  background: #f3f3f3;
}
/* line 594, ../sass/provie-landing-style.scss */
.pv_compareTable table tr:last-child .inner {
  border-bottom: 1px solid #cecece;
}
/* line 597, ../sass/provie-landing-style.scss */
.pv_compareTable table tr td:nth-child(1) {
  text-align: left;
}
/* line 600, ../sass/provie-landing-style.scss */
.pv_compareTable table tr td {
  border-left: 1px solid #cecece;
}
/* line 602, ../sass/provie-landing-style.scss */
.pv_compareTable table tr td:nth-child(1) {
  width: 33%;
}
/* line 605, ../sass/provie-landing-style.scss */
.pv_compareTable table tr td:last-child {
  border-right: 1px solid #cecece;
}
/* line 608, ../sass/provie-landing-style.scss */
.pv_compareTable table tr td .hideborderLeft {
  border-left: none;
}
/* line 613, ../sass/provie-landing-style.scss */
.pv_compareTable table th .inner, .pv_compareTable table td .inner {
  display: block;
  font-weight: bold;
}
/* line 617, ../sass/provie-landing-style.scss */
.pv_compareTable table th {
  padding: 0;
}
/* line 619, ../sass/provie-landing-style.scss */
.pv_compareTable table th .inner {
  color: #ffffff;
  background-color: #f8882d;
  display: block;
  font-size: 1.5em;
  line-height: 2.50em;
  margin-top: 30px;
  text-align: center;
}
/* line 627, ../sass/provie-landing-style.scss */
.pv_compareTable table th .inner.highlight {
  font-size: 2em;
  line-height: 82px;
  margin-top: 0;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}
/* line 636, ../sass/provie-landing-style.scss */
.pv_compareTable table td {
  padding: 0;
  width: 16.6%;
}
/* line 639, ../sass/provie-landing-style.scss */
.pv_compareTable table td.highlight {
  background-color: rgba(254, 242, 232, 0.7);
}
/* line 642, ../sass/provie-landing-style.scss */
.pv_compareTable table td.sep {
  background-color: #333333;
  color: #ffffff;
}
/* line 646, ../sass/provie-landing-style.scss */
.pv_compareTable table td .inner {
  line-height: 1.5em;
  text-align: center;
}
/* line 652, ../sass/provie-landing-style.scss */
.pv_compareTable table td .inner .sub_title {
  display: block;
  font-size: 1.25em;
  padding: 10px 0;
}
/* line 657, ../sass/provie-landing-style.scss */
.pv_compareTable table td .inner .remark {
  color: #999999;
  display: block;
  font-size: 0.786em;
}

/* line 670, ../sass/provie-landing-style.scss */
.pv_experience .pv_experience_card .inner {
  background-color: #f0f0f0;
  margin: 0 10px;
  padding: 1.667em;
}
/* line 675, ../sass/provie-landing-style.scss */
.pv_experience .pv_experience_card .name, .pv_experience .pv_experience_card .title {
  font-weight: bold;
}
/* line 678, ../sass/provie-landing-style.scss */
.pv_experience .pv_experience_card .name {
  font-size: 1.375em;
  margin-top: 1em;
}
/* line 682, ../sass/provie-landing-style.scss */
.pv_experience .pv_experience_card .title {
  font-size: 0.938em;
  padding: 1em 0;
}
/* line 686, ../sass/provie-landing-style.scss */
.pv_experience .pv_experience_card .comment {
  border-top: 1px solid black;
  padding-top: 1.5em;
}
/* line 691, ../sass/provie-landing-style.scss */
.pv_experience .pv_experience_wrap {
  overflow: hidden;
  padding-bottom: 70px;
}
/* line 694, ../sass/provie-landing-style.scss */
.pv_experience .pv_experience_wrap .carousel-indicators {
  bottom: -60px;
}
/* line 696, ../sass/provie-landing-style.scss */
.pv_experience .pv_experience_wrap .carousel-indicators li {
  background-color: #f0f0f0;
  height: 15px;
  transition: all 0.8s;
  width: 15px;
}
/* line 701, ../sass/provie-landing-style.scss */
.pv_experience .pv_experience_wrap .carousel-indicators li.active {
  background-color: black;
}

/* line 709, ../sass/provie-landing-style.scss */
.pv_fna {
  background-color: #fbb631;
}
/* line 712, ../sass/provie-landing-style.scss */
.pv_fna .pv_title {
  color: #ffffff;
}
/* line 714, ../sass/provie-landing-style.scss */
.pv_fna .pv_title + .pv_desc {
  color: #ffffff;
}
/* line 718, ../sass/provie-landing-style.scss */
.pv_fna .pv_desc {
  color: #333333;
}
/* line 721, ../sass/provie-landing-style.scss */
.pv_fna .pv_btn {
  background-color: #f8882d;
}
/* line 724, ../sass/provie-landing-style.scss */
.pv_fna .mdl-textfield {
  width: 100%;
}
/* line 727, ../sass/provie-landing-style.scss */
.pv_fna .pv_fna_input {
  font-size: 14px;
  margin-top: 1.389em;
  margin-bottom: 1.389em;
}
/* line 731, ../sass/provie-landing-style.scss */
.pv_fna .pv_fna_input .mdl-textfield {
  background-color: #fff;
  padding: 10px 0;
  padding: 12px 15px 0 15px;
}
/* line 736, ../sass/provie-landing-style.scss */
.pv_fna .pv_fna_input .form-control {
  height: 25px;
  padding: 0;
}
/* line 741, ../sass/provie-landing-style.scss */
.pv_fna .pv_fna_input .mdl-textfield__label {
  margin-bottom: 0;
  padding: 0px 15px 12px 15px;
  top: 9px;
}
/* line 746, ../sass/provie-landing-style.scss */
.pv_fna .pv_fna_input .is-focused .mdl-textfield__label {
  color: #ff8200;
  top: 0px;
}
/* line 750, ../sass/provie-landing-style.scss */
.pv_fna .pv_fna_input .is-dirty .mdl-textfield__label {
  color: #ff8200;
  top: 0;
}
/* line 754, ../sass/provie-landing-style.scss */
.pv_fna .pv_fna_input .mdl-textfield__label:after {
  bottom: 0;
  background-color: #ff8200;
}
/* line 759, ../sass/provie-landing-style.scss */
.pv_fna .link {
  font-size: 0.943em;
  padding: 0.556em 0;
}
/* line 763, ../sass/provie-landing-style.scss */
.pv_fna .pv_fna_reg {
  margin: 0.725em 0;
}

/* line 768, ../sass/provie-landing-style.scss */
.pv_share {
  background-color: #f8882d;
}
/* line 771, ../sass/provie-landing-style.scss */
.pv_share .pv_title {
  color: #ffffff;
}
/* line 773, ../sass/provie-landing-style.scss */
.pv_share .pv_title + .pv_desc {
  color: #ffffff;
  font-size: 1.167em;
  margin-bottom: 1.389em;
}

@media (max-width: 450px) {
  /* line 782, ../sass/provie-landing-style.scss */
  .pv_plan .pv_plan_wrap .extra {
    width: 100%;
  }
  /* line 784, ../sass/provie-landing-style.scss */
  .pv_plan .pv_plan_wrap .extra .card .name {
    font-size: 11px;
  }
  /* line 787, ../sass/provie-landing-style.scss */
  .pv_plan .pv_plan_wrap .extra .card .price {
    font-size: 16px;
  }
}
@media (min-width: 544px) {
  /* line 794, ../sass/provie-landing-style.scss */
  .pv_productInfo .pv_product_table .pv_table_head {
    padding-right: 1em;
    padding-left: 1em;
  }

  /* line 798, ../sass/provie-landing-style.scss */
  .pv_compareTable table {
    padding: 0 15px;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  /* line 803, ../sass/provie-landing-style.scss */
  .pv_overlay_text_wrap .pv_title {
    font-size: 45px;
  }
  /* line 806, ../sass/provie-landing-style.scss */
  .pv_overlay_text_wrap .pv_desc {
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 812, ../sass/provie-landing-style.scss */
  .chin .savie-regular-landing .page-banner .img-banner-text.savie-landing {
    bottom: 10px;
  }
}
@media (min-width: 1024px) {
  /* line 818, ../sass/provie-landing-style.scss */
  .pv_overlay_text_wrap .pv_title {
    font-size: 80px;
    margin-bottom: 0;
  }
  /* line 822, ../sass/provie-landing-style.scss */
  .pv_overlay_text_wrap .pv_desc {
    font-size: 25px;
  }

  /* line 827, ../sass/provie-landing-style.scss */
  .pv_compareTable table td .inner {
    padding: 10px 10px 10px 24px;
  }

  /* line 830, ../sass/provie-landing-style.scss */
  .pv_compareTable table td:nth-child(1) .inner {
    padding-left: 50px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  /* line 836, ../sass/provie-landing-style.scss */
  .pv_sec_action .pv_btn {
    font-size: 18px;
  }

  /* line 839, ../sass/provie-landing-style.scss */
  .pv_productInfo .pv_product_table .pv_table_head {
    text-align: right;
  }
}
@media (min-width: 992px) {
  /* line 844, ../sass/provie-landing-style.scss */
  .pv_sec_action .pv_btn {
    font-size: 24px;
    padding: 12.5px 0;
    margin-top: 0;
  }
}
/* line 853, ../sass/provie-landing-style.scss */
.savie-regular-landing .page-banner .img-banner-text {
  width: 100%;
  left: 0;
  text-align: center;
  padding-left: 0;
}

/* line 859, ../sass/provie-landing-style.scss */
.carousel-inner {
  overflow: hidden;
}

/* line 861, ../sass/provie-landing-style.scss */
.fwd-savie-wrapper h2 {
  font-size: 2.25em;
}

/* line 864, ../sass/provie-landing-style.scss */
.savie-regular-landing .page-banner .img-banner-text .start-btn {
  max-width: 230px;
}

/* line 867, ../sass/provie-landing-style.scss */
#clearfix-height-rp {
  height: initial;
}

/* line 873, ../sass/provie-landing-style.scss */
.form-group.has-success, .form-group.has-error {
  color: #333333;
}

/* #3753 bug fix */
/* line 881, ../sass/provie-landing-style.scss */
.savie-regular-landing .page-banner .img-banner-text .start-btn {
  max-width: 230px;
}

/* line 885, ../sass/provie-landing-style.scss */
.pv_mobile_middle_buttons {
  background-color: #041d29;
  padding: 26px 0;
  text-align: center;
}
/* line 890, ../sass/provie-landing-style.scss */
.pv_mobile_middle_buttons .img-banner-text .start-btn {
  background: #fdb714;
  border-color: #cf9611;
  font-size: 14px;
  max-width: 230px;
  padding: 4.5px 0 5.5px;
  margin-top: 8px;
}
/* line 898, ../sass/provie-landing-style.scss */
.pv_mobile_middle_buttons .img-banner-text .savie-product a {
  font-size: 14px;
}
/* line 902, ../sass/provie-landing-style.scss */
.pv_mobile_middle_buttons a {
  color: #ffffff;
}
/* line 905, ../sass/provie-landing-style.scss */
.pv_mobile_middle_buttons .savie-product.text-bold {
  color: #ffffff;
}
/* line 907, ../sass/provie-landing-style.scss */
.pv_mobile_middle_buttons .savie-product.text-bold a {
  margin-top: 8px;
  color: #ffffff;
}
/* line 910, ../sass/provie-landing-style.scss */
.pv_mobile_middle_buttons .savie-product.text-bold a:hover {
  color: #f68a1d;
}

@media (max-width: 400px) {
  /* line 898, ../sass/provie-landing-style.scss */
  /* line 919, ../sass/provie-landing-style.scss */
  .pv_mobile_middle_buttons {
    background-color: #041d29;
    padding: 26px 0;
    text-align: center;
  }
  /* line 924, ../sass/provie-landing-style.scss */
  .pv_mobile_middle_buttons .img-banner-text .start-btn {
    background: #fdb714;
    border-color: #cf9611;
    font-size: 14px;
    max-width: 230px;
    padding: 4.5px 0 5.5px;
    margin-top: 8px;
  }
  /* line 932, ../sass/provie-landing-style.scss */
  .pv_mobile_middle_buttons .img-banner-text .savie-product a {
    font-size: 14px;
  }
  /* line 936, ../sass/provie-landing-style.scss */
  .pv_mobile_middle_buttons a {
    color: #ffffff;
  }
  /* line 939, ../sass/provie-landing-style.scss */
  .pv_mobile_middle_buttons .savie-product.text-bold {
    font-size: 12px;
    color: #ffffff;
  }
  /* line 942, ../sass/provie-landing-style.scss */
  .pv_mobile_middle_buttons .savie-product.text-bold a {
    margin-top: 8px;
    color: #ffffff;
  }
  /* line 945, ../sass/provie-landing-style.scss */
  .pv_mobile_middle_buttons .savie-product.text-bold a:hover {
    color: #f68a1d;
  }
}
/* ./#3753 bug fix */
@media (max-width: 767px) {
  /* line 957, ../sass/provie-landing-style.scss */
  .pv_offer_title .mobile-br {
    display: block;
    height: 10px;
  }
}

/*# sourceMappingURL=provie-landing-style.css.map */
