#eservices-page {
	.side-menu {
		@media (min-width: $screen-md) {
			border-top: 1px solid #d4d5d4 !important;
		    border-left: 1px solid #d4d5d4 !important;
		    border-bottom: 1px solid #d4d5d4 !important;
		    border-right: 0 !important;
		} 
		.nav {
			li {
				a {
					.side-menu-icon {
						width: 26px !important;
						background: url("../images/savie-2016/side-menu-icons-2.png") no-repeat !important;
						&#insurance-plan {
							background-position: -39px 0 !important;
						}
						&#promo-offers {
							background-position: -75px 0 !important;
						}
					}
				}
				&.active {
					a {
						background: #ff8200 !important;
					}	
				}
				&:nth-child(2) {
					border-bottom: 1px solid #d4d5d4;
    				border-top: 1px solid #d4d5d4;
				}
			}	
		}  
	}
	.right-side-content {
		padding: 20px 30px !important;
		@media (min-width: $screen-md) {
			border: 1px solid #d4d5d4;
			margin-bottom: 25px;
		}	
		#member-details {
			font-size: 14px;
			margin-bottom: 16px;
			.member-data-holder {
				padding-bottom: 8px;
				.member-data-label {
					font-family: 'Calibri-Bold';
				}
			}	
		}
		#complete-statement {
			font-size: 14px;
			a {
				font-family: 'Calibri-Bold';
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.heading-title {
			margin-top: 0;
		}
	}
}