/** Payment page **/
#payment-page {
	.payment-content-wrapper {
		padding: 26px 30px 25px 30px;
		
		.panel-title {
			color: #ff8200;
			font-size: 18px;
			font-weight: bold;
		}
		
		.radio-button-group {
			margin-bottom: 10px;
			
			@media only screen and (min-width: $screen-md) {
				margin-bottom: 25px;
				
				.cstm-md-col {
					width: 17%;
					float: left;
				}
			}
		}
		
		.info-wrapper,
		.select-wrapper {
			background-color: #f5f5f5;
			margin-bottom: 10px;
			
			.bank-info-label {
				display: none;
			}
			
			@media only screen and (min-width: $screen-md) {
				.bank-info-label {
					display: block;
					font-size: 11px;
					font-weight: bold;
				}
			}
		}
		
		.col-xs-12 {
			.info-wrapper:first-child {
				margin-top: 9px;
				
				@media only screen and (min-width: $screen-md) {
					margin-top: 0;
				}
			}
		}
		
		.info-wrapper {
			padding: 1px 15px 4px 15px;
			
			.info-label {
				font-size: 11px;
				font-weight: bold;
			}
			
			.info-value {
				font-size: 14px;
				margin-top: -8px;
			}
			
			.form-control {
				height: 37px;
				color: #adaead;
				font-size: 14px;
				border: none;
				padding-left: 0;
				padding-right: 0;
			}
			
			@media only screen and (min-width: $screen-md) {				
				.form-control {
					padding-top: 0;
					padding-bottom: 0;
					height: 22px;
					line-height: 14px;
					margin-top: -8px;
				}
			}
		}
		
		.select-wrapper {
			position: relative;
			
			span {
				&.form-control { display: none; }
				&.icon-chevron-thin-down {
					&.orange-caret {
						height: 35px;
						position: absolute;
						font-size: 11px;
						font-weight: bold;
						color: #ff8200;
						padding-top: 16px;
						right: 0;
						padding-right: 17px;
						background-color: #f1f3f5;
						cursor: pointer;
						bottom: 10px;
						top: 0;
						z-index: 1;
					}
				}
			}
			
			.bank-info-label {
				padding-left: 15px;
				padding-right: 15px;
			}
			
			select {
				cursor: pointer;
				color: #adaead;
				font-size: 14px;				
				padding: 0 11px;
				height: 40px;
				
				&:focus {
					border-color: transparent;
				}
			}
			
			@media only screen and (min-width: $screen-md) {
				padding-bottom: 5px;
				
				select {
					height: 22px;
					margin-top: -8px;
				}
			}
		}
		
		.payment-policy-wrapper {
			display: table;
			margin-top: 7px;
			margin-bottom: 16px;
			
			input[type=checkbox] { display: none; }
			
			input[type=checkbox]:checked + label:after {
				opacity: 1;
			}
			
			label {
				cursor: pointer;
				position: relative;
				width: 15px;
				height: 15px;
				background: #fff;
				border: 1px solid #ff8200;
				
				&:after {
					opacity: -0.8;
					content: '';
					position: absolute;
					width: 9px;
					height: 5px;
					background: transparent;
					top: 3px;
					left: 2px;
					border: 2px solid #ff8200;
					border-top: none;
					border-right: none;
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
				
				&:hover::after {
					opacity: 0.5;
				}
			}
			
			.policy-text {
				display: table-cell;
				vertical-align: top;
				font-size: 14px;
				color: #3c4b54;
				line-height: 18px;				
				padding-left: 10px;
				padding-top: 1px;
			}
			
			@media only screen and (min-width: $screen-md) {
				margin-bottom: 35px;
				margin-top: 4px;
				
				.policy-text { padding-top: 1px; }
			}
		}
		
		.btn-payment {
			background-color: #ff8200;
			border-bottom: 3px solid #c56501;
			border-radius: 5px;
			color: #fff;
			font-size: 18px;
			font-weight: bold;
			padding: 5px 60px;
			margin-bottom: 5px;
			
			&:hover,
			&:focus {
				opacity: 0.9;
				color: #ffffff;
			}
			
			@media only screen and (min-width: $screen-md) {
				padding: 9px 105px;
			}
		}
		
		.save-link {
			font-size: 14px;
			color: #ff8c26;
			width: 140px;
			
			&:hover { text-decoration: underline; }
		}
		
		@media only screen and (min-width: $screen-md) {
			    max-width: 890px;
				padding-left: 0;
				padding-right: 0;
				padding-top: 35px;
				margin: 0 auto;
				
				#direct-debit-panel {
					.col-md-6 { padding-right: 0; }
				}
		}
	}
	
	
	.payment-select-wrapper {
		position: relative;
						
		.form-control.gray-dropdown {
				font-family: 'Calibri';
				font-size: 14px;
			width: 100%;
				margin-bottom: 0;
				padding-left: 9px;
				padding-bottom: 5px;
				height: 45px;
				width: 100%;
				padding-top: 12px;
				
				/*@media only screen and (min-width: $screen-md) {
					padding-top: 12px;
				}*/
				
				&.preferred-date,
				&.ui-timepicker-input {
					padding-left: 13px;
				}
		}
		
		.bank-info-select-label {
			font-size: 11px;
			font-weight: bold;
			position: absolute;
			z-index: 1;
			left: 18px;
			margin-top: 1px;
			margin-left: -4px;
		}
		
		.icon-chevron-thin-down.orange-caret {
			font-size: 11px;
			font-weight: bold;
			padding-top: 15px;
		}
		
		/** date and time fields with floating label **/
		&.so-mdl-textfield {
			.mdl-textfield__label {
				z-index: 10;
				font-size: 14px;
				top: 4px;
				padding-top: 7px;
			}
		}
		
		&.is-focused,
		&.is-not-active {
			.mdl-textfield__label {
				font-size: 11px;
			}
		}
		
		&.is-focused {
			.mdl-textfield__label {
				margin-top: 2px;
			}
		}			
	}
	
	/** Pay later panel **/
	.make-an-appointment {
		padding: 0 !important;
		margin-top: 9px;
		margin-bottom: 20px;
		
		#left-side-form {
			padding-right: 7.5px;
			padding-left: 0;
		}
		
		#right-side-form {
			padding-left: 7.5px;
			padding-right: 0;
		}
		
		@media only screen and (min-width: $screen-md) {
			margin-top: 0;
			margin-bottom: 42px;
		}
	}
	
	.so-mdl-textfield {
		input {
			background-color: #f5f5f5;
			border-bottom: none;
			color: #9ba5a7;
			font-size: 14px;
			height: 45px !important;
			padding-left: 15px !important;
			padding-top: 14px !important;
		}
		
		&.is-focused,
		&.is-dirty {
			.mdl-textfield__label { padding-top: 5px; }
		}
		
		.mdl-textfield__label { padding-left: 15px; }
	}
	
	#direct-debit-panel {
		margin-bottom: 15px;
		
		.form-group {
			margin-bottom: 0;
		}
		
		@media only screen and (min-width: $screen-md) {
			margin-bottom: 35px;
		}
	}
	
	.form-group {		
		&.has-error { margin-bottom: 10px; }
		
		.error-msg {
			margin-top: -10px;
		}
	}
}