#unemployed-page {
	
	#unemployed-page-body {
		#unemployed-content {
			padding: 21px 30px 25px 30px;
			@media (min-width: $screen-md) {
				width: 890px;
			    max-width: 890px;
			    margin: auto;
			    padding: 35px 0px 78px 0px;
			}
			#left-side {
				@media (min-width: $screen-md) {
					padding-right: 5px
				}	
			}
			#right-side {
				@media (min-width: $screen-md) {
					padding-left: 5px;
				}
			}
			
			.form-group {
				.selectDiv {
					.cstm-dropdown-label { font-weight: bold; }
				}
			
				&.has-error { margin-bottom: 0; }
				
				.error-msg { margin-top: -10px; }
			}
			
			h3 {
				font-size: 18px;
				color: #ff8200;
				margin-left: 15px;
				margin-top: 0;
				margin-bottom: 16px;
			}
			#next-btn {
				padding: 5px 60px;
				margin-top: 10px;
    			margin-bottom: 2px;
    			@media (min-width: $screen-md) {
    				padding: 8px 60px;
    				margin-top: 25px;
    				margin-bottom: 2px;
    			}
			}
			#back-summary-btn {
				padding: 8px 30px;
			    margin-top: 10px;
			    margin-bottom: 2px;
			    @media (min-width: $screen-md) {
			    	margin-top: 25px;
			    }
			}
			#save-cont-link {
				font-size: 14px;
   				color: #ff8200;
				
				&:hover { text-decoration: underline; }
			}
		}
	}		
}