
body {
		
	color : #575756;
	h2{
		font-family:"CircularPro-Bold" !important;
	}
	&.chin{
		font-family:"MelleHK" !important;
	}
}

.pv_highlight{
	color:#E87722 !important;
}
.pv_title{
	font-weight : 700;
	font-size : 1.2em;
	color : #333;
}
.collapse{
	width : 100%

}
/* .panel-body{
	color:#333 !important;
	padding : 15px !important;
}
 */


#pv_calculator{
	background:#ececec;
	padding-top:10px;
	padding-bottom:10px;

	.div-container{
		margin-top:10px;
		margin-bottom:10px;
	}
	.div-box{
		background:#FFF;
		label,select{
			width:100%;
		}
		select{
			list-style:none;
			-webkit-appearance: none;
		}
		img{
			top: 44%;
			width:14px;
			right:20px;
			position:absolute;
		}
	}
}


#plan-details-same-and-faq{
	max-width : 1000px;
}

#pv_claims{
	background : #ececec;
	max-width: 1050px;
	margin:auto;

	h2{
		color : #E87722;
	}
	.pv_title{
		text-align:center;
		color : #E87722 !important;
		margin-bottom : 20px;
		
	}
	.pv_feature_box{
		background: #e1e1e4;
		padding : 30px;
		&:hover{
			background: #E87722;
		}
	}

	#payment-filter{
		.thumbnail{
			background : #F1F1F1;
			&:hover{
				background : #E87722;
				.pv_title{
					color: #FFF !important;
				}
			}
		}
	}

	.btn-group{
		text-align:center;
	    -webkit-border-radius: 0!important;
	    -moz-border-radius: 0!important;
	    border-radius: 0!important;
	    background: #fff!important;
	    color: gray!important;
	    border: none!important;
	    width: auto!important;
	    box-shadow: none!important;
	    cursor: pointer;
	    padding: 10px 5px 5px 9px;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    position: relative;
		-webkit-transition: all 240ms ease-out;
		.btn{
			color:#E87722 !important;
			width:100%;
			float:none;
			.icon-chevron-thin-down{
				float:right;
			}
			&:focus{
				color:#E87722 !important;
			}
		}
		.dropdown-menu{
			width:100%;
			li a{
				color:#E87722 !important;
			}
		}
	}

	.tab-content{
		img{
			max-width:100px;
			max-height:100px;
			margin:auto;
			margin-bottom : 10px;
		}
	}

}

#pv_fmp{
	background-color : #FFD444;
	padding : 26px;
	text-align: center;
	.pv_title{
		color: #333;
	}
	.pv_btn{
	background-color: #f8882d;
    border-radius: 5px;
    border: #fbb631 solid 1px;
    border-bottom: #ce9528 solid 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 1.167em;
    line-height: 2.381em;
    min-width: 200px;
    text-align: center;
	}
}
#pv_feature{
	.panel{
		background:none;
		.panel-heading{
			background:none;
		}
	}
	img{
		width:100%;
	}
	.hidden-xs{
		text-align:center;
		margin-top: 5%;
	}
}
#pd-sf-tab-content-container{
	.panel-heading{
		background : #ececec !important;
		a{
			font-weight:700;
		}
	}
}
#pv_schedule{
	background: #ececec;
	#collapseDeath{
		width:100%;
	}
	.tab-pane{
		div{
			margin-bottom : 0 ;
		}
		.panel{
			background: #ececec;
			margin-bottom : 0 ;
		}
		.panel-heading{
			background: #ececec;
			margin-bottom : 0;
			h4{
				text-align : center;
			}
		}
		.panel-collapse{
			margin-bottom : 0;
			.panel-body{
			background: #ececec;
			margin-bottom : 0 ;
			}
		}
		a{
			font-weight:700;
		}
	}
	.gray-divide{
		width:100%;
	}
	 
	 .pv_price{
	 	color : #E87722;
	 	font-weight : 700;
	 }
	.container{
		div{
			margin-bottom : 15px;
		}
	}
	ul{
		list-style: none;
		li:before{
			content: "-";
		}
	}
	.no_order{
		list-style: none;
	}
}



@media (max-width:991px){
	body{
		h2{
			font-size : 1.5em !important;
		}
	}
	#payment-filter{
		.thumbnail{
			min-height:160px;
			max-height:160px;
		}
	}
	.col-xs-12{
		padding-right:5px;
		padding-left:5px;
	}

	#pv_claims{
		.pv_title{
			margin-bottom : 10px ;
		}
	}
}

