@font-face {
  font-family: 'CircularPro-Bold';
  font-weight: 700;
  src: url("../../fonts/CircularPro-Bold.ttf") format("truetype"), url("../../fonts/CircularPro-Bold.woff") format("woff"), url("../../fonts/CircularPro-Bold.otf") format("opentype"); }
body {
  color: #575756 !important; }
  body h2 {
    font-family: "CircularPro-Bold" !important; }
  body option {
    font-family: "Microsoft JhengHei", Calibri, sans-serif !important;
    font-weight: bold; }

.noPadding {
  padding: 0; }

.aligntop {
  vertical-align: top; }

.pv_highlight {
  color: #E87722 !important; }

.pv_title {
  font-weight: 700;
  font-size: 1.2em;
  color: #333; }

.collapse {
  width: 100%; }

.content-wrapper {
  margin: 10px 0 !important; }

.no_order {
  list-style: none; }

.btn {
  font-weight: 700; }

.div-box {
  background: #FFF;
  min-height: 60px;
  margin-right: 1px; }
  .div-box label, .div-box select, .div-box input {
    width: 100%;
    font-weight: 700;
    padding-left: 5px;
    font-size: 14px; }
  .div-box label {
    font-size: 14px;
    font-family: calibri-bold;
    top: 4px;
    position: absolute; }
  .div-box input {
    border: none;
    margin-top: 19px;
    padding: 5px 5px;
    color: #E87722;
    font-weight: 700; }
  .div-box select {
    list-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin-top: 15px;
    padding: 5px 5px;
    color: #E87722;
    font-weight: 700; }
    .div-box select:focus {
      border: none;
      outline: 0px; }
  .div-box .glyphicon {
    top: 48%;
    width: 10px;
    right: 20px;
    position: absolute;
    color: #E87722;
    font-size: 0.7em; }
  .div-box #edit {
    top: 0;
    right: 0;
    position: relative; }
  .div-box #btn_input_code {
    position: absolute;
    bottom: 15%;
    right: 3%;
    padding: 5px 15px !important; }

.sticky {
  top: 50px;
  position: fixed; }

#div-sticky {
  min-height: 60px;
  background: #fff;
  width: 100%;
  z-index: 999; }
  #div-sticky.active {
    display: block !important; }
  #div-sticky .sticky-container {
    padding-top: 5px; }
    #div-sticky .sticky-container span {
      font-size: 0.8em; }
    #div-sticky .sticky-container .btn {
      float: right;
      padding: 6px 12px !important;
      border-radius: 4px; }

#desktop-div-sticky {
  min-height: 60px;
  background: #fff;
  width: 100%;
  z-index: 999;
  display: none; }
  #desktop-div-sticky.active {
    display: block !important; }
  #desktop-div-sticky #sticky-container {
    padding: 10px; }
    #desktop-div-sticky #sticky-container span {
      font-size: 0.7em; }
    #desktop-div-sticky #sticky-container .btn {
      float: right;
      padding: 6px 12px !important;
      border-radius: 4px; }
  #desktop-div-sticky label {
    position: relative;
    width: auto; }
  #desktop-div-sticky .div-box {
    margin-right: 0px; }
  #desktop-div-sticky input {
    margin-top: 0; }
  #desktop-div-sticky .selectDiv {
    margin-bottom: 0; }
  #desktop-div-sticky select {
    margin-top: 0;
    padding: 0 0 0 5px; }
  #desktop-div-sticky .glyphicon {
    top: 36px; }

.modal-dialog .modal-content {
  background: #ececec;
  padding: 15px; }
  .modal-dialog .modal-content .modal-header .pv_title {
    font-size: 0.8em !important;
    padding-left: 5px; }
  .modal-dialog .modal-content .modal-body .div-box {
    background: none;
    min-height: 60px;
    padding-left: 0;
    padding-right: 5px;
    margin-right: 0px; }
    .modal-dialog .modal-content .modal-body .div-box label, .modal-dialog .modal-content .modal-body .div-box select {
      width: 100%; }
    .modal-dialog .modal-content .modal-body .div-box label {
      font-size: 0.5em;
      font-family: calibri-bold;
      position: absolute;
      left: 10px;
      top: 2px; }
    .modal-dialog .modal-content .modal-body .div-box input {
      border: none;
      margin-top: 20px;
      padding: 3px 0 3px 10px;
      font-size: 0.6em;
      color: #E87722;
      width: 100%; }
    .modal-dialog .modal-content .modal-body .div-box select {
      list-style: none;
      -webkit-appearance: none;
      border: none;
      margin-top: 15px;
      padding: 3px 0 3px 10px;
      font-size: 0.6em;
      color: #E87722;
      font-weight: 700; }
      .modal-dialog .modal-content .modal-body .div-box select:focus {
        border: none;
        outline: 0px; }
    .modal-dialog .modal-content .modal-body .div-box img {
      position: absolute;
      bottom: 25px;
      right: 15px; }
    .modal-dialog .modal-content .modal-body .div-box .glyphicon-chevron-down {
      top: 48%;
      width: 10px;
      right: 20px;
      position: absolute;
      color: #E87722;
      font-size: 0.7em; }
    .modal-dialog .modal-content .modal-body .div-box #btn_input_code {
      position: absolute;
      bottom: 28%;
      right: 10px;
      padding: 5px 15px !important;
      color: #fff; }
  .modal-dialog .modal-content .modal-body .item-wrapper {
    background: #FFF; }
  .modal-dialog .modal-content .modal-body #FirstYear {
    background: none;
    min-height: 60px;
    padding-left: 0;
    margin-bottom: 10px; }
    .modal-dialog .modal-content .modal-body #FirstYear .item-wrapper {
      padding-top: 0px;
      padding-bottom: 5px; }
    .modal-dialog .modal-content .modal-body #FirstYear label {
      position: relative;
      width: auto; }
  .modal-dialog .modal-content .modal-body #btn_quote {
    padding-left: 0px;
    padding-right: 5px; }
    .modal-dialog .modal-content .modal-body #btn_quote a {
      width: 100%;
      color: #FFF; }

#contactUsModal .modal-header .pv_title {
  font-size: 2.0em !important; }
#contactUsModal input {
  background: none;
  font-size: 0.8em; }

#pv_calculator {
  background: #ececec;
  position: relative;
  padding-bottom: 15px; }
  #pv_calculator #loadingDiv {
    position: absolute;
    padding-top: 2%; }
    #pv_calculator #loadingDiv img {
      max-height: 100%; }
  #pv_calculator .div-container {
    margin-top: 10px;
    margin-bottom: 10px; }
  #pv_calculator #FirstYear .bold {
    font-size: 1.2em; }
  #pv_calculator #FirstYear label {
    width: auto; }
  #pv_calculator .relative {
    position: relative !important; }
    #pv_calculator .relative label {
      position: relative !important; }
  #pv_calculator .btn {
    border-radius: 4px; }
  #pv_calculator .pv_remark {
    color: #999999;
    font-size: 0.8em; }
  #pv_calculator .dlProductBrochure {
    padding: 0 15px; }
  #pv_calculator #mobile-form .glyphicon-pencil {
    color: #E87722;
    font-size: 1.5em !important;
    padding-left: 8px;
    padding-top: 10px; }
  #pv_calculator #mobile-form label {
    top: 0; }
  #pv_calculator #mobile-form h2 {
    font-size: 1.0em; }
  #pv_calculator #mobile-form .div-box {
    background: #ececec;
    margin-right: 0;
    border-left: 1px solid darkgray;
    padding-left: 0px;
    padding-right: 5px;
    min-height: 48px; }
    #pv_calculator #mobile-form .div-box img {
      right: 5px; }
    #pv_calculator #mobile-form .div-box select {
      background: none;
      padding: 0px 6px; }
    #pv_calculator #mobile-form .div-box input {
      margin-top: 20px;
      width: 100%;
      background: none; }
    #pv_calculator #mobile-form .div-box #plan-dob-datepicker {
      display: block;
      color: #E87722;
      margin-top: 20px;
      width: 100%;
      background: none;
      font-size: 11px;
      padding-left: 5px; }
  #pv_calculator #mobile-form #div_mobile_promotion_code {
    background: white;
    border: none; }
    #pv_calculator #mobile-form #div_mobile_promotion_code #btn_input_code {
      right: 1%;
      bottom: 10%; }
  #pv_calculator #mobile-form #FirstYear {
    padding-left: 0 !important; }
    #pv_calculator #mobile-form #FirstYear #price {
      font-size: 1.2em !important;
      font-weight: 700; }
  #pv_calculator #mobile-form .btn {
    padding: 5px 10px !important;
    font-size: 1em; }

#plan-details-sample-and-faq {
  max-width: 1000px; }
  #plan-details-sample-and-faq .panel {
    margin-bottom: 15px; }

#pv_claims {
  background: #ececec;
  max-width: 994px;
  margin: auto; }
  #pv_claims h2 {
    color: #E87722; }
  #pv_claims .pv_title {
    text-align: center;
    color: #E87722 !important;
    margin-bottom: 20px; }
  #pv_claims .pv_feature_box {
    background: #e1e1e4;
    padding: 30px; }
    #pv_claims .pv_feature_box:hover {
      background: #E87722; }
  #pv_claims .btn-group {
    text-align: center;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background: #fff !important;
    color: gray !important;
    border: none !important;
    width: auto !important;
    box-shadow: none !important;
    cursor: pointer;
    padding: 10px 5px 5px 9px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    -webkit-transition: all 240ms ease-out; }
    #pv_claims .btn-group .btn {
      color: #E87722 !important;
      width: 100%;
      float: none; }
      #pv_claims .btn-group .btn .icon-chevron-thin-down {
        float: right; }
      #pv_claims .btn-group .btn:focus {
        color: #E87722 !important; }
    #pv_claims .btn-group .dropdown-menu {
      width: 100%; }
      #pv_claims .btn-group .dropdown-menu li a {
        color: #E87722 !important; }
  #pv_claims .tab-content img {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    margin-bottom: 10px; }
  #pv_claims .glyphicon {
    float: right; }

#pv_fmp {
  background-color: #FFD444;
  padding: 26px;
  text-align: center; }
  #pv_fmp .pv_title {
    color: #333; }
  #pv_fmp .pv_btn {
    background-color: #f8882d;
    border-radius: 5px;
    border: #fbb631 solid 1px;
    border-bottom: #ce9528 solid 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 1.167em;
    line-height: 2.381em;
    min-width: 200px;
    text-align: center; }

#pv_feature {
  padding-top: 15px; }
  #pv_feature .container {
    max-width: 1020px; }
  #pv_feature .panel-group {
    padding: 0;
    margin-bottom: 5px; }
    #pv_feature .panel-group .panel {
      background: none; }
      #pv_feature .panel-group .panel .panel-heading {
        background: none;
        padding: 0px; }
      #pv_feature .panel-group .panel .panel-body {
        padding: 20px 0 5px 0; }
  #pv_feature img {
    max-width: 50px;
    min-width: 50px; }
  #pv_feature .hidden-xs {
    text-align: right; }

#pd-sf-tab-content-container .panel-heading {
  background: #ececec !important; }
  #pd-sf-tab-content-container .panel-heading a {
    font-weight: 700; }

#pv_schedule {
  background: #ececec;
  padding-top: 50px;
  padding-bottom: 20px; }
  #pv_schedule #collapseDeath {
    width: 100%; }
  #pv_schedule h2 {
    margin-bottom: 24px; }
  #pv_schedule .tab-pane div {
    margin-bottom: 0; }
  #pv_schedule .tab-pane .panel {
    background: #ececec;
    margin-bottom: 0; }
  #pv_schedule .tab-pane .panel-heading {
    background: #ececec;
    margin-bottom: 0; }
    #pv_schedule .tab-pane .panel-heading h4 {
      text-align: center; }
  #pv_schedule .tab-pane .panel-collapse {
    margin-bottom: 0; }
    #pv_schedule .tab-pane .panel-collapse .panel-body {
      background: #ececec;
      margin-bottom: 0; }
  #pv_schedule .tab-pane a {
    font-weight: 700; }
  #pv_schedule .gray-divide {
    width: 100%; }
  #pv_schedule .pv_price {
    color: #E87722;
    font-weight: 700; }
  #pv_schedule .container div {
    margin-bottom: 15px; }
  #pv_schedule ul {
    list-style: none; }
    #pv_schedule ul li:before {
      content: "-"; }

@media (max-width: 991px) {
  body {
    font-size: 14px; }
    body h2 {
      font-size: 1.5em !important; }

  #payment-filter .thumbnail {
    min-height: 160px;
    max-height: 160px; }

  #pv_claims .pv_title {
    margin-bottom: 10px; }

  #quoteModal #FirstYear label {
    left: 6px; }
  #quoteModal .div-box {
    margin-right: 0; }

  #plan-details-sample-and-faq {
    padding-left: 0;
    padding-right: 0; } }
@media (max-width: 768px) {
  .div-box {
    padding-left: 5px !important;
    font-size: 0.8em;
    margin-right: 0px; }
    .div-box input, .div-box select {
      font-size: 11px; }

  #mobile-form #btn_cal_apply_mobile {
    padding-left: 0;
    padding-right: 0; }
  #mobile-form input {
    margin-top: 19px; }

  .dlProductBrochure {
    padding: 0 8px !important;
    font-size: 0.8em; }

  #pv_feature .panel-heading .glyphicon {
    right: 15px;
    top: 15px; }
  #pv_feature .panel-body {
    padding: 20px 0 0 0; }
    #pv_feature .panel-body .row {
      display: block;
      margin-right: 0; }

  .modal-content {
    padding: 15px !important;
    /* .modal-body{
    	.div-box{
    		select,input{
    			padding: 3px 3px 3px 5px !important;
    		}
    	}
    } */ }

  #actionTab {
    background: #ececec; }
    #actionTab img {
      margin: auto;
      max-width: 100px;
      max-height: 100px;
      padding-bottom: 15px; }

  #pv_schedule .panel-body {
    padding: 15px; }
  #pv_schedule .col-xs-3, #pv_schedule .col-xs-9, #pv_schedule .col-xs-12 {
    padding-left: 0;
    padding-right: 0; }
  #pv_schedule ol {
    padding-left: 17px; }

  .chin #div-sticky #prompt span {
    font-size: 18px; }

  #div-sticky #prompt span {
    line-height: 44px;
    font-size: 15px;
    padding-left: 0; }

  #pd-sf-tab-content-container .tab-content {
    padding: 0; }

  .glyphicon {
    font-size: 12px; } }
@media (min-width: 768px) {
  #pv_feature .collapse {
    height: auto !important;
    display: block !important; }

  #mobile-form .div_box input {
    font-size: 0.6em; }
  #mobile-form .div_box select {
    font-size: 0.7em; }

  .modal-content .type-of-habit {
    font-size: 0.5em; }

  #pv_feature .panel-body {
    padding: 20px 0 0 0; }
    #pv_feature .panel-body .row {
      display: table;
      align-items: center; }
      #pv_feature .panel-body .row .displayTableCell {
        display: table-cell !important;
        vertical-align: middle;
        float: none; }
  #pv_feature .container {
    padding-left: 0;
    padding-right: 0; }

  #payment-filter li {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-bottom: none !important; }
    #payment-filter li:hover .thumbnail, #payment-filter li.active .thumbnail {
      background: #E87722; }
      #payment-filter li:hover .thumbnail .pv_title, #payment-filter li.active .thumbnail .pv_title {
        color: #FFF !important; }
      #payment-filter li:hover .thumbnail .pointer, #payment-filter li.active .thumbnail .pointer {
        opacity: 1;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
    #payment-filter li img {
      width: 90px;
      height: 90px; }
  #payment-filter .pointer {
    left: 50%;
    margin-left: -15px;
    bottom: -7px;
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 12.5px 0 12.5px;
    border-color: #E87722 transparent transparent transparent;
    opacity: 0; }
  #payment-filter .thumbnail {
    min-height: 180px;
    background: none;
    border: none;
    margin-bottom: 8px !important; }
  #payment-filter .pv_title {
    line-height: 44px;
    font-size: 16px; }

  .line-height-normal {
    line-height: normal !important; }

  .chin .line-height-normal {
    line-height: 44px !important; }

  #pv_claims li {
    min-width: 20%;
    display: inline-block;
    float: none;
    margin: -7px -2px; }

  .tab-content {
    margin: auto;
    max-width: 970px; }
    .tab-content p {
      font-size: 16px; }
    .tab-content h2 {
      color: #E87722; }
    .tab-content img {
      margin: auto;
      max-width: 100px;
      max-height: 100px; } }
@media (min-width: 991px) {
  .sticky {
    top: 42px; } }
@media (max-width: 375px) {
  #mobile-form label {
    font-size: 11px;
    padding-left: 0; }
  #mobile-form select {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  #mobile-form #plan-dob-datepicker {
    padding-left: 0 !important; }

  /* #div-sticky{
  	 		#prompt {
  					background:blue;
  	 		span{
  	 			font-size: 12px !important;
  	 		}
  	 	}  
  	} */ }

/*# sourceMappingURL=medicalguardian-landing-style.css.map */
