@font-face {
  font-family: 'CircularPro-Bold';
  font-weight: 700;
  src: url("../../fonts/CircularPro-Bold.ttf") format('truetype'),
       url("../../fonts/CircularPro-Bold.woff") format('woff'),
       url("../../fonts/CircularPro-Bold.otf") format('opentype');
}

body {
		
	color : #575756 !important;
	h2{
		font-family:"CircularPro-Bold" !important;
	}
	&.chin{
		font-family:"MelleHK" !important;
	}
}

.pv_highlight{
	color:#E87722 !important;
}
.pv_title{
	font-weight : 700;
	font-size : 1.2em;
	color : #333;
}
.collapse{
	width : 100%
}
.content-wrapper{
	margin : 10px 0 !important;
}
.no_order{
		list-style: none;
}
/* .panel-body{
	color:#333 !important;
	padding : 15px !important;
}
 */
 .sticky{
 	bottom:0;
 	position : fixed;
 }
 #div-sticky{
 	min-height: 60px;
 	background : #fff;
 	width:100%;
 	z-index:999;
 	display: none !important;
 	&.active{
 		display: block !important;
 	}
 	#sticky-container{
 		padding : 10px;
	 	span{
	 		font-size : 0.7em;
	 	}
	 	.btn{
	 		float:right;
	 		padding : 6px 12px !important;
	 		border-radius:4px;
	 	}
	 }
 }
.modal-dialog{
	.modal-content{
		background:#ececec;
		padding: 15px ;
		.modal-header{
			.pv_title{
				font-size : 0.8em !important;
				padding-left : 5px;
			}
		}
		.modal-body{
			.div-box{
				background:none;
				min-height : 60px;
				padding-left : 0;
				padding-right : 5px;
				label,select{
					width:100%;
				}
				label{
					font-size: 0.5em;
				    font-family: calibri-bold;
				    position:absolute;
				    left:10px;
				    top: 2px;	
				}
				input{
					border : none;
					margin-top:20px;
					padding: 5px 10px;
					font-size : 0.8em;
					color : #E87722;
					width:100%;
				}
				select{
					list-style:none;
					-webkit-appearance: none;
					border : none;
					margin-top:15px;
					padding: 3px 10px;
					font-size : 0.6em;
					color : #E87722;
					&:focus{
						border:none;
						outline:0px;
					}
					font-weight:700
				}
				img{
					position:absolute;
					bottom:35%;
					right:15px;
				}
				.glyphicon-chevron-down{
					top:48%;
					width:10px;
					right:20px;
					position:absolute;
					color : #E87722;
					font-size : 0.7em;
				}
				#btn_input_code{
					position:absolute;
					bottom:28%;
					right:5%;
					padding: 5px 15px !important;
					color : #fff;
				}
			}
			.item-wrapper{
				
				background : #FFF;
			}
			#FirstYear{
				background : none;
				min-height: 60px;
				padding-left : 0;
				margin-bottom : 10px;
				.item-wrapper{
					padding-top : 0px;
					padding-bottom : 5px;
				}
				label{
					position:relative;
					width:auto;
				}
			}
			#btn_quote{
				padding-left : 0px;
				padding-right: 5px;
				a{
					width:100%;
					color:#FFF;
				}
			}
		}
	}
}
#contactUsModal{
	.modal-header{
		.pv_title{
			font-size : 2.0em !important;
		}
	}
	input{
		background:none;
		font-size : 0.8em;
	}
}

#pv_calculator{
	background:#ececec;
	position:relative;
	/* padding-top:10px;
	padding-bottom:10px; */
	
	#loadingDiv{
		position: absolute;
    	padding-top: 2%;
    	img{
    		max-height:100%;
    	}
	}
	.div-container{
		margin-top:10px;
		margin-bottom:10px;
	}
	
	.div-box{
		background:#FFF;
		min-height : 60px;
		margin-right: 1px;
		label,select{
			width:100%;
			font-weight:700;
		}
		label{
			font-size: 14px;
		    font-family: calibri-bold;
		    top: 4px;
		    position:absolute;
		}
		input{
			border : none;
			margin-top:24px;
			padding: 5px 0;
			font-size : 1em;
			color : #E87722;
			font-weight: 700;
		}
		select{
			list-style:none;
			-webkit-appearance: none;
			border : none;
			margin-top:15px;
			padding: 5px 0;
			font-size : 1em;
			color : #E87722;
			&:focus{
				border:none;
				outline:0px;
			}
			font-weight:700
		}
		.glyphicon-chevron-down{
			top:48%;
			width:10px;
			right:20px;
			position:absolute;
			color : #E87722;
			font-size : 0.7em;
		}
		#btn_input_code{
			position:absolute;
			bottom:15%;
			right:3%;
			padding: 5px 15px !important;
		}
	}
	
	#FirstYear{
		.bold{
			font-size:1.2em;
		}
		label{
			width:auto;
		}
	}
	.relative{
		position:relative !important;
		label{
			position:relative !important;
		}
	}
	.btn{
		border-radius:4px;
	}
	
	.pv_remark{
		color: #999999;
		font-size:0.8em;
	}



	#mobile-form{
		//font-size : 0.8em;
		.glyphicon-pencil{
			color : #E87722;
			font-size : 1.5em !important;
			padding-left : 8px;
			padding-top : 10px;
		}
		label{
			font-size : 0.8em;
			top: 0 ;
		}
		h2{
			font-size:1.0em;
		}
		.div-box{
			background : #ececec;
			margin-right:0;
			border-left: 1px solid darkgray;
			padding-left : 5px;
			padding-right : 5px;
			min-height : 48px;
			img{
				right:5px;
			}
			select{
				background:none;
				padding : 3px 0 ;
			}
			input{
				margin-top:17px;
				width:100%;
			}
		}
		#div_mobile_promotion_code{
			background:white;
			border:none;
			#btn_input_code{
				right: 1%;
				bottom:10%;
			}
		}
		#FirstYear{
			padding-left : 0 !important;
			#price{
				font-size : 1.2em !important;
				font-weight : 700 ; 
			}
		}
		.btn{
			padding: 5px 10px !important;
			font-size : 1em;
		}
	}
}


#plan-details-same-and-faq{
	max-width : 1000px;
}

#pv_claims{
	background : #ececec;
	max-width: 1050px;
	margin:auto;

	h2{
		color : #E87722;
	}
	.pv_title{
		text-align:center;
		color : #E87722 !important;
		margin-bottom : 20px;
		
	}
	.pv_feature_box{
		background: #e1e1e4;
		padding : 30px;
		&:hover{
			background: #E87722;
		}
	}

	#payment-filter{
		.thumbnail{
			background : #F1F1F1;
			&:hover{
				background : #E87722;
				.pv_title{
					color: #FFF !important;
				}
			}
		}
	}

	.btn-group{
		text-align:center;
	    -webkit-border-radius: 0!important;
	    -moz-border-radius: 0!important;
	    border-radius: 0!important;
	    background: #fff!important;
	    color: gray!important;
	    border: none!important;
	    width: auto!important;
	    box-shadow: none!important;
	    cursor: pointer;
	    padding: 10px 5px 5px 9px;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    position: relative;
		-webkit-transition: all 240ms ease-out;
		.btn{
			color:#E87722 !important;
			width:100%;
			float:none;
			.icon-chevron-thin-down{
				float:right;
			}
			&:focus{
				color:#E87722 !important;
			}
		}
		.dropdown-menu{
			width:100%;
			li a{
				color:#E87722 !important;
			}
		}
	}

	.tab-content{
		img{
			max-width:100px;
			max-height:100px;
			margin:auto;
			margin-bottom : 10px;
		}
	}

}

#pv_fmp{
	background-color : #FFD444;
	padding : 26px;
	text-align: center;
	.pv_title{
		color: #333;
	}
	.pv_btn{
	background-color: #f8882d;
    border-radius: 5px;
    border: #fbb631 solid 1px;
    border-bottom: #ce9528 solid 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 1.167em;
    line-height: 2.381em;
    min-width: 200px;
    text-align: center;
	}
}
#pv_feature{
	.panel{
		background:none;
		.panel-heading{
			background:none;
		}
	}
	img{
		width:100%;
	}
	.hidden-xs{
		text-align:center;
		margin-top: 5%;
	}
}
#pd-sf-tab-content-container{
	.panel-heading{
		background : #ececec !important;
		a{
			font-weight:700;
		}
	}
}
#pv_schedule{
	background: #ececec;
	#collapseDeath{
		width:100%;
	}
	.tab-pane{
		div{
			margin-bottom : 0 ;
		}
		.panel{
			background: #ececec;
			margin-bottom : 0 ;
		}
		.panel-heading{
			background: #ececec;
			margin-bottom : 0;
			h4{
				text-align : center;
			}
		}
		.panel-collapse{
			margin-bottom : 0;
			.panel-body{
			background: #ececec;
			margin-bottom : 0 ;
			}
		}
		a{
			font-weight:700;
		}
	}
	.gray-divide{
		width:100%;
	}
	 
	 .pv_price{
	 	color : #E87722;
	 	font-weight : 700;
	 }
	.container{
		div{
			margin-bottom : 15px;
		}
	}
	ul{
		list-style: none;
		li:before{
			content: "-";
		}
	}
}



@media (max-width:991px){
	body{
		h2{
			font-size : 1.5em !important;
		}
	}
	#payment-filter{
		.thumbnail{
			min-height:160px;
			max-height:160px;
		}
	}
	.col-xs-12{
		padding-right:5px;
		padding-left:5px;
	}

	#pv_claims{
		.pv_title{
			margin-bottom : 10px ;
		}
	}
}

@media (min-width:768px){
	#pv_feature .collapse{
		height:auto !important;
		display:block !important;
	}
	#mobile-form{
		.div_box{
			input{
				font-size : 0.6em;
			}
			select{
				font-size : 0.7em;
			}
		}
	}
	.modal-content{
		.type-of-habit{
			font-size: 0.5em;
		}
	}
}
@media (max-width:1201px){
	#pv_calculator{
		#FirstYear{
			.bold{
				font-size:0.8em;
			}
		}
	}
}


