.pv_highlight{
	color:#ff8200;
}
.pv_title{
	font-weight : 700;
}
.collapse{
	width : 100%

}
.panel-body{
	color:#333 !important;
}

#plan-details-same-and-faq{
	max-width : 1000px;
}

#pv_claims{
	max-width: 1050px;
	margin:auto;
	.pv_title{
		text-align:center;
	}
	.pv_feature_box{
		background: #e1e1e4;
		padding : 30px;
		&:hover{
		background: #fbb631;
		}
	}

}

#pv_fmp{
	background-color : #FFD444;
	padding : 26px;
	text-align: center;
	.pv_title{
		color: #333;
	}
	.pv_btn{
	background-color: #f8882d;
    border-radius: 5px;
    border: #fbb631 solid 1px;
    border-bottom: #ce9528 solid 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 1.167em;
    line-height: 2.381em;
    min-width: 200px;
    text-align: center;
	}
}
#pv_feature{
	.panel{
		background:none;
		.panel-heading{
			background:none;
		}
	}
}
#pv_schedule{
	background: #e1e1e4;
	#collapseDeath{
		width:100%;
	}
	.tab-pane{
		div{
			margin-bottom : 0 ;
		}
		.panel{
			background: #e1e1e4;
			margin-bottom : 0 ;
		}
		.panel-heading{
			background: #e1e1e4;
			margin-bottom : 0;
			h4{
				text-align : center;
			}
		}
		.panel-collapse{
			margin-bottom : 0;
			.panel-body{
			background: #e1e1e4;
			margin-bottom : 0 ;
			}
		}
	}
	.gray-divide{
		width:100%;
	}
	 
	 .pv_price{
	 	color : #ff8200;
	 	font-weight : 700;
	 }
	.container{
		div{
			margin-bottom : 15px;
		}
	}
	ul{
		list-style: none;
		li:before{
			content: "-";
		}
	}
	.no_order{
		list-style: none;
	}
	.pv_title{
		font-weight : 700;
	}
}