/* 
 * New Branding Guideline 2016
 */

@font-face {
	font-family: 'CirculaPro-Book';
	src: url('../font/CircularPro-Book.otf');
	src: url('../font/CircularPro-Book.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CircularPro-Bold';
	src: url('../font/CircularPro-Bold.otf');
	src: url('../font/CircularPro-Bold.ttf');
	font-weight: normal;
	font-style: normal; 
}

@font-face {
    font-family: 'Calibri';
    src: url("../fonts/Calibri_gdi.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Calibri_gdi.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Calibri_gdi.woff") format("woff"),
        url("../fonts/Calibri_gdi.ttf") format("truetype"),
        url("../fonts/Calibri_gdi.svg#svgFontName") format("svg");
    /* Legacy iOS */
}

/*
    Default Font Family
*/
body {
    font-size: 18px;
    font-family: 'CirculaPro-Book', 'Calibri', sans-serif !important;
}

body .bold{
    font-family: 'CirculaPro-Bold', 'Calibri', sans-serif !important;
}

body.chin,
body.chin .bold{
    font-family: 'Microsoft JhengHei', 'Calibri', sans-serif !important;
}
