/*
body{
	background-color:black;
}
*/

.wrapper{
    display: none;
    width: 960px;
    /*height: 590px;*/
    height: 331px;
    margin:auto;
    position: relative;
    /*background-color:white;*/
}
.wrapper .main_background{
    font-family:calibri, "Trebuchet MS", arial, helvetica, sans-serif;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
}
.wrapper .letgo_btn{
    background-image: url("../../images/mini-calculator/sliced_FWD_interface_v03_out_letsgo_btn.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 175px;
    left: 34px;
    width: 116px;
    height: 71px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    z-index: 4;
}
.wrapper .car_dream_btn{
    background-image: url("../../images/mini-calculator/sliced_FWD_interface_v03_out_dream_car_btn.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 410px;
    left: 198px;
    width: 18%;
    height: 26%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    z-index: 4;
    cursor:pointer;
}
.wrapper .wedding_dream_btn{
    background-image: url("../../images/mini-calculator/sliced_FWD_interface_v03_out_dream_marriage_btn.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 364px;
    left: 380px;
    width: 21%;
    height: 26%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    z-index: 4;
    cursor:pointer;
}
.wrapper .trip_dream_btn{
    background-image: url("../../images/mini-calculator/sliced_FWD_interface_v03_out_dream_travel_btn.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 165px;
    left: 272px;
    width: 17%;
    height: 19%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    z-index: 4;
    cursor:pointer;
}
.wrapper .saving_dream_btn{
    background-image: url("../../images/mini-calculator/sliced_FWD_interface_v03_out_dream_other_btn.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 354px;
    left: 580px;
    width: 7.5%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    z-index: 4;
    cursor:pointer;
}
.wrapper .trip_map{
    width: 100%;
    text-align: center;
    display: none;
    position: absolute;
    /*left: 50%;*/
    top: 25%;
    z-index: 3;
}
.wrapper .trip_map img{
    max-width: 50%;
    height: auto;
}
.wrapper .boy_figure{
    display: none;
    text-align: center;
    position: absolute;
    top: 415px;
    left: 351px;
    background-repeat: no-repeat;
    z-index: 5;
    width: 20px;
    height: 55.51px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
}

.wrapper .boy_figure .animationDiv{
	width:92px;
	height:255px;
	background-size: 185px 255px;
}
.wrapper .boy_figure.big .animationDiv{
	width:107px;
	height:297px;
	background-size: 215px 297px;
}

.wrapper .boy_figure.young{
	background-image: url("../../images/mini-calculator/img_man_young.png");
}
.wrapper .boy_figure.young.wink .animationDiv{
	background-image: url("../../images/mini-calculator/sprite/img_man_young_sprite.png");
}
.wrapper .boy_figure.middle{
	background-image: url("../../images/mini-calculator/img_man_middle.png");
}
.wrapper .boy_figure.middle.wink .animationDiv{
	background-image: url("../../images/mini-calculator/sprite/img_man_middle_sprite.png");
}
.wrapper .boy_figure.old{
	background-image: url("../../images/mini-calculator/img_man_old.png");
}
.wrapper .boy_figure.old.wink .animationDiv{
	background-image: url("../../images/mini-calculator/sprite/img_man_old_sprite.png");
}

.wrapper .boy_figure_desc{
	width:100%;
    position: absolute;
    bottom: -26px;
    text-align:center;
    font-size: 1.2em;
    color: #6b6b6b;
}
.wrapper .girl_figure{
    display: none;
    vertical-align: bottom;
    text-align: center;
    position: absolute;
    top: 415px;
    left: 556px;
    background-repeat: no-repeat;
    /*left: 55%;*/
    z-index: 5;
    width: 20px;
    height: 51.02px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
}
.wrapper .girl_figure .animationDiv{
	width:92px;
	height:255px;
	background-size: 185px 255px;
}
.wrapper .girl_figure.big .animationDiv{
	width:107px;
	height:297px;
	background-size: 215px 297px;
}

.wrapper .girl_figure.young{
	background-image: url("../../images/mini-calculator/img_woman_young.png");
}
.wrapper .girl_figure.young.wink .animationDiv{
	background-image: url("../../images/mini-calculator/sprite/img_woman_young_sprite.png");
}
.wrapper .girl_figure.middle{
	background-image: url("../../images/mini-calculator/img_woman_middle.png");
}
.wrapper .girl_figure.middle.wink .animationDiv{
	background-image: url("../../images/mini-calculator/sprite/img_woman_middle_sprite.png");
}
.wrapper .girl_figure.old{
	background-image: url("../../images/mini-calculator/img_woman_old.png");
}
.wrapper .girl_figure.old.wink .animationDiv{
	background-image: url("../../images/mini-calculator/sprite/img_woman_old_sprite.png");
}

.wrapper .girl_figure_desc{
    width:100%;
    position: absolute;
    bottom: -26px;
    text-align:center;
    font-size: 1.2em;
    color: #6b6b6b;
}

#smoke{
	position: absolute;
	top:110px;
	left:305px;
	width:350px;
	height:363px;
	background-image: url("../../images/mini-calculator/sprite/img_bubble_sprite_12f.png");
	z-index: 6;
	display:none;
}

.wrapper .levelSelectionDiv img{
	display:none;
	position: absolute;
	z-index:6;
}

.wrapper .levelSelectionDiv img.low.car{
	width:375px;
	height:155px;
	top: 300px;
	left:323px; 
}
.wrapper .levelSelectionDiv img.mid.car{
	width:375px;
	height:155px;
	top: 300px;
	left:323px; 
}
.wrapper .levelSelectionDiv img.high.car{
	width:375px;
	height:155px;
	top: 300px;
	left:323px; 
}

.wrapper .levelSelectionDiv div.carSmoke{
	width:44px;
	height:46px;
	background-image: url("../../images/mini-calculator/sprite/car_smoke_sprite.png");
	background-size: 484px 46px;
	display:none;
}

.wrapper .levelSelectionDiv div.carSmoke.low{
	top: 395px;
	left:315px; 
}

.wrapper .levelSelectionDiv div.carSmoke.mid{
	top: 380px;
	left:310px; 
}

.wrapper .levelSelectionDiv div.carSmoke.high{
	top: 390px;
	left:280px; 
}

.wrapper .levelSelectionDiv img.car.transition{
	width: 404px;
	height: 167px; 
	top: 288px;
	left: 308.5px;
}

.wrapper .levelSelectionDiv div.pinContainer{
	display:none;
	width:490px;
	height:295px;
	top: 140px;
	left:235px; 
}
.wrapper .levelSelectionDiv div.pinContainer div.pin{
	background-image: url("../../images/mini-calculator/img_pin.png");
	width:53px;
	height:63px;
}
.wrapper .levelSelectionDiv div.pinContainer.low div.pin{
	top:50px;
	left:288px;
}
.wrapper .levelSelectionDiv div.pinContainer.mid div.pin{
	top:34px;
	left:258px;
}
.wrapper .levelSelectionDiv div.pinContainer.high div.pin{
	top:100px;
	left:198px;
}

.wrapper .levelSelectionDiv img.trip{
	width:490px;
	height:295px;
	top: 140px;
	left:235px; 
}
.wrapper .levelSelectionDiv img.trip.init{
	width:0px;
	left:480px; 
}
.wrapper .levelSelectionDiv img.trip.transition{
	width:510px;
	height:307px;
	top: 128px;
	left:225px; 
}


.wrapper .levelSelectionDiv div{
	/*display:none;*/
	position: absolute;
	z-index:6;
	background-size: contain;
}
.wrapper .levelSelectionDiv div.couple{
	display:none;
	width:271px;
	height:304px;
	top: 140px;
	left:344.5px; 
}
.wrapper .levelSelectionDiv div.low.couple{
	background-image: url("../../images/mini-calculator/img_couple_young.png");
}
.wrapper .levelSelectionDiv div.couple .animationDiv{
	width:271px;
	height:304px;
}

.wrapper .levelSelectionDiv div.saving{
	background-image: url("../../images/mini-calculator/img_pig.png");
	background-repeat:no-repeat;
}

.wrapper .levelSelectionDiv div.saving.low{
	width:163px;
	height:124px;
	top:350px;
	left:398.5px;
}

.wrapper .levelSelectionDiv div.saving.mid{
	width:264px;
	height:201px;
	top:273px;
	left:348px;
}

.wrapper .levelSelectionDiv div.saving.high{
	width:386px;
	height:294px;
	top:180px;
	left:287px;
}

.wrapper .levelSelectionDiv div.coin{
	background-image: url("../../images/mini-calculator/img_coin.png");
	background-repeat:no-repeat;
	display:none;
}

.wrapper .levelSelectionDiv div.coin.low{
	width:44px;
	height:62.1px;
	top:200px;
	left:468px;
}
.wrapper .levelSelectionDiv div.coin.low.drop{
	top:370px;
}

.wrapper .levelSelectionDiv div.coin.mid{
	width:85px;
	height:120.1px;
	top:50px;
	left:448px;
}
.wrapper .levelSelectionDiv div.coin.mid.drop{
	top:280px;
}

.wrapper .levelSelectionDiv div.coin.high{
	width:111px;
	height:156.9px;
	top:10px;
	left:437px;
}
.wrapper .levelSelectionDiv div.coin.high.drop{
	top:200px;
}

.wrapper .levelSelectionDiv div.low.couple.wink .animationDiv{
	background-image: url("../../images/mini-calculator/sprite/img_couple_young_sprite.png");
	background-size: 543px 306px;
}
.wrapper .levelSelectionDiv div.mid.couple{
	background-image: url("../../images/mini-calculator/img_couple_mid.png");
}
.wrapper .levelSelectionDiv div.mid.couple.wink .animationDiv{
	background-image: url("../../images/mini-calculator/sprite/img_couple_mid_sprite.png");
	background-size: 543px 306px;
}
.wrapper .levelSelectionDiv div.high.couple{
	background-image: url("../../images/mini-calculator/img_couple_old.png");
}
.wrapper .levelSelectionDiv div.high.couple.wink .animationDiv{
	background-image: url("../../images/mini-calculator/sprite/img_couple_old_sprite.png");
	background-size: 543px 306px;
}
.wrapper .levelSelectionDiv div.couple.init{
	width:20px;
	height:22.44px;
	top: 424px;
	left:470px; 
}

.wrapper .levelSelectionDiv div.couple.transition{
	width:287px;
	height:322px;
	top: 122px;
	left:336.5px; 
}

/*
.wrapper .car{
	position: absolute;
	display:none;
	background-size: contain;
}
.wrapper .car.middle{
	background-image: url("../../images/mini-calculator/sprite/car_mid.png");
	width:313px;
	height:155px;
	top:100px;
	left:100px;
}
*/

.wrapper .arrow_left{
	font-family: Arial;
    text-align: center;
    z-index: 3;
    position:absolute;
    top: 230px;
    left:60px;
    width: 105px;
    height: 71px;
    background-size: contain;
    background-image: url("../../images/mini-calculator/sliced_FWD_interface_v03_out_cs5_arrow_l.png");
    background-repeat: no-repeat;
    cursor:pointer;
}
.wrapper .arrow_left.disabled{
	opacity: 0.25;
}
.wrapper .arrow_left_desc{
    color: #ffffff;
    position: absolute;
    top: 23px;
    left: 3px;
    width:70px;
    text-align:center;
    font-size: 0.8em;
}
.wrapper .arrow_right{
	font-family: Arial;
    text-align: center;
    z-index: 3;
    position: absolute;
    width: 105px;
    height: 71px;
    top: 230px;
    right: 60px;
    background-size: contain;
    background-image: url("../../images/mini-calculator/sliced_FWD_interface_v03_out_cs5_arrow_r.png");
    background-repeat: no-repeat;
    cursor:pointer;
}
.wrapper .arrow_right.disabled{
	opacity: 0.25;
}
.wrapper .arrow_right_desc{
    color: #ffffff;
    position: absolute;
    top: 23px;
    right: 3px;
    width:70px;
    text-align:center;
    font-size: 0.9em;
}
.dream_text{
    margin:0 auto;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    /*left: 42%;*/
    /*display: none;*/
}
.dream_text .tilte{
    text-align:center;
    width: 100%;
    color: #F15A29;
    font-size: 40px;
    font-weight: bold;
}
.dream_text .desc{
    text-align:center;
    width: 100%;
    color: #000;
    font-size: 14px;
}
.wrapper .pageTitle{
	position: absolute;
	top:60px;
    width: 100%;
    height: auto;
    color: #fd8224;
    font-size:1.8em;
}
.wrapper .pageTitle.init{
	top:-50px;
}
.wrapper .txtDialog{
    text-align: center;
    font-weight: bold;
    padding: 15px;
}
.txtDialog .text{
    padding: 10px;
}
.wrapper .calAge{
    position: absolute;
    top:482px;
    width: 100%;
    height:auto;
    text-align: center;
}
.wrapper .selectSlider{
    width: 580px;
    margin: 0 auto;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}
#slider.selectSlider.ui-widget-content{
	background-image:none;
	background-color:#dddddd;
	display: inline-block;
}

#slider.selectSlider.ui-slider-horizontal{
	height:10px;
}
#slider .ui-slider-handle {
    border: none;
    background: url("../../images/mini-calculator/img_button_short.png");
    background-position: right; 
    width: 100px;
    height: 40px;
    margin: -12px 0px 0px -50px;
    text-align:center;
}
#slider .ui-slider-handle.ui-state-active{
	background-position: left; 
}

#slider .ui-slider-handle.mid {
	background: url("../../images/mini-calculator/img_button_mid.png");
	width: 150px;
}
#slider .ui-slider-handle.long {
	background: url("../../images/mini-calculator/img_button_long.png");
	width: 170px;
}

#slider .ui-slider-range {
    /*background-image: url("../../images/mini-calculator/sliced_FWD_interface_v03_out_cs5_slider_bar_fill.png");*/
    background-color:#fab531;
    background-repeat: repeat;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#slider .slider_val{
    width: 100%;
    height: 100%;
    z-index: 4;
    font-weight: normal;
    color: #ffffff;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.4em; /*set line height back to normal*/
}

.wrapper .sliderRange{
	display:inline-block;
	color: #6b6b6b;
    font-size: 1.5em;
}

.wrapper .sliderRange.under{
    padding-right: 10px;
}
.wrapper .sliderRange.over{
    padding-left: 10px;
}