// Breadcrumbs Widgets

//.fwd-savie-wrapper {

	.breadcrumb > li + li:before {
		display: none;
	}
	
	.breadcrumbs{
		display: none;
		text-align: left;
		
		@media(min-width: $screen-md-min) {
			display: block;
			margin-bottom: 25px;
		}
		
		font-family: 'foco_bold';
		font-size: 18px;
		
		.breadcrumbs-landing {
			margin-bottom: -14px;;
		}
	}
	
	.breadcrumb.breadcrumbs-product-details {
		background-color: transparent;
		margin-top: 30px;
		padding: 8px 0;
		
		li {
			padding-right: 2px;
			
			a {
				font-size: 18px;
				color: #080808;	
			}
	
			a:hover {
				color: #f6871f;
			}
			
			&.active-bc {
				color: #f6871f;
			}		
			
			&.divider {
				padding: 0 10px;
				position: relative;
				
				.fa-play {
					font-size: 7px;
					position: absolute;
					top: -9px;
					left: 6px;
				}
				
				&.last {
					color: #f6871f;
					padding-right: 19px;
					.fa-play {
						left: 11px;
					}
				}
			}
		}
	}
//}