/*
* Added by : Richie
* Elite Terms Select Plan Page
*/

//.fwd-savie-wrapper{
	.et-padding{
		margin: 14px 0;
		
		@media(min-width: $screen-md){
			margin: 12px 0;
		}  
	}
	
	.et-full{
		margin: 14px 0;
		
		@media(min-width: $screen-md){
			margin: 57px 0;
		}
	}
	
	.et-breadcrumbs{
	    margin: 20px 0 0 0 !important;
	}
	
	.container-fluid.fwd-full-container{
		
		
		.et-header-browse{
			width: 100%;
			z-index: 5;
			background-color: #ff8200;
			
			@media(min-width: $screen-md){
				height: 100px;
			}
			
			.reset-padding{
				padding: 0;
				border-left: solid 2px #ffa344;
				@media(min-width: $screen-md){
					width: 20%;
					float: left;
				}
				&:first-child {
					border-left: 0;
				}
			}
			
			.reset-margin{
				margin: 0;
			}
			
			
			.et-mobile-header-info{
            	display: table;
            	width: 100%;
            
				.et-back-arrow{
					display: table-cell;
               		vertical-align: middle;             
					border-right: solid 2px #ffa344;
					
					.et-back-arrow-link{
						font-size: 35px;
						color: #fff;
						text-align: center;
						display: block;
						padding-left: 15px;
						padding-right: 15px;
						padding-top: 10px;
					}
				}
				
				.et-header-tex{
					display: table-cell;
               		vertical-align: middle;
               
                	h3{
						font-size: 28px;
						color: #fff;
						margin: 0;
						display: table-cell;
						vertical-align: middle;
						padding-top: 25px;
						padding-bottom: 25px;
						padding-left: 20px;
	                    padding-right: 30px;
					}
				}
			}
			
			.et-header-info-btn{
				width: 100%;
				border: 0;
				height: 100px;
				background-color: #ff8200;
				color: #fff;
				font-size: 24px;
			    border-top: solid 1px #ff8200;
				border-bottom: solid 1px #ff8200;
				
				&:hover {
					outline: 0;
					@media(min-width: $screen-md){
						background-color: #fff;
						color: #ff8200;
					}
				}
				
            &:focus,
            &:active {
               outline: 0;
            }
            
            &.no-hover {
               cursor: auto;
               
               &:hover {
                  outline: 0;
                  @media(min-width: $screen-md){
                     background-color: #ff8200;
                     color: #fff;
                  }
               }
            }
            
				&.active{
					@media(min-width: $screen-md){
						background-color: #fff;
						color: #ff8200;
					}
               
               &.no-hover {
                  &:hover {
                     cursor: auto; 
                     outline: 0;
                     
                     @media(min-width: $screen-md){
                        background-color: #fff;
                        color: #ff8200;
                     }
                  }
               }
				}
			}
			
		
		}
	}
	
	
	.container-fluid.fwd-container{
		.et-before-we-start, .et-about-urself, .et-plan-option {
			border: solid 1px #b0bdbd;
			margin: 0 15px 20px 5px;
			padding: 30px 20px;
			
			@media(min-width: $screen-md-min){
				margin-top: 0; 
            	padding: 33px 90px 33px 90px;
				margin-left: 0;
				margin-right: 0;
			}
			
			
			
			h2{
				&.et-bfr-txt, &.et-about-urself-text, &.et-plan-option-text {
					margin: 0;
					color: #fc6d08;
					font-size: 30px;
					text-align: center;
					
					@media(min-width: $screen-md){
						text-align: left;
					}
				}
			}
		
			
			p{
				&.et-bfr-start-txt{
					color: #061d2a;
					font-size: 18px;
					line-height: 22px;
					
					@media(min-width: $screen-md){
						padding-top: 5px;
                  margin-top: 20px;
					}
					
					&.bottom{
						padding: 0 0 13px 0;
					}
				}
			}
			
			.btn.btn-white.et-select-plan-btn{
				width: 100%;
				display: block;
				@media(min-width: $screen-md){
					width: 250px;
				}
				&.bottom{
					margin: 10px 0 18px 0;
				}
			}
			
			label{
				&.et-before-we-start-yes,
				&.et-before-we-start-no{
               display: table;
					position: relative;
					background-color: white;
					width: 48%;
					height: 50px;
					cursor: pointer;
					top: 0;
					border-radius: 0;
					color: #ff8200;
					font-size: 24px;
					text-align: center;
					border: solid 1px #ff8200;
               font-family: "Calibri-Bold";
                   
					@media(min-width: $screen-md){
						width: 250px;
					}
					
					&.no{
						margin: 0 0 10px 0;
                  
                  @media (min-width: $screen-md) {
                     float: left !important;
                     margin-left: 20px;
                  }
            
					}
						&:after {
							content: '';
							width: auto;
							height: 50px;
							position: absolute;
							border-radius: 0;
							top: 0;
							left: 0;
							opacity: 0;
							background-color: #ff8200;
							color: #fff;
						}
					&:hover {
						background-color: #ff8200;
						color: #fff;
						@include transition_fwd(background .10s ease-in);
						
					}
					
					
					span{
						&.et-before-text{
							display: table-cell;
							vertical-align: middle;
						}
					}
					
				}
            
            &.et-before-we-start-yes {
               color: #b7c3cd;
               border: 1px solid #b7c3cd;
               
               &:hover {
                  background: #b7c3cd;
                  color: #fff;
               }
            }
			}
			
			input[type=radio] {
				display: none;
				&:checked + label {
					background-color: #ff8200;
					color: #fff;
					@include transition_fwd(background .10s ease-in);
               
               &.et-before-we-start-yes {
                  background: #b7c3cd;
                  color: #fff;
               }
				}    
			}
		}
		
		.et-next-btn-div{
			text-align: center;
			margin-left: 5px;
			margin-right: 15px;
			
         @media (min-width: $screen-md) {
            margin-left: 15px;
         }
         
			&.et-calcu{
				margin-left: 0;
				margin-right: 0;
			}
			
			.btn.btn-orange.et-next-btn{
				width: 100%;
				height: 60px;
				margin-bottom: 26px;
				@media(min-width: $screen-md){
					max-width: 500px;
				    margin-top: 20px;
					margin-bottom: 0;
				}
            
            &.et-pad-bot-50 {
               margin-bottom: 50px;
            }
			}
		}
		
      .et-gender-wrapper,
      .et-smoke-wrapper {
         width: 200px; 
         margin: auto;
         
         @media (min-width: $screen-md) {
            margin: 0;
         }
      }
      
		.et-about-urself{
         margin-top: 30px;
			
			@media(min-width: $screen-md){
				margin-top: 0;	
			}
		 
			
			.et-gender-main-div{
				@media(min-width: $screen-md){
					margin-bottom: 50px;
				}
			}
			
			
			h4{
				&.et-gender-txt{
					color: #2a2c29;
					margin: 0;
					padding-top: 18px;
					margin-bottom: 10px;
               
					@media(min-width: $screen-md){
						padding-top: 25px;
                  		margin-bottom: 15px;                  
					}
				}
				
				&.et-dob-txt{
					color: #2a2c29;
					margin: 0;
					padding: 3px 0 7px 0;
					
					@media(min-width: $screen-md){
						padding-top: 25px;	
					}
				}
				
				&.et-dob-txt.smoker{
					padding-bottom: 0;
					margin-bottom: 10px;
               
					@media(min-width: $screen-md){
						padding-top: 25px;	
                  		margin-bottom: 15px;
					}
				}
			}
			
			.row.reset-margin{
				margin: 0;
				
			}
			
			
			.et-gender-div{
				float: left;
            
            &:first-child {
               margin-right: 15px;
            }
            
            label {
               border: 1px solid #a9b6c2;
               padding: 15px 15px 17px 15px;
					border-radius: 10px;
               line-height: 0;
					cursor: pointer;
					font-size: 40px;
					text-align: center;
					color: #fff;
					
               &.et-smoker-label {
                  padding: 0;
               }
				}
            
            input[type=radio] {
               //display: none;
               &:checked + label {
                  //margin-bottom: 0;
                  border-color: #ff8200;
                  -webkit-box-shadow:inset 0px 0px 0px 2px #ff8200;
				  -moz-box-shadow:inset 0px 0px 0px 2px #ff8200;
				  box-shadow:inset 0px 0px 0px 2px #ff8200;
                  background: none;
                  @include transition_fwd(background .10s ease-in);
               }    
            }
         
            
			}
			
			
			
			
			span{
				&.male-icon{
					background: url("../images/elite-terms/et-male.png") no-repeat center center;
					width: 86px;
					height: 86px;
					border: 0;
					display: block;
				}
				
				&.female-icon{
					background: url("../images/elite-terms/et-female.png") no-repeat center center;
					width: 86px;
					height: 86px;
					border: 0;
					display: block;
				}
				
				&.smoker-yes-icon{
					background: url("../images/elite-terms/et-smoker.png") no-repeat center center;
					width: 86px;
					height: 86px;
					border: 0;
					display: block;
				}
				
				&.smoker-no-icon{
					background: url("../images/elite-terms/et-non-smoker.png") no-repeat center center;
					width: 86px;
					height: 86px;
					border: 0;
					display: block;
				}
			}
			
			.et-select-plan-date{
				width: 100%;
				margin-bottom: 20px;
				color: #000;
				@media(min-width: $screen-md){
					margin-top: 10px;
               		max-width: 220px;
				}
			}
			
         .et-ays-datepicker {
            background: #f1f3f5 url("../images/1fna-cal.png") no-repeat 7px 0px;
            width: 100%;
            color: #555555;
            border: 0;
            padding: 6px 12px 6px 50px;
            height: 40px;
            
            @media (min-width: $screen-md) {
               padding-left: 60px
            }
         }
			
		}
		
		
		.et-plan-option-extra-info{
			border-top: solid 1px #b0bdbd;
			display: table;
        	width: 100%;
        	background-color: #f1f3f5;
         
         
			@media(min-width: $screen-md){
				padding-top: 0;
				border-top: solid 1px #b0bdbd;
				margin-left: 0;
				margin-right: 0;
			}
			
			.et-extra-info{
				height: 85px;
				text-align: center;
				display: table;
				width: 50%;
				
            &.top,
            &.bottom {
               display: table-cell;
               vertical-align: middle;
            }
            
				&.top {
               		text-align: right;
					background-color: #fff;
               		padding-right: 10px;
               		width: 40%;
	               
	                @media(min-width: $screen-xs){ 
	                   padding-right: 25px;
	                }
	               
	                @media(min-width: $screen-md){ 
	                   padding-right: 50px;
	                }
				}
            
            &.bottom {
               text-align: left;
               padding-left: 10px;
               width: 60%;
               
               @media(min-width: $screen-sm){ 
                  padding-left: 25px;
               }
               
					@media(min-width: $screen-md){
						background-color: #f1f3f5;
                  		padding-left: 30px;
					}
				}
				
				
				.et-center-div{
					display: table-cell;
					vertical-align: middle;
				}
					
            .et-amount{
               font-size: 30px;
               font-family: 'Calibri-Bold';
               color: #fc6d08;
            }
				
				p{
					&.et-amount{
						color: #2a2c29;
						font-size: 28px;
						font-family: 'Calibri-Bold';
                  line-height: 28px;
                  display: block;
    					padding-top: 16px;
    					padding-bottom: 2px;

    					span {
    						display: block;
                     font-size: 14px;
                     
                     @media (min-width: $screen-xs-min) {
                        display: inline;
                        vertical-align: initial;
                     }
    					}
					}
					
					&.et-per{
						color: #2a2c29;
						font-size: 14px;
						font-family: 'Calibri';
						line-height: 14px;
						padding-bottom: 15px;
						
						@media(min-width: $screen-md){
							padding-right: 51px;
						}
						
						&.et-month{
							text-align: left;
                     
							@media(min-width: $screen-md){
								padding-right: 60px;
							}
						}
					}
				}
			}
         
         
		}
		
		.et-plan-option{
         margin-top: 30px;
			padding: 0;
			
			@media(min-width: $screen-md){
				margin-top: 0;
			}
			
         .et-option-wrapper{
            padding: 30px 20px;
            
            @media (min-width: $screen-md) {
               padding-bottom: 0;
            }
         }
         
         .et-insurance-amount {
            
            @media (min-width: $screen-md) {
               padding-left: 30px;
            }
         }
         
			.slider.slider-horizontal{
            width: 90%;
            display: block;
            margin-bottom: 30px;
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
            
				@media(min-width: $screen-md){
					width: 285px;
               display: inline-block;
               margin: 0;
               margin-left: 10px;
               margin-right: 10px;
				}
				
				.slider-tick{
					display: none;
				}
			}
			
			
			.tooltip.top .tooltip-arrow{
				background: url("../images/et-sprite.png") no-repeat center center;
				background-position: -583px -41px;
				width: 18px;
				height: 18px;
				border: 0;
				display: block;
				left: 190px;
				bottom: -7px;
				left: 30% !important;
			}
			
			.tooltip{
				.tooltip-inner{
					font-size: 14px;
					color: #fff;
					font-family: 'Calibri';
					max-width: 410px;
					height: 80px;
					padding: 5px 12px;
					line-height: 17px;
				    border-radius: 7px;
				}
			}
						
			h2{
				&.et-plan-option-text{
				    padding-top: 18px;
					
					&.et-amount{
						height: 60px;
						display: table-cell;
						vertical-align: middle;
						
						@media(min-width: $screen-md){
							height: 100px;
						    text-align: right;
							padding-right: 50px;
						}
					}
					
					
					&.et-amount-txt{
						padding-bottom: 10px;
					}
				}
			
				
				
			}
			
			h3{
				margin: 0;
				
				&.et-dollars{
					margin: 0;
					color: #2a2c29;
					font-size: 28px;
					text-align: center;
					padding-top: 5px;
				}
				
				&.et-insured-amount{
					padding-bottom: 6px;
					
					@media(min-width: $screen-md){
						padding-top: 25px;
					}
				}
				
				&.et-promo-code-txt{

					img {
						padding-left: 5px;
						margin-left: 25px;
                  margin-top: 4px;
						cursor: pointer;
                  
                  &.reversed {
						    -ms-transform: rotate(-90deg);
						    -webkit-transform: rotate(-90deg);
						    transform: rotate(-90deg);
						}
					}
					@media(min-width: $screen-md){
						padding-top: 25px;
					}
				}
            
            &.et-mbot-15 {
               margin-bottom: 15px;
               
               @media (min-width: $screen-md) {
                  margin-bottom: 0;
               }
            }
			}
			
			p{
				&.et-per{
					font-size: 14px;
					color: #2a2c29;
					text-align: center;
					line-height: 14px;
					padding-bottom: 8px;
				}
				
				&.et-hkd{
					font-size: 18px;
					color: #3f4547;
					padding-bottom: 15px;
					
					@media(min-width: $screen-md){
						color: #505759;
						padding-bottom: 20px;
					}
				}
				
				&.et-slider-info{
					color: #2a2c29;
					font-size: 14px;
					line-height: 14px;
					
					&.center{
						text-align: center;
					}
				}
			}
			
         .et-promo-code-question{
            font-size: 14px;
            display: block;
            padding: 5px 0 15px 0;
            color: #f68a1d;
            text-decoration: underline;
            font-size: 14px;
         }
            
			span{
				&.et-hkd-dollars{
					background-color: #eef0f3;
					width: 80%;
					display: inline-block;
					max-width: 240px;
					height: 40px;
					padding: 7px 0 0 13px;
					margin-left: 12px;
					
				}
				&.et-info-tooltip, &.et-question-tooltip {
					width: 18px;
					height: 18px;
					border: 0;
					display: block;
				}

				&.et-info-tooltip{
					background: url("../images/et-sprite.png") no-repeat center center;
					background-position: -523px -41px;
				}
				
				&.et-question-tooltip{
					background: url("../images/et-sprite.png") no-repeat center center;
					background-position: -556px -41px;
				}
			}
			
			.et-slider-info-div{
         
				@media(min-width: $screen-md){
					max-width: 300px;
               		margin-left: -5px;
				}
			}
			
         .et-minimal{
				padding: 0;
				border: 0;
				background-color: transparent;
	            position: absolute;
	            left: 185px;
	            top: 6px;
            
            @media (min-width: $screen-md) {
               display: block;
            }
            
            &.et-insured-amount-tooltip {
               
               @media (min-width: $screen-md) {
                  left: 200px;
                  top: 30px;
               }
            }
            
            &.et-promo-code-tooltip {
               left: 145px;
               
               @media (min-width: $screen-md) {
                  position: absolute;
                  top: 30px;
                  left: 148px;
               }
            }
			}
			
			.row.reset-margin{
				margin: 0;
			}
			
			.btn.btn-orange.et-calculate-btn{
				height: 50px;
				width: 100%;
				max-width: 500px;
			    margin-bottom: 5px;
				
				&:focus {
					background-color: #ff8200;
					color:#fff;
				}
				
				@media(min-width: $screen-md){
					margin-top: 35px;
					height: 60px;
					margin-bottom: 60px;
				}
				
			}
			
			.et-plan-option-info, .et-dollars-day, .et-dollars-month {
				display: table;
				&.top{
					margin-top: -14px;
					
					@media(min-width: $screen-md){
						margin-top: 0;
					}
				}
			}
			
			
			.et-promocode{
				height: 40px;
				border: none;
				padding: 0;
				color: #000;
				font-family: 'Calibri';
				font-size: 17.92px;
				padding-left: 20px;
				margin-top: 5px;
				width: 100%;
				border-radius: 0;
				background-color: #f1f3f5;
			}
			
			.pull-left.et-promo-code-txtbox{
				width: 62%;
			}
			
			.pull-right.et-apply-btn{
				width: 38%;
				padding-left: 10px;
				
				.et-apply{
					width: 100%;
					font-size: 18px;
					margin-top: 5px;
					padding: 0;
					height: 40px;
				}
			}
			
			.et-dollars-day {
				background-color: #f1f3f5;
				
				@media(min-width: $screen-md){
					height: 100px;
				}
			}
			
			.et-dollars-month{
				background-color: #dbe1e6;
				
				@media(min-width: $screen-md){
					height: 100px;
				}
			}
			
			.et-dollars-per-day{
				display: table-cell;
				vertical-align: middle;
			}
			
			
			
		}
		
		
	}
	
	.et-accrdn-list{
		margin-top: 70px;
      
		@media(min-width: $screen-md){
			padding-top: 22px;
         max-width: 1200px;
			margin: 0 auto;
         padding: 50px 15px 0 15px;
		}
		
		.et-select-plan-panel{
			
			@media(min-width: $screen-md){
				width: 100% !important;
			}
			
		}
		
		.jspContainer{
			@media(min-width: $screen-md){
				width: 100% !important;
			}
		}
		
		.jspVerticalBar .jspArrow{
			
			&.jspArrowUp{
				background: url("../images/et-sprite.png") no-repeat center center;
				background-position: -609px -39px;
				width: 25px;
				height: 23px;
				border: 0;
				display: block;
				background-color: #9ba5a7 !important;
			}
			
			&.jspArrowDown{
				background: url("../images/et-sprite.png") no-repeat center center;
				background-position: -649px -39px;
				height: 23px;
				border: 0;
				display: block;
				background-color: #9ba5a7 !important;
			}
		}
		
		.jspArrow.jspDisabled{
			height: 23px;
			background: #9ba5a7;
			border-top: solid 1px #fff;
			border-bottom: solid 1px #fff;
			
			
		}
		
		.jspVerticalBar{
			 width: 25px;
			 
			 .jspTrack{
				background: #b7c3cd;
				border-top: solid 1px #fff;
				border-bottom: solid 1px #fff;
				.jspDrag{
					background: #9ba5a7;
				}
			 }
			 
		}
		
		.panel-group{
			.panel.et-panel-accordion{
				border-radius: 0;
				margin: 0;
			    border-bottom: 0;
				
				.collapse.in{
					display: block;
				}
				
				.et-panel-heading{
					border-radius: 0;
					background-color: #8a9496;
					color: #fff;
					padding: 0;
					
					a{
						&.et-collapse-link{
							width: 100%;
							display: block;
							color: #fff;
							padding: 11.5px 15px;
							font-family: 'Calibri-Bold';
						}
						
						&[aria-expanded="true"] {
							
							.fa-angle-up {
								display: block;
							}
							
							.fa-angle-down {
								display: none;
							}
						}
						
						&[aria-expanded="false"] {
							.fa-angle-down {
								display: block;
							}
							
							.fa-angle-up {
								display: none;
							}
						}
					}
				}
				
				
				.et-panel-body{
					padding: 20px 30px 40px 30px;
				    background-color: #eef0f3;
					
					@media(min-width: $screen-md){
						width: 100% !important;
						height: 200px;
						overflow: auto;
					}
					
				}
			}
			
		}
		
		.jspPane{
         // Overwret jscroll content padding
			padding: 20px 30px 40px 30px !important;
			
         p{
            padding-right: 33px;
            
				&.et-accrdion-txt-bold{
					color: #2a2c29;
					font-size: 18px;
					font-family: 'Calibri-Bold';
					line-height: 22px;
					padding-bottom: 20px;
				}
				
				&.et-accrdion-txt-normal{
					color: #2a2c29;
					font-size: 18px;
					font-family: 'Calibri';
					
					&.bottom{
						padding-bottom: 20px;
					}
				}
			}
		}
		
		p{
			&.et-accrdion-txt-bold{
				color: #2a2c29;
				font-size: 18px;
				font-family: 'Calibri-Bold';
				line-height: 22px;
				padding-bottom: 20px;
			}
			
			&.et-accrdion-txt-normal{
				color: #2a2c29;
				font-size: 18px;
				font-family: 'Calibri';
				
				&.bottom{
					padding-bottom: 20px;
				}
			}
		}
		
		
		span{
			&.et-arrow-down{
				font-size: 26px;
				padding-top: 2px;
			}
		}
		
	}
		
	.row.et-select-plan-btns{
		margin: 0 15px 50px 5px;
		
		@media(min-width: $screen-md){
			margin: 0 -15px 50px 0;
		}
		
		
		.left{
         padding: 0;
         
			@media(min-width: $screen-md){
				margin-left: 0;
				padding-left: 0;
				padding-right: 70px;
			}
		}
		
		.right{
			padding: 0;
         
         @media(min-width: $screen-md){
				margin-right: 0;
				padding-right: 0;
			}
		}
		
		.btn.btn-white.et-customer-srvce,
		.btn.btn-white.et-proceed-appl{
			width: 100%;
         height: 60px;
			padding: 0;
			
         &.active{
            color: #fff;
            background-color: #ff8200;
            box-shadow: none;
         }
			
			
			@media(min-width: $screen-md){
				margin-top: 18px !important;
				max-width: 500px;
            margin-left: -15px;
			}
			
			
			
			&.bottom{
				margin-top: 10px;
			}
		}
	}
	
	
   .et-contact-link {
      color: #fc6d08;
      text-decoration: underline;
      
      &:hover {
         color: #9fb1b2;
      }
      
      &:hover,
      &:focus,
      &:active,
      &:visited {
         text-decoration: underline;
      }
   }
//}

.et-po-amount-label {
   font: {
      family: 'Calibri-Bold';
      size: 14px;
   }  
   color: #fc6d08;
   line-height: 15px;
}

.et-sp-tooltip-wrapper {
 
   .tooltip-inner{
      font-size: 14px;
      color: #fff;
      font-family: 'Calibri';
      padding: 5px 12px;
      line-height: 17px;
      border-radius: 7px;
      background-color: #ff8200;
      text-align: left;
      position: relative;
      
      @media (min-width: $screen-md-min) {
         left: 40%;
         max-width: 410px;
      }
   }
   
   .tooltip-arrow{
      background: url("../images/et-sprite.png") no-repeat center center;
      background-position: -583px -41px;
      width: 20px;
      height: 14px;
      border: 0;
      margin-left: -10px !important;
      margin-bottom: -4px;
   }
}

#et-employment-info-next {
   cursor: pointer;
}

.et-bfr-start-txt{
   margin-bottom: 25px;
   margin-left: 5px;
   margin-right: 15px;
   color: #061d2a;
   font-size: 18px;
   line-height: 22px;
   
   @media(min-width: $screen-md){
      margin-top: 50px;
      margin-left: 0;
      margin-right: 0;
   }
}

#et-about-yoursel-section {
    
    .et-broken-line.et-full {
        @media(min-width: $screen-md){
			margin: 57px 0;
		}
    }
}