.et-payment {
	margin-top: -20px;
   
   @media (min-width: $screen-md) {
   		padding-bottom: 50px;
   }
   
   .page-header {
		margin: 0;
		padding: 0;
		border: none;
		h2 {
			display: block;
			color: #ff8200;
			margin-bottom: 28px;

			@media (min-width: $screen-md) {
				font-size: 36px;
				margin-bottom: 45px;
			}
		}
		p.page-header-motto {
			line-height: 23px;
			@media (min-width: $screen-md) {
				text-align: left;
			}
			span {
				display: block;
				@media (min-width: $screen-md) {
					display: inline;
				}
			}
		}
		p.amount-holder {
			font-family: 'Calibri-Bold';
			@media (min-width: $screen-md) {
				text-align: left;
				margin-top: 6px;
			}
		}
		span.total-amount {
			font-size: 24px;
			margin-top: 10px;
			display: block;
			@media (min-width: $screen-md) {
				display: inline;
				font-size: 30px;
			}
		}
		span.amount {
			font-size: 30px;
			line-height: 33px;
			display: block;
			@media (min-width: $screen-md) {
				display: inline;
			}
		}
	}

	.page-content {
		background-color: #f1f3f5;
		margin: 34px -15px 0;
		padding: 13px 30px 0 30px;
		@media (min-width: $screen-md) {
			background-color: #fff;
			margin-top: 30px;
			margin-left: 0;
			margin-right: 0;
			padding: 13px 65px 0 90px;
			border: 1px solid #b7c3cd;
		}

		h2 {
			font-size: 30px;
    		color: #ff8200;
		    margin-top: 18px;
    		margin-bottom: 28px;
		}
		.page-content-item {
			padding-bottom: 6px;
			label {
				font-family: 'Calibri-Bold';
				font-size: 18px;
				margin-bottom: 3px;
				color: #000;
				font-weight: normal;

				@media (min-width: $screen-md) {
					width: 45%;
					float: left;
					padding-top: 8px;
				}
			}

			.error-msg {
				margin-bottom: 0;
				@media (min-width: $screen-md) {
					float: right;
   		 			width: 55%;
				}
			}
			.card-image-holder {
				padding-bottom: 6px;
				@media (min-width: $screen-md) {
					padding-bottom: 0;
					margin-bottom: -6px;
				}
				label {
				    width: auto;
    				margin-right: 10px;
				}
				label > input{ /* HIDE RADIO */
				  display:none;
				}
				label > input + img{ /* IMAGE STYLES */
				  cursor:pointer;
				}
				label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
				  /*border-top:1px solid #ff8200;*/
				}
			}
			.desktop-half {
				@media (min-width: $screen-md) {
					width: 55%;
					float: left;
				}
			}
			.gray-textbox {
				background-color: #fff;
				border: 1px solid #ff8200;
			}
			.gray-textbox:active {
				border: 1px solid transparent;
			}
			.gray-textbox:hover, .gray-textbox:focus {
				border: 1px solid #ff8200;
			}
			.card-month, .selectDiv{
				width: 49%;
				float: left;
			}
			.card-cvv {
				padding: 6px 25px;
				width: 100%;
				@media (min-width: 414px) {
					width: 49%;
					float: left;
				}
			}
			.cvv-image-holder {
				width: 100%;
				@media (min-width: 414px) {
					float: right;
				    text-align: left;
				    width: 47%;
				}
				@media (min-width: $screen-md) {
					width: 49%;
				}
			}
			.cvv-image {
				margin: 0 auto;
				@media (min-width: 414px) {
    				margin-top: -18px;
    			}
    			@media (min-width: $screen-md) {
    				height: 40px;
    				margin-top: 0;
    			}
			}
			.fwd-checkbox {
				margin-top: 10px;
				@media (min-width: 414px) {
					margin-top: 0;
				}
				@media (min-width: $screen-md) {
					margin-top: 42px;
				}
				label {
				    width: 22px;
				    height: 22px;
				    background-color: #fff;

				    &:after {
			    	    width: 11px;
    					height: 7px;
    					top: 5px;
    					left: 4px;
				    }
				}
				.notice {
					font-size: 14px;
					font-family: 'Calibri-Bold';
				    padding-left: 34px;
				    padding-top: 5px;
				    line-height: 17px;
				    @media (min-width: $screen-md) {
				    	font-family: 'Calibri';
				    	padding-right: 20px;
				    }
				}
			}
			.selectDiv {
			    overflow: hidden;
			    border: 1px solid #ff8200;
			    height: 40px;
			    width: 47%;
			    float: right;
			    @media (min-width: $screen-md) {
			    	width: 49%;
			    	margin-bottom: 10px;
			    	float: right;
			    }
				select {
					color: #c4c3c3;
					background: url("../images/orange-caret.png") no-repeat;
				    background-position: 65% 50%;
				    border-right: 22px solid transparent;
				    z-index: 1;
				    -webkit-appearance: none;
				    -moz-appearance: none;
				    text-indent: 1px;
				    text-overflow: '';
				    margin-bottom: 0;
				    width: 150%;
				    background-color: #fff;

				    @media (min-width: $screen-md) {
				    	background-position: 75% 50%;
				    	width: 130%;
				    }
				}
			}

			.selectDiv.month {
				float:left;
			}

			.selectDiv:active {
				border: 1px solid transparent;
			}
			.selectDiv:hover, .selectDiv:focus {
				border: 1px solid #ff8200;
			}
		}

		.button-holder {
			padding-bottom: 30px;
			button {
			    width: 47%;
    			height: 50px;
			}
			.et-payment-button-confirm {
            width: 100%;
            max-width: none;
				
            &:hover {
					background-color: #ff8200;
					color: #fff;
				}
			}
			.et-payment-button-back {
				background-color: #fff;
				color: #ff8200;

				&:hover {
					background-color: #fff;
					color: #ff8200;
				}
			}
		}

		.line {
			width: 100%;
			height: 1px;
			background-color: #858687;

			@media (min-width: $screen-md) {
				margin-top: 38px;
			}
		}

		.credit-cards-definition {
			padding: 40px 30px 0 30px;
			@media (min-width: $screen-md) {
				padding-left: 90px;
				padding-right: 65px;
				padding-top: 45px;
			}
			.card-item {
				position: relative;	
				margin-bottom: 40px;
				@media (min-width: $screen-md) {
					width: 33.33%;
					float: left;

					div.text-center {
						min-height: 42px;
					}
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					@media (min-width: $screen-md) {
						position: initial;
					}
				}
				p {
				    margin-top: -2px;
				    font-size: 14px;
				    margin-left: 40%;
				    line-height: 17px;
				    @media (min-width: 414px) {
				    	margin-left: 32%;
				    }
				    @media (min-width: $screen-md) {
				    	margin-left: 0;
    					margin-top: 10px;
    					padding: 0px 15px;
				    }
				}
			}
			.last {
				padding-bottom: 30px;
				margin-bottom: 0;
			}

		}
	}

	.complete-holder {
		padding: 0 15px;
	}
}