.referral {
	padding: 12px 30px;
	background-color: white;
	@media (min-width: $screen-md-min) {
		background-color: #f1f3f5;
		padding: 12px 48px;
	}
	h2 {
		color: #ff8200;
		margin-bottom: 14px;
		font-size: 30px;
		@media (min-width: $screen-md-min) {
			text-align:left;
		}
	}

	.referral-item, .promo-item {
		border-bottom: 2px solid #b7c3cd;
		overflow: auto;
		padding: 20px 20px 19px;
		@media (min-width: $screen-md-min) {
			border:none;
			padding: 10px 20px 9px;
			background-color: white;
			position: relative;
		}
		.referral-item-cols {
			width: 50%;
			float: left;
			@media (min-width: $screen-md-min) {
				width: 33%;
			}

			h5 {
				margin: 0;
				line-height: 10px;
				margin-bottom: 0;
			}
			p {
				margin: 0;
			}

			sup {
				top: -0.7em;
				font-size: 55%;
			}
		}
		.copy-code-holder {
			@media (min-width: $screen-md-min) {
				position: absolute;
			    top: 0;
			    width: 100%;
			    left: 0;
			    min-height: 42px;
			    display: none;
			}
		}

	}

	.referral-item:hover,
	.referral-item.zeroclipboard-is-hover,
	.referral-item.zeroclipboard-is-active {
		@media (min-width: $screen-md-min) {
			.copy-code-holder {
				display: block;
			}
			
			.copy-code {
				visibility: visible;
			}
		}
	}

	.promo-item {
		padding-bottom: 15px;
		padding-top: 15px;
		.promo-item-cols {
			position: relative;
			width: 50%;
			float: left;
			@media (min-width: $screen-md-min) {
				width: 25%;
			}
			
			h5{
				margin-bottom: 0;
			}
			
			p {
				line-height: 20px;
				
				&.invisible{
					visibility: visible;
					@media(min-width: $screen-md){
						visibility: hidden;
					}
					
				}
			}
			span {
				display: block;
				@media (min-width: $screen-md-min) {
					min-height: 1px;
				}
			}
			
			.btn.btn-orange.get-now{
				font-size: 18px;
				padding: 1px 0.5px;
				position: absolute;
				top: 14px;
				left: 90px;
				
				@media(min-width: $screen-md){
					top: -5px;
					left: 54px;
				}
			}
		}

		.bottom {
			margin-top: 15px;
			@media (min-width: $screen-md-min) {
				margin-top: 0;
			}
		}
		.clear {
			clear: both;
			display: block;
    		overflow: hidden;
			@media (min-width: $screen-md-min) {
				clear:none;
				display: inline;
			}
		}
	}
	.first {
		border-top: 2px solid #b7c3cd;
		@media (min-width: $screen-md-min) {
			border:none;
		}
	}

	.bottom {
		margin-top: 12px;
		@media (min-width: $screen-md-min) {
			margin-top: 0;
		}
	}

	.copy-code {
		font-size: 18px;
		margin-top: 10px;
		height: 40px;

		width: 100%;
	    max-width: 520px;
	    border: solid 1px #ff8200;
	    background: #fff;
	    color: #ff8200;
	    font-family: 'Calibri-bold';
	    border-radius: 0;
	    outline: none;

		@media (min-width: $screen-md-min) {
			height: 44px;
			max-width: none;
		    background-color: #ff8200;
		    color: white;
		    opacity: .9;
		    margin-top: 0;
		    position: absolute;
    		z-index: 5;
			width: 100%;
			top: 0;
			left: 0;
			visibility: hidden;
		}
	}

	.copy-code:hover {
		color: white;
		background: #ff8200;
	}

	.view-all {
		margin-top: 37px;
	}


	.personal-promotion-code {
		margin-top: 52px;
		@media (min-width: $screen-md-min) {
			margin-top: 32px;
		}
		span {
			display: block;
			margin-top: 3px;
			@media (min-width: $screen-md-min) {
				margin: 0;
				display: inline;
			}
		}
	}

	.gray-color, .gray-color-referrals, .gray-color-referral-link {
		background-color: #f1f3f5;
	}
	.gray-color {
		@media(min-width: $screen-md){
			background-color: #fff;
		}
	}
	.notice {
		margin-top: 35px;
		@media (min-width: $screen-md-min) {
			margin-top: 15px;
		}
		p{
			font-size: 14px;
			margin-bottom: 12px;
			@media (min-width: $screen-md-min) {
				margin-bottom: 15px;
			}
		}

		a {
			color: #ff8200;
			text-decoration: underline;
		}

		a:hover {
			color:#9fb1b2;
		}
	}

	.referral-link {
		margin: 36px -30px 0;
	    padding-top: 45px;
	    padding-bottom: 40px;
	    @media (min-width: $screen-md-min) {
	    	padding-top: 0;
	    }

	    .social-share {
	    	padding-left: 30px;
	    	padding-right: 30px;
	    	@media (min-width: $screen-md-min) {
	    		width: 100%;
	    	}

	    	.col-xs-3 {
	    		padding-left: 0;
	    		padding-right: 0;
				@media (min-width: $screen-md-min) {
					padding-left: 15px;
					padding-right: 15px;
				}	
	    	}
	    	img {
	    		margin: 0 auto;
				@media (min-width: $screen-md-min) {
					margin: 0;
				}
	    	}
	    	.boconcept {
	    		padding-top: 10px;
	    		padding-left: 10px;
	    	}
	    }

	    .your-referral-link {
	    	margin-top: 32px;
	    	padding-left: 30px;
	    	padding-right: 30px;
	    	@media (min-width: $screen-md-min) {
	    		margin-top: 45px;
	    	}

	    	h2 {
	    		margin-bottom: 15px;
	    	}

	    	.share {
	    		float: left;
				width: 47%;
				
				@media(min-width: $screen-md){
					width: 21%
				}
				
	    		i {
	    			color: white;
    				float: left;
					height: 50px;
					width: 33.3%;
					text-align: center;
					padding-top: 18px;
					
					@media(min-width: $screen-md){
						padding: 16px 20px;
					}
	    		}

	    		.fa-facebook {
	    			background-color: #1a4e95;
	    		}
	    		.fa-twitter {
	    			background-color: #35aadc;
	    		}
	    		.fa-google-plus {
	    			background-color: #cc324b;
	    		}
	    	}

	    	.link {
	    		border: none;
			    width: 100%;
			    height: 50px;
			    padding: 20px;
			    outline: none;
			    border-radius: 0;
			    background-color: white;
			    font-size: 15px;
			    line-height: 15px;
			    @media (min-width: 480px) {
			    	font-size: 16px;
			    }
			    @media (min-width: $screen-md-min) {
			    	width: 56%;
			    	float: left;
			    	max-width: 497px;
			    	font-size: 18px;
			    }
	    	}

	    	.copy-link {
	    		font-size: 24px;
	    		color: white;
	    		background-color: #ff8200;
				width: 53%;
	    		height: 50px;
	    		border-radius: 0;
	    		outline: none;
	    		float: left;
	    		font-family: 'Calibri-Bold';
	    		@media (min-width: $screen-md-min) {			
	    			width: 23%;
	    		}
				
				
				&.invisible{
					visibility: hidden;
				}
				
				&.visible{
					visibility: visible;
				}
	    	}
	    }
	}

	.title-orange {
		font-weight: bold;
		background-color: #ff8200;
		color: #fff;
	}
	
	.title-gray{
		font-weight: bold;
		background-color: #dbe1e6;
		color: #373a36;
	}
	
	.referral-list, .promo-list {
		@media (min-width: $screen-md-min) {
			border: 1px solid #b7c3cd;
		}
	}

	.promo-list {
		border-top: none;
	}
}