.modal.et-modal {

	.modal-checkbox {
		margin-top: 20px;
    	padding-left: 40px;
    	padding-bottom: 3px;

    	label {
    		width: 20px;
    		height: 20px;

    		&:after {
			    width: 10px;
			    height: 6px;
			    top: 5px;
			    left: 4px;
    		}
    	}

    	p.notice {
		    padding-top: 6px;
    	}

    	
	}
}
#cannot-apply-modal, #customer-service-modal {
	.modal-dialog {
		@media (min-width: $screen-md) {
			margin-top: 132px;
		}
	}
	.et-modal-content {
    	border-radius: 0;
	    max-width: 377px;
	    padding: 28px 20px 3px;
	    border: 1px solid rgba(0, 0, 0, 0.5);
	    margin: 0 auto;
	    @media (min-width: $screen-md) {
	    	max-width: 505px;
    	    padding-left: 40px;
    		padding-right: 35px;
	    }
		h5 {
		    font-family: 'Calibri-Bold';
		    font-size: 18px;
		    color: #2a2c29;
		}
	}

   .modal-header {
      position: relative;
      
      button {
         position: absolute;
         top: -25px;
         right: 0;
      }
      
   }
   
	.modal-body {
		margin-top: 18px;
		p {
			font-size: 18px;
			color: #2a2c29;
			font-family: 'Calibri';
			line-height: 18px;

			a {
				color: #ff8200;
            font-size: 14px;
            border-bottom: 1px solid #ff8200;
	    		@media (min-width: $screen-md) {
	    			display: inline-block;
	    		}
			}
         
         .et-top-no {
            font-size: 18px;
            border: 0;
         }
		}
      

		form {
			margin-top: 10px;
			@media (min-width: $screen-md) {
				margin-top: 32px;
				padding: 0 20px;
			}
			.input-items {
				margin-top: 3px;
				margin-bottom: 7px;

				@media (min-width: $screen-md) {
					margin-bottom: 10px;
				}
				label {
					font-family: 'Calibri-Bold';
					font-size: 18px;
					margin-bottom: 0;
					font-weight: normal;
					
					@media (min-width: $screen-md) {
						width: 40%;
						float: left;
						padding-top: 6px;
					}
				}
				.select-holder {
					overflow: hidden;

				}
				input[type="text"], select {
				    margin-top: -3px;
				    background-color: #e8eaea;
				    border: none;
				    box-shadow: none;
				    height: 40px;
				    font-size: 18px;
    				padding: 6px 20px;
    				border-radius: 0;

    				@media (min-width: $screen-md) {
    					width: 60%;
    					float: left;
    				}
				}
				input[type="text"] :-ms-input-placeholder {
					color: #9a9a9a;
				}
				.error-msg {
					float: right;
					width: 60%;
					margin-bottom: 0;

					.help-block {
						font-size: 14px;
					}
				}
				select {
					width: 128%;
					background: url("../images/orange-caret.png") no-repeat;
				    background-position: 80% 50%;
				    border-right: 25px solid transparent;
				    background-color: #e8eaea;
				    padding-left: 16px;
				}
				select.form-control {
				  -moz-appearance: none;
				   -webkit-appearance: none;
				   appearance: none;
				}
			}
			button {
				margin-top: 12px;
				height: 50px;

    			@media (min-width: $screen-md) {
    				width: 100%;
    				margin-top: 20px;
    			}
			}

			.asterisk-holder {
			    width: 12px;
			    float: left;
			    height: 45px;
			    margin-top: -6px;
				.asterisk {
					color: #ff8200;
					font-size: 14px;
				}
			}
			
			p.notice {
				font-size: 14px;
				margin-top: 6px;
				color: #000;
			}
		}
	}
}

