// Header Widget

// Note: et = namespace for elite terms

//mobile var
$header-height: 50px;
$header-color: #061d29;
$header-font-color: #ecedee;
$header-hotline-font-size: 14px;
$header-chat-bgcolor: #f68a1d;
$header-ch-bgcolor: #000;

$header-menu-height: 120px;
$header-menu-bg-color: #fff;


//.fwd-savie-wrapper {
	#overlay {
		position:absolute;
		width: 100%;
		top: 170px;
		bottom: 0;
		background: rgba(0,0,0,0.5);
		z-index: 5;
		opacity: 1;
	}

	header {	
		.navbar-fixed-top {
			height: 33px;
			background-color: $header-color;
			color: #fff;
			font-family: 'Calibri-Bold';
			font-size: $header-hotline-font-size;	
			
			@media(min-width: $screen-md-min) {
				height: 40px;
			}
			
			.clear-padding{
				padding: 0;
				
				@media(min-width: $screen-md-min) {
					padding-right: 15px;
				}
			}
			
			.header-hotline {
				padding-left: 5px;
				padding-right: 0;
				line-height: 14px;
				@media(min-width: $screen-md-min) {
					padding: 0 5px 0 15px;
				}
				
				p {
					margin: 0;
					vertical-align: middle;
					height: 33px;
					display: table-cell;
					
					@media(min-width: $screen-md-min) {
						height: 40px;
						font-family: 'Calibri', sans-serif;
					}
				}
			}
			
			
			.notification-menu{
				position: relative;
				
				.btn-notifications{
					white-space: normal;
					padding: 7px 0 7px 20px;
					margin-top: 1px;
					margin-bottom: 3px;
					width: 100%;
					text-align: left;
					border: 0;
					background-color: transparent;
					color: #373a36;
					border-left: solid 4px #ff8200;
					font-size: 14px;
					font-family: 'Calibri';
					
					&:hover,
					&:active,
					&:focus{
						outline: 0;
					}
					
				}
				
				.btn-notify{
					display: none;
					@media(min-width: $screen-md-min){
						display: block;
						height: 40px;
						padding-left: 0;
						padding-right: 30px;
						background-color: #061d29;
						border: 0;
					}
					
					&:hover,
					&:active,
					&:focus{
						outline: 0;
					}
				}
				
				
				p{
					&.time{
						font-size: 12px;
						font-family: 'Calibri';
						color: #9ba5a7;
					}
				}
				
				span{
					&.notification{
						background: url("../images/sprite-icons.png") no-repeat center center;
						background-position: -438px -15px;
						width: 27px;
						height: 20px;
						display: block;
					}
				}
				
				.arrow-bottom{
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-bottom: 10px solid #fff;
					top: 30px;
					left: 4px;
				}
				ul{
					&.dropdown-menu.notification{
						padding: 0;
						border-radius: 0;
						width: 250px;
						left: -165px;
						margin-top: 0;
						border: 0;
					}
					
					li{
						&.dropdown-body.notifications{
							border: solid 1px #b7c3cd;
							border-top: none;
							border-bottom: none;
							background-color: #f1f3f5;
							&.bottom{
								border-bottom: solid 1px #b7c3cd;
							}
						}
						
						
						&.dropdown-header.notify{
							border: solid 1px #b7c3cd;
							border-top: none;
							color: #373a36;
							font-size: 14px;
							font-family: 'Calibri-Bold';
							text-align: center;
							padding: 10px 0;
						}
						
						&.divider{
							margin: 0;
							border: solid 1px #b7c3cd;
							margin-left: 10px;
							margin-right: 10px;
						}
						
						.divider-notify{
							border-bottom: solid 1px #b7c3cd;;
							margin-left: 10px;
							margin-right: 10px;
							padding-top: 2px;
						}
					}
				}
			}
			
			.desktop-add-menu {
				display: none;
				
				
				@media(min-width: $screen-md-min) {
					display: block;
					
				}
				
				.header-top-menu {				
					ul {
						margin: 0;
						padding: 0 45px 0 0;
						cursor: default;
						font-size: 14px;
						
						li {
							font-family: 'Calibri';
							display: block;
							float: left;
							color: #333230;
							
							a {
								color: #fff;
								padding: 10px 8px 11px 8px;
								display: block;
							}
							
							&.top-menu-chinese {
								font-family: 'Microsoft Yahei','微软雅黑体', 'STXihei', '华文細黑', Arial, Helvetica, sans-serif;
								//font-family: 'Calibri', sans-serif;
							}
							
							&.reset-padding-menu {
								padding: 7px 5px;
								font-size: 16px;
								color: #333333;
							}
						}
					}
				}
			}
			
			.buttons-and-chat {
				@media(min-width: $screen-md-min) {
					max-width: none;
					width: auto;
				}
				
				buttons {
					display: block;
					
					&:hover,
					&:focus,
					&:active{
						color: #fff;
					}
				}
				
				.btn-chat {
					float: left;
					background-color: #ff8200;
					font-size: 16px;
					color: #fff;
					height: 33px;
					width: 100px;
					border: 0;
					
					@media(min-width: $screen-md-min) {
						width: auto;
						max-width: none;
						height: 40px;
						padding: 8px;
						margin-left: 5px;
						font-family: 'Calibri-Bold';
						font-size: 14px;
						line-height: 24px;
						color: #fff;					
					}
				}
				
				.btn-eServices-fwd-hk{
					float: left;
					background-color: #ff8200;
					font-size: 14px;
					color: #fff;
					height: 33px;
					padding: 0;
					width: 66px;
					border: 0;
					
					@media(min-width: $screen-md-min) {
						width: auto;
						max-width: none;
						height: 40px;
						padding: 8px;
						margin-left: 5px;
						font-family: 'Calibri-Bold';
						font-size: 16px;
						line-height: 24px;
						color: #fff;					
					}
				}
				
				
				.btn-eServices-my-account{
					float: left;
					background-color: $header-ch-bgcolor;
					padding: 5px 4px;
					@media(min-width: $screen-md-min) {
						width: auto;
						max-width: none;
						height: 40px;
						font-family: 'Calibri-Bold';
						font-size: 16px;					
						padding: 9px 17px;
					}
					&:hover,
					&:focus,
					&:active{
						color: #fff;
					}
				}
				
				.btn-chinese {
					float: left;
					background-color: $header-ch-bgcolor;
					font-family: 'Microsoft Yahei','微软雅黑体', 'STXihei', '华文細黑', Arial, Helvetica, sans-serif;
					//font-family: 'Calibri', sans-serif;
					font-size: 16px;
					padding: 6px 10px;
					height: 33px;
					border: 0;
					
					&.eServices{
						padding: 6px 5px;
					}
					
					span {
						color: #fff;
						&:hover,
						&:focus,
						&:active {
							color: #fff;
						}
					}
					
					.chinese {
						display: block;
						
						@media(min-width: $screen-md-min) {
							display: none;
						}
					}
					
					.login {
						display: none;
						
						@media(min-width: $screen-md-min) {
							display: block;
							position: relative;
						}
						
						.more {
							padding-left: 5px;
						}
					}
					
					.login-eServices{
						position: relative;
						font-family: 'Calibri-Bold';
						font-size: 14px;
					}
					
					
					@media(min-width: $screen-md-min) {
						width: auto;
						max-width: none;
						height: 40px;
						font-family: 'Calibri-Bold';
						font-size: 14px;					
						padding: 9px 17px;
					}
				}
				
				.btn-login {
					display: none;
					font-family: 'Calibri-Bold';
					font-size: 16px;
					background-color: $header-ch-bgcolor;
					height: 50px;
					width: 110px;
					
					@media(min-width: $screen-md-min) {
						display: block;
					}
				}
			}
		
		}
		
		
		
		//menu and logo header
		.navbar-menu {
			background-color: $header-menu-bg-color;
			border: 0;		
			position: relative;	
			padding-top: 33px;
			@media(min-width: $screen-md-min) {
				padding-top: 40px;
				height: 170px;
				border-bottom: 1px solid #fff;
			}
			
			&.modal-display {
				position: fixed;
				width: 100%;
				top: 0;
				z-index: 5;
			}
			
			&.show-dropdown {
				border-bottom: 1px solid #bbb;
			}
	
			
			.navbar-position {
				padding-left: 5px;
				padding-right: 15px;
				position: relative;
	
				@media(min-width: $screen-md-min) {
					padding: 0;
				}
				
				.logo-position {
					padding: 0;
					width: 66.66666%;
					@media(min-width: $screen-md-min) {
						width: auto;
					}
					
					a {
						display: block;
					}
					
					img {
						padding: 21px 0;
					}
				}
				
				
			}
			
			.navbar {
				.navbar-default {
					bakcground-color: transparent;
				}
			}
			
			
			.navbar-collapse-image {
				display: block;
				@media(min-width: $screen-md-min) {
					display: none;
				}
				
				padding: 36px 0 0 0;
				border: 0;
				background: transparent;
				
				&:active,
				&:hover,
				&:focus {
					background-color: transparent;
					outline: 0;
				}
				
			}
			
			.padding-reset {
				padding: 0;
				display: none;
				
				ul {
					margin-bottom: 0;
				}
				
				@media(min-width: $screen-md-min) {
					display: block;
				}
			}
			
			
			.header-menu {		
				li{
					@media(min-width: $screen-sm-min) {
						display: table-cell;
						color: #ff8200;
						font-weight: bold;
						font-size: 20px;
						width: 172px;
						text-align: center;
					}
					
					
					&:hover,
					&:focus,
					&:active,
					&.active {
						background: #ff8200;
						color: #fff;
						
					}
					
					
					&.open {
						color: #fff;
						background-color: #ff8200;
					}
					
					
					&.full-width {
						.orange-header-menu {
							width: 100%;
							height: 130px;
							border: 0;
							background: transparent;						
						}
						
						position: inherit;
						
						.dropdown-toggle {
							a {
								text-decoration: none;
								color: #ff8200;
								
								&:focus,
								&:hover,
								&:active {
									color: #fff;
								}
							}
						}
					}
					
					
					.dropdown-menu {					
						width: 100%;
						border: 0;
						border-radius: 0;
						margin-top: 0;
						
						.savie-dropdown {
							padding: 0 30px 0 15px;
							margin-top: 28px;
							margin-bottom: 18px;
							font-family: 'Calibri-Bold';
							font-size: 24px;
							
							.row {
								margin: 0 -8px;
							}
							
							.savie-col {
								padding-left: 7.5px;
								padding-right: 7.5px;
							}
							
							h3 {
								font-size: 24px;
								font-family: 'Calibri-Bold';
								color: #ff8200;
								margin-top: 0;
								margin-bottom: 25px;
							}
							
							img {
								width: 100%;
							}
							
							p {
								font-size: 14px;
								font-family: 'Calibri';
								color: #000;
								margin-top: 3px;
								margin-bottom: 15px;
							}
							
							button, a {
								width: 100%;
							}
							
							
							.promo-container {
								/* border-left: 1px solid #bbbbbb; */
								height: 376px; /* temporary */
								padding-left: 13px;
								padding-bottom: 30px;
								
								img {
									margin-bottom: 30px;
								}
							}
							
							a.find-more {
								font-size: 18px;
								color: #000;
								display: block;
								
								&:hover,
								&:focus {
									color: #9fb1b2;
									outline: 0;
								}
								
								.fa-play {
									color: #f6871f;
									font-size: 12px;
									padding-left: 5px;
								}
							}
						}					
					}				
				}	

            &.et-header-menu {
               
               li {
                  height: 130px;
                  vertical-align: middle;
                  
                  &:hover,
                  &:focus,
                  &:active,
                  &.active {
                     
                     a {
                        color: #fff;
                     }
                  }
                  
                  .orange-header-menu {
                     color: #ff8200;
                  }
               }
            }
			}
			
			&.teaser-header {
				.navbar-position .logo-position {
					@media(min-width: $screen-md) {
						width: (330 / 1155) * 100%;
					}
				}
				
				.padding-reset ul {
					padding-left: 0;
				}
				
				.header-menu {
					@media(min-width: $screen-md) {
						width: (745 / 1155) * 100%;
					}
					
					li {
						display: table;
						float: left;
						color: #9fb1b2;
						width: (149 / 745) * 100%;
						
						.orange-header-menu {
							color: #9fb1b2;
							display: table-cell;
							position: relative;
							cursor: pointer;
							vertical-align: middle;
							font-size: 18px;
							line-height: 22px;
							
							span {
								display: block;
								color: #ff8200;
								position: absolute;
								top: 25px;
								width: 100%;
								font-size: 14px;
								font-family: 'Calibri-Bold';
							}
							
							&:hover,
							&:focus {
								outline: 0;
								color: #fff;
								
								span {
									color: #fff;
								}
							}
						}
						
						&.active .orange-header-menu,
						&.active .orange-header-menu span {
							color: #fff;
						}
					}
				}
			}
		}	
	}
	
	.mob-header .navbar-brand {
		height: auto;
	}
//}
