// Hunger Selling Style
//.fwd-savie-wrapper {
	.banner-widget {
		&.hunger-selling{
			background: url("../../assets/images/hunger-selling-banner-mobile.png") center center no-repeat;
			background-size: cover;
			
			@media(min-width: $screen-md-min){
				background: url("../../assets/images/hunger-selling-banner-dsktop.png") center center no-repeat;
				background-size: cover;
			}
		}
		
		&.hunger-selling-ch{
			background: url("../../assets/images/hunger-selling-banner-mobile.png") center center no-repeat;
			background-size: cover;
			
			@media(min-width: $screen-md-min){
				background: url("../../assets/images/ifwd_savie-hero-banner-background_cn.jpg") center center no-repeat;
				background-size: cover;
			}
		}
		.hunger-selling-text {
			font-size: 24px;
			font-family: 'Calibri-bold';
			color: white;
			text-shadow: 1px 1px 10px #000;
			padding: 0;
			line-height: 30px;
			@media(min-width: $screen-xs-min) {
				padding: 0 50px;
			}
			
			

			span {
				font-family: 'fantasy';
			}
		}

		.text-content {
			&.hunger-img {
				img {
					margin-top: -60px;
					margin-bottom: 30px;
				}
			}
		}

		.buy-now {
			&.hunger-buy-now {
				font-family: 'Calibri-bold';
				color: #ff8000;
				border: 1px solid #ff8000;
				background-color: #fff;
				padding: 5px 0;
				width: 65%;
				display: inline-block;
				
				&:hover,
				&:focus,
				&:active{
					background-color: #ff8000;;
					color: #fff;
				}
				@media(min-width: $screen-md-min) {
					margin-top: 20px;
				}
				
				&.top{
					@media(min-width: $screen-md-min) {
						margin-top: 50px;
					}
				}
			}
		}
	}
	.hunger-selling-container-sign-up-now.container-fluid.modal-dialog{		
		padding: 0 0 26px 0;
		margin: 200px auto;
		max-width: 655px;
		@media(min-width: $screen-md-min) {
			padding: 0 0 3px 0;
			margin: 200px auto;
			width: 655px;
			
		}
		
		@media(max-width: 379px) {
			padding: 0;
		}

		.hunger-selling-content {
			border-radius: 0;
			max-width: 377px;
			
			padding: 23px 20px 3px;
			background-color: #fff;
			border: 1px solid rgba(0, 0, 0, 0.5);

			@media(min-width: $screen-md-min) {
				max-width: 475px;
				
				padding: 25px 20px 3px;
			}

			.hunger-selling-header {
				.close {
					padding: 0;
					font-size: 25px;
					margin-top: -21px;
					cursor: pointer;
					background: transparent;
					border: 0;
					float: right;
					color: #000;

					&:focus {
						outline: 0;
					}
				}

				.hunger-selling-title {
					font-family: 'Calibri-Bold';
					font-size: 30px;
					color: #ff8200;
					line-height: 31px;
					padding: 0 15px;
					
					@media(min-width: $screen-md-min) {
						padding: 0 30px;
					}
				}
			}

			.hunger-selling-body {
				padding: 0;
				margin-top: 14px;
				margin-bottom: 35px;

				form {
					@media(min-width: $screen-md-min) {
						padding: 0 40px;
					}

					input {
						border: none;
						outline: none;
						background-color: #ebeded;
						width: 100%;
						padding: 13px 28px;
						font-size: 18px;
						margin-bottom: -2px;
						@media(min-width: $screen-md-min) {
							margin-bottom: 2px;
						}
					}

					.validation-msg {
						color: #e4002b;
						font-size: 14px;

						&.hidden-error-msg {
							visibility: hidden;
						}
					}

					.hunger-btn {
						font-size: 27px;
						font-family: "Calibri-Bold";
						color: #ff8200;
						border: solid 1px #ff8200;
						background-color: #fff;
						padding: 6px 0;
						width: 100%;
						margin-top: 6px;
						&:active,
						&:hover,
						&:focus {
							color: #fff;
							background-color: #ff8200;
							outline: 0;
							@include transition_fwd(background .10s ease-in);
						}

						@media(min-width: $screen-md-min) {
							margin-top: 2px;
						}
					}
				}
			}
		}
	}

	.hunger-selling-container.container-fluid.modal-dialog{		
		padding: 0 0 26px 0;
		margin: 230px auto;
		max-width: 377px;
		@media(min-width: $screen-md-min) {
			padding: 0 0 3px 0;
			margin: 230px auto;
			max-width: 475px;
			
		}
		
		@media(max-width: 379px) {
			padding: 0 0 0 0;
		}

		.hunger-selling-content {
			border-radius: 0;
			max-width: 377px;
			
			padding: 23px 20px 3px;
			background-color: #fff;
			border: 1px solid rgba(0, 0, 0, 0.5);

			@media(min-width: $screen-md-min) {
				max-width: 475px;
				
				padding: 25px 20px 3px;
			}

			.hunger-selling-header {
				.close {
					padding: 0;
					font-size: 25px;
					margin-top: -21px;
					cursor: pointer;
					background: transparent;
					border: 0;
					float: right;
					color: #000;

					&:focus {
						outline: 0;
					}
				}

				.hunger-selling-title {
					font-family: 'Calibri-Bold';
					font-size: 30px;
					color: #ff8200;
					line-height: 31px;
					padding: 0 30px;
				}
			}

			.hunger-selling-body {
				padding: 0;
				margin-top: 14px;
				margin-bottom: 35px;

				form {
					@media(min-width: $screen-md-min) {
						padding: 0 40px;
					}

					input {
						border: none;
						outline: none;
						background-color: #ebeded;
						width: 100%;
						padding: 13px 28px;
						font-size: 18px;
						margin-bottom: -2px;
						@media(min-width: $screen-md-min) {
							margin-bottom: 2px;
						}
					}

					.validation-msg {
						color: #e4002b;
						font-size: 14px;

						&.hidden-error-msg {
							visibility: hidden;
						}
					}

					.hunger-btn {
						font-size: 27px;
						font-family: "Calibri-Bold";
						color: #ff8200;
						border: solid 1px #ff8200;
						background-color: #fff;
						padding: 6px 0;
						width: 100%;
						margin-top: 6px;
						&:active,
						&:hover,
						&:focus {
							color: #fff;
							background-color: #ff8200;
							outline: 0;
							@include transition_fwd(background .10s ease-in);
						}

						@media(min-width: $screen-md-min) {
							margin-top: 2px;
						}
					}
				}
			}
		}
	}
//}