// Image Banner Widget

// Note: et = namespace for elite terms

//.fwd-savie-wrapper{
	.banner-widget.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	
	.banner-widget {
		background: url("../../assets/images/strawberry-mobile.jpg") center center no-repeat;
		background-size: cover;
		height: 490px;
		position: relative;
	
		@media(min-width: $screen-sm-min){
			background: url("../../assets/images/strawberry.jpg") center center no-repeat;
			background-size: cover;
		}
	
		.text-content {
			width: 100%;
			margin-top: 260px;
			padding: 0px 15px;
			@media(min-width: $screen-md-min){
				margin-top: 160px;
				padding: 0;
			}
	
			img {
				margin: 0 auto;
				@media(min-width: $screen-md-min){
					margin: 0;
				}
			}
         
         &.et-text-content {
            margin-top: 0;
            font: {
               size: 30px;
               family: 'Calibri-bold';
            }
            color: #fff;
         }
		}
	
		.buy-now {
			font-size: 28px;
			font-family: 'Calibri-bold';
			color: white;
			border: 1px solid #ff8000;
			background-color: #ff8000;
			padding: 5px 0;
			max-width: 250px;
			width: 65%;
			margin-top: 20px;
			display: inline-block;
	
			@media(min-width: $screen-md-min){
				/* max-width: 300px; */
				max-width: 310px;
				font-size: 48px;
				margin-top: 50px;
			}

			span {
				padding-left: 5px;
				font-size: 21px;
				@media(min-width: $screen-md-min){
					font-size: 35px;  				
  				}
			}
         
         &.et-quote {
            font-size: 24px;
            max-width: 235px;
         }
		}
	
		.buy-now:hover {
			background-color: white;
			color: #ff8000;
		}
	
		.widget-btns {
			padding-bottom: 43px;
			margin-top: 32px;
			@media(min-width: $screen-md-min){
				padding-bottom: 20px;
			}
			a {
				color: #fff;
				background: #ff8200;
				font-family: 'Calibri-Bold';
				font-size: 28px;
				padding: 8px 75px;
				margin: 0 2px;
				@media(min-width: $screen-md-min){
					font-size: 30px;
					margin: 0 4px;
					padding: 19px 60px;
				}
				
				&:hover,
				&:focus {
					background: #fff;
					color: #ff8200;
					border: 1px solid #ff8200;
					@include transition_fwd(background .10s ease-in);
				}
			}
		}
	
		.widget-link {
			padding-bottom: 50px;
			a {
				color: #fff;
				font-family: 'Calibri';
				font-size: 18px;
				text-decoration: underline;
			}		
		}
	}
//}

.et-banner-label {
   position: absolute;
   width: 100%;
   bottom: 0;
   margin-bottom: 60px;
}