/* LOGOUT */
//.fwd-savie-wrapper {
	.fwd-container.container-fluid.eServices-logout{
		border-top: solid 1px #ff8200;
		@media(min-width: $screen-md){
			border-top: none;
		}
	}
	
	.logout-wrapper {
		width: 100%;
		text-align: center;
		margin: 30px 0;
		
		.logout-content-section {
			width: 100%;
			background-color: #f1f3f5;
			padding: 15px 40px;
			
			h1 {
				color: #ff8200;
				margin-bottom: 15px;
				line-height: 24px;
				font-size: 24px;
				
				@media(min-width: $screen-md-min){
				    font-size: 30px;
					line-height: 28px;
					margin-bottom: 31px;
					padding-top: 2px;
				}
			}
			
			p {
				margin-bottom: 20px;
				line-height: 20px;
				
				@media(min-width: $screen-md-min){
					margin-bottom: 18px;
				}
			}
		}
		
		.btn.btn-white.eServices-login{
			width: 100%;
			@media(min-width: $screen-md){
				width: 180px;
			}
		}
		
		.btn {
			margin-top: 35px;
			
			@media(min-width: $screen-md-min){
				margin: 2px 40px 40px;
				width: 180px;
				font-size: 18px;
				height: 40px;
			}
		}
		
		@media(min-width: $screen-md-min){
			text-align: left;
			background-color: #f1f3f5;
			margin: 0 0 50px;
		}
	}
//}