// O2O Landing Page Styles

//.fwd-savie-wrapper {
	.o2o-landing {
		&.banner-widget {
			&.hunger-selling {
				background: transparent;
				height: auto;
				position: relative;
				
				.breadcrumbs-product-details {
					a:hover,
					.fa-play {
						color: #fff;
					}
				}
			}
			
			.mobile-banner {
				display: block;
				width: 100%;
				
				@media(min-width: $screen-sm-min){
					display: none;
				}
			}
			
			.desktop-banner {
				display: none;
				width: 100%;
				
				@media(min-width: $screen-sm-min){
					display: block;
				}
			}
			
			.buy-now {
				&.hunger-buy-now {
					@media(min-width: $screen-sm-min){
						float: right;
						border: 0;
						margin-right: 30px;
						max-width: 200px;
					}
					
					@media(min-width: $screen-md-min){
						max-width: 300px;
					}
				}
			}
			
			.breadcrumbs {
				display: none;
				
				.breadcrumbs-landing {
					top: 0;
				}
				
				@media(min-width: $screen-sm-min){
					display: block;
				}
			}
			
			.text-content {
				display: none;
				
				@media(min-width: $screen-sm-min){
					display: block;
					position: absolute;
					top: 50px;
					margin: 0;
					padding: 0;
					
					&.hunger-img img {
						margin: 0;
						padding: 0;
						width: 340px;
					}
				}
				
				@media(min-width: $screen-md-min){
					top: 28%;
					
					&.hunger-img img {
						width: 50%;
						max-width: 550px;
					}
				}
			}
			
			.hunger-text-section {
				position: absolute;
				bottom: 29px;
				width: 100%;
				
				.hunger-selling-text {
					margin: 0 auto;
				}
				
				.text-1 {
					max-width: 290px;
					padding: 0;
					
					@media(min-width: $screen-sm-min){
						max-width: 100%;
						font-size: 20px;
						text-align: right;
						padding-right: 30px;
					}
					
					@media(min-width: $screen-md-min){
						font-size: 24px;
					}
				}
				
				.text-2 {
					max-width: 325px;
					padding: 0;
					
					@media(min-width: $screen-sm-min){
						max-width: 100%;
						font-size: 20px;
						text-align: right;
						padding-right: 30px;
						margin-bottom: 5px;
					}
					
					@media(min-width: $screen-md-min){
						font-size: 24px;
					}
				}
				
				#hunger-selling-buy-now {
					margin-top: 5px;
					
					&:hover {
						color: #ff8000;
						background-color: #fff;
					}
				}
				
				@media(min-width: $screen-sm-min){
					bottom: 20px;
				}
				
				@media(min-width: $screen-sm-min){
					bottom: 8%;
				}
			}
		}
		
		p {
			&.additional {
				&.top {
					@media(min-width: $screen-md-min){
						width: 100%;
						text-align: center;
					}
				}
			}
			
			&.bottom-text {
				&.upper {
					@media(min-width: $screen-md-min){
						text-align: center;
						width: 100%;
						margin: 20px 0;
					}
				}
				
				@media(min-width: $screen-md-min){
					width: 100%;
					text-align: center;
				}
			}
		}
		
		&#flux {
			.disclaimer-policy {
				.policy-provisions {
					margin-bottom: 10px;
					
					@media(min-width: $screen-md-min){
						margin-bottom: 0;
					}
				}
			}
			
			#other-benefits {
				@media(min-width: $screen-lg-min){
					height: 278px;	
					
					img {
						margin-top: -65px;
					}
				}
			}
			
			#landing-three-column {
				.row-top {
					margin-top: 40px;
					
					@media(min-width: $screen-md-min){
						margin-top: 19px;
					}
				}
				
				.fwd-col {
					.col-content {
						
						img {
							padding-top: 13px;
						}
						
						@media(min-width: $screen-md-min){
							height: 700px;
						}
						@media(min-width: $screen-lg-min){
							height: 540px;
						}
					}
				}
			}
		}
		
		&.teaser {
			padding-top: 55px;
			padding-bottom: 8px;
			
			ul {
				&.crediting-rate-list {
					@media(min-width: $screen-md-min){
						width: 100%;
						max-width: 605px;
						margin: 0 auto;
						padding-right: 40px;
					}
				}
			}
			
			.teaser-banner-text {
				@media(min-width: $screen-md-min){
					width: 65%;
					padding-left: 0;
				}
			}

			.money-div {
				top: -20px;
				
				@media(min-width: $screen-md-min){
					top: -50px;
					left: 0;
					
					.money {
						width: 102px;
					}
				}
			}
			
			.additional {
				&.top {
					max-width: 280px;
					margin: 0 auto;
					
					@media(min-width: $screen-md-min){
						max-width: 525px;
						padding-top: 50px;
						padding-bottom: 10px;
						text-align: left;
					}
				}
			}
			
			.crediting-rate-list {
				padding: 25px 0;
				
				li {
					.percent {
						font-size: 50px;
						line-height: 50px;
					}
					
					@media(min-width: $screen-md-min){
						.percent {
							font-size: 75px;
							line-height: 75px;
						}
						
						.year {
							font-size: 22px;
							line-height: 22px;
						}
						
						.white {
							height: 75%;
						}
					}
				}
			}
			
			@media(min-width: $screen-md-min){
				padding-top: 0;
				padding-bottom: 32px;
			}
		}
		
		&.saving-plans {
			position: relative;
			
			.savings-banner-text {
				padding: 42px 30px 25px;
				text-align: center;
				background-color: #e9edf0;
				
				p {
					padding: 8px 48px 5px;
					background-color: #ff8200;
					max-width: 355px;
					margin: 0 auto;
					color: #fff;
					font-size: 24px;
				}
				
				@media(min-width: $screen-md-min) {
					background-color: #e1e4e4;
					padding-bottom: 0;
				}
			}
			
			.savings-banner {
				background-color: #e9edf0;
				padding-top: 6px;
				
				p {
					font-size: 24px;
					font-family: 'Calibri';
					color: #fff;
					background-color: #fdb714;
					padding: 15px 10%;
					
					.bold {
						font-family: 'Calibri-bold';
					}
					
					@media(min-width: $screen-md-min){
						padding: 30px 10%;
					}
				}
				
				img {
					width: 100%;
					max-width: 100%;
					
					&.mobile {
						display: block;
						max-width: 400px;
						margin: 0 auto;
					}
					
					&.desktop {
						display: none;
					}
					
					@media(min-width: $screen-md-min){
						&.desktop {
							display: block;
							max-width: 1114px;
							margin: 0 auto;
						}
						
						&.mobile {
							display: none;
						}
					}
				}
				
				@media(min-width: $screen-md-min){
					margin-top: 0;
					background-color: #e1e4e4;
					padding-bottom: 20px;
				}
				
			}
			
			.savings-nav {
				background-color: #e9edf0;
				overflow: hidden;
				padding-top: 26px;
				
				.prev,
				.next {
					width: 50%;
					float: left;

					a {
						height: 50px;
						width: 50px;
						display: block;
						color: #fff;
						position: relative;
						
						.icon {
							display: table-cell;
							vertical-align: middle;
							height: 50px;
							width: 50px;
							font-size: 29px;
							text-align: center;
						}
					}
				}
				
				.prev {
					a {
						background-color: #909393;
					}
				}
				
				.next {
					a {
						background-color: #484c48;
					}
				}
				
				@media(min-width: $screen-md-min){
					padding: 0;
					position: absolute;
					bottom: 148px;
					right: 0;
					
					.prev, .next {
						a, a.icon {
							width: 60px;
							height: 60px;
						}
					}
				}
			}
			
			.savings-menu {
				margin: 0;
				
				.download,
				.sign-up {
					padding: 0;
					
					a {
						width: 100%;
						border: 0;
						outline: none;
						height: 265px;
						display: block;
						text-align: center;
						
						img {
							max-width: 80px;
							margin: 15px 0;							
						}
						
						.action-text {
							color: #fff;
							
							h2 {
								font-size: 26px;
								padding: 0 15px;
								margin: 0 0 15px;
							}
							
							p {
								font-size: 16px;
								padding: 0 10px 10px;
								
								@media(min-width: $screen-md-min){
									font-size: 18px;
								}
							}
						}
						
						@media(min-width: $screen-md-min){
							height: 120px;
							
							img {
								margin: 10px 0;
								max-width: 100%;
								float: left;
							}
							
							.action-text {
								float: left;
								text-align: left;
								margin: 20px 15px 0;
								padding: 0 10px;
								
								h2, p {
									padding: 0;
								}
								
								h2 {
									font-size: 30px;
									margin-bottom: 5px;
								}
							}
						}
					}
				}
				
				.download {
					background-color: #505759;
					
					a {
						background-color: #505759;
						
						@media(min-width: $screen-md-min){
							max-width: 500px;
							float: right;
							padding-left: 20px;
						}
					}
				}
				
				.sign-up {
					background-color: #ff8200;
					
					a {
						background-color: #ff8200;
						
						@media(min-width: $screen-md-min){
							max-width: 500px;
							float: left;
							padding-left: 60px;
						}
					}
				}
			}
		}
		
		&.fwd-action {
			padding-bottom: 0;
			
			.action-one {
				background-color: #505759;
			}
			
			.action-two {
				background-color: #ff8200;
			}
			
			@media(min-width: $screen-md-min){
				width: 100%;
				overflow: hidden;
				
				.fwd-action-two {
					width: 100%;
					
					button {
						width: 50%;
						float: left;
						padding-top: 0;
					}
					
					.action-two {
						img {
							margin-top: -15px;
						}
					}
				}
			}
		}
		
		#savings-carousel {
			background-color: #e9edf0;
		}
	}
//}

/* Customer Center Modal Styles */
#customerCenter {
	padding: 5px !important;
	
	.modal-dialog {
		width: 100%;
		max-width: 645px;
		margin: 0 auto;
		margin-top: 30px !important;
		
		.modal-content {
			padding: 0;
			
			.modal-header {
				background-color: #ff8201;
				text-align: center;
				padding: 20px 10px;
				
				h2 {
					margin: 0;
					font-family: 'foco_bold';
					color: #fff;
					font-size: 18px;
				}
				
				@media(min-width: $screen-md-min){
					padding: 37px 20px 30px;
					
					h2 {
						font-size: 30px;
						line-height: 35px;
					}
				}
			}
			
			.modal-body {
				background-color: #e7ebec;
				margin: 0;
				padding: 0;
				
				img {
					width: 100%;
					max-width: 100%;
				}
			}
			
			.modal-footer {
				padding: 0;
				
				.top-section {
					background-color: #383a37;
					color: #fff;
					text-align: center;
					padding: 15px;
					
					h2 {
						font-family: 'foco_bold';
						font-size: 30px;
						margin: 5px;
					}
					
					h4 {
						margin-top: 0;
						margin-bottom: 5px;
						font-family: 'foco_regular';
						font-size: 14px;
					}
					
					p {
						font-family: 'foco_regular';
						font-size: 10px;
					}
					
					@media(min-width: $screen-md-min){
						padding: 30px 15px 26px;
						
						h2 {
							font-size: 50px;
						}
						
						h4 {
							font-size: 20px;
						}
						
						p {
							font-size: 14px;
						}
					}
				}
				
				.bottom-section {
					text-align: center;
					padding: 20px;
					
					button {
						background: #fff;
						color: #ff8200;
						border: 1px solid #ff8200;
						font-size: 24px;
						font-family: 'Calibri-Bold';
						padding: 7px 40px;
						width: 100%;
						max-width: 338px;
					}
				}
			}
		}
	}
}

#signup-now-modal {
	.modal-content {
		max-width: 655px;
		padding: 23px 10px 3px;
		@media(min-width: $screen-md-min){
			padding: 23px 20px 3px;
		}
	}

	form input {
	    padding: 13px 10px;
	}

	.error-email, .error-mobile-no {
	    visibility: hidden;
	    color: #e4002b;
	    font-size: 14px;
	    display: block;
	    padding: 8px 0;
	}

	.modal-body {
		padding: 0;
		@media(min-width: $screen-md-min){
			padding: 0px 70px;
		}
	}

	#signup-btn {
		margin-top: 25px;
		@media(min-width: $screen-md-min){
			background-color: #ff8200;
			color: white;
		}
	}

	.fwd-checkbox {
	    margin-right: 0;
	    @media(min-width: $screen-md-min){
	    	margin-right: -40px;
	    }
		p {
			padding-left: 25px;
		    padding-top: 2px;
		    color: #333;
		    font-size: 13px;
		    font-family: "Calibri";
		    margin-bottom: 3px;
		    margin-top: 5px;

		    a {
	    	    color: #ff8200;
				text-decoration: underline;
		    }
		}

		label {
			border: solid 1px black;
		}
	}
		
}

/*O2O-confirmation*/
#hero-pic {
    height: 183px;
    width: 180px;
}
#back-to-home-o2o {
	padding-top: 12px;
}
span.o2o-top {
	display: block;
}