/**
** Application Page
**/

.help-block{
   margin: 0;
	color: #e4002b !important;
	font-family: 'Calibri';
}

span{
	&.error-msg{
		display: block;
		margin-bottom: 10px;
	}
	
	&.dup-error-msg{
		font-size: 15px;
		color: #e4002b;
		font-family: 'Calibri';
	}
}


//.fwd-savie-wrapper{
	.page-application {
		h2 {
			font-size: 30px;
		}
		//.form-control
		.gray-textbox{
			background-color: #f1f3f5;
			border-radius: 0;
			height: 40px;
			border: 0;
			margin-bottom: 9px;
			font-family: 'Calibri';
			padding-left: 18px;
			box-shadow: inset 0 1px 1px rgba(0,0,0,0);
			font-size: 18px;
			
			@media(min-width: $screen-md-min){
				margin-top: 0;
				margin-bottom: 10px;
				width: 100%;
			}
			
			&:hover,
			&:focus{
				border: 0;      /* Good browsers universal rule */
				outline: none;     /* safari and its variants  */
				outline-offset: 0; /* IE and its variants  */
				-webkit-appearance:none; /* Chrome and its variants  */
				box-shadow: inset 0 1px 1px rgba(0,0,0,0);
			}
			
			&.c-code{
				width: 87px;
				text-align: center;
			}
			
			&.c-number{
				width: 100%;
				text-align: center;
			}
         
         &.date {
            padding-left: 55px;
         }
		}
		
        //.form-control
		.gray-dropdown{
			background-color: transparent;
			border-radius: 0;
			height: 40px;
			border: 0;
			margin-bottom: 9px;
			font-family: 'Calibri';
			padding-left: 13px;
			box-shadow: inset 0 1px 1px rgba(0,0,0,0);
			font-size: 18px;
			cursor: pointer;
			border: 0;      /* Good browsers universal rule */
			outline: none;     /* safari and its variants  */
			outline-offset: 0; /* IE and its variants  */
			-webkit-appearance:none; /* Chrome and its variants  */
			box-shadow: inset 0 1px 1px rgba(0,0,0,0);
			position: relative;
			z-index: 2;
			
			@media(min-width: $screen-md-min){
				margin-top: 0;
				margin-bottom: 10px;
				width: 100%;
			}
         
         option {
            color: #555;
         }
		}
        
      .et-80-width {
         width: 50%;
         
         @media (min-width: $screen-md-min) {
            width: 85%;
         }
      }
        
		.selectDiv .icon-chevron-thin-down.orange-caret, 
        .selectEmployment .icon-chevron-thin-down.orange-caret, 
        .selectBeneficiary .icon-chevron-thin-down.orange-caret {
			height: 40px;
			position: absolute;
			font-size: 18px;
			color: #ff8200;
			padding-top: 11px;
			right: 0;
			padding-right: 17px;
			background-color: #f1f3f5;
			cursor: pointer;
			bottom: 10px;
			top: 0;
		}
		.selectDiv .icon-chevron-thin-down.orange-caret, .selectEmployment .icon-chevron-thin-down.orange-caret {
			z-index: 1;
		}
		
		.selectDiv{
			position: relative;
			background-color: #f1f3f5;
						
			input[type="text"] {
				position: relative;
				background-color: transparent;
				z-index: 2;
			}
		}
		
		.selectEmployment{
			width: 100%;
			position: relative;
			background-color: #f1f3f5;
			height: 40px;
		
			@media(min-width: $screen-md-min){
				width: 65.5%;
				float: left;
			}
		}
		
		.selectBeneficiary{
			width: 100%;
			position: relative;
			background-color: #f1f3f5;
		}
		
		.application-page-input-text{
			margin-bottom: 3px;
			margin-top: 8px;
			color: #061d2a;
			
			@media(min-width: $screen-md-min){
				margin-top: 13px;
				margin-bottom: 0;
			}

         &.et-input-label {
         
            @media (min-width: $screen-md-min) {
               margin-top: 8px;
               line-height: 17px;
            }
            
            span {
               font-size: 14px;
               font-family: 'Calibri';
               color: #505759;
            }
         }
			
		}
		
		span {	
			&.optional{
				color: #9ba5a7;
				font-family: 'Calibri';
				font-size: 14px;
				font-weight: normal;
			}
				
		}
	
		.btn-group.bootstrap-select {
			width: 100%;
			@media (min-width: $screen-md-min) {
				width: 65.5%;
			}
			.application-select {
				height: 40px;
				border-color: transparent;
				background-color: #f1f3f5;
				font-size: 18px;
				margin-bottom: 0;
				font-family: 'Calibri';
				color: #b4bcbe;
				padding-left: 20px;
				width: 100%;
				.icon-chevron-thin-down {
					position: absolute;
					right: 15px;
					top: 10px;
					font-size: 18px;
					color: #ff8200;
				}
				
				&.selection{
					font-size: 18px;
					color: #9ba5a7;
					padding-left: 18px;
				}
				
			}
			
			
		}
	}
	
	.btn.btn-orange.confirmation-home, button.next, a.next, button.next-orange {
		margin-top: 20px;
		width: 100%;
		max-width: 520px;
		height: 60px;
		border: solid 1px #ff8200;
		background: #ff8200;
		color: white;
		font-size: 24px;
		font-family: 'Calibri-bold';
	
		@media (min-width: $screen-md-min) {
			margin: 38px auto 0;
			width: 45%;
		}
		
		&:hover,
		&:focus,
		&:active{
			@include transition_fwd(background .10s ease-in);
			background: #fff;
			color: #ff8200;;
		}
	}
		
	
	button.next:focus,
	a.next:focus {
		color: #ff8200;
		outline: 0;
	}
	
		
	.page-divider {
		height: 1px;
		background: url(../../assets/images/page-divider.png);
		width: 100%;
	}
	
	.page-divider-margin {
		margin: 30px 0;
	}
	
	.fwd-checkbox {
		position: relative;
		label {
			width: 16px;
			height: 16px;
			cursor: pointer;
			position: absolute;
			left: 0;
			top: 3px;
			border: solid 1px #ff8200;
			&:after {
				content: '';
				width: 9px;
				height: 5px;
				position: absolute;
				top: 4px;
				left: 3px;
				border: 2px solid #ff8200;
				border-top: none;
				border-right: none;
				background: transparent;
				opacity: 0;
				transform: rotate(-45deg);
				-moz-transform:rotate(-45deg);  
				-webkit-transform:rotate(-45deg);  
				-o-transform:rotate(-45deg);  
				-ms-transform:rotate(-45deg);  
			}
			&:hover::after {
				opacity: 0.5;
			}
		}
		
		input[type=checkbox] {
			visibility: hidden;
			position: absolute;
			&:checked + label:after {
				opacity: 1;
			}    
		}
		
		.checkbox-label {
			padding-left: 28px;
		}
	}
//}

.et-date-info {
   
   input {
      
      &.date {
         background-image: url(../images/elite-terms/et-calendar.png);
         background-repeat: no-repeat;
         background-position-y: center;
         background-position-x: 20px;
      }
   }
}

.et-app-edit-wrapper {
   margin-right: 15px;
   border: 1px solid #cecece;
   width: 40%;
   height: 40px;
   float: right;
   
   @media (min-width: $screen-md-min) {
      margin-left: 15px;
      margin-right: 0;
      border: 0;
      width: auto;
      float: left;
   }
}

.et-app-edit {
   display: table;
   width: 100%;
   height: 100%;
   color: #c4c3c8;
   font: {
      family: 'Calibri';
      size: 16px;
   }
   
   @media (min-width: $screen-md-min) {
      width: auto;
      text-decoration: underline;
   }
   
   span {
      display: table-cell;
      vertical-align: middle;
      
      @media (min-width: $screen-md-min) {
         text-align: left;
      }
   }
   
   &:hover,
   &:focus {
      color: #c4c3c8;
   }
}