
//.fwd-savie-wrapper{
	#set-appointment {
		h2 {
			font-size: 30px;
			color: #ff8200;
			text-align: center;
			margin: 35px 20%;
			line-height: 30px;
			@media(min-width: $screen-md-min){
				text-align: left;
				margin-left: 0;
				margin-right: 0;
			}
		}
		h5 {
			font-size: 14px;
			margin: 0;
		}
		h4 {
			color: #061d2a;
			font-size: 18px;
			margin: 0;
		}
	
		.title-margin {
			margin-bottom: 15px;
		}
		.select {
			width: 100%;
			height: 50px;
			font-size: 24px;
			font-family: 'Calibri-bold';
			color: #ff8200;
			border: 1px solid #ff8200;
			background: white;
			margin-top: 8px;
	
			@media(min-width: $screen-md-min){
				max-width: 120px;
				margin-top: 20%;
			}
		}
	
		.radio-label {
			color: #ff8000;
			border: 1px solid #ff8000;
			width: 100%;
			text-align: center;
			padding: 7px 0;
			font-size: 24px;
			font-family: 'Calibri-bold';
	
			@media(min-width: $screen-md-min){
				max-width: 120px;
				margin-top: 20%;
			}
		}
	
		.radio-label:hover {
			background: #ff8200;
			color: #fff;
			cursor: pointer;
		}
	
		input[type="radio"] {
			display: none;
		}
		
		input[type="radio"]:checked + label {		
			background: #ff8200;
			color: #fff;
		}
	
		.select:hover,
		.select:active {		
			color: white;
			background: #ff8200;
			outline: 0;
		}
		
		.select:focus {
			outline: 0;
		}
	
		.confirm {
			margin-top: 25px;
			height: 60px;
		}
	
		.left {
			@media(min-width: $screen-md-min){
				padding-right: 0;
			}
		}
		.right {
			@media(min-width: $screen-md-min){
				padding-left: 15px;
			}
		}
	
		#set-appointment-next {
			max-width: 560px;
			width: 100%;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	
		#set-application-confirm-btn {
			max-width: none;
			width: 50%;
			margin-top: 20px;
		}
	
		.service-centre-cells {
			padding: 17px 20px 19px;
			margin-bottom: 19px;
			border: 1px solid #b7c3cd;
			@media(min-width: $screen-md-min){
				padding: 17px 40px 10px;
			}
			.content {
				margin-top: 16px;
				p {
					font-family: 'Calibri';
					font-size: 14px;
					line-height: 15px;
					margin-top: 2px;
				}
	
				.operation-hours {
					margin-bottom: 0;
				}
	
				.inside-divs {
					margin-top: 17px;
				}
	
				.two-lines {
					padding-right: 0;
				}
	
				div {
					margin-top: 15px;
					@media(min-width: $screen-md-min){
						margin-top: 0;
					}
				}
	
				.col-md-9 {
					padding-right: 7%;
				}
	
				.col-md-3 {
					@media(min-width: $screen-md-min){
						padding-left: 0;
					}
				}
	
				.row {
					@media(min-width: $screen-md-min){
						min-height: 170px;
					}
				}
	
			}
		}
	
		#service-centre {
			padding-bottom: 40px;
		}
	
		.next {
			width: 100%;
	
			button {
				width: 50%;
			}
		}
		#view-selected-appointment {
			padding-top: 45px;
			padding-bottom: 45px;
			@media(min-width: $screen-md-min){
				padding-top: 63px;
			}
			h2 {
				margin: 0;
					@media(min-width: $screen-md-min){
					font-size: 24px;
					text-align: left;
				}
			}
	
			.selected {
				color: #ff8200;
				margin-top: 32px;
				margin-bottom: 2px;
				@media(min-width: $screen-md-min){
					margin-top: 17px;
				}
			}
	
			.service-centre-cells {
				border: none;
				padding-left: 0;
				padding-right: 0;
				margin-bottom: 0;
			}
	
			.view-selected-box {
				@media(min-width: $screen-md-min){
					border: 1px solid #b7c3cd;
					clear: both;
					padding: 30px 85px;
	
					.right-info {
						width: 49%;
						float: right;
						margin-left: 1%;
					}
				}
			}
	
			.confirm-div {
				width: 100%;
				@media(min-width: $screen-md-min){
					margin-top: 20px;
				}
			}
	
			.scheduler {
	
				@media(min-width: $screen-md-min){
					width: 49%;
					margin-top: 13px;
				}
				div.date {
					background-image: url(../images/calendar.png);
					background-repeat: no-repeat;
					padding-left: 60px;
					border-radius: 0;
					border: 0;
					box-shadow: inset 0 1px 1px rgba(0,0,0,0);
					background-color: #f1f3f5;
					margin-bottom: 5px;
					background-position-y: -2px;
					font-family: 'Calibri';
					font-size: 18px;
					background-position-x: 3px; 
					.add-on {
						border: none;
						background: transparent;
					}
				}
				input.date {
					border: none;
					background: transparent;
					padding-top: 8px;
					width: 100%;
					padding-bottom: 6px;
					color: #061d2a;
				}
				.gray-textbox {
					background-color: #f1f3f5;
					border-radius: 0;
					height: 40px;
					border: 0;
					margin-bottom: 9px;
					font-family: 'Calibri';
					padding-left: 25px;
					box-shadow: inset 0 1px 1px rgba(0,0,0,0);
					font-size: 18px;
				}
	
				#scheduler-comments {
					resize: none;
					padding: 20px;
					height: 130px;
					margin-top: 2px;
					width: 100%;
	
					@media(min-width: $screen-md-min){
						margin-top: 10px;
					}
				}
			}
		}
	
		.scheduler-row {
			margin-bottom: 16px;
			label {
				margin: 0;
				margin-bottom: 3px;
				color: #061d2a;
			}
	
			@media(min-width: $screen-md-min){
				.selected-label {
					float: left;
					width: 20%;
					padding-top: 7px;
				}
	
				.form-control {
					width: 80%;
				}
			}
	
			.two-line-label {
				line-height: 21px;
				padding-right: 10%;
			}
		}
		.comment-label {
			@media(min-width: $screen-md-min){
				margin-top: 35px;
				margin-bottom: 13px;
			}
		}
		
		// Updated PSD
		.application-page-header .orange-section .description-desktop {
			display: table;
			width: 100%;
			font-size: 18px;
			height: 80px;
			@media(min-width: $screen-md-min){
				font-size: 30px;
				height: 100px;
			}
		}

		.centreDiv {
			overflow: hidden;
		}
		
		.selectDiv {
			margin-bottom: 10px;

			.centre-holder {
				position:relative;
			    display:inline-block;
			    z-index:0;
			    width: 100%;
				overflow: hidden;

			    &:before {
				    display:block;
				    position:absolute;
				    content:'';
				    right:0px;
				    top:0px;
				    height:1em;
				    width:1em;
				    margin:2px;
				    background:transparent;
				    z-index:5;
				}
			}
			.icon-chevron-thin-down.orange-caret {
				z-index: 0;
			}

			#centre {
				background: url("../images/orange-caret.png") no-repeat;
			    background-position: 87% 50%;
			    border-right: 22px solid transparent;
				z-index:1;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    text-indent: 1px;
			    text-overflow: '';
			    margin-bottom: 0;
				width: 115%;
				@media(min-width: $screen-md-min){
					width: 120%;
					background: url("../images/orange-caret.png") no-repeat;
			    	background-position: 82% 50%;
				}
			    &::-ms-expand {
				    display: none;
				}
			}
		}
		
		label {
			@media(min-width: $screen-md-min){
				padding-top: 7px;
			}
		}
		
		input[type="text"] {
			width: 100%;
			border: 0;
			background: transparent;
			padding: 6px 12px 6px 18px;
			height: 40px;
		}
		
		p.confirm-call {
			color: #ff8200;
		}
		
		.preferred-date {
			background: #f1f3f5 url('../images/1fna-cal.png') no-repeat 7px 0px;
			
			input[type="text"] {
				padding-left: 50px;
			}
		}
		
		.timeslot {
			.ui-timepicker-wrapper {
				width: 100%;
			}

			#preferred-time {
				cursor: pointer;
				background: url("../images/orange-caret.png") no-repeat;
			    background-position: right 50%;
			    border-right: 20px solid transparent;
			}
		}
		
		.centre-info {
			font-size: 18px;
			padding-left: 10px;
			
			h4 {
				font-size: 18px;
				padding-top: 5px;
			}
		}
		
		.confirm-appointment {
			margin-top: 40px;
			@media(min-width: $screen-md-min){
				margin-top: 100px;
			}
		}
	}
	
	.broken-line {
		height: 1px;
		background: url(../../assets/images/broken-line.png);
		width: 100%;
		margin-top: 12px;
	}
	
	.application-flux.customer-service {
		margin-top: 80px;
		@media(min-width: $screen-md-min){
			margin-top: 100px;
		}
	}
	
	// MODAL
	#pickAnotherCentre,
	#fullyBooked {
		.modal-dialog {
			.modal-content {
				padding: 35px 30px;
				
				h2,
				.registered {
					padding-top: 0;
					text-align: left;
				}
				
				.registered {
					margin-bottom: 35px;
				}
				
				.modal-header {
					margin-bottom: 30px;
				}
				
				.modal-body {
					text-align: center;
					margin-bottom: 10px;
					
					button {
						width: 70%;
						min-width: 200px;
						font-size: 30px;
						padding: 15px;
						font-family: 'Calibri';
					}
				}
			}
		}
	}
//}