// Variable Declaration

$bg-banner: url('../../assets/images/bg-banner.png') center center no-repeat;
$bg-banner-mobile: url('../../assets/images/bg-banner-mobile.png') center center no-repeat;
%textBack {
	background-color: #fff;	
}


/** Page Banner **/

.page-banner {
	background: $bg-banner;
	background-size: cover;
	height: 490px;
	text-align: center;
	color: #ff8200;
	font-family: foco_regular;
	font-weight: bold;
	padding-top: 83px;
	padding-bottom: 40px;

	@media screen and (min-width: $screen-md ) {
		padding-top: 93px;
	}

	.float-text {
		width: 254px;
		margin: 0 auto;
		position: relative;
		padding-bottom: 60px;

		@media screen and (min-width: $screen-md ) {
			width: inherit;
			margin: none;
			position: none;
			padding-bottom: 40px;		
		}

		.save-text {
			font-size: 50px;
			background-color: #fff;
			padding: 5px 10px;

			@media screen and (min-width: $screen-md ) {
				font-size: 110px;
				padding: 18px;
			}
		}

		.for-text {
			font-size: 34px;
			background-color: #fff;
			padding: 10px 15px 5px;
			position: relative;
			top: 20px;
			left: -5px;

			@media screen and (min-width: $screen-md ) {
				font-size: 48px;
				padding: 12px;
				top: 40px;
				left: -5px;
			}
		}

		.that-text {
			font-size: 39px;
			background-color: #fff;
			padding: 10px 15px 5px;
			position: relative;
			left: 90px;

			@media screen and (min-width: $screen-md ) {
				font-size: 55px;
				padding: 10px;
				top: -5px;
				left: -10px;
			}
		}

		.dream-text {
			font-size: 45px;
			background-color: #fff;
			padding: 5px 15px;
			position: relative;
			top: 54px;
			left: -60px;

			@media screen and (min-width: $screen-md ) {
				font-size: 72px;
				padding-top: 18px;
				padding-bottom: 22px;
				top: 50px;
				left: -15px;
			}
		}
	}

    .fwd-button {

	    .fwd-btn-buy, .fwd-btn-learn {
	    	background-color: #ff8200; 
	  		font-family: 'Calibri-Bold';
	  		font-size: 24px;
	  		color: #fff;
	  		margin-left: 10px;
	  		width: 175px;
		    padding-left: 40px;
		    text-align: -webkit-auto;
		    border-radius: 0;

	    	@media screen and (min-width: $screen-md ) {
		  		font-size: 30px;
		  		margin-left: 13px;
		  		width: 241px;
			    padding: 20px 50px;
			    text-align: center;
			}
		}
	}

	.p-mobile {
		color: #fff;
		font-family: Calibri-Bold;
		font-size: 30px;
		padding-bottom: 10px;
		width: 350px;
		margin: 0 auto;
		line-height: 35px;

		@media screen and (min-width: $screen-md ) {
			display: none;
		}
	}

	.p-banner {
		display: none;

		@media screen and (min-width: $screen-md ) {
			color: #fff;
			font-family: Calibri-Bold;
			font-size: 41px;
			display: block;
			padding-top: 10px;
			line-height: 100%;
		}
	}
}