/*
* Signature Page
* by: RMN
*/




$orange-color: #ff8200;

//.fwd-savie-wrapper{
	.signature{
		padding: 35px 15px;
		
		@media(min-width: $screen-md-min){
			padding: 46px 0;
		}

		&.signature2 {
			padding: 0 15px 35px;

			@media(min-width: $screen-md-min){
				padding: 35px 32px 46px;
			}
		}

		.eservices-h2 {
			display: none;					
			
			@media(min-width: $screen-md-min){
				display: block;
				color: $orange-color;
				margin: 0;
				text-align: left;
			}
		}

		.eservices-save-btn {
			padding-top: 25px;

			.next.eservices-next {
				margin-top: 0;
			}

			@media(min-width: $screen-md-min){
				text-align: left;
				padding-top: 0;
				margin-top: -7px;

				.next.eservices-next {
					width: 180px;
					height: 41px;
					font-size: 18px;
					margin-top: 0;
				}
			}
		}
			
		.clearfix.height{
			height: 50px;
			
			
			
			label {
				
				&.digital-signature-radio, &.offline-signature-radio {
					position:relative;   
					cursor:pointer;
					width: 100%;
					border: solid 1px $orange-color;
					text-align: center;
					color: $orange-color;
					font-family: 'Calibri';
					font-weight: normal;
					height: 40px;
					
					
					&:hover{
						background-color: $orange-color;
						color: #fff;
						@include transition_fwd(background .10s ease-in);
						
						@media(min-width: $screen-md-min){
							background-color: transparent;
						}
					}
					
					@media(min-width: $screen-md-min){
						width: 20px;
						height: 20px;
						border: solid 1px #9ba5a7;
						border-radius: 50%;
					}
					
					&:after{
						content: '';
					
						@media(min-width: $screen-md-min){
							background-color: $orange-color;
							opacity: 0;
							width: 16px;
							height: 16px;
							position: absolute;
							bordeR: solid 1px #fff;
							border-radius: 50%;
							left: 1px;
							top: 1px;
						}
					}
					
					
					&:hover::after {
						opacity: 0.5;
						@include transition_fwd(background .10s ease-in);
					}
					
					:checked + span.digital-signature-text, :checked + span.offline-signature-text {
						background: $orange-color;
						display: table; 
						color: #fff;
						width: 101%;
						@include transition_fwd(background .10s ease-in);
						height: 100%;
				
						
						@media(min-width: $screen-md-min){
							background-color: $orange-color;
							width: 16px;
							height: 16px;
							position: absolute;
							bordeR: solid 1px #fff;
							border-radius: 50%;
							left: 1px;
							top: 1px;
							
							
						}
					
					}
					
					
					.digital-signature-text,.offline-signature-text {
						display: table;
						margin: 0 auto;
						span{
							&.text{
								display: block;
								padding-top: 6px;
								height: 40px;
								text-align: center;
								padding-top: 0;
								line-height: 15px;
								display: table-cell;
								vertical-align: middle;
				
								@media(min-width: $screen-md-min){
									display: none;
								}
							}
						}
					}			
				}
			}
			
			
			label [type="radio"] {
				display:none;
			}
	
		}
		
		.orange-tooltip + .tooltip > .tooltip-inner {
			background-color: $orange-color;
			border-radius: 6px;
		}
		
		
		.tooltip.fade.right.in{
			left: 142px !important;
		}
		
		.tooltip.right .tooltip-arrow{
			top: 38% !important;
			border: 0;
			background: url("../images/sprite-icons.png") no-repeat center center;
			width: 11px;
			height: 20px;
			display: inline-block;
			position: absolute;
			margin-left: -5px;
			background-position: -160px -15px;
		}
		
		.signature-tooltip{
			@media(min-width: $screen-md-min){
				padding-top: 30px;
				padding-bottom: 7px;
			}
			
			.tooltip-inner {
				max-width: 310px;
				width: 310px;
				height: 40px;
				font-size: 14px;
				color: #fff;
				font-family: 'Calibri';
				display: table-cell;
				vertical-align: middle;
				border-radius: 5px;
			}
		}
		
		
		.orange-tooltip + .tooltip > .tooltip-arrow { 
			border-right-color: $orange-color;
		}
		
		span{
			&.check-correct-signature{
				background: url("../images/sprite-icons.png") no-repeat center center;
				background-position: -94px -13px;
				width: 26px;
				height: 26px;
				position: absolute;
				margin-left: -35px;
				
			}
			
			&.span-text-img{
				margin: 0;
				color: #1b2e3a;
				font-family: 'Calibri';
				text-align: center;
				font-weight: normal;
				padding-top: 15px;
				font-size: 14px;
			}
		}
		
		.proceed-btn{
			padding-top: 4px;
			text-align: center;
			
			.btn.next{
				margin-top: 12px;
			}
		}
		
		
		.info{
			display: none;
			
			@media(min-width: $screen-md-min){
				display: block;
				position: absolute;
				top: 32px;
				left: 100px;
			}
			
			background: url("../images/sprite-icons.png") no-repeat center center;
			background-position: -129px -15px;
			width: 20px;
			height: 20px;
			border: 0;
			margin-left: 12px;
		}
		
		.signature-tooltip{
			position: relative;
		}
		
			
			
		.signature-section{
		
			&.display{
				display: block;
			}
			
			&.hide{
				display: none;
			}
			
			padding: 30px 0 39px 0;
			
			@media(min-width: $screen-md-min){
				padding-bottom: 0;

				&.eservices-sec-signature {
					padding-top: 0;
				}
			}
			
			h4{
				margin: 0;
				color: #1b2e3a;
				font-family: 'Calibri';
				text-align: center;
				padding-bottom: 15px;
				
				@media(min-width: $screen-md-min){
					text-align: left;
					display: inline-block;
				}
			}
			
			
			.signature-correct{
				text-align: center;	
				text-align:-moz-center;
				text-align:-webkit-center;
				position: relative;
				top: 18px;
				
				@media(min-width: $screen-md-min){
					top: -25px;
					margin-left: 40%;
					text-align: left;
				}
			}
		
			.correct-signature{
				text-align: center;	
				text-align:-moz-center;
				text-align:-webkit-center;
				position: relative;
				top: 18px;
				
				@media(min-width: $screen-md-min){
					top: -25px;
					margin-left: 40%;
					text-align: left;

					&.correct-sign {
						margin-left: 58%;
					}
				}
				
				
				img{
					&.correct-sign-image{
						padding-right: 10px;
					}
				}
			}
			
			.signature-image{
				width: 100%;
				height: 350px;
				background-color: #f1f3f5;
				
				@media(min-width: $screen-md-min){
					width: 60%;
				//	height: 300px;				
				}
			}


			.eservices-img-signature {
				width: 100%;
				background-color: #fff;
				border: 1px solid #B4BBC1;

				@media(min-width: $screen-md-min){
					width: 55%;
				}
			}
		}
		
		
		.digital-signature, .pull-left.offline-signature {
			width: 50%;
			padding-right: 8px;
					
			.descriptions{
				display: none;
				
				@media(min-width: $screen-md-min){
					display: block;
					position: relative;
					top: -38px;
					left: 30px;
				}
			}
			
			span{
				&.desktop-text{
					color: #1b2e3a;
					font-size: 17px;
					font-family: 'Calibri-Bold';
				}
				
			}
			
			p{
				color: #9ba5a7;
				font-size: 14px;
				font-family: 'Calibri';
			}
		}
		
		.digital-signature {
			@media(min-width: $screen-md-min){
				width: 355px;
			}
		}
	
		
	}
   
   // Elite Terms signature
   .et-signature {
      padding-top: 0;
      
      @media (min-width: $screen-md-min) {
         margin-top: 30px;
         //padding-left: 15px;
         //padding-right: 15px;
      }
      
      .signature-section {
         padding-top: 0;
         position: relative;
         
         @media (min-width: $screen-md-min) {
            padding-bottom: 10px;
            border: 1px solid #b7c3cd;
            margin-bottom: 20px;
         }
         
         .correct-signature {
      
            @media (min-width: $screen-md-min) {
               position: absolute;
               margin-left: 81%;
               top: auto;
               bottom: 58px; 
            }
         }
      }
       
      h2 {
         margin: 0;
         color: #ff8200;
         padding-top: 0;
         padding-bottom: 10px;
         line-height: 25px;
         text-align: center;
         
         @media (min-width: $screen-md-min) {
            margin-left: 90px;
            margin-right: 90px;
            padding-top: 40px;
            padding-bottom: 10px;
            border-bottom: 1px solid #b7c3cd;
            text-align: left;
         }
      }
      
      .signature-image {
         
         @media (min-width: $screen-md-min) {
            margin: 5px auto 0 auto;
         }
      }
   }
   
   .et-sig-label {
      padding-bottom: 15px;
      
      @media (min-width: $screen-md-min) {
         margin-top: 5px;
         padding-bottom: 0;
      }
   }
//}