/*
* Thank You Page
* by: RMN
*/


$orange-color: #ff8200;

//.fwd-savie-wrapper{
	.thank-you{
		padding: 33px 15px;
		padding-bottom: 60px;
		
		
		@media(min-width: $screen-md-min){
			padding-left: 0;
			padding-right: 0;
		}
		
		.form-horizontal{
			.form-group{
				margin-bottom: 0;
			}
			
			.col-md-2.control-label.text{
				text-align: left;
				padding: 0;
				@media(min-width: $screen-md-min){
					padding-top: 8px;
				}
			} 
			
			.col-md-5{
				padding: 0;
			}
			
			small.help-block {
				color: #e4002b;
				@media(min-width: $screen-md-min){
					position: absolute;
					right: -225px;
					top: 0;
					width: 216px;
					line-height: 17px;
					color: #e4002b;
					font-size: 14px;
					font-family: 'Calibri';
				}
			}
		}
		
		h2{
			margin: 0;
			text-align: center;
			color: $orange-color;
			line-height: 31px;
			
			@media(min-width: $screen-md-min){
				text-align: left;
			}
			
		}
		
		
		.page-divider{
			position: absolute;
			left: 0;
		}
		
		
		.left-desktop{
			@media(min-width: $screen-md-min){
				float: left;
				width: 50%;
			}
			
			&.left{
				@media(min-width: $screen-md-min){
					padding-right: 20px;
				}
			}
			
			&.right{
				@media(min-width: $screen-md-min){
					padding-left: 20px;
				}
			}
			
			&.member-accnt{
				@media(min-width: $screen-md-min){
					width: 178px;
				}
			}
			
			&.member-txtbox{
				@media(min-width: $screen-md-min){
					width: 42%;
				}
			}
			
			&.error-msg{
				@media(min-width: $screen-md-min){
					width: 33%;
					padding-left: 15px;
				}
				
				span{
					&.error{
						
						color: #e4002b;
						font-size: 14px;
						font-family: 'Calibri';
						
						@media(min-width: $screen-md-min){
							display: block;
						}
					}
				}
			}
		}
		
		.account-created{
			padding-top: 54px;
			h3{
				margin: 0;
				color: $orange-color;
				padding-bottom: 31px;
			}
			
			p{
				line-height: 22px;
			}
			
			.back-at-home{
				
				@media(min-width: $screen-md-min){
					text-align: center;
				}
				
				.btn.next{
					margin-top: 10px;
				}
			}
		}
		
		
		.member-account{
			padding-top: 53px;
			padding-bottom: 40px;
			
			@media(min-width: $screen-md-min){
				padding-bottom: 60px;
			}
			
			.desktop-border{
				@media(min-width: $screen-md-min){
					border: solid 1px #b7c3cd;
					padding: 40px 90px 30px 90px;
				}
			}
			
			form{
				&.form-horizontal{
					padding-left: 15px;
					padding-right: 15px;
					
					@media(min-width: $screen-md-min){
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
			
			.activate-account-now{
				margin-left: -15px;
				margin-right: -15px;
			
				@media(min-width: $screen-md-min){
					text-align: center;
					margin-left: 0;
					margin-right: 0;
				}
				
				.btn.next{
					margin-top: 35px;
				}
			}
			
			h2{
				margin-bottom: 25px;
				
				@media(min-width: $screen-md-min){
					margin-bottom: 30px;
				}
			}
			
			.left-desktop{
				@media(min-width: $screen-md-min){
					float: left;
				}
			}
			
			
			label{
				&.text{
					color: #373a36;
					font-size: 18px;
					font-family: 'Calibri-Bold';
					margin: 0;
					padding-bottom: 5px;
					
					@media(min-width: $screen-md-min){
						padding-top: 10px;
					}
				}
			}
		}
		
		
	
		
		.activate-fwd-account{
			@media(min-width: $screen-md-min){
				text-align: center;
			}
			
			.btn.next{
				margin-top: 20px;
				margin-bottom: 50px;
				
				@media(min-width: $screen-md-min){
					margin-top: 38px;
					margin-bottom: 60px;
				}
			}
		}
		
		
		.acknowledgement{
			border: solid 1px #b7c3cd;
			margin-top: 40px;
			padding: 33px 17px;
			
			@media(min-width: $screen-md-min){
				margin-top: 44px;
				padding: 40px 90px;
			}
	
			.policy-number{
				padding-top: 20px;
				p{
					line-height: 21px;
				}
			}
			
			.direct-debit{
				padding-top: 30px;
				
				@media(min-width: $screen-md-min){
					padding-top: 0;
				}
				p{
					line-height: 22px;
				}
			}
			
			.appointment{
				padding-top: 20px;
				h2{
					padding-bottom: 15px;
				}
				
				p{
					padding-bottom: 5px;
				}
			}
			
			h3{
				margin: 0;
				color: $orange-color;
				padding-bottom: 14px;
			}
			
			p{
				font-size: 18px;
				color: #373a36;
				font-family: 'Calibri';
				margin: 0;
				padding-bottom: 10px;
				
				&.addr-details{
					padding-bottom: 0;
				}
				
				span{
					font-family: 'Calibri-Bold';
				}
			}
			
			
			.pull-left.label{
				text-align: left;
				width: 105px;
				font-family: 'Calibri-Bold';
				font-size: 18px;
				color: #373a36;
				padding-left: 0;
				
				@media(min-width: $screen-md-min){
					width: 178px;
					padding-left: 0;
				}
			}
			
			.pull-left.value{
				text-align: left;
				width: 66%;
				color: #373a36;
				font-size: 18px;
				font-family: 'Calibri';
				
				@media(min-width: $screen-md-min){
					width: 50%;
					
				}
				
			}
		}
	}
//}