/* BANNER WIDGETS */

.banner-widget.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.banner-widget {
	background: url("../../assets/images/bg-banner.png") center center no-repeat;
	background-size: cover;
	
	.widget-title {
		position: relative;
		width: 200px;
		margin: auto;
		@media(min-width: $screen-md-min){
			width: 790px;
		}
		
		span {
			position: absolute;
			background: #fff;
			color: #ff8200;
			font-family: 'foco_bold';
			padding: 0 15px;
			@media(min-width: $screen-md-min){
				padding: 0 25px;
			}
		}
		span.first {
			font-size: 50px;
			top: 60px;
			right: 37%;
			line-height: 60px;
			@media(min-width: $screen-md-min){
				right: 63%;
				font-size: 100px;
				line-height: 120px;
			}
		}
		span.second {
			font-size: 35px;
			top: 85px;
			right: -1%;
			line-height: 45px;
			@media(min-width: $screen-md-min){
				font-size: 45px;
				right: 50%;
				top: 135px;
				line-height: 60px;
			}
		}
		span.third{
			font-size: 40px;
			top: 130px;
			right: 23%;
			line-height: 50px;
			padding: 0 10px;
			@media(min-width: $screen-md-min){
				font-size: 50px;
				right: 35%;
				top: 100px;
				line-height: 60px;
				padding: 0 15px;
			}
		}
		span.fourth{
			font-size: 45px;
			top: 181px;
			right: 17%;
			line-height: 55px;
			
			@media(min-width: $screen-md-min){
				font-size: 70px;
				right: 4%;
				top: 125px;
				line-height: 85px;
			}
		}
		
		.widget-desc {
			color: #fff;
			padding-top: 250px;
			padding-bottom: 30px;
			margin-left: -15%;
			margin-right: -15%;
			font-family: 'Calibri-Bold';
			font-size: 26px;
			line-height: 30px;
			text-shadow: 0px 1px 1px #676767;
			@media(min-width: $screen-md-min){
				font-size: 34px;
				margin-left: 15%;
				margin-right: 15%;
				padding-top: 235px;
				padding-bottom: 35px;
			}
		}
	}
	
	.widget-btns {
		padding-bottom: 50px;
		a {
			color: #fff;
			background: #ff8200;
			font-family: 'Calibri-Bold';
			font-size: 24px;
			padding: 10px 40px;
			margin: 0 2px;
			@media(min-width: $screen-md-min){
				font-size: 30px;
				margin: 0 4px;
				padding: 19px 60px;
			}
		}
	}
}

/* BLOG WIDGETS */
.blog-widget.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.blog-widget {
	.read-blog-mobile {
		background: #ff8200;
		padding: 10px 0;
		a{
			font-size: 24px;
			font-family: 'Calibri-Bold';
			color: #fff;
		}
		
	}
	.read-blog-desktop {
		img {
			padding: 0;
			border-top: 5px solid #f6871f;
			width: 100%;
		}
		h2 {
			color: #f68a1d;
			padding-bottom: 45px;
		}
		h3 {
			color: #f6871f;
			padding-left: 2px;
		}
		span.glyphicon-play {
			font-size: 13px;
		}
		p {
			font-size: 14px;
			color: #020202;
			padding: 25px 0;
		}
	}
}


