@charset "UTF-8";
.ew_pol_list .ew_pol_wd_linkup, .ew_popup_linkup .ew_remark, .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_popup_sec_content,
.ew_popup_withdraw .ew_popup_sec_amountOpt .ew_popup_sec_content [class*=col], .ew_popup_withdraw .ew_desc_err, .ew_popup_withdraw .ew_remark, .ew_pol_log .ew_log_selectWrapper, .ew_pol_log .ew_log_selectWrapper [class*=col], .ew_pol_log .ew_pol_info, .ew_pol_log .ew_log_dt_selectWrapper, .ew_pol_log .ew_logTable_wrapper, #e-wallet-tab-contents .ew-tab-title {
  padding-left: 0;
  padding-right: 0; }

.ew_pol_list .ew_pol_info .ew_pol_blance, .ew_popup_linkup .ew_popup_sec_pol .ew_pol_info .ew_pol_blance, .ew_popup_withdraw .ew_popup_sec_pol .ew_pol_info .ew_pol_blance, .ew_pol_log .ew_pol_info .ew_pol_blance, .ew_popup_withdraw .ew_withdrawAmount .ew_amount {
  color: #fc610b; }

.ew_popup_linkup .modal-content .ew_mobile, .ew_popup_linkupSuccess .modal-content .ew_mobile, .ew_popup_withdraw .modal-content .ew_mobile, .ew_popup_error .modal-content .ew_mobile, .ew_popup_unlinkConfirm .modal-content .ew_mobile {
  color: #fc610b; }

.ew_popup_linkup .ew_popup_sec_otpInput .ew_btn_confirm, .ew_popup_withdraw .ew_popup_sec_otpInput .ew_btn_confirm, .ew_popup_linkupSuccess .ew_btn_confirm, .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_btn_amount, .ew_popup_withdraw .ew_btn_withdraw, .ew_popup_withdraw .ew_success .ew_btn_confirm, .ew_popup_error .ew_btn_confirm, .ew_popup_unlinkConfirm .ew_btn_confirm, .ew_popup_unlinkConfirm .ew_btn_cancel, .ew_pol_list .ew_pol_wd_linkupBtn, .ew_pol_list .ew_pol_wd_withdrawBtn, .ew_pol_log .ew_log_dt_selectWrapper .ew_btn_ok {
  background-color: #fc610b;
  border-radius: 5px;
  color: #fff !important;
  display: inline-block;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 0.625em 1em;
  text-align: center; }
  .ew_popup_linkup .ew_popup_sec_otpInput .ew_btn_confirm:hover, .ew_popup_withdraw .ew_popup_sec_otpInput .ew_btn_confirm:hover, .ew_popup_linkupSuccess .ew_btn_confirm:hover, .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_btn_amount:hover, .ew_popup_withdraw .ew_btn_withdraw:hover, .ew_popup_withdraw .ew_success .ew_btn_confirm:hover, .ew_popup_error .ew_btn_confirm:hover, .ew_popup_unlinkConfirm .ew_btn_confirm:hover, .ew_popup_unlinkConfirm .ew_btn_cancel:hover, .ew_pol_list .ew_pol_wd_linkupBtn:hover, .ew_pol_list .ew_pol_wd_withdrawBtn:hover, .ew_pol_log .ew_log_dt_selectWrapper .ew_btn_ok:hover {
    color: #fff; }

.ew_pol_list .ew_pol_wd_formBtn {
  color: #ff9900;
  text-decoration: none; }

.ew_popup_linkup .modal-content .ew_remark, .ew_popup_linkupSuccess .modal-content .ew_remark, .ew_popup_withdraw .modal-content .ew_remark, .ew_popup_error .modal-content .ew_remark, .ew_popup_unlinkConfirm .modal-content .ew_remark {
  color: #bababa;
  font-size: 0.75em; }

.ew_popup_linkup .ew_popup_sec_otpInput .ew_desc_err, .ew_popup_withdraw .ew_desc_err {
  color: #970707;
  font-size: 0.75em;
  list-style: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0 !important; }

.ew_pol_list .ew_pol_wd_linkup_tngId, .ew_popup_withdraw .ew_tngId, .ew_pol_log .ew_pol_info .ew_pol_tngId {
  color: #fc610b; }

.ew_pol_log .ew_pol_selector select, #dt_log_from, #dt_log_to {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #efefef;
  background-image: url(../../images/eWallet/dropdown_arrow.png);
  background-position: right top;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 3px solid #fc610b;
  line-height: 1;
  min-width: 150px;
  padding: 5px 40px 5px 18px;
  text-align: center; }

.ew_popup_linkup, .ew_popup_linkupSuccess, .ew_popup_withdraw, .ew_popup_error, .ew_popup_unlinkConfirm {
  font-size: 16px; }
  .ew_popup_linkup .modal-header .close, .ew_popup_linkupSuccess .modal-header .close, .ew_popup_withdraw .modal-header .close, .ew_popup_error .modal-header .close, .ew_popup_unlinkConfirm .modal-header .close {
    font-size: 55px !important;
    position: absolute;
    right: 11px; }
  .ew_popup_linkup .modal-content, .ew_popup_linkupSuccess .modal-content, .ew_popup_withdraw .modal-content, .ew_popup_error .modal-content, .ew_popup_unlinkConfirm .modal-content {
    padding: 0 !important; }
    .ew_popup_linkup .modal-content .ew_popup_sec_title, .ew_popup_linkupSuccess .modal-content .ew_popup_sec_title, .ew_popup_withdraw .modal-content .ew_popup_sec_title, .ew_popup_error .modal-content .ew_popup_sec_title, .ew_popup_unlinkConfirm .modal-content .ew_popup_sec_title {
      font-size: 0.625em; }
    .ew_popup_linkup .modal-content .ew_link_resendOTP, .ew_popup_linkupSuccess .modal-content .ew_link_resendOTP, .ew_popup_withdraw .modal-content .ew_link_resendOTP, .ew_popup_error .modal-content .ew_link_resendOTP, .ew_popup_unlinkConfirm .modal-content .ew_link_resendOTP {
      @extedn %ew_base_link; }
    .ew_popup_linkup .modal-content .ew_desc, .ew_popup_linkupSuccess .modal-content .ew_desc, .ew_popup_withdraw .modal-content .ew_desc, .ew_popup_error .modal-content .ew_desc, .ew_popup_unlinkConfirm .modal-content .ew_desc {
      font-size: 0.667em; }
    .ew_popup_linkup .modal-content .ew_sentOtp, .ew_popup_linkupSuccess .modal-content .ew_sentOtp, .ew_popup_withdraw .modal-content .ew_sentOtp, .ew_popup_error .modal-content .ew_sentOtp, .ew_popup_unlinkConfirm .modal-content .ew_sentOtp,
    .ew_popup_linkup .modal-content .ew_resendOtp,
    .ew_popup_linkupSuccess .modal-content .ew_resendOtp,
    .ew_popup_withdraw .modal-content .ew_resendOtp,
    .ew_popup_error .modal-content .ew_resendOtp,
    .ew_popup_unlinkConfirm .modal-content .ew_resendOtp {
      display: none;
      padding: 1em 0; }
  .ew_popup_linkup .modal-title, .ew_popup_linkupSuccess .modal-title, .ew_popup_withdraw .modal-title, .ew_popup_error .modal-title, .ew_popup_unlinkConfirm .modal-title {
    background-color: #fc610b;
    color: #fff !important;
    font-size: 0.667em !important;
    padding: 1.250em 0 !important;
    text-align: center; }

.ew_popup_linkup .ew_popup_sec_otpInput .ew_btn_confirm, .ew_popup_withdraw .ew_popup_sec_otpInput .ew_btn_confirm, .ew_popup_linkupSuccess .ew_btn_confirm, .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_btn_amount, .ew_popup_withdraw .ew_btn_withdraw, .ew_popup_withdraw .ew_success .ew_btn_confirm, .ew_popup_error .ew_btn_confirm, .ew_popup_unlinkConfirm .ew_btn_confirm, .ew_popup_unlinkConfirm .ew_btn_cancel {
  font-size: 0.666em !important; }

.ew_popup_linkup .ew_popup_sec_otpInput .ew_popup_sec_content, .ew_popup_withdraw .ew_popup_sec_otpInput .ew_popup_sec_content, .ew_pol_list .ew_pol, .ew_popup_linkup .ew_popup_sec_pol, .ew_popup_withdraw .ew_popup_sec_pol, .ew_popup_withdraw .ew_withdrawAmount, .ew_pol_log .ew_pol {
  background: #efefef;
  margin-bottom: 1em;
  padding: 0.625em; }

.ew_pol_list .ew_pol_info .ew_pol_info_data, .ew_popup_linkup .ew_popup_sec_pol .ew_pol_info .ew_pol_info_data, .ew_popup_withdraw .ew_popup_sec_pol .ew_pol_info .ew_pol_info_data, .ew_pol_log .ew_pol_info .ew_pol_info_data {
  margin-top: 0.625em;
  margin-bottom: 0.625em; }
.ew_pol_list .ew_pol_info .ew_pol_info_fieldName, .ew_popup_linkup .ew_popup_sec_pol .ew_pol_info .ew_pol_info_fieldName, .ew_popup_withdraw .ew_popup_sec_pol .ew_pol_info .ew_pol_info_fieldName, .ew_pol_log .ew_pol_info .ew_pol_info_fieldName {
  display: block; }

.ew_popup_linkup .ew_popup_sec_otpInput .ew_popup_sec_content, .ew_popup_withdraw .ew_popup_sec_otpInput .ew_popup_sec_content {
  text-align: center; }
.ew_popup_linkup .ew_popup_sec_otpInput .ew_agreeBox, .ew_popup_withdraw .ew_popup_sec_otpInput .ew_agreeBox {
  font-size: .583em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 35px;
  text-align: left; }
  .ew_popup_linkup .ew_popup_sec_otpInput .ew_agreeBox input[type=checkbox], .ew_popup_withdraw .ew_popup_sec_otpInput .ew_agreeBox input[type=checkbox] {
    display: none; }
  .ew_popup_linkup .ew_popup_sec_otpInput .ew_agreeBox input[type=checkbox] + label:after, .ew_popup_withdraw .ew_popup_sec_otpInput .ew_agreeBox input[type=checkbox] + label:after {
    background: url(../../images/eWallet/ewallet-checkbox-icon.png) left top;
    content: "";
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px; }
  .ew_popup_linkup .ew_popup_sec_otpInput .ew_agreeBox input[type=checkbox]:checked + label:after, .ew_popup_withdraw .ew_popup_sec_otpInput .ew_agreeBox input[type=checkbox]:checked + label:after {
    background-position: left bottom; }

.ew_pol_list .ew_pol_wd_linkup .ew_pol_wd_linkupBtn .ew_spin, .ew_pol_list .ew_pol_wd_linkup .ew_pol_wd_withdrawBtn .ew_spin, .ew_pol_log .ew_btn_ok .ew_spin {
  display: none;
  padding: 0 0.5em; }
.ew_pol_list .ew_pol_wd_linkup .isLoading.ew_pol_wd_linkupBtn .ew_spin, .ew_pol_list .ew_pol_wd_linkup .isLoading.ew_pol_wd_withdrawBtn .ew_spin, .ew_pol_log .isLoading.ew_btn_ok .ew_spin {
  display: inline-block; }

.ew_popup_withdraw .ew_popup_loading {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 19; }
  .ew_popup_withdraw .ew_popup_loading p {
    color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 54px;
    height: 54px; }

.left-side-tab-menu.e-wallet {
  border-top: 1px solid #d4d5d4; }

#e-wallet-tab-link span {
  background: url(../../images/eWallet/side_menu_wallet.png) no-repeat !important; }

.ew_pol_list .ew_pol {
  padding: 0;
  margin: 1.25em auto; }

.ew_pol_list .ew_pol_sep:before {
  border-top: 1px solid #8d8d8d;
  content: "";
  display: block;
  margin-bottom: 0.625em; }

.ew_pol_list .ew_accErrMsg {
  padding: 20px 0 50px 0; }

.ew_pol_list .ew_pol_wd_linkup {
  display: inline-block; }
  .ew_pol_list .ew_pol_wd_linkup .ew_pol_wd_linkup_empty,
  .ew_pol_list .ew_pol_wd_linkup .ew_pol_wd_linkup_connected,
  .ew_pol_list .ew_pol_wd_linkup .ew_pol_wd_linkup_locked,
  .ew_pol_list .ew_pol_wd_linkup .ew_pol_wd_linkupBtn,
  .ew_pol_list .ew_pol_wd_linkup .ew_pol_wd_withdrawBtn {
    display: none; }
  .ew_pol_list .ew_pol_wd_linkup.isEmpty .ew_pol_wd_linkup_empty {
    display: block; }
  .ew_pol_list .ew_pol_wd_linkup.isEmpty .ew_pol_wd_linkupBtn {
    display: inline-block; }
  .ew_pol_list .ew_pol_wd_linkup.isConnected .ew_pol_wd_linkup_connected {
    display: block; }
  .ew_pol_list .ew_pol_wd_linkup.isConnected .ew_pol_wd_withdrawBtn {
    display: inline-block; }
  .ew_pol_list .ew_pol_wd_linkup.isLocked .ew_pol_wd_linkup_locked {
    display: block; }
  .ew_pol_list .ew_pol_wd_linkup.isDisabled .ew_pol_wd_linkupBtn, .ew_pol_list .ew_pol_wd_linkup.isDisabled .ew_pol_wd_withdrawBtn {
    background-color: gray; }

.ew_pol_list .ew_pol_wd_linkup_icon,
.ew_pol_list .ew_pol_wd_linkup_detail {
  display: inline-block;
  vertical-align: top; }

.ew_pol_list .ew_pol_wd_linkup_unlink,
.ew_pol_list .ew_pol_wd_linkup_empty {
  color: #bababa; }

.ew_pol_list .ew_pol_wd_linkupBtn {
  background-color: #ff9900; }

.ew_pol_list .ew_pol_wd_formBtn {
  text-decoration: underline; }

.ew_pol_template {
  display: none; }

.ew_pol_list .ew_pol_warns {
  padding: 0.625em 1.250em; }

.ew_pol_list .ew_pol_btnMore {
  font-size: 30px; }
  .ew_pol_list .ew_pol_btnMore .txt {
    font-size: 12px;
    line-height: 30px;
    vertical-align: top; }

.ew_pol_list .ew_pol_warnList {
  color: #970707; }

.ew_popup_linkup .ew_popup_sec_pol {
  padding: 0; }

.ew_popup_linkupSuccess {
  text-align: center; }
  .ew_popup_linkupSuccess .sub-header {
    color: #ff9900;
    padding: 0.416em 0; }
  .ew_popup_linkupSuccess .ew_desc {
    padding: 1em 0; }

.ew_popup_withdraw .ew_popup_sec_pol {
  padding: 0; }
.ew_popup_withdraw .ew_popup_sec_amountOpt .ew_btn_amount {
  background-color: #ff9900;
  margin-right: 0.2em; }
.ew_popup_withdraw .ew_popup_sec_amountOpt .ew_btn_grp,
.ew_popup_withdraw .ew_popup_sec_amountOpt .ew_txt_or,
.ew_popup_withdraw .ew_popup_sec_amountOpt .ew_amount_input,
.ew_popup_withdraw .ew_popup_sec_amountOpt .ew_btn_grp {
  display: inline-block;
  vertical-align: top; }
.ew_popup_withdraw .ew_popup_sec_amountOpt .ew_amount_input {
  padding-top: 11px; }
.ew_popup_withdraw .ew_popup_sec_amountOpt .ew_txt_or {
  line-height: 55px; }
.ew_popup_withdraw #ew_input_amount {
  border: none;
  background-color: #efefef;
  padding-left: 5px;
  padding-right: 5px;
  width: 278px; }
.ew_popup_withdraw .ew_btn_withdraw {
  margin-top: .5em;
  min-width: 109px; }
.ew_popup_withdraw .ew_withdrawAmount {
  margin-top: -20px;
  margin-bottom: 20px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center; }
  .ew_popup_withdraw .ew_withdrawAmount .ew_desc {
    font-size: 0.75em;
    font-weight: bold; }
.ew_popup_withdraw .ew_success {
  text-align: center; }
  .ew_popup_withdraw .ew_success .ew_bigTxt {
    color: #fc610b;
    font-weight: bold;
    font-size: 0.75em; }
  .ew_popup_withdraw .ew_success .ew_desc {
    margin-top: 20px;
    margin-bottom: 20px; }
.ew_popup_withdraw .ew_step_2, .ew_popup_withdraw .ew_step_3 {
  display: none; }
.ew_popup_withdraw #ew_input_amount.ew_err_input {
  border: red solid 1px; }

.ew_popup_error {
  text-align: center; }

.ew_popup_unlinkConfirm {
  text-align: center; }
  .ew_popup_unlinkConfirm .ew_btn_cancel {
    background-color: #d8d8d8;
    border-bottom: 1px solid #d8d8d8 !important; }

.ew_pol_log .ew_log_selectWrapper {
  margin: 1.25em auto; }
  .ew_pol_log .ew_log_selectWrapper [class*=col] {
    line-height: 34px; }
.ew_pol_log .ew_pol_selector {
  font-size: 1em;
  position: relative; }
  .ew_pol_log .ew_pol_selector select {
    font-size: 1em; }
.ew_pol_log .ew_log_dt_selectWrapper {
  display: none; }
  .ew_pol_log .ew_log_dt_selectWrapper .ew_dt_from_txt,
  .ew_pol_log .ew_log_dt_selectWrapper .ew_dt_to_txt {
    display: inline-block; }
  .ew_pol_log .ew_log_dt_selectWrapper .ew_btn_grp {
    display: inline-block; }
.ew_pol_log .ew_logTable_wrapper {
  display: none; }
  .ew_pol_log .ew_logTable_wrapper .ew_log_table {
    width: 100%; }
    .ew_pol_log .ew_logTable_wrapper .ew_log_table th, .ew_pol_log .ew_logTable_wrapper .ew_log_table td {
      padding: 1em; }
    .ew_pol_log .ew_logTable_wrapper .ew_log_table th {
      background-color: #e5e5e5; }
    .ew_pol_log .ew_logTable_wrapper .ew_log_table td {
      background-color: #efefef; }
    .ew_pol_log .ew_logTable_wrapper .ew_log_table .ew_dateMobile, .ew_pol_log .ew_logTable_wrapper .ew_log_table .ew_refNoMobile {
      color: #a7a7a7;
      display: none;
      font-size: 0.8em; }
.ew_pol_log .ew_loading {
  display: none; }

#dt_log_from, #dt_log_to {
  font-size: 1em; }

#e-wallet-tab-contents {
  font-size: 16px; }

#savie-online-purchase-history #purchase-history-page .right-side-content .nav-tabs li {
  width: 1%; }

@media screen and (max-width: 992px) {
  #savie-online-purchase-history #purchase-history-page .right-side-content .nav-tabs li {
    float: none; }

  .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_btn_grp,
  .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_txt_or,
  .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_amount_input {
    width: 100%; }
  .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_btn_grp, .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_desc_err {
    text-align: center; }
  .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_btn_grp .ew_btn_amount {
    width: 48%;
    margin: 0;
    margin-bottom: 10px; }
    .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_btn_grp .ew_btn_amount:nth-child(odd) {
      margin-right: 5px; }
    .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_btn_grp .ew_btn_amount:nth-child(even) {
      margin-left: 5px; }
  .ew_popup_withdraw .ew_popup_sec_amountOpt .ew_txt_or {
    line-height: initial; }
  .ew_popup_withdraw .ew_popup_sec_amountOpt #ew_input_amount {
    width: 100%; } }
@media screen and (max-width: 768px) {
  #savie-online-purchase-history #purchase-history-page .right-side-content .nav-tabs li {
    display: table-cell; } }
@media screen and (max-width: 767px) {
  .ew_pol_log .ew_dt_from_txt,
  .ew_pol_log #dt_log_from,
  .ew_pol_log #dt_log_to,
  .ew_pol_log .ew_dt_to_txt,
  .ew_pol_log .ew_btn_grp {
    width: 100%; }
  .ew_pol_log .ew_dt_from_txt,
  .ew_pol_log .ew_dt_to_txt {
    line-height: 50px; }
  .ew_pol_log .ew_btn_grp {
    padding-top: 10px;
    text-align: center; }

  .ew_pol_log .ew_logTable_wrapper .ew_log_table th:nth-child(2), .ew_pol_log .ew_logTable_wrapper .ew_log_table td:nth-child(2) {
    display: none; }
  .ew_pol_log .ew_logTable_wrapper .ew_log_table .ew_dateMobile, .ew_pol_log .ew_logTable_wrapper .ew_log_table .ew_refNoMobile {
    display: block; } }
#savie-online-purchase-history #purchase-history-page .right-side-content .nav-tabs li:last-child {
  border-right: none; }

.tab-content {
  overflow: auto; }

#e-wallet-tab-contents .tab-content {
  padding: 20px 30px !important; }

.ew_otp_wrapper, .ew_otp_input {
  font-family: Courier New !important;
  font-weight: bold;
  letter-spacing: .3em; }

.ew_otp_wrapper .ew_otp_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  background: transparent;
  width: 5.541em;
  font-size: 1em; }

.ew_otp_input {
  padding-left: 0;
  padding-right: 0; }

.ew_otp_wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-top: .5em;
  padding-bottom: .5em; }

.ew_otp_wrapper:after {
  content: "——————";
  line-height: .3em;
  position: absolute;
  bottom: 0;
  left: 0; }

@keyframes spin_loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
#note {
  padding-left: 10px; }

/*# sourceMappingURL=ewallet.style.css.map */
