@charset "UTF-8";

$txt-price-color: #fc610b;
$txt-mobile-color: #fc610b;
$txt-link-color: #ff9900;
$txt-remark-color: #bababa;
$txt-hint-color: #999999;

// ============ placeholder Begin ============
%noPadLR{
	padding-left: 0;
	padding-right: 0;
}
%ew_base_price{
	color: $txt-price-color;
}
%ew_base_mobile{
	color: $txt-mobile-color;
}
%ew_base_btn{
	background-color: #fc610b;
	border-radius: 5px;
	color: #fff !important;
	display: inline-block;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 0.625em 1em;
	text-align: center;
	&:hover{ 
		color: #fff;
	}
}
%ew_base_link{
	color: $txt-link-color;
	text-decoration: none;
}
%ew_base_remark{
	color: $txt-remark-color;
	font-size: 0.75em;
}
%ew_hint{ 
	color: $txt-hint-color;
	font-size: 0.75em;
}
%ew_base_errMsg{
	color: #970707;
	font-size: 0.75em;
	list-style: none;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 0 !important;
}
%ew_base_tngId{
	color: #fc610b;
}
%ew_base_dropdown{
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: #efefef;
	background-image: url(../../images/eWallet/dropdown_arrow.png);
	background-position: right top;
	background-repeat: no-repeat;
	border: none;
    border-bottom: 3px solid #fc610b;
    line-height: 1;
    min-width: 150px;
    padding: 5px 40px 5px 18px;
    text-align: center;
}

%ew_base_popup{
	font-size: 16px;
	.modal-header .close{
		font-size: 55px !important;
		position: absolute;    
		right: 11px;
	}
	.modal-content{
		padding: 0 !important;
		.ew_popup_sec_title{
			font-size: 0.625em;
		}
		.ew_remark{
			@extend %ew_base_remark;
		}
		.ew_mobile{
			@extend %ew_base_mobile;
		}
		.ew_link_resendOTP{
			@extedn %ew_base_link;
		}
		.ew_desc{
			font-size: 0.667em;
		}
		.ew_sentOtp,
		.ew_resendOtp{
			display: none;
			padding: 1em 0;
		}
	}
	.modal-title{
		background-color: #fc610b;
		color: #fff !important;
		font-size: 0.667em !important;
		padding: 1.250em 0 !important;
		text-align: center;
	}
}
%ew_base_popup_btn{
	@extend %ew_base_btn;
	font-size: 0.666em !important;
}

%ew_base_garyBox{
	background: #efefef;
	margin-bottom: 1em;
	padding: 0.625em;
}
%ew_base_pol_info{
	.ew_pol_info_data{
		margin-top: 0.625em;
		margin-bottom: 0.625em;
	}
	.ew_pol_info_fieldName{
		display: block;
	}
	.ew_pol_blance{
		@extend %ew_base_price;
	}
}

%ew_popup_sec_otpInput{
	.ew_popup_sec_content{
		@extend %ew_base_garyBox;
		text-align: center;	
	}
	.ew_agreeBox{
		font-size: .583em;
		margin-top: 1em;
		margin-bottom: 1em;
		padding-left: 35px;
		text-align: left;
		input[type=checkbox]{
			display: none;	
		}
		input[type=checkbox]+label:after{
			background: url(../../images/eWallet/ewallet-checkbox-icon.png) left top;
			content: "";
			height: 28px;
			left: 0;
			position: absolute;
			top: 0;
			width: 28px;

		}		
		input[type=checkbox]:checked+label:after{
			background-position: left bottom;
		}		
	}
	.ew_btn_confirm{
		@extend %ew_base_popup_btn;
	}
	.ew_desc_err{
		@extend %ew_base_errMsg;
	}
}
%ew_base_loadingBtn{
	.ew_spin{
		display: none;
		padding: 0 0.5em;
	}
	&.isLoading .ew_spin{
		display: inline-block;
	}
}
%ew_popupLoading{
	position: absolute;
	display: none;
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	z-index: 19;
	p{
		color: #ffffff;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 54px;
		height: 54px;
	}
}

// ============ placeholder End ============
.left-side-tab-menu.e-wallet{
	border-top: 1px solid #d4d5d4;
}

#e-wallet-tab-link span{
	background: url(../../images/eWallet/side_menu_wallet.png) no-repeat !important;
}

// ============ Policy List Begin ============
.ew_pol_list .ew_pol{
	@extend %ew_base_garyBox;
	padding: 0;
	margin: 1.25em auto;
}
.ew_pol_list .ew_pol_info{
	@extend %ew_base_pol_info;
}
.ew_pol_list .ew_pol_sep{
	&:before{
		border-top: 1px solid #8d8d8d;
		content: "";
		display: block;
		margin-bottom: 0.625em;
	}
}
.ew_pol_list .ew_accErrMsg{
    padding: 20px 0 50px 0;
}

.ew_pol_list .ew_pol_wd_linkup{
	@extend %noPadLR;
	display: inline-block;
	.ew_pol_wd_linkup_empty,
	.ew_pol_wd_linkup_connected,
	.ew_pol_wd_linkup_locked,
	.ew_pol_wd_linkupBtn,
	.ew_pol_wd_withdrawBtn{
		display: none;
	}
	&.isEmpty{
		.ew_pol_wd_linkup_empty{
			display: block;
		}
		.ew_pol_wd_linkupBtn{
			display: inline-block;
		}
	}
	&.isConnected{
		.ew_pol_wd_linkup_connected{
			display: block;
		}
		.ew_pol_wd_withdrawBtn{
			display: inline-block;
		}
	}
	&.isLocked{
		.ew_pol_wd_linkup_locked{
			display: block;
		}
	}
	&.isDisabled{
		.ew_pol_wd_linkupBtn, .ew_pol_wd_withdrawBtn{
			background-color: gray;
		}
	}
	.ew_pol_wd_linkupBtn, .ew_pol_wd_withdrawBtn{
		@extend %ew_base_loadingBtn;
	}
}
.ew_pol_list .ew_pol_wd_linkup_icon, 
.ew_pol_list .ew_pol_wd_linkup_detail{
	display: inline-block;
	vertical-align: top;
}
.ew_pol_list .ew_pol_wd_linkup_unlink,
.ew_pol_list .ew_pol_wd_linkup_empty{
	color: $txt-remark-color;
}
.ew_pol_list .ew_pol_wd_linkup_tngId{
	@extend %ew_base_tngId;
}
.ew_pol_list .ew_pol_wd_linkupBtn{
	@extend %ew_base_btn;
	background-color: #ff9900;
}
.ew_pol_list .ew_pol_wd_withdrawBtn{
	@extend %ew_base_btn;
}
.ew_pol_list .ew_pol_wd_formBtn{
	@extend %ew_base_link;
	text-decoration: underline;
}
.ew_pol_template{
	display: none;
}
.ew_pol_list .ew_pol_warns{
	padding: 0.625em 1.250em;
}
.ew_pol_list .ew_pol_btnMore{
	font-size: 30px;
	.txt{
		font-size: 12px;
		line-height: 30px;
		vertical-align: top;
	}
}
.ew_pol_list .ew_pol_warnList{
	color: #970707;
}
// ============ Policy List End ============


// ============ Popup Begin ============
.ew_popup_linkup{
	@extend %ew_base_popup;
	.ew_popup_sec_pol{
		@extend %ew_base_garyBox;
		padding: 0;
		.ew_pol_info{
			@extend %ew_base_pol_info;
		}
	}
	.ew_remark{
		@extend %noPadLR;
	}
	.ew_popup_sec_otpInput{
		@extend %ew_popup_sec_otpInput;
	}
}

.ew_popup_linkupSuccess{
	@extend %ew_base_popup;
	text-align: center;
	.sub-header{
		color: #ff9900;
		padding: 0.416em 0;
	}
	.ew_desc{
		padding: 1em 0;	
	}
	.ew_btn_confirm{
		@extend %ew_base_popup_btn;
	}
}

.ew_popup_withdraw{
	@extend %ew_base_popup;
	.ew_popup_loading{
		@extend %ew_popupLoading;
	}
	.ew_popup_sec_pol{
		@extend %ew_base_garyBox;
		padding: 0;
		.ew_pol_info{
			@extend %ew_base_pol_info;
		}
	}
	.ew_popup_sec_amountOpt .ew_popup_sec_content,
	.ew_popup_sec_amountOpt .ew_popup_sec_content [class*=col]{
		@extend %noPadLR;
	}
	.ew_popup_sec_amountOpt .ew_btn_amount{
		@extend %ew_base_popup_btn;
		background-color: #ff9900;
		margin-right: 0.2em;
	}
	.ew_popup_sec_amountOpt .ew_btn_grp,
	.ew_popup_sec_amountOpt .ew_txt_or,
	.ew_popup_sec_amountOpt .ew_amount_input,
	.ew_popup_sec_amountOpt .ew_btn_grp{
		display: inline-block;
		vertical-align: top;
	}
	.ew_popup_sec_amountOpt .ew_amount_input{
		padding-top: 11px;
	}
	.ew_popup_sec_amountOpt .ew_txt_or {
		line-height: 55px;
	}
	#ew_input_amount{
		border: none;
		background-color: #efefef;
		padding-left: 5px;
		padding-right: 5px;
		width: 278px;
	}
	.ew_desc_err{
		@extend %noPadLR;
		@extend %ew_base_errMsg;
	}
	.ew_btn_withdraw{
		@extend %ew_base_popup_btn;
		margin-top: .5em;
		min-width: 109px;
	}
	.ew_remark{
		@extend %noPadLR;
	}
	.ew_tngId{
		@extend %ew_base_tngId;
	}
	
	.ew_withdrawAmount{
		@extend %ew_base_garyBox;
		margin-top: -20px;
		margin-bottom: 20px;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center;
		.ew_desc{
			font-size: 0.75em;
			font-weight: bold;
		}
		.ew_amount{
			@extend %ew_base_price;
		}
	}
	.ew_popup_sec_otpInput{
		@extend %ew_popup_sec_otpInput;
	}
	// Success Msg
	.ew_success{
		text-align: center;
		.ew_bigTxt{
			color: #fc610b;
			font-weight: bold;
			font-size: 0.75em;
		}
		.ew_btn_confirm{
			@extend %ew_base_popup_btn;
		}
		.ew_desc{
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	.ew_step_2, .ew_step_3{
		display: none;
	}
	#ew_input_amount.ew_err_input{
		border: red solid 1px;
	}
}

.ew_popup_error{
	@extend %ew_base_popup;
	text-align: center;
	.ew_btn_confirm{
		@extend %ew_base_popup_btn;
	}
}

.ew_popup_unlinkConfirm{
	@extend %ew_base_popup;
	text-align: center;
	.ew_btn_confirm{
		@extend %ew_base_popup_btn;
	}
	.ew_btn_cancel{
		@extend %ew_base_popup_btn;
		background-color: #d8d8d8;
		border-bottom: 1px solid #d8d8d8 !important;
	}
}

// ============ Popup End ============



//log
.ew_pol_log{
	.ew_log_selectWrapper{
		@extend %noPadLR;
		margin: 1.25em auto;
		[class*=col]{
			@extend %noPadLR;
			line-height: 34px;
		}
	}
	.ew_pol_info{
		@extend %ew_base_pol_info;
		.ew_pol_tngId{
			@extend %ew_base_tngId;
		}
	}
	.ew_pol{
		@extend %ew_base_garyBox;
	}
	.ew_pol_info{
		@extend %noPadLR;
	}
	.ew_pol_selector{
		font-size: 1em;
		position: relative;
		select{
			@extend %ew_base_dropdown;	
			font-size: 1em;
		}
	}
	.ew_log_dt_selectWrapper{
		@extend %noPadLR;
		display: none;
		.ew_dt_from_txt,
		.ew_dt_to_txt{
			display: inline-block;
		}
		.ew_btn_grp{
			display: inline-block;
		}
		.ew_btn_ok{
			@extend %ew_base_btn;
		}
	}
	.ew_logTable_wrapper{
		@extend %noPadLR;
		display: none;
		.ew_log_table{
			width: 100%;
			th, td{padding: 1em;}
			th{
				background-color: #e5e5e5;
			}
			td{
				background-color: #efefef;
			}
			.ew_dateMobile, .ew_refNoMobile{
				color: #a7a7a7;
				display: none;
				font-size: 0.8em;
			}
		}	
	}
	.ew_btn_ok{
		@extend %ew_base_loadingBtn;
	}
	.ew_loading{
		display: none;
	}
}

#dt_log_from, #dt_log_to{
		@extend %ew_base_dropdown;
		font-size: 1em;
	}


#e-wallet-tab-contents{
	font-size: 16px;
	.ew-tab-title{
		@extend %noPadLR;
	}
}
// sub tab link
#savie-online-purchase-history #purchase-history-page .right-side-content .nav-tabs li{
	width: 1%;
}
@media screen and (max-width: 992px) {
	#savie-online-purchase-history #purchase-history-page .right-side-content .nav-tabs li{
		float: none;
	}

	.ew_popup_withdraw .ew_popup_sec_amountOpt{
		.ew_btn_grp,
		.ew_txt_or,
		.ew_amount_input{
			width: 100%;
		}
		.ew_btn_grp, .ew_desc_err{
			text-align: center;
		}
		.ew_btn_grp	.ew_btn_amount{
			width: 48%;
			margin: 0;
			margin-bottom: 10px;
			&:nth-child(odd){
				margin-right: 5px;
			}
			&:nth-child(even){
				margin-left: 5px;
			}
			// .ew_btn_withdraw{
			// 	margin-left: auto;
			// 	margin-right: auto;
			// }
		}
		.ew_txt_or{
			line-height: initial;
		}
		#ew_input_amount{
			width: 100%;
		}
	}
	
	
}
@media screen and (max-width: 768px) {
	// fix insurance plan 3 tabs
	#savie-online-purchase-history #purchase-history-page .right-side-content .nav-tabs li{
		display: table-cell;
	}
}

@media screen and (max-width: 767px){
	.ew_pol_log{
		.ew_dt_from_txt,
		#dt_log_from,
		#dt_log_to,
		.ew_dt_to_txt,
		.ew_btn_grp{
			width: 100%;
		}
		.ew_dt_from_txt,
		.ew_dt_to_txt{
			line-height: 50px;
		}
		.ew_btn_grp{
			padding-top: 10px;
			text-align: center;
		}
	}

	.ew_pol_log .ew_logTable_wrapper .ew_log_table{
		th:nth-child(2),td:nth-child(2){
			display: none;
		}
		.ew_dateMobile, .ew_refNoMobile{
			display: block;
		}
	}
}

#savie-online-purchase-history #purchase-history-page .right-side-content .nav-tabs li:last-child{
	border-right: none;
}

.tab-content{
	overflow: auto;
}

#e-wallet-tab-contents .tab-content{
	padding: 20px 30px !important;
}



.ew_otp_wrapper, .ew_otp_input{
  font-family: Courier New !important;
  font-weight: bold;
  letter-spacing: .3em;
}
.ew_otp_wrapper .ew_otp_input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	outline: 0;
	background: transparent;
	width: 5.541em;
	font-size: 1em;
}
.ew_otp_input{
	padding-left: 0;
	padding-right: 0;
}
.ew_otp_wrapper{
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-top: .5em;
  padding-bottom: .5em;
}
.ew_otp_wrapper:after {
  content: "——————";
  line-height: .3em;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes spin_loading {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(359deg); }
}

#note{
	padding-left: 10px;
}