.motor-landing .whole-banner .container{
    width: 970px;
    left: 50%;    
    margin-left: -485px;
}
.motor-landing .featured > .row > div > .row{
height: 370px;
}

body.chin{ 
.motor-landing .featured > .row > div > .row{
height: 325px;
}
}
