@font-face {
  font-family: 'Calibri';
  src: url("../../font/CircularPro-Book.otf");
  src: url("../../font/CircularPro-Book.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Calibri-Bold';
  src: url("../../font/CircularPro-Bold.otf");
  src: url("../../font/CircularPro-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

.breadcrumbs.motor .breadcrumb {
  padding-left: 0; }

.breadcrumbs.motor, .breadcrumbs.motor .breadcrumb li > a {
  color: #9fb1b2; }

@media screen and (max-width: 811px) {
  .breadcrumbs.motor .breadcrumb {
    padding-left: 20px !important; } }

#contactpopup {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline-color: transparent; }
  #contactpopup .thumbnail img {
    width: 90px; }
  #contactpopup .heading-h3 {
    margin-top: 30px; }
  #contactpopup p {
    color: #061d2a; }
  #contactpopup .plan-panel > div {
    padding-bottom: 0;
    margin-bottom: 0; }
  #contactpopup .ref-number {
    margin-top: 0; }

.contact-form {
  padding-top: 30px; }
  .contact-form .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: #ccc; }
  .contact-form .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    display: none; }
  .contact-form .help-block-wrap {
    position: relative; }
  .contact-form .help-block {
    position: absolute; }
    .contact-form .help-block li {
      line-height: 1.2; }

.datepicker.dropdown-menu {
  z-index: 1151 !important; }

#content-datepicker:hover {
  cursor: default; }

/* login page || login.jsp */
#contactform-pop .col-sm-12.col-md-6.left, #contactform-pop .col-sm-12.col-md-12.left {
  padding-right: 100px; }

#contactform-pop a#forgotUserName, #contactform-pop a#link-forgotPassword {
  text-decoration: none;
  font-style: normal; }

#contactform-pop .mdl-textfield {
  width: 100% !important;
  padding: 0 !important;
  margin-bottom: 10px !important; }

#contactform-pop .form-control.gray-textbox {
  font-size: 18px;
  font-family: 'Calibri';
  color: #000;
  margin-top: 6px;
  background-color: #f1f3f5 !important;
  box-shadow: inset 0 1px 1px transparent;
  padding: 12px 15px 0 15px;
  border-radius: 0;
  border: 0 transparent; }

#contactform-pop .mdl-textfield__label {
  padding-top: 5px;
  font-size: 14px;
  left: 0;
  top: 10px;
  padding-left: 15px;
  font-family: 'Calibri-Bold'; }

#contactform-pop .mdl-textfield.is-focused label, #loginform-pop .mdl-textfield.is-dirty label {
  color: #ff8200;
  font-size: 12px;
  top: 1px; }

#contactform-pop .mdl-textfield.is-not-active label {
  color: #ff8200; }

#contactform-pop .mdl-textfield input:hover, #loginform-pop .mdl-textfield input:focus,
#contactform-pop .mdl-textfield textarea:hover, #loginform-pop .mdl-textfield textarea:focus {
  border-bottom: 2px solid #Ff8200; }

#contactform-pop .mdl-textfield__input:focus {
  transition: all 0.1s;
  background-color: #ffffff; }

#contactform-pop .mdl-textfield__input:focus, #loginform-pop .mdl-textfield__input:hover {
  outline: none;
  outline-offset: 0;
  -webkit-appearance: none;
  box-shadow: inset 0 1px 1px transparent; }

#contactform-pop .mdl-textfield label:after {
  background-color: transparent; }

#contactform-pop textarea.form-control.gray-textbox {
  height: 135px; }

#contactform-pop .next-btn {
  padding: 20px 0 40px 0;
  text-align: center; }

#contactform-pop .apply-btn {
  background: #ffa500;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 37px;
  border-radius: 4px !important;
  border-bottom: 3px solid #c56501; }

#contactform-pop #applyPartner {
  padding: 5px 90px;
  font-size: 24px;
  margin-left: -52px; }

@media (max-width: 991px) {
  #contactform-pop .col-sm-12.col-md-6.left {
    padding-right: 0; }
  #contactform-pop #applyPartner {
    margin-left: 0; } }

@media (max-width: 767px) {
  .promo-active-page .right-side-content #promo-offers-tab-contents .tab-content .referral-program-container #promo-input-holder #toBeCopied.promo-code-input {
    height: auto; } }

.get-quote-form .q1 {
  position: relative;
  z-index: 4; }

.get-quote-form .q2 {
  position: relative;
  z-index: 3; }

.get-quote-form .q3 {
  position: relative;
  z-index: 2; }

.get-quote-form .q4 {
  position: relative;
  z-index: 1; }

.get-quote-form .q5 {
  position: relative;
  z-index: 0; }

.get-quote-form .q2:hover {
  z-index: 5; }

.get-quote-form input[type="number"]::-webkit-outer-spin-button, .get-quote-form input[type="number"]::-webkit-inner-spin-button {
  display: none; }

.get-quote-form .form-group {
  padding-bottom: 30px; }

.get-quote-form a {
  text-decoration: underline; }

.get-quote-form .bck-btn {
  text-decoration: none; }

.get-quote-form .form-control {
  display: inline;
  margin-bottom: 15px;
  background: #fff;
  border: none;
  color: #f68a1d;
  height: auto;
  font-size: inherit;
  box-shadow: none !important;
  -moz-text-align-last: center;
       text-align-last: center;
  line-height: 1; }

.get-quote-form [type="checkbox"] {
  float: none !important;
  display: none;
  visibility: hidden; }

.get-quote-form select.init {
  color: #ccc !important; }

.get-quote-form option {
  color: #f68a1d !important; }

.get-quote-form .checkbox {
  padding-left: 25px; }
  .get-quote-form .checkbox img {
    max-height: 12px; }

.get-quote-form .custom-checkbox {
  padding-bottom: 15px; }

.get-quote-form.get-quote-form .get-quote-field .form-control {
  vertical-align: bottom;
  width: auto;
  border-bottom: solid 1px #ccc;
  text-align: center;
  padding: 0 15px;
  margin: 0 15px; }

.get-quote-form [data-toggle="tooltip"] {
  border: none;
  background: #fff !important;
  color: #9fb1b2;
  padding: 0;
  font-size: 1.2em; }
  .get-quote-form [data-toggle="tooltip"] :hover {
    color: #f68a1d; }

.get-quote-form .tooltip {
  background: transparent;
  margin: 0 !important; }
  .get-quote-form .tooltip > .tooltip-arrow {
    border-top-color: #f68a1d !important; }

.get-quote-form .selectize-control {
  display: inline-block;
  min-width: 250px;
  padding: 0 !important;
  margin: 0 !important;
  vertical-align: middle !important; }
  .get-quote-form .selectize-control .selectize-input {
    border: none;
    box-shadow: none;
    padding: 0;
    min-height: 0; }
    .get-quote-form .selectize-control .selectize-input:after {
      border-color: #f68a1d transparent transparent transparent !important; }

.get-quote-form .selectize-dropdown {
  top: 24px !important;
  padding: 0 !important;
  margin: 0 !important;
  border: solid 1px #ccc;
  border-radius: 0;
  border-top: 0;
  z-index: 99;
  background: #fff; }

.get-quote-form .help-block-wrap {
  position: relative;
  display: inline-block; }

.get-quote-form .help-block {
  position: absolute; }
  .get-quote-form .help-block li {
    line-height: 1.2; }

.get-quote-form button[type="submit"].disabled {
  background: #f68a1d;
  border-color: #f68a1d; }

.plan-panel {
  color: #fff;
  padding: 0; }
  .plan-panel .thumbnail {
    padding: 0;
    padding-right: 10px;
    border: none;
    background: transparent;
    margin-bottom: 0; }
  .plan-panel > div {
    margin: 15px;
    padding: 30px; }
  .plan-panel .row:first-of-type > div:first-of-type {
    padding-right: 0; }
  .plan-panel h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    color: #fff; }
  .plan-panel .currency, .plan-panel .price {
    color: #fff; }
  .plan-panel .currency, .plan-panel small {
    font-size: small; }
  .plan-panel big {
    font-size: xx-large;
    font-weight: 600; }

@media (max-width: 767px) {
  .plan-panel .row:first-of-type > div:first-of-type {
    padding-left: 0; }
  .plan-panel .thumbnail {
    padding-right: 0; } }

.plan-accordion .panel-default {
  background: transparent;
  border-top: none !important; }

.plan-accordion .panel-heading {
  border-bottom: solid 2px #1f4146;
  background: transparent; }

.plan-accordion .panel-title a {
  color: #1f4146;
  text-decoration: none;
  font-size: x-large;
  text-align: center;
  display: block;
  font-weight: 600; }
  .plan-accordion .panel-title a:after {
    font-family: FontAwesome;
    content: "\f107";
    float: right; }

.plan-accordion .table {
  width: 100%; }
  .plan-accordion .table td {
    border: none !important; }

.plan-accordion .panel-collapse, .plan-accordion .panel-body {
  background: transparent !important; }

.plan-accordion .table-striped > tbody > tr:nth-child(odd) > td, .plan-accordion .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fff; }

.plan-accordion .table tr > th:first-of-type {
  border: none !important; }

@media (min-width: 768px) {
  .plan-accordion .table tr > td:first-of-type {
    padding-left: 30px; } }

@media (max-width: 767px) {
  .plan-accordion .table tr > td:first-of-type {
    padding: 0 10px; } }

/*color guild*/
.blue-color {
  background: #12afbf; }

.yellow-color {
  background: #fbbf15; }

.dark-green-color {
  background: #1f4146; }

.light-green-color {
  background: #97d0ce;
  color: #061d2a; }

.white-color {
  background: #fff; }
  .white-color, .white-color a {
    color: #061d2a; }
  .white-color h3, .white-color .price {
    color: #f68a1d; }

.bdr-curve {
  padding: 5px 2px !important;
  border-radius: 5px !important;
  font-size: 1.2em; }

.center .motor-ttl {
  font-size: 20px !important;
  margin: 20px auto !important;
  margin-bottom: 0 !important;
  width: 100% !important;
  font-weight: bold !important; }

/*# sourceMappingURL=maps/motor-styles.css.map */
