@include breakpoint-min(#{$screen-sm}) {
    // source from line#263 (main_00_orgin.css)
    .modal.fade.loginpopup {
        // changed from "#loginpopup .modal-dialog {}"
        .modal-dialog.loginpopup__modal-dialog {
            margin: 230px auto;
            width: 600px;
        }
    }
}
@include breakpoint-max(#{$screen-xs-max}) {
    .promo-active-page {
        .right-side-content #promo-offers-tab-contents {
            .tab-content {
                .referral-program-container {
                    #promo-input-holder {
                        #toBeCopied.promo-code-input {
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}
.dw-bubble{
	&.mbsc-mobiscroll{
		.dwl{
			color: #333;
		    font-size: 18px;
		    text-transform: capitalize;
		}
		.dwb{
			color: #f99502;
		}
		.dwwol{
			border-top: 1px solid #f99502;
    		border-bottom: 1px solid #f99502;
		}
	}
}