@media screen and (min-width: 768px){
    .quick-quote{
        .motor-select-plan .collapse{
            height: auto !important;
            display: block !important;
        }
    } 
}

@media screen and (max-width: 767px){
   .quick-quote{
        .motor-form-wrap{
            display: table;
            width: 100%;
        }
        .motor-select-plan{
            display: table-footer-group;
        }
        .select-plan-main{
            background: #f5f5f5;
        }
        .motor-select-plan .collapse-addon:after{
            font-family: FontAwesome;
            color: #f6871e;
            content: "\f0d7";
            font-size: 1.5em;
            right: 0.1em;
            top: 0;
            position: absolute;
        }
        .select-plan-main{
            background: #f6871e; 
        }
        .ready-content h3{
            font-size: 20px;
            padding-left: 15px;
        }
        .addOn-content{
            height: auto !important;
        }
    }
}

@media screen and (min-width: 1200px){
    .quick-quote{
        .ready-content h3{
            padding-top: 1em;
        }
        .addOn-content{
            height: 145px;
        }
    }
}
