@media (max-width: 767px){
    .yourQuote{
        display: table-header-group;
        #yourQuote{
            background: #f5f5f5;
            overflow: hidden;
            .row {
                &>div{
                    padding: 0;
                    font-size: smaller;
                }
                padding: 0 40px;
            }
        }
    }
}
