.motor-signup-form{
    .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled]
    .btn-primary.active{
        background: $orange;
        border-color: $orange;
    }
    .bootstrap-switch{
        background: #ccc;
        &, .bootstrap-switch-label{
            border-radius: 40px !important;
        }
        .bootstrap-switch-label{
            width: 30px !important;
            height: 30px !important;
            border: solid 2px #ccc;
        }
    }
    .bootstrap-switch.bootstrap-switch-wrapper.bootstrap-switch-animate.bootstrap-switch-on{
    background: $orange;
    }
    .bootstrap-switch.bootstrap-switch-wrapper.bootstrap-switch-animate.bootstrap-switch-on .bootstrap-switch-label{
    border: solid 2px $orange;
    }

    .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default{
        background: transparent !important;
    }
    .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary{
        background: transparent !important;
    }
    .save > a{
        color: $dark-gray;   
        text-decoration: underline;
    }
    #tr-wizard.shop-tracking-status .image-order-status{
        background-color: #f5f5f5;
        border: none;
        color: $light-gray;
    }
    #tr-wizard.shop-tracking-status .act{
        background-color: $orange;
        color: #fff;
        >span{
            text-align: left;
        }
    }
    .shop-tracking-status .image-order-status.active .status{
        left: -16px !important;
        font-size: 16px !important;
    }
    .center .landing_h2{
        /*color: #555 !important;*/
    }
	.center .landing_h3 {
		font-size: 30px !important;
		margin-top: 55px !important;
		margin-bottom: 25px !important;
		color: #555 !important;
	}
    .form-control{
        height: 60px;
    }
    .mdl-textfield{
        width: 100%;
        padding: 0;
    }
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button{
        display: none !important;
        visibility: hidden;
    }
    .mdl-textfield__label {
        left: 0;
        top: 20px;
        padding-left: 15px;
        color: #ccc !important;
    }
    .mdl-textfield.is-focused label{
        top: 0;
        color: $orange !important;
    }
    .mdl-textfield.is-invalid .mdl-textfield__input{
        border: none;
        box-shadow: none;
    }
    .mdl-textfield.is-invalid .mdl-textfield__label:after{
        background-color: $orange !important;
    }
.form-control.selectize-control{
        height: 60px;
}
    .mdl-textfield__label{
        height: 60px;
        &:after{
            bottom: 0;
            background-color: $orange;
        }
    }
    .mdl-textfield__input {
        text-indent: 8px; 
    }
    .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary{
        background: $orange;
    }
    .selectize-control{
        display: inline-block;
        min-width: 250px;
        padding: 0 !important;
        margin: 0 !important;
        vertical-align: middle !important;
        .selectize-input{
            border-radius: 0 !important;
            border: none;
            box-shadow: none;
            padding: 20px 15px;
            min-height: 0;
            &:after{
                border-color: #f68a1d transparent transparent transparent !important;
            }
        }
        .selectize-input input[type="text"]{
            width: 100% !important;
        }
    }
    .selectize-dropdown{
        top: 24px !important;
        padding: 0 !important;
        margin: 0 !important;
        border: solid 1px #ccc;
        border-radius: 0;
        border-top: 0;
        z-index: 99;
        background: #fff;
    }
    .motor-tooltip{
        &+.tooltip{
            background-color: #f2f2f2;
            margin-top: -10px;
            &.in{
                opacity: 1;
                filter: alpha(opacity=100);
            }
            .tooltip-inner{
                background-color: #f2f2f2;
                max-width: none;
                padding: 0 5px;
            }
            .tooltip-arrow{
                border-top-color: #f2f2f2;
                bottom: -14px;
                border-width: 15px 15px 0;
            }
        }
        position: absolute;
        right: 15px;
        font-size: 200%;
        line-height: 2;
    }
    .occupation+.selectize-control>div {
        background: #f5f5f5;
        ::-webkit-input-placeholder{
            font-size: 12px !important;
        }
    }
    .occupation:disabled+.selectize-control>div {
        background: #f5f5f5;
        ::-webkit-input-placeholder{
            font-size: 16px !important;
        }
    }
    .occupation:disabled + .selectize-control > div ::-webkit-input-placeholder{
        color: $dark-gray !important;
    }
    :disabled{
        cursor: default;
        color: $dark-gray;
        background: #f5f5f5;
    }
    .calendar.disabled:after{
        right: 26px;
    }
    :disabled+.selectize-control {
        .selectize-input{
            opacity: 1;
        }
    }
    #district+.selectize-control>div {
        background: #f5f5f5;
        ::-webkit-input-placeholder{
            font-size: 12px !important;
        }
    }
	#occupation+.selectize-control>div {
        background: #f5f5f5;
        ::-webkit-input-placeholder{
            font-size: 12px !important;
        }
    }
	
	#d2occupation+.selectize-control>div {
        background: #f5f5f5;
        ::-webkit-input-placeholder{
            font-size: 12px !important;
        }
    }
	
    #area+.selectize-control>div {
        background: #f5f5f5;
        ::-webkit-input-placeholder{
            font-size: 12px !important;
        }
    }
    #policy-datepicker{
        background: #fff;
    }
    .no-claim{
        .form-group{
            margin-bottom: 0;
        }
        .form-control, .calendar{
            background: #fff;
        }
        #expiry-datepicker{
            background: transparent !important;
        }
        .mdl-textfield{
            height: 100px;
        }
        .help-block {
            .list-unstyled{
                margin: 0;
            }
            li{
                line-height: 1;
                margin: 0;
            }
        }
    }
    .calendar{
        background: #f2f2f2;
    }
    .calendar .glyphicon {
        font-size: 18px;
        color: $orange;
        position: absolute;
        top: 18px;
        right: 18px;
    }
    .calendar > input{
        position: relative;
        background: transparent;
        cursor: pointer;
    } 
    .ped{
        padding-top: 18px;
    }
    .question .panel-heading{
        background: #f5f5f5;
    }
    .custom-radio{
        .radio{
            background: #fff;
            color: $orange;
            padding: 10px 50px;
            border: solid 1px $orange;
            border-radius: 5px;
            margin: 10px 0; 
            display: inline-block;
            label{
                padding-left: 0;
            }
            input[type="radio"]{
                display: none;
            }
            &.active{
                background: $orange;
                color: #fff;
            }
        }
        .radio label:before, .radio label:after{
            display:none;
        }
    }
    .custom-checkbox{
        .has-error .help-block-wrap:after{
            content: '';
        }
        .help-block-wrap > input[type=checkbox]{
            display: none !important;
        }
    }
    .added-driver > .container:first-of-type .row > div {
        padding-top: 30px;
        border-top: solid 4px $orange;
        position: relative;
    }
    .added-driver > .container:first-of-type .removeDriver{
        position: absolute;
        right: 0;
        padding-right: 20px;
    } 
    #driver5 > .container:last-of-type .row:last-of-type > div:last-of-type {
        // border-bottom: solid 2px $orange;
    }
    #addDriver{
        padding: 40px;
        display: inline-block;
    }
    #bankName{
        background: #fff;
        text-indent: 6px;
    }
    .save{
        margin: 30px 0 50px;
    }
    .memberLogin{ 
        .plan-accordion .panel-title a:after{
            content: none;
        }
        .registerPanel{
            background: #ccc;
            .form-group{
                margin: 0;
                margin-bottom: 0;
            }
            .mdl-textfield{
                height: 100px;
                text-align: left;
            }
        }
        .form-control{
            background-color: #fff !important;
        }
        .panel-default>.panel-heading+.panel-collapse .panel-body{
            border-top:none !important;
            color: #575757
        }
        .panel-body{
            padding: 0;
            padding-top: 20px;
            .panel-group{
                margin: 0;
            }
        }
        .plan-accordion .panel-heading{
            border-bottom: none;
        }
    }
    .payment-detail > .panel-heading, .memberLogin > .panel-heading{
        background-color: #fff;
        h2{
            margin-bottom: 0;
        }
    }
    .payment-detail > .panel-body, .memberLogin > .panel-body {
        border: solid 0px #ccc;
        border-top-width: 3px;
        background-color: #f2f2f2;
    }

}
#saveModal{
    .heading-h3{
        padding: 60px 0 40px;
    }
}
#motor_registerForm, #testimonials{
	.form-control{
		.selectize-dropdown{
			top:48px !important;
		}
		.selectize-dropdown, .selectize-dropdown.form-control{
			color:#f68a1d;
			background-color: #f5f5f5 !important;
		}
		.selectize-dropdown .active{
			color:#f68a1d !important;
		}
    }
}
#motor_Form_Title
{
	.center .landing_h2{
        /*color: #555 !important;*/
    }
	.center .landing_h3 {
		font-size: 30px !important;
		margin-top: 55px !important;
		margin-bottom: 25px !important;
		color: #555 !important;
	}
}
@media (max-width: 768px)
{
	.motor-signup-form{
		.tooltip{
			left:0px !important;
			width:100%;
			display:block !important;
			.tooltip-arrow{
				left:93%
			}
			.tooltip-inner{
				img{
					width:100%;
				}
			}
		}
	}
}