//colors
$black_17_5: rgba(0,0,0,0.175);
$white_10: rgba(255,255,255,0.1);
$black_60: rgba(0, 0, 0, 0.6);
$white_50: rgba(255, 255, 255, 0.5);
$black_85: rgba(0, 0, 0, .85);
$black_12_5: rgba(0, 0, 0, 0.125);
$dodger_blue: rgb(30, 144, 255);
$black_80: rgba(0, 0, 0, 0.8);

$white: #ffffff;
$black: #000000;
$color_carrot_orange_approx: #f6871e;
$color_pink_swan_approx: #bbbbbb;
$color_alto_approx: #ddd;
$color_celeste_approx: #ccc;
$color_mountain_mist_approx: #999;
$color_gallery_approx: #eee;
$color_mine_shaft_approx: #333;
$color_tuatara_approx: #373a36;
$color_hit_gray_approx: #9fb1b2;
$color_black_pearl_approx: #061d29;
$color_porcelain_approx: #f0f3f5;
$color_wild_sand_approx: #f2f5f6;
$color_flush_orange_approx: #ff8201;
$color_cararra_approx: #ebebeb;
$color_mountain_meadow_approx: #16ab95;
$color_log_cabin_approx: #222;
$color_regent_gray_approx: #86989c;
$color_boulder_approx: #787878;
$mercury: #e5e5e5;
$color_persian_red_approx: #c52d2f;
$concrete: #f2f2f2;
$gray: #808080;
$color_te_papa_green_approx: #1f4146;
$color_soapstone_approx: #fefdf8;
$color_mercury_approx: #e3e3e3;
$color_fuscous_gray_approx: #555;
$color_silver_sand_approx: #bdc4c4;
$color_gunsmoke_approx: #858586;
$color_pumice_approx: #c9c9c9;
$color_storm_dust_approx: #666;
$color_lightning_yellow_approx: #ffbd20;
$color_tapa_approx: #777;
$color_silver_approx: #bfbfbf;
$color_lochmara_approx: #0182c4;
$color_dodger_blue_approx: #20b8ff;
$color_valencia_approx: #d34836;
$color_astral_approx: #2d7da4;
$color_olive_drab_approx: #6aa42f;
$color_grenadier_approx: #db3615;
$color_concrete_approx: #f3f3f3;
$color_suva_gray_approx: #888;
$color_pickled_bluewood_approx: #34495e;
$seashell: #f1f1f1;
$color_iron_approx: #d5d8dd; // #d7d8d7
$color_picton_blue_approx: #3fc1fe;
$color_supernova_approx: #ffc800;
$color_black_approx: #020202;
$red:  red;
$color_daintree_approx: #071d2b;
$color_flesh_approx: #fccaa9;
$color_fiord_approx: #495d66;
$color_st_tropaz_approx: #1a4f95;
$color_brick_red_approx: #cc324c;
$color_silver_chalice_approx: #aaa;
$color_red_approx: #e50000;
$color_tory_blue_approx: #0b56a8;
$color_star_dust_approx: #9a9a9a;
$color_purple_heart_approx: #3c0fd3;
$color_tussock_approx: #c09853;
$color_chestnut_approx: #b94a48;
$color_hippie_green_approx: #468847;
$color_boston_blue_approx: #3a87ad;
$color_light_apricot_approx: #f6d5b4;
$web_orange:  orange;
$color_torch_red_approx: #ec152b;
$color_chestnut_rose_approx: #d9534f;
$color_viking_approx: #5bc0de;
$color_casablanca_approx: #f0ad4e;
$color_fern_approx: #5cb85c;
$color_heather_approx: #b3c3cd;
$color_abbey_approx: #4e5759;
$color_alabaster_approx: #f9fbfb;
$color_geyser_approx: #d6dee4;
$color_pewter_approx: #99a4a6;
$color_rajah_approx: #ffb367;
$color_ghost_approx: #c5cfd8;
$color_cerulean_approx: #00b0f0;
$color_sun_approx: #fdb714;
$color_red_ribbon_approx: #e4002b;
$color_golden_sand_approx: #efdb71;
$color_nevada_approx: #676f70;
$color_pizza_approx: #cf9611;
$color_indochine_approx: #c56501;
$color_gray_nurse_approx: #e8eaea;
$color_blue_dianne_approx: #26484e;


// iMotor
//===Color
$orange : #f68a1d;
$red : #ec152b;
$yellow : #ffc30e;
$dark-gray : #061d2a;
$dark-green: #1f4146;
$medium-light-gray: #87999e;
$light-gray : #9fb1b2;
$violet-gray : #616163;
$top-blue :#071d2b;
$top-blue-font-color: #fefdf8;
$orange-use-for-tab : #f68a1d;
$link: #f68a1d;
$visited: #e4801c;
$hover: #e4801c;
$active: #f68a1d;
$blue: #12afbf;
$light-yellow: #fbbf15;
$light-green: #97d0ce;
