$color-Gray20: #333333;
.mob-pad-left30{
	padding-left: 30px;
}
.gray20{
	color: $color-Gray20;
}
.keyword-search{
	padding: 30px 5%;
}
.category-item{
	font-size: 24px;
	display: block;
	padding-bottom: 20px;
	border-bottom: 1px solid #000000;
	margin-bottom: 10px;
	width: 300px;
	cursor: pointer;
}
.category-item{
	&.active{
		color: #9fb1b2;
	}
}
.category-list{
	.category-item:last-child{
		border-bottom: none;
	}
}
.question p{
	font-size: 24px;
}
.answer p{
	font-size: 16px;
}
.keyword-search{
	width: 100%;
	&.input-group{
		background-color: #f1f1f1;
	}
	.keyword-bg{
		position: relative;
	}
	.fa-search{
	    display: inline;
	    position: absolute;
	    z-index: 3;
	    top: 10px;
	    padding-left: 15px;
	    font-size: 30px;
	}
	#search-input{
		padding: 6px 0 6px 45px;
		border: 1px solid #DADADA;
		border-radius: 0;
	}
}

@media (min-width: 992px) {
	.keyword-search{
		padding: 30px 15%;
	}
	.mob-pad-left30{
		padding-left: 0;
	}
	.category-list{
		padding:0;
		.category-item{
			width: auto;
		}		
	}
	.faq-wrapper{
		padding: 0 0 0 5%;
	}
	.faq-group__question-index{
		margin-bottom: 30px;
	}
}
@media (max-width: 991px) {
  .question-container.container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .category-list {
    order: 2;
  }

 .faq-wrapper {
    order: 1;
  }
}