/**
*
* FWD revamp v0.1.6, last compiled on: #{timestamp()}
*
**/

// @import "normalize";        // #Insert the normalized css for eliminate the difference of browsers [Optional use]
@import "color";
// @import "font";
@import "variable";         // #Define all scss variables
@import "mixin";            // #Contains all kinds of @mixin & @funct

@import "base/general/override/bootstrap";
@import "base/general/override/material_design";
@import "base/general/localize";    // #Localize the internal css applying for ALL SCREENs and THEMEs, e.g. block properties / font
@import "base/font";
@import "base/input_textarea";
@import "base/button";
@import "base/text";

@import "other";            // #Insert the styles which are currently existing in the main.css, but not in current development [Optional use]

// #Apply for all screens   // #Localize the internal css applying for ALL SCREENs and but only one THEME
@import "common_screen/header";
@import "common_screen/footer";
@import "common_screen/container";
@import "common_screen/loginpopup";
@import "common_screen/overlay";
@import "common_screen/becomeOurPartner";
@import "common_screen/faq"; // BEM Naming for faq page 20160513
@import "page/travel/page-travel-confirmation";
//@import "common_screen/flight-insurance";
//@import "common_screen/social-sharing"; //20160912 smartdrop

@media screen and #{$mobile} {
  @import "mobile/header";
  @import "mobile/footer";
  @import "mobile/container";
  @import "mobile/landing";
  @import "mobile/loginpopup";
  @import "mobile/becomeOurPartner";
  @import "mobile/faq"; // BEM Naming for faq page 20160513
}

@media screen and #{$desktop} {
  @import "desktop/footer";
  @import "desktop/landing";
  @import "desktop/loginpopup";
}

// # Other rules and diff. screen standards for overwrite above
@import "customize_screen/header";
@import "customize_screen/loginpopup";
@import "customize_screen/overlay";
@import "customize_screen/faq"; // BEM Naming for faq page 20160513
// @import "customize_screen/footer";
