.upper-footer-wrapper {
  /*max-width: 1070px;*/
  margin: 0 auto;
  padding: 30px 15px;
}

.bottom-footer-link {
  /*max-width: 1070px;*/
  margin: 0 auto;
}

.bottom-contact-wrapper {
  margin-right: 100px;
  display: inline-block;
  float: left;
}

.bottom-link-wrapper {
  display: inline-block;
  float: left;
}

.bottom-link {
  float: left;
  margin-right: 50px;
}

.bottom-footer-wrapper {
  padding: 16px 90px;
}

.footer-container .bottom-link a {
  line-height: 1;
  margin-bottom: 16px;
}

.bottom-footer-wrapper .copy-right {
  padding-top: 5px;
  float: right;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

.social-link-wrapper {
  float: right;
}

.loginpopup .loginpopupext .upper-overlay {
  .heading-h4,
  .heading-h5 {
    line-height: 1.3;
  }
}
