.thank-you-container.savie-regular-confirmation {
	padding: 30px 30px 42px;
	@media(min-width: 992px){
		padding-bottom: 105px;
	    max-width: 1105px !important;
	}
	h1 {
	    padding: 0;
    	line-height: 30px;
	}

	.details-container {
		margin-top: 34px;
	    padding: 40px 20px 0;
	    @media(min-width: 992px){
	    	margin-top: 28px;
	    	padding: 42px 90px 0;
	    }

	    &.details-full {
	    	h2 {
	    		border:none;
	    		color: #ff8200;
	    		&.bring-things {
	    			padding-bottom: 15px;
	    			@media(min-width: 992px){
    				    padding-bottom: 6px;
	    			}
	    		}
	    		&.what-next {
	    			margin-top: 6px;
	    			@media(min-width: 992px){
	    				margin-top: 15px;
	    				padding-bottom: 6px;
	    			}
	    		}
	    	}
	    	.offline-procedure-row {
	    		margin-top: 32px;
	    		@media(min-width: 992px){
	    			margin-top: 0;
	    		}
	    		.offline-procedure {
	    			p {
	    				padding: 0 10px;
	    				@media(min-width: 414px){
    				    	padding: 0 22px;
    					}

	    			}
	    			.small-text {
	    				font-size: 14px;
    					padding: 0 10px;
	    			}
	    			&.procedure-3 {
	    				@media(min-width: 992px){
	    					padding-top: 60px;
	    				}
	    			}
	    		}

	    		.icon {
	    			bottom: 18px;
	    			@media(min-width: 992px){
	    				bottom: 30px;
	    			}
	    			&.below {
    				    bottom: 28px;
    				    @media(min-width: 992px){
    				    	bottom: 38px;
    				    }
	    			}
	    		}
	    	}

	    	.whats-next {
	    		margin-right: -5px;
	    		ol {
	    			padding-left: 24px;
	    			padding-top: 15px;
	    			@media(min-width: 992px){
	    				padding-top: 0;
	    				max-width: 770px;
	    			}
	    			li {
	    				padding-bottom: 15px;
	    			}
	    		}
	    	}
	    	.detail {
	    		padding-bottom: 25px;
	    		h2 {
	    			margin-top: 4px;
	    			padding-bottom: 15px;
	    			@media(min-width: 992px){
	    				padding-bottom: 0;
	    			}
	    		}

	    		.appointment-detail-holder {
	    			margin-top: 20px;
	    			@media(min-width: 992px){
	    				margin-top: 12px;
	    			}
	    			.appointment-detail {
	    				label {
	    					font-family: 'Calibri-Bold';
	    					color: #373a36;
    					    line-height: 22px;
    					    padding-bottom: 10px;
    					    @media(min-width: 992px){
    					    	color: #061d2a;
    					    	max-width: 220px;
    					    }
	    				}
	    			}
	    		}
	    	}
	    }

	    .print-document {
	    	padding-top: 0;
	    	padding-bottom: 42px;
	    }
	}
	#back-home-btn {
    	margin-bottom: 0;
		margin-top: 20px;
		@media(min-width: 992px){
		    width: 100%;
		    max-width: 500px;
		    margin-top: 42px;
		}
    }
}