/*.fwd-savie-wrapper { 
	header {
		.navbar-fixed-top {
			height: auto;
			.header-hotline {
				padding: 10px 0 6px 20px;
				p {
					font-size: 11px;
					@media (min-width: 414px) {
						font-size: 14px;
					}
				}
			}
			.buttons-and-chat {
				.btn-chinese {
					padding: 10px 10px 17px;
    				height: auto;
				}
				.btn-chat {
					height: auto;
    				padding: 12px 10px 15px;
				}
			}
		}
	}
}*/
/** Modified from styles.css **/

.navbar-toggle.shown-sm {
	float: left;
	margin-top: 5px;
	margin-right: 0;
	
	@media screen and (min-width: 992px) {
		float: none;
	}
}

.savie-online-container .container-fluid.browse-holder {
	margin-top: 0;
}

.img-header-icon {
	margin: auto;
	padding: 15px 5% 15px 0;
}

.fwd-savie-wrapper header .navbar-menu .navbar-position .logo-position {
	float: right;
	width: 56%;
	
	@media screen and (min-width: 992px) {
		float: left;
		width: 66.66666%;
	}
}

.fwd-savie-wrapper header .navbar-fixed-top .desktop-add-menu .header-top-menu ul li.reset-padding-menu {
	padding: 10px 4px;
    color: #ffffff;
}

.fwd-savie-wrapper header .navbar-fixed-top .desktop-add-menu .header-top-menu ul li a.chat-img {
	padding: 4px 8px;
}

.fwd-savie-wrapper header .navbar-fixed-top .desktop-add-menu .header-top-menu ul li a.reset-paddings {
	padding: 10px 0;
	
	&.english-text {
		font-size: 16px;
	}
}

.fwd-savie-wrapper .header-nav-mobile .header-nav-menu-mobile .mobile-accrdn-list .mobile-top-menu {
	padding: 25px 40px;
}

.fwd-savie-wrapper .header-nav-mobile .header-nav-menu-mobile .mobile-accrdn-list .mobile-top-menu i.right {
	margin-top: -5px;
}

.fwd-savie-wrapper header .navbar-fixed-top .desktop-add-menu .header-top-menu ul li.top-menu-chinese {
	padding-right: 10px;
}

.fwd-savie-wrapper header .navbar-fixed-top {
	background-color: #071d2a;
	//height: 35px;
	height: 50px;
	@media screen and (min-width: 992px) {
		height: 35px;
		background-color: #222222;
	}
}

.hr-head {
	font-family: 'Calibri-Bold';
	
	.head-number {
		color: #f28000;
	}
}

.fwd-savie-wrapper header .navbar-fixed-top .buttons-and-chat .btn-chat {
	background-color: #373a36;
	margin-left: 0;
	padding: 9px 10px 2px;
	height: auto;
}

.fwd-savie-wrapper header .navbar-fixed-top .desktop-add-menu .header-top-menu ul {
	padding: 0 10px 0 0;
}

.fwd-savie-wrapper header .navbar-fixed-top .buttons-and-chat .btn-chinese {
	height: auto;
	padding: 10px 17px 5px;
}

.fwd-savie-wrapper header .navbar-fixed-top .mobile-regular {
	span {
		padding-top: 16px;
		padding-left: 20px;
    	display: inline-block;
    	&.chinese {
		    padding: 16px 20px 12px;
    		background: #000;
    	}
	}
	button {
	    height: 50px;
	    padding: 0 23.5px;
	    border: none;
	    float: right;
        background: #ff7d01;
		color: #fff;
	}
}

.fwd-savie-wrapper header .navbar-menu {
	padding-top: 0;
	height: auto;
	background-color: #222222;
	
	@media screen and (min-width: 992px) {
		padding-top: 35px;
		background-color: #ffffff;
		border-bottom: 1px solid #d7d8d7;

	}	
}

.fwd-savie-wrapper .header-nav-mobile .navbar-toggle.shown-sm .icon-bar {
	background-color: #a7a7a7;
}

.navbar-toggle .icon-bar {
	background-color: #a7a7a7;
}

.fwd-savie-wrapper .header-nav-mobile .navbar-toggle.shown-sm {
	left: 15px;
	top: -80px;
}

.fwd-savie-wrapper header .navbar-menu .header-menu li.full-width .orange-header-menu {
	color: #9fb1b2;
	font-family: 'Calibri-Bold';
	height: 70px;
}

.fwd-savie-wrapper header .navbar-menu .header-menu li {
	&.full-width {
		&:hover,
		&:focus,
		&:active {
			.dropdown-toggle.orange-header-menu {
				color: #ffffff;
			}
		}
	}	
}

.fwd-savie-wrapper header .navbar-menu .navbar-position .logo-position img {
	padding: 15px 0;
	
	@media screen and (min-width: 992px) {
		padding: 8px 0;
	}
}

.fwd-savie-wrapper .header-nav-mobile {
	position: relative;
}

/** Modified, End **/

.dropdown:hover .dropdown-menu {
	display: block;
}

.fwd-savie-wrapper header .navbar-menu .header-menu li .dropdown-menu.protect-drop {
	width: 70%;
	left: 25%;
}

.fwd-savie-wrapper header .navbar-menu .header-menu li .dropdown-menu.others-drop {
	width: 25%;
	left: 75%;
}

.fwd-savie-wrapper header .navbar-menu .header-menu li.menu-li-drop {
	display: block;
	font-size: 18px;
	font-weight: normal;
	font-family: 'Calibri';
	text-align: left;
	padding: 5px 0;
	
	&:hover,
	&:active,
	&:focus {
		background: transparent;
	}
}

.fwd-savie-wrapper header .navbar-menu .header-menu li .dropdown-menu .savie-dropdown h3 {
	color: #373a36;
}

.fwd-savie-wrapper header .navbar-menu .header-menu li .dropdown-menu .savie-dropdown .savie-col {
	padding: 0 30px 20px;
}

.fwd-savie-wrapper header .navbar-menu .header-menu li .dropdown-menu .savie-dropdown .savie-col.savie-items {
	padding: 0 0 20px;
}

.middle-col {
	border-left: 1px solid #9fb1b2;
    border-right: 1px solid #9fb1b2;
}

.ui-link {
	span.glyphicon-chevron-right {
		font-size: 12px;
	}
}