.savie-regular-plan-details {
	@media(min-width: 992px){
		margin-top: 125px !important;
	}

	.btn-tooltip-clear {
		display: none;
		@media(min-width: 992px){
			display: inline-block;
		}
	}
	.tooltip {
		background: transparent;
	}	
	.tooltip-inner {
		padding: 20px;
		font-family: 'Calibri';
		width: 240px;
		p {
			font-size: 14px;
		}
		.title {
			font-family: 'Calibri-Bold';
		}
		.content {
			line-height: 16px;
		}
		.below {
			margin-top: 10px;
		}
	}
	#illustration-filters {
		form {
			@media(min-width: 992px){
			    height: 263px;
			}
		}
		.money {
			z-index: 4;
		}
		#investment-amount {
			padding-top: 28px;
			padding-bottom: 26px;
			@media(min-width: 992px){
				padding-top: 70px;
				padding-bottom: 6px;
			}
			.orange-caret-bg {
				right: 15px;
			}
			&.one-off {
				padding-bottom: 30px;
			}
			h3, #promo {
				padding-left: 0;
				@media(min-width: 992px){
					font-size: 22px;
				}
			}
			#promo {
				margin-top: 12px;
				@media(min-width: 992px){
					margin-top: 0;
				    line-height: 22px;
				    margin-bottom: 1px;
				}
			}
			.dob-reg-payment {
				margin-top: 22px !important;
				@media(min-width: 992px){
					margin-top: 0 !important;
				}
			}
			.payment-select {
				margin-bottom: 12px;
				@media(min-width: 992px){
					height: 36px;
				}
				&.last {
					margin-bottom: 0;
					@media(min-width: 992px){
						margin-bottom: 20px;
					}
				}
			}
			#hkd {
				font-family: 'Calibri-Bold';
				margin-top: 7px;
			}
			.slider.slider-horizontal {
				.slider-track {
				    margin-top: 2px;
				}
			}

			.min-max {
				margin-top: 6px;
				p {
					font-size: 12px;
					font-family: 'Calibri-Bold';
					color: #fff;
					line-height: 14px;
				}
			}
			#birthday {
				.input-append {
					margin-top: 6px;
					@media(min-width: 992px){
						margin-top: 8px;
					}

					#sales-illu-dob {
						background-size: 22px;
	    				background-position: 15px;
	    				padding-left: 52px;
	    				height: 38px;
	    				color: #00121e;
	    				@media(min-width: 992px){
							height: 36px;
						}
						&::-webkit-input-placeholder {
						  color: #00121e !important;
						}

						&:-moz-placeholder {
						  /* Firefox 18- */
						  color: #00121e !important;
						}

						&::-moz-placeholder {
						  /* Firefox 19+ */
						  color: #00121e !important;
						}

						&:-ms-input-placeholder {
						  color: #00121e !important;
						}
					}
				}
				.input-group-addon img {
					width: auto !important;
					height: auto !important;
				}
				.add-on {
					right: 2px;
					top: 5px;
				}
			}

			.regular-payment {
				@media(min-width: 992px){
					&.amount {
						h3 {
							padding-top: 4px;
	    					margin-bottom: 4px;
						}
					}
				}
				&.last {
					margin-top: 14px;
					@media(min-width: 992px){
						margin-top: 15px;
					}
				}
			}

			#total-payment-years {
				display: none;
			}
		}	

		#information {
			h2 {
				font-size: 22px;
	    		padding-top: 15px;
	    		@media(min-width: 992px){
    			    padding-top: 10px;
    				padding-bottom: 2px;
	    		}
			}
			.promocode {
				height: 36px;
				@media(min-width: 992px){
					margin-top: 4px;
				}
			}
			span.error-msg-promo {
				line-height: 18px;
			}

			#pictures {
				@media(min-width: 992px){
					margin: 0;
				}
			}
		}

		.calculate-holder {
			padding: 0 30px 18px;
			@media(min-width: 992px){
			    float: left;
			    padding: 75px 0px 0 3.5%;
			    width: 20%;
			}
			.calculate {
			    font-size: 22px;
			    margin-top: 2px;
			    width: 100%;
				padding: 5px 40px 6px 47px;
			    @media(min-width: 992px){
		    	    height: 36px;
				    width: 100%;
				    padding: 0 10px 0 20px;

				    span {
			    	    font-size: 18px;
    					padding-left: 30px;
				    }
			    }
			}
		}
	}

	.investment {
		margin-top: 0;
		.investment-summary-and-table {
			@media(min-width: 992px){
				padding: 0 30px !important;
			}
			.tab-content.credits {
				padding: 10px 0 0;
			}
		}
		.summary-tab-max-width {
			@media(min-width: 992px){
				padding-right: 0;
			}
		}
		.investment-table-desktop {
			padding-bottom: 12px;
			@media(min-width: 992px){
				padding-bottom: 22px;
			}
			h3 {
				font-size: 15px;
			    padding: 0;
			    line-height: 16px;
			    color: #ff8200;
			    @media(min-width: 992px){
		    	    font-size: 28px;
    				line-height: 30px;
    				float: left;
			    }
			}
			.desc {
				font-size: 18px;
			    line-height: 20px;
    			margin-top: 2px;
			    padding: 0 10px;
			    @media(min-width: 992px){
		    	    float: right;
				    padding: 5px 0 0;
				    font-size: 22px;
			    }
			}
			h2 {
				@media(min-width: 992px){
				    padding-top: 6px;
    				font-size: 28px;
				}
			}
		}

		.info-table-tip {
			margin-left: 0;
			margin-right: 6px;
		}

		.tab-content.credits {
			table {
				font-size: 16px;
				width: 100%;
				@media(min-width: 992px){
					font-size: 18px;
				}
				thead {
					font-size: 16px;
					@media(min-width: 992px){
						font-size: 23px;
					}
				}
				tbody tr {
					height: 60px;
					&:hover {
						td {
							color: #ff8200;
						}
					}
				}
			}
			.percent-buttons {
				@media(min-width: 992px){
					padding-top: 10px;
					padding-bottom: 8px;
				}
				button {
					color: #ff8200;
				    font-size: 16px;
	    			height: 38px;
	    			@media(min-width: 992px){
    				    height: 36px;
    					width: 58px;
	    			}
				}
				.fwd-chart-col {
				    margin-top: 2px;
				    padding-bottom: 12px;
				    p {
				    	@media(min-width: 992px){
				    		font-size: 16px;
						    font-family: 'Calibri-Bold';
						    padding-bottom: 8px;
				    	}
				    }
				    .right-side {
				    	@media(min-width: 992px){
				    		margin-right: 55px;
				    	}
				    }
				    .left-side {
				    	@media(min-width: 992px){
				    		margin-left: 0;
				    	}
				    }
				}
			}
		}
		.investment-summary-title-desktop {
			h3 {
				font-size: 14px;
			    padding-top: 6px;
			    color: #ff8200;
			    @media(min-width: 992px){
		    	    font-size: 26px;
			    }
			}
			p {
			    margin-top: 0px;
    			font-size: 14px;
    			@media(min-width: 992px){
    				font-size: 12px;
				    line-height: 20px;
				    margin-top: 10px;
    			}
			}
		}
	}
	.proceed-block {
		padding: 0 30px;
		.create-account {
			width: 100%;
		    margin-top: 18px;
		    font-size: 30px;
		    height: 60px;
		    @media(min-width: 992px){
	    	    margin-top: 25px;
			    height: 70px;
			    max-width: 265px;
		    }
		}

		p {
			margin-top: 5px;
			color: #373a36;
			@media(min-width: 992px){
				display: inline-block;
			    margin-left: 20px;
			    font-size: 24px;
			    vertical-align: middle;
			    margin-top: 22px;
			}
			.login {
				color: #ff8200;
				border-bottom: 1px solid #ff8200;
			}
			span {
				font-family: 'Calibri-Bold';
				display: inline-block;
			}
		}
	}

	.explanation-block {
		margin-top: 18px;
		@media(min-width: 992px){
		    margin-top: 72px;
		    padding-bottom: 10px;
		    padding-left: 30px !important;
		    padding-right: 30px !important;
		}
		.collapse {
			@media(min-width: 992px){
				display: block;
			}

			ul {
				@media(min-width: 992px){
					padding-top: 2px;
				}
				li {
					p {
						@media(min-width: 992px){
							font-size: 12px
						}
					}
				}
			}
		}
		.explanation {
			@media(min-width: 992px){
			    font-size: 14px;
			}
		}
	}

	.desktop-title {
		color: #ff8200;
	    margin-bottom: 58px;
	    margin-top: 0;
	}
	
	#payment-mode {
		width: 100%;
	}
	
	.payment-select {
		.orange-caret-bg {
			top: -40%;
			top: -18 \0;
			cursor: pointer;
		}
	}
}

.fwd-savie-wrapper.savie-orange-header .savie-regular-plan-details .breadcrumb.breadcrumbs-product-details.et-breadcrumbs {
	padding-left: 25px;
	margin-bottom: 34px
}