.passkit-link-wrapper{
	.passkit-btn{
		border-radius: 4px;
		background-color: #fdb714;
		border-color: #fdb714;
		border-bottom: solid 3px #cfa238;
		&:hover{
			background-color: transparent;
			color: #fdb714;
			border: 1px #fdb714 solid;
			border-bottom: 3px solid;
		}
	}	
}