.passkit-link-wrapper{
	#qrImg{
		margin-left: 50px;
	}
	.passkit-btn{
		border-radius: 4px;
		background-color: #fdb714;
		border-color: #fdb714;
		border-bottom: solid 3px #cfa238;
		&:hover{
			background-color: transparent;
			color: #fdb714;
			border: 1px #fdb714 solid;
		}
	}	
}
@media screen and (max-width: 991px){
	.passkit-link-wrapper{
		text-align: center;
		#qrImg{
			display: block;
			margin: 20px auto 0 auto;
		}
	}	
}