.passkit-link-wrapper{
	#qrImg{
		margin-left: 50px;
	}
}
@media screen and (max-width: 991px){
	.passkit-link-wrapper{
		text-align: center;
		#qrImg{
			display: block;
			margin: 20px auto 0 auto;
		}
	}	
}